[2019-10-02 13:39] James-Sangalli opened #904 "Should show Zero balance native cards"
For example, if I enable xDAI, I want to be able to see it there so I can add funds to it etc.

[2019-10-02 13:41] James-Sangalli opened #905 "After signing the message for the discovery token, the prompt remains"
And I cannot leave the screen after the prompt shows up, forcing me to kill the app.

[2019-10-02 13:49] James-Sangalli opened #906 "After doing the "enable" action in compound DAI card, the withdraw/supply screens haven't recognized the change"
To use Compound tokens you must "approve" the compound contract to move the underlying asset.

E.g. to use compound dai, you must send a transaction to the dai contract to allow you to move the funds.

The tokenscripts I wrote for compound require the user do this first and if they have done so, the screen will refresh and allow them to deposit/withdraw from compound.

The app does not do this ref

[2019-10-02 13:50] James-Sangalli opened #907 "Pricing for ETH not working at all"

[2019-10-02 13:52] James-Sangalli opened #908 "cDAI tokenscript is incorrectly bound to DAI card"
Should only apply to the cDAI card but is also attached to the regular DAI card.

[2019-10-02 13:52] #880 closed

[2019-10-02 13:53] James-Sangalli commented on #864
https://github.com/AlphaWallet/alpha-wallet-android/pull/900

[2019-10-02 13:53] #864 closed

[2019-10-02 13:53] #813 closed

[2019-10-02 13:56] #607 closed

[2019-10-02 13:57] James-Sangalli commented on #445
This is solved now

[2019-10-02 13:58] James-Sangalli commented on #365
This is done in keystore upgrade #785

[2019-10-02 13:58] #365 closed

[2019-10-02 13:58] James-Sangalli commented on #314
Solved with routing via 2019/xx etc

[2019-10-02 13:58] #314 closed

[2019-10-02 13:59] James-Sangalli commented on #122
No longer relevant since UI keystore implementation #770

[2019-10-02 13:59] #122 closed

[2019-10-02 14:00] #707 closed

[2019-10-02 14:00] #690 closed

[2019-10-02 14:01] #679 closed

[2019-10-02 14:01] James-Sangalli commented on #656
No longer an issue

[2019-10-02 14:01] #656 closed

[2019-10-02 14:01] James-Sangalli commented on #564
Sussed

[2019-10-02 14:01] #564 closed

[2019-10-02 14:04] James-Sangalli commented on #899
@bootingman could you please try this with the current master branch?

[2019-10-02 14:05] James-Sangalli commented on #902
Covered more broadly in #907

[2019-10-02 14:05] #902 closed

[2019-10-02 14:09] James-Sangalli opened #909 "Webview for TokenScript's does not update to changes in the JS code"
Relevant #901 & #906 (probably the cause)

For example, the TokenScript's JS code might check that the user has enabled by checking the this.props.allowance > 0, if it is then the screen will show the input box and allow the user to do a withdraw/deposit.

The client simply only loads the first view and doesn't update with this new information that comes from a smart contract

See example file: ht

[2019-10-02 14:17] #770 closed

[2019-10-02 14:18] James-Sangalli commented on #141
Done now in #785

[2019-10-02 14:18] #141 closed

[2019-10-02 14:33] James-Sangalli commented on #863
@colourful-land I deleted the load balancer routing for this but it still works for some reason...

Is it being served elsewhere as well?

[2019-10-02 14:49] James-Sangalli commented on #678
Not a priority for now

[2019-10-02 14:49] #678 closed

[2019-10-02 14:51] James-Sangalli commented on #634
No longer used, stick with Telegram

[2019-10-02 14:51] #634 closed

[2019-10-02 14:53] James-Sangalli commented on #769
Done in #770

[2019-10-02 14:54] James-Sangalli commented on #788
Tried with master, not an issue anymore

[2019-10-02 14:54] #788 closed

[2019-10-02 14:56] James-Sangalli commented on #404
@pertsev should still be working as I tested this with Chrome recently, is it still an issue on your end with the latest build from the play store?

[2019-10-02 14:57] James-Sangalli commented on #772
@colourful-land is this still an issue given the current setup?

[2019-10-03 02:03] #841 closed

[2019-10-03 13:40] justindg commented on #907
Any more info?

[2019-10-03 14:07] justindg commented on #905
Didn't get authorisation due to an error, hence the prompt did not dismiss.

[2019-10-04 00:09] James-Sangalli commented on #907
@justindg open the app and you will see the USD figures are not available for any eth conversions. Probably related #903

[2019-10-04 00:47] James-Sangalli opened #913 "Balance updates then regresses on token cards"
To reproduce:

1. Call the discovery token and see the proceeds
2. Click on cDAI and enable
3. After enable is confirmed, withdraw the balance.
4. after confirmation, check the balance card in DAI, the main card view will not update but when you click on the card it will, going back and clicking it again will revert back to the old balance rather than the new one which was briefly glimpsed.

[2019-10-04 01:43] JamesSmartCell commented on #907
I've been watching this issue for a while - it's caused by the API I was using doing throttling because we're using it without any token.  Fixing this by using a different oracle.

[2019-10-04 12:00] justindg commented on #906
Seems to be fixed in the current master branch

[2019-10-05 02:30] #909 closed

[2019-10-05 02:32] James-Sangalli commented on #906
Solved in #912

[2019-10-05 02:32] #906 closed

[2019-10-05 02:32] James-Sangalli commented on #901
Solved in #912

[2019-10-05 02:32] #901 closed

[2019-10-05 03:00] James-Sangalli commented on #905
Solved in #912

[2019-10-05 03:00] #905 closed

[2019-10-05 08:27] James-Sangalli opened #914 "TokenScript cards should take the localised name defined in the TokenScript"
At the moment it is taking the name from the smart contract, instead it should take the name defined in the tokenscript file and fallback to english if the user's language is not there.

Useful for Devcon because we renamed the discovery card to devcon5 goodies but not a show stopper.

[2019-10-07 05:09] #907 closed

[2019-10-11 01:01] #872 closed

[2019-10-11 02:39] colourful-land opened #927 "make a class that can run on command line to output a token dictionary"
It's like this:

$ java -class .... toke-id

which returns a json or a table, in the example of EntryToken it look like:

{
"locality": "sydney";
"expiration": "xxxx";
}

or with a fifa ticket it exports something else.

[2019-10-14 03:00] #903 closed

[2019-10-14 03:05] James-Sangalli opened #937 "Private key input gets squashed in emulator"
<img width="291" alt="Screen Shot 2019-10-14 at 2 04 27 pm" src="https://user-images.githubusercontent.com/16630514/66727534-9ccc2480-ee8b-11e9-969d-68317cd5fcaa.png">

[2019-10-14 03:05] James-Sangalli opened #938 "NPE on private key import"
<img width="291" alt="Screen Shot 2019-10-14 at 2 04 18 pm" src="https://user-images.githubusercontent.com/16630514/66727545-ae153100-ee8b-11e9-83cf-05c4bd20d7c3.png">

[2019-10-14 03:09] #863 closed

[2019-10-14 03:31] #826 closed

[2019-10-14 09:34] JamesSmartCell opened #941 "Add ability to remove and restore tokens"
Extend the code that currently allows sliding out of the backup reminders to tokens. If possible do something like in the Android notifications - expose a garbage icon on the slide and only remove if the user clicks the garbage or hide icon. If tokens are hidden set the database:

ChangeTokenEnableInteract.setEnable - feel free to refactor this to accept a Boolean or whatever.

Add a 'Token Manage

[2019-10-14 11:05] James-Sangalli opened #943 "Travis doesn't build dmz?"
Seems it doesn't because it didn't spot the bug present in #942 whereby a param was missing in the ParseMagicLink instance

[2019-10-14 11:31] JamesSmartCell commented on #943
I forgot to merge the DMZ updates back into the main repo ...

I updated the travis build file to build the alphawallet flavour on the android - you may need to explicitly add each project in.

[2019-10-14 11:32] James-Sangalli commented on #943
@JamesSmartCell I believe we never had any travis configurations for either lib or dmz.

lib should have a travis file on it's own, at least with DMZ it must build before we put it into production otherwise the dmz.jar would be created to begin with...

[2019-10-14 11:33] #908 closed

[2019-10-16 05:55] jzaki opened #947 "Problem bookmarking with mydapps in browser"
- Go to browser tab
- Navigate to any page (eg twitter.com)
- Tap "..." in top right corner, then "Add to My DApps"
  - Title: "Twitter. It's what's happening / Twitter"
  - Address: "https://mobile.twitter.com/"
- Change Title and/or URL, tap done
- Tap "Add" (returns to twitter)
- Tap Browser tab, shows original text. Expect: changed title
- Tap twitter icon, goes to original URL. Expect: change

[2019-10-16 10:54] #937 closed

[2019-10-16 10:54] #938 closed

[2019-10-22 10:17] James-Sangalli opened #948 "Should get all attributes from opensea into token instance"
Android screenshot, should have the attributes in the last screenshot:
![Screenshot 2019-10-22 21 15 15](https://user-images.githubusercontent.com/16630514/67276842-39886500-f511-11e9-96f1-8007df9a70d5.png)

iOS: has the opensea details in full but doesn't include the attributes from the tsml (bug reported here: https://github.com/AlphaWallet/alpha-wallet-ios/issues/1504)

<img width="973" alt="Sc

[2019-10-23 04:55] James-Sangalli opened #949 "Enable attributes to be set in props not just HTML inputs"
Currently the TokenScript client only looks for attributes set as HTML inputs, we should be able to do it via props as well as often we need to do an operation on the users input.

[2019-10-25 19:05] James-Sangalli opened #950 "Should be able to fill attribute-types with web3.tokens.data.currentInstance vars"

[2019-10-26 02:34] James-Sangalli commented on #950
dup

[2019-10-26 02:34] #950 closed

[2019-10-27 04:12] James-Sangalli opened #951 "able to get to transaction confirmation page with erc721/erc875 assets in watch account"

[2019-10-30 01:04] #948 closed

[2019-11-04 00:31] #359 closed

[2019-11-04 00:31] #347 closed

[2019-11-04 00:33] James-Sangalli commented on #401
@justindg feel free to take this up

[2019-11-04 00:34] #641 closed

[2019-11-04 00:34] #677 closed

[2019-11-04 00:36] James-Sangalli commented on #763
I believe @JamesSmartCell solved this a while ago

[2019-11-04 00:36] #763 closed

[2019-11-04 00:36] #735 closed

[2019-11-04 00:36] #729 closed

[2019-11-04 00:38] James-Sangalli commented on #694
@colourful-land mitigated by keystore release whereby a user can see a 'Lose this wallet' button

[2019-11-04 00:38] #694 closed

[2019-11-04 00:39] James-Sangalli commented on #810
@justindg feel free to tackle this one

[2019-11-04 00:41] James-Sangalli commented on #866
Saw this working when doing fixing for compound TokenScripts

[2019-11-04 00:41] #866 closed

[2019-11-04 00:42] James-Sangalli commented on #949
Now no longer relevant as we will do it properly with event support

[2019-11-04 00:42] #949 closed

[2019-11-04 23:50] James-Sangalli opened #958 "Native balance should show up in TokenScript cards"
Noticed code for it somewhere but it doesn't actually show up in the token instance

[2019-11-09 02:46] James-Sangalli opened #967 "Advanced magic link generator suitable for backend"
Be able to create magic links on the fly using the UEFA backend

[2019-11-11 03:59] James-Sangalli opened #968 "make spawnable util class handle all the configurations inside ticket spec"

[2019-11-12 02:08] tomekalphawallet opened #969 "Flip arrows in Transactions Tab"
**Transaction tab**
 "Sent" with an arrow pointing up on iOS
"Received" with an arrow pointing down on iOS

 "Sent" with an arrow pointing down on Android
"Received" with an arrow pointing up on Android

Suggestion: @JamesSmartCell please align with iOS (Sent with an arrow up, Received with an arrow down)

<img width="952" alt="Screenshot 2019-11-12 at 13 06 20" src="https://user-images.githubuser

[2019-11-12 02:28] colourfreak opened #970 "Inconsistency iOS & Android (All in one)"
AlphaWallet/alpha-wallet-android#969

[2019-11-12 02:50] tomekalphawallet opened #971 "Show address under My Wallet Address, hide under Change Wallet"
Show address under My Wallet Address, hide under Change Wallet

Suggestion: @JamesSmartCell please align with iOS. This is where users are looking for their wallet address, so "0x932423432..." under "Change Wallet" might suggest a place where to look for an address.

<img width="933" alt="Screenshot 2019-11-12 at 13 46 53" src="https://user-images.githubusercontent.com/51817359/68637647-600b5000-0

[2019-11-12 02:51] tomekalphawallet commented on #970
https://github.com/AlphaWallet/alpha-wallet-android/issues/971

[2019-11-12 03:07] tomekalphawallet commented on #970
https://github.com/AlphaWallet/alpha-wallet-ios/issues/1552

[2019-11-12 03:07] tomekalphawallet opened #972 "Display ENS reverse lookup if they correspond directly to ETH address"
See:
https://github.com/AlphaWallet/alpha-wallet-ios/issues/1552

[2019-11-12 05:31] hboon commented on #969
@tomekalphawallet also appears in a similar manner when viewing native crypto and ERC 20 tokens if those are to be changed for Android or/and iOS.

[2019-11-12 05:33] hboon commented on #971
Nothing to change

[2019-11-20 04:43] tomekalphawallet opened #976 "Display suggestions when importing long SEED phrase"
Please use Moonlight app (iOS) as a reference.

![Import_with_Seed_Android](https://user-images.githubusercontent.com/51817359/69209722-6c735680-0bac-11ea-8b08-3ca832ea1cf1.jpg)

[2019-11-20 04:44] tomekalphawallet commented on #976
https://github.com/AlphaWallet/alpha-wallet-ios/issues/1568

[2019-11-21 02:34] James-Sangalli opened #978 "Token wrongly cast as ERC20 when actually is ERC875"
<img width="364" alt="Screenshot 2019-11-21 13 33 43" src="https://user-images.githubusercontent.com/16630514/69299040-ab181800-0c63-11ea-8cc6-260f13f51219.png">

[2019-11-22 05:16] James-Sangalli opened #979 "Have erc721 ticket tokens create magic links with a token id rather than indices"
Use the ERC721_TICKET enum in #977

[2019-11-22 05:17] James-Sangalli opened #980 "Have ERC721 ticket tokens use redeem QR with only a token id rather than indices"
Use the ERC721_TICKET enum in #977

[2019-11-22 05:18] James-Sangalli opened #981 "get balances from special mapping for ERC721 ticket tokens"

[2019-11-22 05:25] #968 closed

[2019-11-25 04:03] colourful-land opened #982 "Make use of lambda to parse attestation"
For αWallet Android, the method to call a lambda function and get a returning JSON is already exemplified in `app/src/main/java/com/alphawallet/app/ui/HelpActivity.java`; for αWallet iOS you need to work your way out of this.

First, experiment on your console to verify that the lambda is in fact working:

[code]

Then customize your code to receive the JSON and use it for attestation.

Note that

[2019-11-25 21:08] #981 closed

[2019-11-26 00:48] James-Sangalli opened #987 "Group 721 ticket tokens by one"

[2019-11-26 00:48] James-Sangalli opened #988 "721 ticket token doesn't display anything when clicked"

[2019-11-26 02:54] James-Sangalli opened #990 "Have transfer and redeem actions by default available for erc721 ticket tokens"
By transfer, I mean the same transfer available to erc875 assets which has transfer right away and magic link generation

[2019-11-26 21:41] #990 closed

[2019-11-26 22:18] #980 closed

[2019-11-26 22:26] #979 closed

[2019-11-26 23:58] #988 closed

[2019-11-27 02:31] James-Sangalli opened #996 "721 ticket transfer throws exception"

[2019-11-27 02:31] James-Sangalli opened #997 "TokenScript not read for 721 tickets"

[2019-11-27 23:34] #996 closed

[2019-11-28 03:26] James-Sangalli opened #1002 "Copy to clipboard not working DMZ"

[2019-11-28 03:27] James-Sangalli opened #1003 "Fix URL on contract hyperlink"

[2019-11-28 03:27] James-Sangalli opened #1004 "Render full token view on spawnables"

[2019-11-28 03:28] #987 closed

[2019-11-28 03:37] James-Sangalli opened #1005 "Check if tokens are already used in magic link DMZ"

[2019-11-28 03:38] James-Sangalli commented on #997
Server problem caused by me, resolved now.

[2019-11-28 03:38] #997 closed

[2019-11-28 03:57] James-Sangalli opened #1006 "Network label missing from rinkeby"

[2019-11-28 03:59] James-Sangalli opened #1007 "Network label missing on 721 tickets"

[2019-11-28 05:57] colourful-land commented on #970
@JamesSmartCell attention.

[2019-11-29 02:54] James-Sangalli opened #1008 "DMZ infura credentials fail"

[2019-11-29 03:23] #1008 closed

[2019-11-29 03:32] James-Sangalli opened #1010 "Bad contract exception DMZ rinkeby UEFA magic link"
com.alphawallet.token.entity.BadContract
	at com.alphawallet.token.web.Ethereum.TransactionHandler.getBalanceArray(TransactionHandler.java:58)
	at com.alphawallet.token.web.AppSiteController.passThroughToken(AppSiteController.java:241)
	at com.alphawallet.token.web.AppSiteController.handleTokenLink(AppSiteController.java:145)
	at com.alphawallet.token.web.AppSiteController.handleUniversalLink(AppS

[2019-11-29 06:54] James-Sangalli opened #1012 "Display tokenscript on spawnable contract magic links (DMZ)"

[2019-11-30 04:33] #1002 closed

[2019-11-30 04:33] #1003 closed

[2019-12-02 00:23] zhangzhongnan928 opened #1015 "Huawei Mate 9 cannot run AlphaWallet v2.12.apk"
stop at starting page.

[2019-12-02 00:28] zhangzhongnan928 commented on #1015
upgrade to AlphaWallet v2.12.apk, stop working
delete, reinstall, works

[2019-12-02 00:28] #1015 closed

[2019-12-02 04:43] James-Sangalli commented on #896
https://github.com/AlphaWallet/alpha-wallet-android/pull/1011

[2019-12-02 04:43] #896 closed

[2019-12-03 00:28] #1004 closed

[2019-12-03 00:28] #1010 closed

[2019-12-04 06:42] James-Sangalli commented on #1012
https://github.com/AlphaWallet/alpha-wallet-android/pull/1014

[2019-12-04 06:42] #1012 closed

[2019-12-05 22:18] #1005 closed

[2019-12-07 04:41] James-Sangalli opened #1020 "Using wallet with imported private key crashes"
W/System.err: com.alphawallet.app.entity.KeyServiceException: Key not found in keystore. Re-import key.
W/System.err:     at com.alphawallet.app.service.KeyService.unpackMnemonic(KeyService.java:504)
        at com.alphawallet.app.service.KeyService.requiresUnlock(KeyService.java:1239)
        at com.alphawallet.app.service.KeyService.checkAuthentication(KeyService.java:779)
        at com.alphawa

[2019-12-08 01:12] JamesSmartCell commented on #1007
Fixed in #985

[2019-12-08 01:12] #1007 closed

[2019-12-08 01:13] JamesSmartCell commented on #1006
Fixed in #985

[2019-12-08 01:13] #1006 closed

[2019-12-08 01:15] JamesSmartCell commented on #976
Yes we asked some ppl to come up with a UX for this previously - it will make a good project for external developer. I think there's enough info in the above picture for a developer to implement this. The suggestions would come from the valid word list which is part of the project anyway.

[2019-12-08 22:44] #1020 closed

[2019-12-11 08:57] colourful-land opened #1034 "NullPointerError in BackupKeyActivity (version 2.13.1 (83))"
[code]

Captured by Fabric.

Any bug that causes the user fail to backup the key is vital VITAL **VITAL**

[2019-12-12 04:31] #978 closed

[2019-12-15 08:00] colourful-land opened #1044 "Build error KotlinNullPointerException with gradle 6"
I'm researching it myself as well. Look like something related to the Realm database:

    Caused by: kotlin.KotlinNullPointerException
        at io.realm.processor.ModuleMetaData.getClassListFromModule(ModuleMetaData.kt:337)
        at io.realm.processor.ModuleMetaData.validateNamingPolicies(ModuleMetaData.kt:170)
        at io.realm.processor.ModuleMetaData.preProcess(ModuleMetaData.kt:113)

[2019-12-15 08:27] colourful-land opened #1045 "19 days ago f014da4 caused QRSelectionTest to fail"
Did this work on the CI? How did such a failed test get past the CI into the master branch?

In f014da4b7b481a0ee8312217f6cf7ccf8ca9f1a5 you have:

From:

    private class QREncoding
    {
        List<Integer> indices = new ArrayList<>();
        SignaturePair sigPair;
    }

To:

    private class QREncoding
    {
        List<BigInteger> indices = new ArrayList<>();
        SignaturePair sigPa

[2019-12-16 10:31] #1045 closed

[2019-12-17 13:52] colourful-land commented on #1044
This issue can be reproduced on any version of JDK above 8. It won't worth the effort to solve it unless Android provides JDK 9+.

[2019-12-17 13:52] #1044 closed

[2019-12-19 00:53] James-Sangalli opened #1048 "Redeem prompt asks for key in a loop"

[2019-12-19 00:54] James-Sangalli opened #1049 "Redeem function says "your ticket has been redeemed" even if nothing has happened"

[2019-12-19 00:54] James-Sangalli opened #1050 "Redeem QR signature fails on Usher"

[2019-12-20 05:47] hboon opened #1053 "Add TokenScript branding to bottom of Settings screen"
Notice the extra empty vertical margin at the bottom

<img src="https://user-images.githubusercontent.com/56189/71233002-2508f300-232f-11ea-9f57-37a9a32e7753.png"  width=200>

Applicable for forks too.

[2019-12-20 05:52] hboon opened #1054 "Tokens auto-detected from transactions shouldn't always be treated as ERC20 because BlockScout returns ERC721 too"
Refer to https://github.com/AlphaWallet/alpha-wallet-ios/pull/1622

Not sure if it affects Android version.

[2019-12-20 11:25] JamesSmartCell commented on #1054
Android uses several steps to determine the contract type when it picks it up from transactions. The possible outcomes are erc721/ticket/legacy, erc875/legacy, erc20.

[2019-12-20 11:26] JamesSmartCell commented on #1049
It says it if the ticket has already been redeemed. Check if the ticket has been redeemed.

[2019-12-20 11:26] JamesSmartCell commented on #1050
This is fixed now with the latest pull?

[2019-12-20 11:27] JamesSmartCell commented on #976
This has been assigned as a task for external team.

[2019-12-20 12:41] JamesSmartCell commented on #1053
It won't look like this in the initial version, but will show the right information. We are refactoring this view.

[2019-12-20 13:11] hboon commented on #1053
@JamesSmartCell yeah, sorry, should have pointed it out. iOS doesn't look like that yet too. Just a reference from the "footer".

[2019-12-21 01:38] James-Sangalli opened #1056 "Create different flavours for landing page to match different projects"

[2019-12-21 01:39] James-Sangalli commented on #1050
Solved

[2019-12-21 01:39] #1050 closed

[2019-12-21 01:40] James-Sangalli commented on #1048
https://github.com/AlphaWallet/alpha-wallet-android/pull/1051 @JamesSmartCell Please remember to reference issues in PRs

[2019-12-21 01:40] #1048 closed

[2020-01-03 03:14] James-Sangalli commented on #1053
https://github.com/AlphaWallet/alpha-wallet-android/pull/1055

[2020-01-03 03:14] #1053 closed

[2020-01-03 03:15] #967 closed

[2020-01-06 03:22] jzaki commented on #859
Looks to be fixed in latest build.

[2020-01-06 03:22] #859 closed

[2020-01-09 07:19] hboon opened #1062 "/v1/verifyXMLDSig is pretty slow"
[code]

[2020-01-09 23:56] colourful-land commented on #1062
What a revelation! That the lambda I wrote was never used (since clearly you are calling  https://aw.app/api/v1/verifyXMLDSig ) Could have saved the work to make the lambda in the first place.

[2020-01-10 00:01] colourful-land commented on #1062
That's definitely too slow since Sangalli and I moved the aw.app server to China. I previously didn't know the service is still at use (I thought we moved to labmda a few months ago so this migration to China shouldn't have any effect on  αWallet daily use - although lambda wouldn't be any faster in this case, but I thought it worked for a few months so it should be fine).

I'm afraid we should re

[2020-01-10 00:08] James-Sangalli commented on #1062
Lambda integration was never complete in the apps. Also doesn't solve the issues for aw.app as that is a web renderer via thymeleaf, fixing that will require it to be rewritten to be compatible.

[2020-01-10 06:53] colourful-land opened #1063 "util doesn't build: method missing MagicLinkInfo.getNodeURLByNetworkId()"
[code]

[2020-01-11 04:38] James-Sangalli commented on #1062
Reverted to AWS US

[2020-01-11 04:38] #1062 closed

[2020-01-11 06:51] James-Sangalli commented on #1049
Solved somewhere? Idk where but it works now

[2020-01-11 06:51] #1049 closed

[2020-01-11 22:45] colourful-land commented on #1044
This has nothing to do with JDK version. The change of JDK version in my experiment simply triggered a gralde clean. Do a clean this problem will be gone.

[2020-01-12 01:51] James-Sangalli commented on #1063
Related: https://github.com/AlphaWallet/alpha-wallet-android/issues/943

We should have travis build the lib and dmz modules

[2020-01-12 07:48] colourful-land commented on #1063
The cause of this one look like a previous method - inappropriately attached to MagicLinkInfo , is removed from that class, a likely result of James Brown's refactoring work.  Now is a bad time to touch @JamesSmartCell code since he is in the middle of refactoring.

[2020-01-12 08:34] colourful-land commented on #1063
I wish to ask @JamesSmartCell  few things about EthereumNetworkBase. 1) whether or not hasRealValue is used to included chains that are not Real, where you Real you mean public chains, and not real being private chains; 2) why having NETWORKS on top of networkMap which seem to serve the same purposs

[2020-01-13 23:39] jzaki opened #1070 "Contract address does not contain checksum (upper/lower case)"
- Click on an nft
- Click on QR code (top-right)
- copy address
- pasted address does not contain checksum
- Expect: address contains upper/lower case for checksum (as in iOS)

Same for all addresses copied in the app, eg wallet address

[2020-01-14 00:09] jzaki opened #1071 "Copy transaction to clipboard does not contain transaction details."
- import a ticket
- click to copy to clipboard
- copied text pasted as: "Transaction accepted by server."
- Expect: link to the transaction

[2020-01-14 03:05] James-Sangalli commented on #1071
@jzaki do you mean a link to etherscan rather than just the tx id?

[2020-01-14 04:40] jzaki commented on #1071
It contained neither. It instead copied: "Transaction accepted by server."

[2020-01-17 05:07] colourful-land opened #1077 "make EthereScan API Key configurable from build.gradle"
Hi On the Android side I'm working on EthereumBase class will provide you with a modified class which takes the API Keys from Gradle build config.

[2020-01-17 05:15] JamesSmartCell commented on #1077
Check existing gradle it already does this

[2020-01-17 05:17] JamesSmartCell commented on #1077
Check existing gradle method can you check you use the same method already used for the other API keys.

[2020-01-17 16:32] tomekalphawallet opened #1078 "Update Tab Bar icons + Nav Bar [Fiji]"
Sketch Cloud:
https://sketch.cloud/s/jDODG/p/tab-bars

Zeplin:
https://app.zeplin.io/project/5d088205bff2d15de6a4397b/dashboard?seid=5e21e083358b2a6a896ab24b
zpl://project?seid=5e21e083358b2a6a896ab24b&pid=5d088205bff2d15de6a4397b
https://app.zeplin.io/project/5d088205bff2d15de6a4397b/styleguide/components?cseid=5e160f989a3b28946ae6f0ef
https://app.zeplin.io/project/5d088205bff2d15de6a4397b/styleg

[2020-01-17 16:34] tomekalphawallet commented on #1078
![tab_bars](https://user-images.githubusercontent.com/51817359/72628884-8d0f2100-394f-11ea-8af9-a8c7cdb60c66.png)
![segmented_controls](https://user-images.githubusercontent.com/51817359/72628894-8f717b00-394f-11ea-8edc-60f4eb418c57.png)

[2020-01-18 04:28] colourful-land opened #1079 "compile time heap size grew 3 times in the past years"
Now everybody has more than 500MB of hprof in their project root. It's a miracle that no one has committed those to the github before Sangalli put it to .gitignore.

Need to check what's in the hprof using tools like [MAT](https://www.eclipse.org/mat/) and, if not able to reduce the compile time heap size, commit a gradle.properties

[code]

Need to try of this file must be placed under project ro

[2020-01-18 09:01] tomekalphawallet opened #1080 "Update Settings Tab Icons [Fiji]"
Sketch Cloud:
https://sketch.cloud/s/jDODG/p/settings
https://sketch.cloud/s/jDODG/a/Jd5OMr
https://sketch.cloud/s/jDODG/a/4nLd9d
https://sketch.cloud/s/jDODG/a/en9Moq
https://sketch.cloud/s/jDODG/a/0MqWx2
https://sketch.cloud/s/jDODG/a/GW548b

Zeplin:
(app link) zpl://project?pid=5d088205bff2d15de6a4397b&seid=5e21dc3812814e6dc6319fb5
https://app.zeplin.io/project/5d088205bff2d15de6a4397b/dashboar

[2020-01-18 09:06] tomekalphawallet commented on #1080
![modals](https://user-images.githubusercontent.com/51817359/72661419-21be6100-39da-11ea-8dfc-839c245f407d.png)
![settings_icons](https://user-images.githubusercontent.com/51817359/72661420-21be6100-39da-11ea-9343-e04a77b73444.png)

[2020-01-18 09:12] tomekalphawallet opened #1081 "Update Change Wallet screens [Fiji]"
Sketch Cloud:
https://sketch.cloud/s/jDODG/a/O45Lnk
https://sketch.cloud/s/jDODG/a/AMqj0r
https://sketch.cloud/s/jDODG/a/mndzOg

Zeplin:
(app link) zpl://screen?sid=5e21dbe3b8a95e2b2a9e6838&pid=5d088205bff2d15de6a4397b
https://zpl.io/adGApxL
https://zpl.io/2915OqA
https://zpl.io/boNkD1g

- Display ENS reverse lookup if they correspond directly to ETH address
- Display Blockies
- Display balance
-

[2020-01-18 09:15] tomekalphawallet commented on #1081
![change_wallet](https://user-images.githubusercontent.com/51817359/72661521-60085000-39db-11ea-9683-7e8aae242c0b.png)

[2020-01-18 09:19] tomekalphawallet opened #1082 "Update Change Language screen [Fiji]"
Sketch Cloud:
https://sketch.cloud/s/jDODG/v/eKjDAx/a/oQZJ1Q

Zeplin:
(app link) zpl://screen?sid=5e21dbe34c4d006aceda121e&pid=5d088205bff2d15de6a4397b
https://zpl.io/2vkB7Mr

- use radio button (for single choice lists)
- no need to click any save button, simply make changes and hit back to save

[2020-01-18 09:20] tomekalphawallet commented on #1082
![change_language](https://user-images.githubusercontent.com/51817359/72661589-1cfaac80-39dc-11ea-9bc9-e64672cffc07.png)

[2020-01-18 09:22] tomekalphawallet opened #1083 "Update Active Networks screen [Fiji]"
Sketch Cloud:
https://sketch.cloud/s/jDODG/v/eKjDAx/a/kn9jrZ

Zeplin:
https://zpl.io/aNM4PEZ

- use checkmark (rounded, blue with white checkbox) for the multiple-choice lists

[2020-01-18 09:22] tomekalphawallet commented on #1083
![active_networks](https://user-images.githubusercontent.com/51817359/72661602-6b0fb000-39dc-11ea-970d-ff70da8aee04.png)

[2020-01-18 09:29] tomekalphawallet opened #1084 "Update My Wallet Address screen [Fiji]"
Sketch Cloud:
https://sketch.cloud/s/jDODG/v/eKjDAx/a/W0Oyb0

Zeplin:
https://zpl.io/VQ7WkR4

- Add Smart QR Code Scanner icon in the top right to quickly switch to camera
- clicking "tomek.eth" copies to clipboard
- display ENS + address below

[2020-01-18 09:30] tomekalphawallet commented on #1084
![my_wallet_address](https://user-images.githubusercontent.com/51817359/72661682-7f07e180-39dd-11ea-9d55-1e127afad3b5.png)

[2020-01-18 09:32] tomekalphawallet opened #1085 "Update Segmented Controls look [Fiji]"
Zeplin:
https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/styleguide/components?cseid=5dfc12e12ec4d6975469c160

https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/styleguide/components?cseid=5dfc1338bdb90d17d2aa628c

https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/styleguide/components?cseid=5dfc1308cb89a49855c3063e

- They are part of Master library (common for iOS and Android)
-

[2020-01-18 09:33] tomekalphawallet commented on #1085
![segmented_controls](https://user-images.githubusercontent.com/51817359/72661714-eaea4a00-39dd-11ea-97fb-5d7cfe9fd248.png)

[2020-01-18 10:47] tomekalphawallet opened #1086 "Update token icons in Wallet tab [Fiji]"
We will have rounded icons 40x40. It's easy to generate for coins, more difficult for tokens without graphics. For those ones, use colors (Emerald, Indigo, Radical, Pumpkin, Cerulean, Azure, Mine) and up to 4 characters inside (ENS, SFPF, DEFI, DAO). Use the Tokenary app for inspiration.

If AlphaWallet wants to be the best wallet to hold tokens, we need to make it attractive. In the future, I wil

[2020-01-18 10:48] tomekalphawallet commented on #1086
![Screenshot 2020-01-18 11 48 35](https://user-images.githubusercontent.com/51817359/72662514-78cb3280-39e8-11ea-9e8c-cc42b9c6dc63.png)

[2020-01-20 06:21] James-Sangalli opened #1087 "TokenScripts don't update after conditional on props"
Example:

Compound requires you enable the dai contract before using supply or withdraw, our TokenScript checks if you have enabled and if so, allows you to supply/withdraw and if not displays a message saying you must enable first.

In Android this does not work, when you have updated, the prop check fails to update the screen to allow you to supply/withdraw after checking the allowance prop to s

[2020-01-24 02:22] colourful-land commented on #1077
I will try but it's tricky because: 1) the existing method is using buildConfig which is an android featurel; 2) the Java way to do it is to use a serviceLoader which isn't supported by Android.

[2020-01-24 04:06] James-Sangalli opened #1091 "not asking for authentication when a private key (not a keystore or HD key) is imported"
In the codebase, the app won't ask for authentication if a private key was imported and will ask for authentication if it is a keystore or HD key.

This doesn't make sense as the key type is irrelevant, what determines whether authentication is required is determined by whether the user has locked the key on the device or not.

Furthermore, because of this issue, users are unable to send transacti

[2020-01-24 11:19] #1087 closed

[2020-01-26 03:55] colourful-land opened #1098 "Failed to sign a transaction with a key not created in αWallet"
The specific details of the key pending.

[2020-01-26 04:35] colourful-land commented on #1098
@jzaki this problem related to your test key is solved (i tested)

[2020-01-26 04:35] #1098 closed

[2020-01-26 04:39] colourful-land commented on #1091
![Screenshot_20200126-153229](https://user-images.githubusercontent.com/548435/73130725-fb3f9c00-4051-11ea-89f6-1be5c3447632.jpg)

Tested. Can't reproduce the problem (app does ask for authentication)

[2020-01-26 04:39] #1091 closed

[2020-01-28 05:47] ronakdave195 commented on #951
@JamesSmartCell May I request you to provide test steps and more description here so that we can try to reproduce this at our end to suggest any fixes.

[2020-01-28 05:49] ronakdave195 commented on #947
Thanks @jzaki, we were able to reproduce this at our end.

[2020-01-28 05:51] ronakdave195 commented on #943
@JamesSmartCell May I request you to confirm if this bug is resolved or is it still open?

[2020-01-28 05:54] ronakdave195 commented on #914
@JamesSmartCell May I kindly request you to provide us more information on the working mechanism or workflow about TokenScript.

[2020-01-28 05:56] ronakdave195 commented on #913
@JamesSmartCell May I request you to provide more test steps and description here so that we can try to reproduce this at our end to suggest any fixes.

[2020-01-28 05:57] ronakdave195 commented on #854
@JamesSmartCell May I request you to provide test steps and more description here so that we can try to reproduce this at our end to suggest any fixes.

[2020-01-28 05:59] ronakdave195 commented on #810
@JamesSmartCell May I request you to confirm if this bug is resolved or is it still open?

[2020-01-28 06:00] ronakdave195 commented on #805
@JamesSmartCell May I request you to provide test steps and more description here so that we can try to reproduce this at our end to suggest any fixes.

[2020-01-28 06:01] ronakdave195 commented on #766
@JamesSmartCell May I request you to provide test steps and more description here so that we can try to reproduce this at our end to suggest any fixes.

[2020-01-28 06:01] ronakdave195 commented on #765
@JamesSmartCell May I request you to provide test steps and more description here so that we can try to reproduce this at our end to suggest any fixes.

[2020-01-28 06:02] ronakdave195 commented on #718
@JamesSmartCell May I request you to provide test steps and more description here so that we can try to reproduce this at our end to suggest any fixes.

[2020-01-28 06:02] ronakdave195 commented on #534
@JamesSmartCell May I request you to provide test steps and more description here so that we can try to reproduce this at our end to suggest any fixes.

[2020-01-28 06:03] ronakdave195 commented on #712
@JamesSmartCell May I request you to confirm if this bug is resolved or is it still open?

[2020-01-28 06:34] hboon opened #1100 "Use API key for accessing Etherscan by Feb 15"
I thought this was done by @colourful-land recently, but I can't find it. So just to be safe.

Refer to: https://github.com/AlphaWallet/alpha-wallet-ios/issues/1677

[2020-01-28 14:25] hboon commented on #1100
Ah, probably #1077

[2020-01-29 02:11] James-Sangalli commented on #766
@ronakdave195 we will leave this one. I updated the injection code and fixed this issue in iOS but as a result other dapps broken. There could be many reasons why but we can safely ignore this one.

[2020-01-29 05:56] ronakdave195 commented on #766
Ok

[2020-01-29 08:41] ronakdave195 commented on #692
This issue seems to have been resolved. @JamesSmartCell May I request you to confirm.
![aew-no-internet](https://user-images.githubusercontent.com/54934848/73340723-47345000-42a1-11ea-870f-a6a245b1efb8.jpg)

[2020-01-30 02:20] James-Sangalli opened #1102 "Gas limit too low on TokenScript transactions (SAI to DAI conversion)"

[2020-01-30 02:29] jzaki opened #1103 "Unnecessary prompt to backup wallet after keystore import"
- Import from keystore
- enter keystore password
- authorise OS
- (wallet imported and taken to wallet tab)
- shows prompt to backup wallet
- Expect: no prompt to backup imported wallet?
- click on Settings, `Back up this Wallet` already shown as 100% secure

[2020-01-30 02:41] jzaki opened #1104 "Keypad "Go" button on tokenscript numerical input does not do anything"
Version: 2.21.0

- In the Sai tokenscript, after enabling migration, attempt to convert sai to dai.
- Copy/paste amount into numerical field (keypad shown)
- click "Go" on keypad, nothing happens, Expect: keyboard to hide, or conversion to begin
- edit number on keypad and click "Go", nothing happens.

![Screenshot_20200130-131657_AlphaWallet](https://user-images.githubusercontent.com/939603/73415

[2020-01-30 02:57] jzaki commented on #1102
![Screenshot_20200130-131718_AlphaWallet](https://user-images.githubusercontent.com/939603/73416238-64802180-4368-11ea-8a87-48cab6ca657e.jpg)

[2020-01-30 03:24] #1102 closed

[2020-01-30 03:26] James-Sangalli opened #1107 "Wrong label in "to" slot for TokenScript transactions"
![73416238-64802180-4368-11ea-8a87-48cab6ca657e](https://user-images.githubusercontent.com/16630514/73417546-85e30c80-436c-11ea-8489-7fed0f0ac189.jpg)

[2020-01-30 03:33] JamesSmartCell commented on #1104
Good catch I'll update

[2020-01-30 03:44] JamesSmartCell commented on #1100
Confirmed this was done by @colourful-land in class TransactionsNetworkClient.

[2020-01-30 03:44] #1100 closed

[2020-01-30 04:18] James-Sangalli commented on #166
Gas price plus tx cost can override your final balance. closing this

[2020-01-30 04:18] #166 closed

[2020-01-30 04:19] James-Sangalli commented on #805
@ronakdave195 look at all the token cards which have TokenScript files. Notice that they use the name from the node rather than the name set inside the TokenScript

[2020-01-30 04:20] James-Sangalli commented on #768
Android has these icons already but no passcode or ability to see your overridden files @JamesSmartCell

[2020-01-30 04:20] #768 closed

[2020-01-30 04:21] #536 closed

[2020-01-30 04:38] jzaki opened #1110 "Can't import from seed phrase after first-time legacy wallet import"
Version: 2.21.0 (test build)

- import first from keystore, success
- go to "Settings" -> "Change Wallet", see legacy wallet only
- "+" -> "Already have wallet?"
- enter seed phrase, Expect: successfully import wallet
- Result as per image below.

Edit: Attempted first-time import:
- import first from seed phrase
- enter seed phrase, Expect: successfully import wallet
- Result as per image below.

[2020-01-30 05:13] James-Sangalli commented on #913
Seems to be solved in #1021 as it now works

[2020-01-30 05:13] #913 closed

[2020-01-30 05:20] James-Sangalli commented on #723
Obsolete

[2020-01-30 05:20] #723 closed

[2020-01-30 05:20] James-Sangalli commented on #660
Obsolete

[2020-01-30 05:20] #660 closed

[2020-01-30 05:37] James-Sangalli commented on #850
@JamesSmartCell this was solved but never tagged in the PR...

[2020-01-30 05:37] #850 closed

[2020-01-30 05:48] James-Sangalli commented on #804
Working in latest build @JamesSmartCell

[2020-01-30 05:48] #804 closed

[2020-01-30 05:56] jzaki opened #1113 "Clicking on local .tsml file doesn't open with AlphaWallet"
Click on local .tsml file in "My Files" (file explorer), Result (image below)
Expect: should open, or suggest to open, with AlphaWallet.

![photo_2020-01-30 16 50 28](https://user-images.githubusercontent.com/939603/73423693-001d8c00-4381-11ea-884f-066f725c4f62.jpeg)

[2020-01-30 06:17] jzaki opened #1114 "Clicking on local notification does nothing"
- enable tokenscript overrides
- open .tsml from telegram, choose to open with alphawallet
- exit app
- see local notification (image below)
- click on notification, nothing happens. Expect: opens AlphaWallet

![photo_2020-01-30 16 56 39](https://user-images.githubusercontent.com/939603/73424964-6061fd00-4384-11ea-84f5-2362aedd2290.jpeg)

[2020-01-30 08:15] #445 closed

[2020-01-30 08:22] JamesSmartCell commented on #1070
NB This is a big project.

[2020-01-30 09:49] JamesSmartCell commented on #1113
Unable to reproduce. .tsml asks for AlphaWallet to be opened. Tested on Google Pixel, Xiaomi and Huawei all open AlphaWallet - Google Pixel even puts AlphaWallet as the preferred app.

[2020-01-30 09:50] JamesSmartCell commented on #1113
Note: tested from telegram, so it could be the file explorer app you're using. Can you re-rest using telegram? I sent you a .tsml

[2020-01-30 11:40] zhangzhongnan928 opened #1116 "Use “import” to replace “spawn”"
![C66381D7-7286-4875-957A-4DCB431BAE6C](https://user-images.githubusercontent.com/33795543/73446610-6665d700-43a0-11ea-9762-1dd303ba4cd0.jpeg)

I have 3 users asked me, what is spawn and where is the import (for the Free Import)

[2020-01-31 01:43] jzaki commented on #1102
Related to https://github.com/MetaMask/metamask-extension/issues/7941 ?

[2020-01-31 02:44] 0xfool opened #1119 "Low severity low skill vulnerability"
I found a low severity security issue in a number of Android wallets.

Google keyboard suggests what word to use based on what I'm typing. In past tests Google keyboard will remember and suggest words from backup phrases in order. This is especially prevalent when seed phrases include words like "october" spelled with a lowercase"o".

It's a low skill attack. While there are a number of ways to st

[2020-01-31 03:52] #1110 closed

[2020-01-31 03:53] James-Sangalli commented on #1034
@JamesSmartCell is this still an issue?

[2020-01-31 04:55] #1116 closed

[2020-01-31 05:50] 0xfool commented on #1119
The issue may be more serious than I thought.

Apparently there is a remote hack for Android. I'm not able to verify it as my coding skills are lacking and my knowledge of Linux is non existent.

metasploit in Kali Linux.
https://youtu.be/VaXi5rqeWx0

I'm still not sure how to get at data from gboard cashe. Sources I'm reading seem to think the data is stored on the device (with some exceptions li

[2020-02-01 04:58] JamesSmartCell commented on #1119
Hi @0xfool yes this is indeed a potential vulnerability. We are currently finalising a PR which switches off the suggestions while entering seeds; replacing them with an internal class that only suggests from the standard BIP39 seed words. This class doesn't cache any words. Because the OS suggestion system is switched off, it's not aware of the words typed, which effectively solves the issue.

[2020-02-01 05:00] #1107 closed

[2020-02-01 05:01] JamesSmartCell commented on #1113
Appears to be an issue with the file manager rather than with AlphaWallet. Perhaps the file manager is trying to protect users?

[2020-02-01 15:25] 0xfool commented on #1119
Much respect for the Alpha wallet team for handling it super quick and openly. This is all very new software, all software can have issues and Alpha wallet team gets things done.

[2020-02-02 09:10] James-Sangalli commented on #1034
Solved somewhere...

[2020-02-02 09:10] #1034 closed

[2020-02-02 09:15] #1114 closed

[2020-02-02 09:15] #1104 closed

[2020-02-02 09:16] #1103 closed

[2020-02-03 01:11] #1063 closed

[2020-02-03 01:25] James-Sangalli commented on #958
Actually this needs to be part of the tokenscript schema itself

[2020-02-03 01:25] #958 closed

[2020-02-03 01:26] James-Sangalli commented on #958
https://github.com/AlphaWallet/TokenScript/issues/329

[2020-02-03 01:27] James-Sangalli commented on #805
Duplicate https://github.com/AlphaWallet/alpha-wallet-android/issues/914

[2020-02-03 01:27] #805 closed

[2020-02-03 03:21] James-Sangalli commented on #692
Can confirm this is no longer an issue

[2020-02-03 03:21] #692 closed

[2020-02-03 03:32] James-Sangalli commented on #899
Assuming this is resolved as we haven't hit it

[2020-02-03 03:32] #899 closed

[2020-02-03 03:39] James-Sangalli commented on #969
This is actually done but I don't know where @JamesSmartCell please reference

[2020-02-03 03:39] #969 closed

[2020-02-03 04:13] James-Sangalli commented on #858
No longer how the UI is anymore, instead it uses a share button and from there a prompt is loaded to drop it or copy it

[2020-02-03 04:13] #858 closed

[2020-02-03 10:56] #904 closed

[2020-02-03 11:27] #1071 closed

[2020-02-03 11:51] JamesSmartCell commented on #1056
orphaned issue?

[2020-02-03 11:51] JamesSmartCell commented on #1054
Closing due to no longer an issue.

[2020-02-03 11:51] #1054 closed

[2020-02-03 12:39] #976 closed

[2020-02-03 12:40] James-Sangalli commented on #1056
@JamesSmartCell might become a thing again with new projects that use magic links

[2020-02-04 00:24] James-Sangalli commented on #951
@ronakdave195 watch this account: 0x08D0d733b65321A1e28bD8b6045E59aa11F6Bbe3 and then go to the UEFA tickets (or any other ticket, you must enable xDAI to do this or you can simply try with a starwars ticket) and try to transfer one, it will let you get all the way to the transaction confirmation page and then it will fail as you don't have the corresponding Private key.

To see what it should be

[2020-02-04 00:25] James-Sangalli commented on #854
@ronakdave195 try this one out: https://aw.app/AgAAAABeyqWsidFCvvhgVkaIHGjc1Iza8X_ll9wyMDI0MDcwNjIxMDAwMCswMzAwBQNVU0EAQVUBAQAJAGrEIIaM4BiSHG8w3PoSbkxQK4wVZJT6OsYjijJ7m2m_LraV7f0wW9lpRWcULiiUnl38ZBQqztkX5z6tJV-stIgc

[2020-02-04 00:26] James-Sangalli commented on #854
@ronakdave195 it's possible this isn't an issue anymore but I don't know where it was solved because it wasn't tagged in any PR

[2020-02-04 00:27] #914 closed

[2020-02-04 00:31] JamesSmartCell commented on #868
fixed in #1133 to tidy recyclerview inconsistency issues caused by the commit.

[2020-02-04 00:32] JamesSmartCell commented on #1113
closing due to not an issue we can do anything about.

[2020-02-04 00:32] #1113 closed

[2020-02-04 00:35] JamesSmartCell commented on #1119
fixed in #1090 . Thankyou for reporting, The issue is solved by switching off suggestions and programmatically adding suggestions from BIP39. The filter is local and doesn't persist any data.

[2020-02-04 00:35] #1119 closed

[2020-02-04 02:17] JamesSmartCell opened #1136 "Add Localised currency"
This is a mini project which lets users switch their local currency eg AUD, GBP, INR, CNY etc.

It will need:
- new item in settings for major currencies (at minimum add GBP, AUD, INR, EUR and CNY).
- Create new display class to show currency which automatically converts currency.
- Replace all instances of currency display and usage to use new class.

There is an API in 'TickerService' which conv

[2020-02-04 02:19] #868 closed

[2020-02-04 06:30] ronakdave195 commented on #854
Thanks @James-Sangalli, I was able to Import a token with the link given above, however, have few feedbacks on the same:
1. Instead of Import-Cancel button, I was able to view Spawn-Cancel button
2. On trying to import a token 2nd time from the above link, I came across a Transaction Error message
3. On successful completion of importing a token, I wasn't able to view the Token on the Wallet tab/s

[2020-02-04 06:44] ronakdave195 commented on #951
Thanks @James-Sangalli for sharing the steps. I tried the same and came across the attached screenshot as the last screen, post that I wasn't able to click on the "Transfer Tickets" button and had to compulsorily "Cancel and Go Back.
![transfer-tickets-failure](https://user-images.githubusercontent.com/54934848/73720418-e943b480-4747-11ea-82cc-a96eebc192b1.jpg)

[2020-02-05 01:38] James-Sangalli commented on #854
@ronakdave195 then this is a matter of an incorrect message being displayed. you are not allowed to import the same link twice and the feedback would have comeback from the payment server

[2020-02-05 01:54] hellolucas opened #1138 "Long delays in User balance & Transaction screen updating after each Transaction"
User reports long/"seemingly arbitrary" delays in the wallet updating after each transaction.

These delays affect both user’s balance and transaction screen.

OS: Android (no further given)

[2020-02-05 02:25] #854 closed

[2020-02-05 11:06] ChintanRathod commented on #1136
![image](https://user-images.githubusercontent.com/4371780/73836508-6e58c780-4835-11ea-9454-fcefde03bc00.png)

For now implemented necessary currency list into settings.
@tomekalphawallet Kindly review the design if we need to apply some changes for this issue.

[2020-02-06 01:56] James-Sangalli commented on #951
@ronakdave195 yes, so we need to copy iOS here

[2020-02-06 04:07] ronakdave195 commented on #951
Ok

[2020-02-06 08:22] tomekalphawallet commented on #1136
@ChintanRathod This is a great start. Please keep in mind that we have a new design system. So as long you tried to mimic the current design, really soon we will have a new one, where all fonts, colors, input types are aligned.

Note:

a) I added "FIAT" to the title.
b) We won't have a Confirm button. You confirm by hitting the back button.
c) I updated the design to be aligned with the new design

[2020-02-07 02:06] JamesSmartCell commented on #1138
This is related to the update cycle. For non testnet chains this isn't an issue as the balances are checked frequently but could be for testnet.

We are transitioning to an event/action based system where changes in balance on mainnet and Rinkeby will be reported as soon as the transaction is finalised on chain (ie the event is issued).

[2020-02-07 04:22] colourful-land opened #1145 "new wallet created despite cancelling"
1. Go to "Chang Wallet"
2. Add a new wallet
3. Hit Cancel

Result: The wallet is already created;

Expected: if you cancel it, the wallet isn't created.

This is imporant as users like to go over options to see which one suits their needs and didn't intend consequence in exploration.

[2020-02-07 05:33] JamesSmartCell commented on #1145
When you clicked on the '+ create a new wallet' text the app followed your instruction and created a new wallet.

Should there be an intermediate screen here which is a 'please confirm wallet creation'? If so, then it should be designed into the UX flow as an extra screen.

Be careful changing anything here - if user clicks 'create a new wallet' then they probably expect a new wallet to be created

[2020-02-07 06:39] colourful-land commented on #1145
This is incorporated in fiji so not tracked seperately by issues.

[2020-02-07 06:39] #1145 closed

[2020-02-10 04:58] JamesSmartCell commented on #947
It's actually a feature not a bug - but if necessary we can remove the restriction of only being able to bookmark dapps.

[2020-02-10 10:17] tomekalphawallet opened #1147 "Update Back up with Seed illustration"
https://github.com/AlphaWallet/alpha-wallet-ios/issues/1700

[2020-02-10 10:21] tomekalphawallet opened #1148 "Update Lock up seed phrase illustration"
https://github.com/AlphaWallet/alpha-wallet-ios/issues/1701

[2020-02-10 10:37] JamesSmartCell commented on #810
@ronakdave195 that's correct, it's not a bug it's how it's meant to function.

I believe this issue has been fixed during UI update.

[2020-02-10 10:40] JamesSmartCell commented on #809
@colourful-land I believe we spoke at length about this issue - Android has had this class specifically removed which is why we needed to set up the signature verification server. There was a project attempting to add this back in but it was abandoned long ago possibly because it was unworkable.

[2020-02-10 10:44] tomekalphawallet opened #1149 "Update TS Buttons"
Sketch Cloud:
- https://sketch.cloud/s/jDODG/a/nn1YDz
- https://sketch.cloud/s/jDODG/a/QG9g17
- https://sketch.cloud/s/jDODG/a/xn98Qv
- https://sketch.cloud/s/jDODG/a/EMo1G2
- https://sketch.cloud/s/jDODG/a/jElRrz

and few more if you switch to next to the right.. (Function 3,4,5,6)

Zeplin:
https://app.zeplin.io/project/5d088205bff2d15de6a4397b/dashboard?seid=5e41333605a98088a65653b4

[2020-02-10 10:45] tomekalphawallet commented on #1149
![Screenshot 2020-02-10 11 45 21](https://user-images.githubusercontent.com/51817359/74143282-d4a96580-4bfa-11ea-849c-5fc510a767e6.png)

[2020-02-10 11:15] #941 closed

[2020-02-10 11:16] JamesSmartCell commented on #947
I read it wrongly - it is definitely a bug!

[2020-02-11 00:01] #947 closed

[2020-02-11 04:32] hboon opened #1156 "Fiji all-encompassing issue"
Mainly a FYI and also for both @JamesSmartCell and @jzaki benefit.

I've created this for iOS https://github.com/AlphaWallet/alpha-wallet-ios/pull/1672 as a checklist for myself. The first 4 items forms most of the foundation for Fiji for iOS:

* https://github.com/AlphaWallet/alpha-wallet-ios/pull/1686
* https://github.com/AlphaWallet/alpha-wallet-ios/issues/1673
* https://github.com/AlphaWallet/

[2020-02-11 06:37] ronakdave195 commented on #1070
@JamesSmartCell May I kindly request you to confirm if the checksum present in QR code? If not, can you provide us logic for checksum placement?

[2020-02-11 06:42] ronakdave195 commented on #888
@James-Sangalli May I kindly request you to confirm if this has been resolved in the latest build version of v2.21.1 RC3? We aren't able to replicate this under the given version.

[2020-02-11 06:48] ronakdave195 commented on #856
@James-Sangalli May I kindly request you to provide test steps or more information on the issue so that we can replicate it at our end and provide suggestions for fixes.

[2020-02-11 06:49] ronakdave195 commented on #765
@JamesSmartCell @James-Sangalli We await your inputs on the above query.

[2020-02-11 06:52] ronakdave195 commented on #762
@JamesSmartCell @James-Sangalli On trying to replicate the above issue, I’m not able to slide the red “Back my wallet” warning box. I can use the “Remind me later” option by clicking on the 3 dots on the top right corner of the box.

[2020-02-11 07:01] ronakdave195 commented on #401
@James-Sangalli May I kindly request you to confirm if the word community refers to Telegram and Reddit options in Settings.

[2020-02-11 09:14] tomekalphawallet commented on #1149
@colourful-land wants to outsource this part to new developers on Upwork - and hire the one who provided the highest quality.

[2020-02-11 10:01] James-Sangalli commented on #1070
@ronakdave195 checksum was fixed for address qr's and all my wallet addresses but it still uses the class ContractAddress which gives back an unchecksumed address

[2020-02-11 10:04] James-Sangalli commented on #1070
#1109

[2020-02-11 10:51] James-Sangalli commented on #401
@tomekalphawallet please comment on this as I believe you had removed this from the design

[2020-02-11 10:53] James-Sangalli commented on #856
@ronakdave195 download signal, export a JSON keystore to a signal message, copy and paste this signal message and use it to import.

[2020-02-11 11:05] James-Sangalli commented on #888
@ronakdave195 I cannot reproduce either

[2020-02-11 11:05] #888 closed

[2020-02-11 22:23] jzaki opened #1158 "Advanced transaction details screen"
On transaction confirmation page, able to tap on section beneath addresses (left screen), and be presented with advanced options (right screen): gas price/limit, and transaction data.

iOS screenshots...
<img src="https://user-images.githubusercontent.com/939603/74284249-7655c180-4d77-11ea-98de-94d37566bf5e.PNG" alt="iPhone_e990a_IMG_0022" width="300">  <img src="https://user-images.githubusercont

[2020-02-11 22:50] jzaki commented on #569
iOS design, `Photos` text button top-right. @tomekalphawallet to provide clearer design.
<img src="https://user-images.githubusercontent.com/939603/74286682-65f41580-4d7c-11ea-8e03-d03d51f1c3e7.PNG" width="300">

[2020-02-11 23:16] jzaki commented on #1086
@tomekalphawallet  Where is the ability to add tokens? Previously `+`
Is it in `Manage Tokens` ?

[2020-02-11 23:23] tomekalphawallet commented on #1086
You can find this inside "Manage Tokens". It was not sent to development yet. In most cases you will use a QR code camera.

[2020-02-11 23:34] tomekalphawallet commented on #401
Yes, this is correct. I moved this to Support.

Sketch Cloud:
https://sketch.cloud/s/jDODG/a/4nLd9d
https://sketch.cloud/s/jDODG/a/0MqWx2

Zeplin:
https://app.zeplin.io/project/5d088205bff2d15de6a4397b/screen/5e21dbe52d0e9457c9e2823c/
https://app.zeplin.io/project/5d088205bff2d15de6a4397b/screen/5e21dbe3444ae12ba600c510/

<img width="646" alt="Screenshot 2020-02-12 00 29 11" src="https://user-imag

[2020-02-11 23:36] jzaki commented on #1086
Most regular users wont be adding tokens manually (contract address, decimals, etc). But I noticed the `+` in the designs now (and the new `Add/Hide`).

[2020-02-12 02:42] hboon commented on #1158
We have a design for actionsheet transaction confirmation. So have to weigh how much work to put into tweaking this existing version switching to actionsheet.

[2020-02-12 08:57] ronakdave195 commented on #856
@James-Sangalli I'm able to import a wallet whose JSON keystore was shared through a Signal messaging app.

[2020-02-12 10:11] ronakdave195 commented on #951
@James-Sangalli In the iOS version when I go to any of the Star Wars tickets, the Transfer / Redeem button is disabled so I'm able to proceed further.

[2020-02-13 00:28] James-Sangalli commented on #951
As intended, you should only be able to browse the tickets not do anything with them.

[2020-02-13 00:51] James-Sangalli commented on #856
@colourful-land please update

[2020-02-13 05:59] ChintanRathod commented on #401
@tomekalphawallet Design of whole Setting page is different then existing one. While implementing this "Support" page, do you wish to change whole design of Setting page or not?

For time being, I can only add "Support' button in existing list and move shown social buttons to next page without changing the icons, style/design.

Kindly share your opinion.

[2020-02-13 20:15] jzaki commented on #401
@ChintanRathod yes, this makes sense. The redesign is a separate set of tickets.

[2020-02-14 02:15] JamesSmartCell commented on #810
Fixed in UI upgrade.

[2020-02-14 02:15] #810 closed

[2020-02-14 02:18] JamesSmartCell commented on #762
Checked and this is working correctly as per the design specs. It's superseded by the new UX design so this issue is now irrelevant. Closing.

[2020-02-14 02:18] #762 closed

[2020-02-14 02:28] JamesSmartCell commented on #1158
Note 1: DO NOT LABEL WITH 'GOOD FIRST ISSUE'.
Note 2: The screen is there but due to colour changes the icon isn't visible.
Will be fixed in UX upgrade

[2020-02-14 02:35] JamesSmartCell commented on #1149
This doesn't look Android native. The way shown above doesn't appear as a design pattern on Android interfaces.

Instead when pressing the hamburger button potentially extra buttons should appear in a panel; possibly with some sort of priority so the TokenScript developer can supply hints as to how the buttons should appear. We can see what our outsourcers do with this; it's actually a good first

[2020-02-14 02:46] JamesSmartCell commented on #849
Closing as fixed.

[2020-02-14 02:46] #849 closed

[2020-02-14 02:47] JamesSmartCell commented on #780
Has been done in update

[2020-02-14 02:47] #780 closed

[2020-02-14 05:44] James-Sangalli commented on #780
@JamesSmartCell please reference PR

[2020-02-14 09:27] #765 closed

[2020-02-16 07:52] whtyfhas opened #1434 "Chinese Translation Incorrect"
Hi Dear AlphaWallet members

We added support in your system for our token. We installed an Android version of your wallet. When we ran that version and intended to transfer a token of ours we found that the Chinese translation might not be that appropriate.

The Chinese translation for “MagicLink for picking up” was "通过MagicLink导出门票". A better translation might be "通过MagicLink转出通证"

The Chinese t

[2020-02-17 09:26] ronakdave195 commented on #951
Thank you for the feedback, @James-Sangalli!

[2020-02-17 21:50] jzaki commented on #1158
![](https://github.trello.services/images/mini-trello-icon.png) [[__] As a user, I want understanding/control over transaction processing time, so that I can transact with confidence](https://trello.com/c/26MTjbSU/70-as-a-user-i-want-understanding-control-over-transaction-processing-time-so-that-i-can-transact-with-confidence)

[2020-02-18 12:47] #943 closed

[2020-02-20 01:32] JamesSmartCell commented on #1158
This has been addressed to a certain extent in PR #1172

[2020-02-21 02:51] jzaki opened #1177 ""Scan QR Code" from Browser Tab home shows "Invalid Scan Result""
This only occurs on the home screen of the browser "My DApps", "Discover DApps", "History"...
This does not occur if a webpage is loaded. In that scenario the QR-code url loads successfully.

[2020-02-21 04:45] hboon commented on #1084
@JamesSmartCell tweaked so the Ethereum address wraps with the same font size: https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/screen/5dfaf2cf2149329a03c7b760

[2020-02-21 05:05] #1177 closed

[2020-02-23 23:59] James-Sangalli opened #1179 "Android: Accept new `<view>` and `<item-view>` and drop the support for old `<view>` and `<view-iconified>`"

[2020-02-24 00:01] James-Sangalli opened #1180 "Android: interpretation a filter (currently only key=value)"
@colourful-land said this:

I envision the final product is a filter that can be used to obtain object in:

1) attestations, especially when one attestation depends on another with specific predicate (which is a filter)
2) tokens, during token negotiation
3) data objects, e.g. finding events.

But in this issue, we only need a filter that can obtain an event through a key=value format. That is, αW

[2020-02-24 00:06] James-Sangalli opened #1181 "Android: update namespace & read to merge - TokenScript"

[2020-02-24 00:07] James-Sangalli opened #1182 "optional but favoured: Android handles reörg"

[2020-02-24 00:07] James-Sangalli opened #1183 "Android adding ASNX module parsing capacity (only used for events now)"
It means iOS should be aware of this file's line 26 to line 34

https://github.com/AlphaWallet/TokenScript-Examples/blob/27ffe6a83a7c41631ebfe22e262e21850f234327/examples/ENS/ENS.xml#L26-L34

[2020-02-24 00:08] James-Sangalli opened #1184 "realm database schema, which has event-attribute relation, raw (filtered) event data and cached token attributes"

[2020-02-24 00:08] James-Sangalli opened #1185 "adding JavaScript API (android)"
Incorporate new javascript object interpretation, example:

`web3.tokens.dataChanged = (oldTokens, updatedTokens, tokenCardId) => {
    const currentTokenInstance = updatedTokens.currentInstance;
    document.getElementById(tokenCardId).getElementsByClassName("contents")[0].innerHTML = new Token(currentTokenInstance).render()
};`

[2020-02-24 00:15] James-Sangalli commented on #1182
@colourful-land need further clarification here

[2020-02-24 02:55] James-Sangalli opened #1186 "Upgrade xdai and test cases with new schema"

[2020-02-25 08:54] #401 closed

[2020-02-25 08:54] JamesSmartCell commented on #401
closing as no longer relevant

[2020-02-25 08:57] JamesSmartCell commented on #404
Yes you would see those in the debug window as any webview is visible. When you say debugging do you mean debugging the app itself or debugging dapps? I presumed you mean debugging dapps because we're open source.

[2020-02-25 08:58] JamesSmartCell commented on #453
Still needs doing.

[2020-02-25 08:59] JamesSmartCell commented on #658
Yes this is implemented.

[2020-02-25 08:59] #658 closed

[2020-02-25 09:00] JamesSmartCell commented on #718
This is fixed, I believe @hboon said he doesn't see it anymore.

[2020-02-25 09:01] JamesSmartCell commented on #708
Could this be addressed in the UX redesign?

[2020-02-25 09:04] JamesSmartCell commented on #755
Completed.

[2020-02-25 09:04] #755 closed

[2020-02-26 00:29] James-Sangalli opened #1194 "Add ability to retrieve events inside TokenScript"
https://gist.github.com/James-Sangalli/0509258f3d56b66b68bfd6d51a10639a

[2020-02-26 21:47] ChintanRathod commented on #722
Started working on this issue, yet stuck at below points.
1) Image for clear browser
2) Translation. What is your approach for translations? If it is Google translations, I can do that, else I need translated strings from relevant person.

[2020-03-02 07:48] ronakdave195 commented on #722
@James-Sangalli We await to receive your feedback on @ChintanRathod's above query

[2020-03-02 09:59] justindg commented on #722
Hi @ronakdave195  and @ChintanRathod , I'm currently working on the revamped Settings page. The new page will include the section for the "Clear Browser Cache" function, so no need to worry about the layout and icon. I will leave a corresponding TODO tag in the source for you to write the actual implementation of the cache clear function. I will update this ticket once the PR is up. :)

[2020-03-03 00:27] #1078 closed

[2020-03-03 12:14] tomekalphawallet commented on #1149
https://material.io/components/sheets-bottom/#usage

Check Modal Sheet Bottom. Because TS limitations, we can't support icons. So I removed them.

If you want, we can also remove "More options" from the top.

<img width="1225" alt="Screenshot 2020-03-03 13 12 58" src="https://user-images.githubusercontent.com/51817359/75774692-c3aec880-5d50-11ea-83c8-500b09a0adac.png">

https://storage.googleapis.

[2020-03-04 22:04] #856 closed

[2020-03-04 22:07] James-Sangalli commented on #703
@colourful-land no xiaomi emulator in android studio, bring your phone in next week for testing

[2020-03-06 13:14] JamesSmartCell commented on #1149
Agree this should be implemented on Android in the modal bottom sheet style. We further discussed the possibility of button weighting or priority in the meeting today. Being able to create a button with higher priority than the intrinsic buttons is also worthwhile.

[2020-03-07 01:51] JamesSmartCell commented on #1136
[flags_svg.zip](https://github.com/AlphaWallet/alpha-wallet-android/files/4301269/flags_svg.zip)

@ChintanRathod here are the round flag SVG assets from the above screen

[2020-03-08 23:50] colourful-land opened #1213 "Test if SNS with individual subscription is possible"
Following up @James-Sangalli @jzaki on the use of `getPastEvents` for pulling events without local (on the mobile phone) filtering, I put SNS fanout/subscription setting on hold as they will become relevent only when we need notifications.

### subscription

Subscribing a topic using an SQS queue would result in the creation of a subscription. A subscription is created using SQS console but techni

[2020-03-09 06:12] zhangzhongnan928 opened #1215 "Add AlphaWallet to Huawei Gallery"

[2020-03-10 09:58] JamesSmartCell opened #1218 "Fallback market discovery using Blockscout"
AlphaWallet uses an API to find market tokens (currently all ERC20 or derivatives) with value on the user account, for example DAI, Golem, Kyber.

This uses a secret API for the release but this means market discovery doesn't work for builds without the key.

Previously we used a free API from BlockScout which is limited by IP address. That route should be used if the main discovery method returns

[2020-03-10 09:58] JamesSmartCell commented on #1136
Complete

[2020-03-10 09:58] #1136 closed

[2020-03-10 11:26] JamesSmartCell opened #1219 "Enable Currency Selection in Fiji"
Just did a re-sync of the Fiji branch with all the fixes/improvements that have gone into the repo since we branched the Fiji work.

The Currency selection screen isn't re-enabled - but everything else is there, the selection activity etc. I left a //TODO in the new class AdvancedSettingsActivity where the currency selection should go.

Could you resolve this TODO and add the selection screen back

[2020-03-10 11:31] JamesSmartCell commented on #1080
Complete

[2020-03-10 11:31] #1080 closed

[2020-03-10 11:38] JamesSmartCell commented on #1086
We'll implement this by using the token graphic if available otherwise use the symbol inside a coloured ring. I'll make an algorithm that converts the token address to a colour. Is that how you expect it? Maybe also have an address -> colour table so this can be overriden.

[2020-03-10 11:43] JamesSmartCell commented on #1084
@ChintanRathod this one is not as trivial as it seems. You may need to extend the ENSHandler class to do a reverse-ENS lookup. Currently I don't think it has that ability. The reverse ENS lookup is operational elsewhere in the wallet, on the walletActivity page to detect ENS names for each wallet. If you want extra info please msg me.

[2020-03-10 22:10] JamesSmartCell commented on #1084
Also see resolveWalletEns(Wallet wallet) in AWEnsResolver, it takes a Wallet and returns any ENS name.
ENS name in Ethereum is like DNS - you can assign a name which represents an address (as opposed to a name that represents an IP address).

There is also a convenience method provided by ENS that checks if there's any ENS name given an address (similar to whois). This is great for wallets.

[2020-03-11 08:59] tomekalphawallet commented on #1086
https://play.google.com/store/apps/details?id=com.jufy.tokenary&hl=en

@JamesSmartCell Please download and try to figure out how they made it.

[2020-03-11 09:00] tomekalphawallet commented on #1086
![tokenary](https://user-images.githubusercontent.com/51817359/76399554-1276e680-637f-11ea-9d31-0d6a72e73343.jpg)

[2020-03-11 09:10] tomekalphawallet commented on #1086
in our case, those are acceptable colors for tokens without symbols: Mine, Radical, Emerald, Pumpkin, Cerulean, Indigo, Azure

<img width="1055" alt="Screenshot 2020-03-11 10 06 24" src="https://user-images.githubusercontent.com/51817359/76400130-1820fc00-6380-11ea-9ffc-1041a149686f.png">

I created a quite big library of tokens:

https://app.zeplin.io/styleguide/5e0b15e46049c216fb7ab4d5/component

[2020-03-11 23:25] James-Sangalli commented on #1194
@JamesSmartCell I'll add the function and a test to retrieve the events and then you can integrate it in

[2020-03-12 05:22] James-Sangalli commented on #1194
@JamesSmartCell as discussed, here is a code snippet for retrieving filtered events in Web3J with sample output: https://gist.github.com/James-Sangalli/4d1f031d5cf6ac724e7946b48f1cf44c

[2020-03-12 12:22] tomekalphawallet opened #1221 "Qoin - Inconsistencies between iOS/Android"
1. Update Tab Bar Icons

Zeplin: https://app.zeplin.io/project/5e6a10e362c86e139202aee0/styleguide/components?cseid=5e6a281ca2955e15280dad85

<img width="566" alt="Screenshot 2020-03-12 12 43 07" src="https://user-images.githubusercontent.com/51817359/76520755-cfdb0a00-6463-11ea-8b6f-08c8f9e8e2ec.png">

----

2. Get rid of green color from Top App Bar (and all other screens). No more green color.

[2020-03-12 12:31] tomekalphawallet commented on #1221
I made an onboarding flow for Android:

https://app.zeplin.io/project/5e6a10e362c86e139202aee0/dashboard?seid=5e6a243e2fd2091170f8f122

---

Updated Browser Bar:
https://app.zeplin.io/project/5e6a10e362c86e139202aee0/screen/5e6a1117d3ddac13bdc74284/

---

Updated Qoin look:
https://app.zeplin.io/project/5e6a10e362c86e139202aee0/screen/5e6a24646a2e3811444c83aa/

---

Updated Wallet look (you have a

[2020-03-12 12:35] #1221 closed

[2020-03-13 00:43] JamesSmartCell opened #1223 "Migrate support libraries to AndroidX"
Use Android Studio IDE's migrate to AndroidX and then tidy up the inevitable fallout from this change.
Test all the activities to ensure the support features work.

Test:

- Main Tab control (Wallet, Transactions, browser, settings).
- QR Scanner.
- Autocompletion (seed entry, ENS name entry in address bar).
- Popup Dialogs (eg sending transaction, share magiclink).
- All Webviews render correctly

[2020-03-15 07:20] justindg commented on #722
Update: You can now add the implementation in **`AdvancedSettingsActivity`** under `onClearBrowserCacheClicked()`

[2020-03-15 10:45] ChintanRathod commented on #1219
@JamesSmartCell Implemented in Fiji branch. Can you please review and close this ticket if done?

[2020-03-15 10:46] ChintanRathod commented on #722
@justindg Sure. I will add the logic in AdvancedSettingsActivity and push the code in "Fiji" branch.

[2020-03-16 03:55] JamesSmartCell opened #1236 "Improve Flow of back button"
Most Android apps have a back button guard, where if you have multi-fragment app they return you to the 'head' page of the fragments if you click back. Either they will make you press back twice or return you to the 'home' page.

Currently, if you're on any of the 3 main fragment pages other than the default wallet page (Transactions, Settings or Browser) and you click back you leave the app, whic

[2020-03-16 06:23] JamesSmartCell commented on #1219
Completed by remote PR.

[2020-03-16 06:23] #1219 closed

[2020-03-16 06:38] ChintanRathod commented on #1084
OK> Clear. I will start on this issue.

[2020-03-16 10:21] colourfreak opened #1237 "Update ER20 + Ether Default Token View [Fiji]"
The DefaultTokenView area for iOS should be 360x200pt.

<img width="596" alt="Screenshot 2020-03-16 11 16 22" src="https://user-images.githubusercontent.com/51817359/76746296-93ffb780-6777-11ea-9970-32bd3b4b43bc.png">

It contains a Token Icon (60x60pt), Token Balance, Token Available Balance (when you have just sent funds to someone, and still waiting for a confirmation, it should be deducted fro

[2020-03-17 05:21] JamesSmartCell opened #1239 "Fix Seed input suggestions for Fiji"
The auto-suggestions for seed phrase seem to be broken after one of the Fiji upgrades.

Can you investigate and see what's gone wrong?

[2020-03-17 07:26] JamesSmartCell commented on #1236
Fixed in #1238

[2020-03-17 07:26] #1236 closed

[2020-03-18 12:12] justindg commented on #1081
@tomekalphawallet how do I go from **Change / Add Wallet** to **Manage Wallet** screen?

[2020-03-18 22:02] JamesSmartCell commented on #1081
The expected event when I click on the wallet in this screen is to select it. I couldn't see how to get to the manage screen - it shouldn't happen when you click on the bar because there's a radio button.

@justindg Suggestion - if you click on the blocky/gravatar it should take you to the manage wallet page. @tomekalphawallet can you confirm if this is the intention?

[2020-03-18 22:04] JamesSmartCell commented on #1077
There is a default fall-back implementation now - you can override the API key from gradle.properties or local.properties, but if you do not then it will use a fallback key which is in the build.gradle.

[2020-03-19 09:53] tomekalphawallet commented on #1081
https://app.zeplin.io/project/5d088205bff2d15de6a4397b/screen/5e21dbe3b8a95e2b2a9e6838/

Added a hamburger menu on the right side. This way you can access Manage Wallet Page.

@justindg

[2020-03-19 10:10] justindg commented on #1081
@tomekalphawallet noted, thank you!

[2020-03-20 04:57] colourful-land opened #1245 "Implement browser string change"
I'm assigning this to Boon and Brown for comments.

Consider a website which would render this screen if opened with αWallet (pic1):

![Screenshot_2020-03-20 Log In ‹ bitflynn — WordPress](https://user-images.githubusercontent.com/548435/77137529-76f21e00-6ac2-11ea-87c5-053ec851a352.png)

And if not, this (pic2):

![Screenshot_2020-03-20 Log In ‹ bitflynn — WordPress(1)](https://user-images.github

[2020-03-20 05:16] hboon commented on #1245
Modern web frameworks make it easy to get the headers.

Sounds like it should work and is clean, and should be easily implemented in other dapp browsers too.

[2020-03-20 05:44] JamesSmartCell commented on #1239
fixed in #1244

[2020-03-20 05:44] #1239 closed

[2020-03-20 05:44] JamesSmartCell commented on #1085
closed with #1225

[2020-03-20 05:44] #1085 closed

[2020-03-20 05:45] JamesSmartCell commented on #1082
closed in #1231

[2020-03-20 05:45] #1082 closed

[2020-03-20 05:47] JamesSmartCell commented on #1083
@tomekalphawallet this breaks UX convention as the round radio button on android is meant to be a single select. If you have multi-select it should be a checkbox which is square. Not sure if this is still the case though, but it was a couple of years ago.

[2020-03-20 07:52] tomekalphawallet commented on #1083
You are right. Updated.

https://www.dropbox.com/s/2pvq8efc7wx6vwc/Screenshot%202020-03-20%2008.51.52.png?dl=0

<img width="736" alt="Screenshot 2020-03-20 08 51 52" src="https://user-images.githubusercontent.com/51817359/77145172-13e39580-6a88-11ea-82dc-e5feace758d2.png">

[2020-03-20 07:52] tomekalphawallet commented on #1083
@JamesSmartCell

[2020-03-21 00:27] JamesSmartCell opened #1246 "TokenScript Management page"
Currently there are 3 directories for TokenScripts (2 for Android 10+).

The primary area is in the private app area buried at /data/data/io.stormbird.wallet/files. The files here are Scripts sourced only from the repo and will all be signed, official scripts.

The secondary areas are 'overrides'.

The second directory is the External directory at /Android/data/io.stormbird.wallet/files which can

[2020-03-21 00:29] JamesSmartCell commented on #1246
@hboon @colourful-land @James-Sangalli Please add any further details for TokenScript management page as required.

[2020-03-21 06:54] hboon commented on #1246
The iOS screen was added a long time ago largely due to platform constraints. AirDrop was the primary way to override TokenScript files and there was no way for the user to open a File Manager to look at the list of overridden TokenScript files, as well as to remove them.

So this particular screen doesn't necessarily have to be exactly the same as iOS'. The Android version has the potential to be

[2020-03-22 02:06] JamesSmartCell commented on #1246
Yes.

Yes, it would be good to standardise and lose that directory while we're the only ones using it.

I started a page in the tokenscript forum here:

https://community.tokenscript.org/t/tokenscript-managment/348

It would be useful to have issue reporting with scripts, within the app. We do have a command line tool that I will add error and warning feedback to.

[2020-03-22 02:10] JamesSmartCell commented on #1086
I will use this repo:

https://github.com/ethereum-lists/tokens/tree/master/tokens/eth

build a simple tool that creates a mapping between token addr and icon and embed this in the app.

[2020-03-22 04:47] JamesSmartCell commented on #1083
completed in #1247

[2020-03-22 04:47] #1083 closed

[2020-03-22 04:49] JamesSmartCell commented on #1081
closed in #1242

[2020-03-22 04:49] #1081 closed

[2020-03-23 06:21] colourful-land commented on #1245
@hboon can you propose what the new User-Agent string is and I'll file another issue under iOS asking that to be implemented. Quoin can pull that change in and release before αWallet.

[2020-03-23 06:35] hboon commented on #1245
How about we append the "AlphaWallet/<app version>" to it?

Eg. on iPhone, it is:

Make it:

If they like, Qoin can append an additional value "Qoin/<app version>" for their tracking via server logs

[2020-03-23 09:24] colourful-land commented on #1245
@hboon Assigned to JB now. Yours is https://github.com/AlphaWallet/alpha-wallet-ios/issues/1758

@JamesSmartCell I don't think Qoin should add their own value in the Browser String, cautious of over-designing.

[2020-03-23 23:49] colourful-land opened #1253 "the QR code scanner on browser tab doesn't recognise URLs"
Reproduce.

1. On your PC, go to https://www.qrcode-monkey.com/
2. Use your mobile to scan the QR code there.
3. get the message "Invalid scan result"

Expected:

3. The browser launches the website  https://www.qrcode-monkey.com/

[2020-03-24 00:13] JamesSmartCell opened #1254 "Hide Wallet Tabs & Add / Hide Tokens"
When scrolling the token list, we should hide the Title, Add / Hide Token bar and the filter tabs.

Check Twitter how, when the first thing to scroll off the top of the screen is the title bar.

As you scroll down the token list, the three title areas should disappear until you only see the thin OS details bar right at the top.

[2020-03-24 00:35] colourful-land opened #1255 "net::ERR_CLEARTEXT_NOT_PERMITTED error"
Reproduce:

1. open a website that typically target Chinese audience
e.g. http://chinaplus.cri.cn/recommended/1661/436968

2. see the message net::ERR_CLEARTEXT_NOT_PERMITTED

Cause:

Since Android 9, by default web widget disallow clear-text (non-https)

Why is it a problem:

Many websites in China opt to not to use https since the state can't sensor what's in the communication. Website specially

[2020-03-24 02:37] JamesSmartCell commented on #1253
It has been fixed in the past. But possible PR didn't go through and got closed.

[2020-03-24 02:39] JamesSmartCell commented on #1253
Works on latest master branch

[2020-03-24 02:39] #1253 closed

[2020-03-24 02:43] James-Sangalli commented on #1253
Works in iOS

[2020-03-24 02:57] James-Sangalli commented on #1253
Duplicate of https://github.com/AlphaWallet/alpha-wallet-android/issues/1177

[2020-03-24 03:43] JamesSmartCell commented on #1245
We already have this in both the Dapp and TokenScript injector:
[code]

Which I think is similar to what is being proposed. I think @hboon proposed it some time ago.

[2020-03-24 03:43] JamesSmartCell commented on #1245
I will update it with the proposed mod above.

[2020-03-24 14:10] tomekalphawallet commented on #1148
I have just updated this illustration. Please overwrite the existing one.

[2020-03-24 14:10] tomekalphawallet commented on #1147
I have just updated this illustration. Please overwrite the existing one.

[2020-03-25 06:59] justindg commented on #1147
@tomekalphawallet the last update in Zeplin (Android) was 27 days ago. Is that the correct one?

[2020-03-25 08:46] justindg commented on #1254
Is there any way we could utilise a **Floating Action Button** for the **Add / Hide Token** bar?

[2020-03-25 08:54] tomekalphawallet commented on #1147
@justindg Check out now

[2020-03-25 08:56] tomekalphawallet commented on #1254
@justindg We have to stay consistent between iOS and Android. So even if we ever add a **Floating Action Button**, the **Add/Hide Tokens** is not that important to stand out.

[2020-03-25 08:59] tomekalphawallet commented on #1254
This can be helpful:

https://storage.googleapis.com/spec-host/mio-staging%2Fmio-components%2F1584058305895%2Fassets%2F1cx_CQC_pYOeAxmJAoEIjGnZNAWQzz-O1%2Ftabs-scrolling-1.mp4

[2020-03-29 11:50] colourful-land opened #1259 "developer experience: unsure if the file is imported"
Reproduce.

1. Double-click a tokenscript xml file in Android. open it with αWallet.
2. Now the developer isn't sure if αWallet has successfully taken it in. He looks for a place to see the list of TS files at work. So he goes to Settings.
3. Not seeing anything there, he Google for the cached TS location, and found `Android/data/io.stormbird.wallet/files` but that folder turns out empty.
4. He Do

[2020-03-29 11:57] colourful-land commented on #1259
Let's make it work in Android first then reässign this issue to Sangalli to update developer document.

[2020-03-31 00:02] JamesSmartCell commented on #1254
closed in #1257

[2020-03-31 00:02] #1254 closed

[2020-03-31 02:09] JamesSmartCell commented on #1147
Fixed in #1258

[2020-03-31 02:09] #1147 closed

[2020-03-31 02:09] JamesSmartCell commented on #1148
Fixed in #1258

[2020-03-31 02:09] #1148 closed

[2020-03-31 02:43] JamesSmartCell commented on #1259
@colourful-land why does reässign have umlauts? Is this a new AlphaWallet tradition? Or is there a subtle difference in meaning between reassign with and without umlauts?

[2020-03-31 09:10] JamesSmartCell commented on #1149
Closed by #1250

[2020-03-31 09:10] #1149 closed

[2020-03-31 09:11] JamesSmartCell commented on #1156
Closed in Qoin repo and complete in Fiji-Implementation branch.

[2020-03-31 09:11] #1156 closed

[2020-04-02 01:04] colourful-land opened #1264 "warn android 6.x users that their devices are planned to be obsoleted"
If a user is using android < 8.0 they should see a message that their device is to be obsoleted with a link to a blog post why we decided so.

[2020-04-02 01:20] JamesSmartCell commented on #1264
Actually doesn't need to be Android 8. We can start with removing Android 6 support which would allow us to consolidate some source into the 'lib' project.

[2020-04-02 01:26] colourful-land commented on #1264
We need to warn them that even 7 will be dropped at certain point. Still warn 7 users, but less sense of urgency.

[2020-04-03 00:44] James-Sangalli opened #1266 "Value to tx is not added from TokenScript"
Normally the value param allows you to add eth to your transaction, this does not work in android when the amount to add is not user-entry

[2020-04-03 02:43] James-Sangalli opened #1267 "File not found exception on TokenScript"
2020-04-03 13:38:07.494 11078-11114/io.stormbird.wallet I/System.out: Unknown tag while processing Action: output
2020-04-03 13:38:07.495 11078-11114/io.stormbird.wallet I/System.out: Unknown tag while processing Action: Signature
2020-04-03 13:38:07.507 11078-11115/io.stormbird.wallet I/System.out: ERROR While parsing: /
2020-04-03 13:38:07.508 11078-11115/io.stormbird.wallet W/System.err: java.i

[2020-04-03 03:08] JamesSmartCell commented on #1266
It's working correctly in code and the transaction it will send, but that value is not shown on the confirmation screen. Will upgrade confirmation screen to show.

[2020-04-03 03:08] JamesSmartCell commented on #1267
@James-Sangalli Unable to reproduce. Please link script that produces the problem to the issue.

[2020-04-03 03:39] James-Sangalli commented on #1267
[ens.txt](https://github.com/AlphaWallet/alpha-wallet-android/files/4424929/ens.txt)

Supposed to be XML but had to convert it to txt

[2020-04-03 06:47] JamesSmartCell commented on #1267
It's almost identical to an ENS.xml file produced manually, except it has some kind of encoding bug in the declaration of ```var mappingStr = ... ```. Substituting the same code from the subdomainbundle.js file fixes the issue.

However, agree that the error should be reported at the time of dropping the file in, or in a Token Management page.

[2020-04-04 02:20] JamesSmartCell opened #1271 "Implement Gas Slider"
Enhance the gas slider as a subunit to match the spec in Zeplin.

Spec is here:

https://zpl.io/b67kerd

However since this view isn't ready yet, the component can be written separately into the existing view 'activity_gas_settings' as a view component (similar to how the 'PasswordInputView' and 'FunctionButtonBar' work).

This sub component can replace the old horrible looking one in GasSettingsA

[2020-04-05 00:47] #1266 closed

[2020-04-05 00:49] JamesSmartCell commented on #1183
Solved within the script by passing the ```xmlns:asnx="urn:ietf:params:xml:ns:asnx"``` directive.

[2020-04-05 00:49] #1183 closed

[2020-04-05 00:49] #1185 closed

[2020-04-05 00:50] #1180 closed

[2020-04-05 01:34] colourful-land opened #1274 "stop CCP-coverup of not recognising/using TS file."
A developer might:

1. Double-click a tokenscript xml file in Android. open it with αWallet.
2. Now the developer isn't sure if αWallet has successfully taken it in. He looks for a place to see the list of TS files at work. So he goes to Settings.
3. Not seeing anything there, he Google for the cached TS location, and found `Android/data/io.stormbird.wallet/files` or check root directory "AlphaWal

[2020-04-06 01:54] justindg commented on #1264
Is the blog link available?

[2020-04-06 11:29] JamesSmartCell opened #1275 "When importing seed, need to be accurate clicking on the word"
When you do a seed import, you have to be quite accurate with pressing on the word. The click view should be the light grey surround of the suggested seed word rather than just the word text:

In the pic, clicking on the circled areas doesn't respond, but clicking on the text does.

![Inkedcap_LI](https://user-images.githubusercontent.com/12689544/78553903-6e813d80-784d-11ea-9d80-4b96a6dccedc.jpg)

[2020-04-07 06:14] AW-STJ commented on #1264
Talked to Weiwu and confirmed that we don't need a blog as we are only dropping support for Android 6 now. We might do a blog if and when we decide to stop Android 7.

[2020-04-07 06:14] AW-STJ commented on #1264
Talked to Weiwu and confirmed that we don't need a blog as we are only dropping support for Android 6 now. We might do a blog if and when we decide to stop Android 7.

[2020-04-07 13:28] colourfreak opened #1280 "Add Analytics screen"
In the Settings -> Advanced we can add one more screen where users can turn on/off analytics. It should be on by default (as other wallets do).

@jzaki can provide a better copy

Sketch Cloud:
https://sketch.cloud/s/jDODG/a/en9Moq
https://sketch.cloud/s/jDODG/a/m2YKAP
https://sketch.cloud/s/jDODG/a/7QPAY8

Zeplin:
https://zpl.io/2j0XM4q

<img width="1242" alt="Screenshot 2020-04-07 at 15 26 00" sr

[2020-04-08 02:45] James-Sangalli opened #1281 ""no data" on TokenScript action pages"
Expected:
- Open ENS and click on any action button
- See the action page

Actual:
- Open ENS and click on any action button
- See "no data" in page (works only the first time, each time after requires you to kill the app and do it again)

Happening on xiaomi redmi

[2020-04-08 02:49] James-Sangalli opened #1282 "Error in TokenScript element: Add subdomain"
This could be an error in the ENS tokenscript but I get this using the latest ENS version in the latest event support branch

![Screenshot_2020-04-08-10-47-35-877_io stormbird wallet](https://user-images.githubusercontent.com/16630514/78739320-56b5d080-7997-11ea-9ed1-2b1d254ec873.png)

[2020-04-08 02:51] JamesSmartCell commented on #1282
Yes I've seen it, fixing before release

[2020-04-08 02:52] JamesSmartCell commented on #1280
Suggestion: link to GitHub source code so more curious users can see we're really sharing only anonymous data.

[2020-04-08 02:56] James-Sangalli commented on #1282
This has caused a botched transaction:

Correct transaction: https://etherscan.io/tx/0xec92a480ecef2ca9a82d7420bd0df6cf4d12fcc3e14ab721025660c96e37d1c0

Botched transaction: https://etherscan.io/tx/0x9b9e6885275bd711884cb18d2e45fb68e7fe777c07afb863c917dcd94ec64f1b

[2020-04-08 03:32] JamesSmartCell opened #1283 "Update collectibles tab to match iOS"
Here's what the collectibles tab looks like on iOS:

![collectibles](https://user-images.githubusercontent.com/12689544/78741660-456fc280-799d-11ea-88d6-154ab9e1a494.jpg)

Android should be updated to look like this, as it's pretty cool.

[2020-04-08 03:38] #1275 closed

[2020-04-08 20:13] ChintanRathod commented on #1084
@JamesSmartCell In title, it is mentioned "Fiji" so should this changes applied to "Fiji-implementation" branch?

I checkout from master branch for now, but if we need to checkout from "Fiji-implementation" let me know. I did my work done for My wallet screen changes.

There are two screens I can see on Zeplin.
![image](https://user-images.githubusercontent.com/4371780/78828538-7b935d80-7a02-11ea-

[2020-04-08 22:25] JamesSmartCell commented on #1274
This is an ongoing issue, but is somewhat alleviated by #1273, which will inform user if they dropped in a bad tokenscript.

[2020-04-08 22:28] JamesSmartCell commented on #1267
This should be closed by #1285 and #1273

[2020-04-08 22:28] #1267 closed

[2020-04-08 22:30] JamesSmartCell commented on #1194
Can now access events.

[2020-04-08 22:30] #1194 closed

[2020-04-09 00:30] #1282 closed

[2020-04-10 08:47] colourfreak opened #1290 "Misc Improvements to last Fiji build"
1. My Wallet Address is broken

![2020-04-10 09 33 30](https://user-images.githubusercontent.com/51817359/78974697-d4eab200-7b12-11ea-9cfa-4bbf453c5852.jpg)

---

2. To copy an address, extend the area where you can tap. Right now, only the icon lets you copy the address (green). Please make it larger, so the whole gray background is a button (red).

![Zrzut ekranu 2020-04-10 10 09 47](https://use

[2020-04-10 08:53] tomekalphawallet commented on #1290
7. Make it in 2 lines

"Write down seed phrase
on paper"

https://zpl.io/bJ4AMLW

![2020-04-10 10 23 03](https://user-images.githubusercontent.com/51817359/78977804-08c8d600-7b19-11ea-8dfb-2689b8036009.png)

---

8. Look at the bottom part - they button overlays the lowest row of mnemonics. "Garage" "Detect"

https://zpl.io/bLAL8O7

![2020-04-10 10 19 51](https://user-images.githubusercontent.com/

[2020-04-10 09:03] JamesSmartCell commented on #1290
@justindg you broke my nice calculated layout for that seed phrase entry! Actually your code looks a lot nicer, but could you sort out the above issue, looks like a job for coordinator layout maybe?

[2020-04-10 09:05] JamesSmartCell commented on #1290
My wallet address was broken by me - not sure how but there you go.

[2020-04-11 02:35] #1281 closed

[2020-04-12 03:42] JamesSmartCell opened #1304 "Handle Transactions with multiple operations"
So far we only handle one transaction result decoded from the input. Some transactions have multiple operation results eg tx Hash ```0x6816d68d89d30129bf66fe93c03839a16955c7f4042deee09a249532bb109f9d``` on main net

[https://api.etherscan.io/api?module=account&action=txlistinternal&txhash=0x6816d68d89d30129bf66fe93c03839a16955c7f4042deee09a249532bb109f9d](https://api.etherscan.io/api?module=accoun

[2020-04-14 01:15] zhangzhongnan928 opened #1308 "Unified function name， Networks"
![photo_2020-04-14 11 09 28](https://user-images.githubusercontent.com/33795543/79175473-28297100-7e41-11ea-845a-299654496543.jpeg)

Change 'Networks' to'Select Active Networks'

[2020-04-14 06:16] colourful-land commented on #1304
In this case, is transaction `0x6816` one that calls contract
`0xa57bd00134b2850b2a1c55860c9e9ea100fdd6cf` which internally did 2 Ether transfers?

[2020-04-14 07:05] colourful-land commented on #1308
I solved it on Android. Victor check if iOS needs the same to be done to it.

[2020-04-14 08:02] zhangzhongnan928 commented on #1308
Yes, I have an issue for iOS as well.

[2020-04-14 08:53] #1308 closed

[2020-04-14 13:42] JamesSmartCell commented on #1304
Yes, see: https://etherscan.io/tx/0x6816d68d89d30129bf66fe93c03839a16955c7f4042deee09a249532bb109f9d

[2020-04-14 13:55] JamesSmartCell opened #1315 "Add TokenScript Management Page"
Page that matches iOS TokenScript management page which displays a list of Tokens that have a tokenscript.

Once we have a basic list of tokens we will expand on it to show warnings/errors and allow users to remove and otherwise manage scripts.

Add the page into the settings like this (@hboon can you please add iOS settings page screen shot with TokenScript management entry and another showing th

[2020-04-14 14:44] hboon commented on #1315
@JamesSmartCell are you referring to these 2 screens?

TokenScript overrides | Console
-|-
<img width=300 src="https://user-images.githubusercontent.com/56189/79237817-30b19400-7ea1-11ea-9795-712a5f64c188.jpg">|<img width=300 src="https://user-images.githubusercontent.com/56189/79237826-327b5780-7ea1-11ea-91b2-1dcf49683bf4.jpg">

The Console screen was initially added to help with debugging. I was

[2020-04-15 02:20] JamesSmartCell commented on #1315
Yes, thankyou. I had exactly the same thought, we can add some additional debugging information for developers in here, based on feedback from @James-Sangalli's interviews with developers trying to use TS, it should be very useful.

[2020-04-15 02:21] JamesSmartCell commented on #1315
What is the 'Console' screen? Is it related to the Management screen or does it just display all the TS errors like 'Console' JS view in the browser?

[2020-04-15 02:57] hboon commented on #1315
Related because it displays validation errors and when two or more files are in conflict. I was hoping it can display additional errors and messages that help TokenScript authors but that isn’t relevant to users. Console output is a good candidate too.

[2020-04-16 04:50] JamesSmartCell opened #1321 "Add 'What is TokenScript' to the Help & FAQ page"
Add a brief introduction to TS, what it is and why it's there - no more than a single paragraph! Should also have a link to the community section and paper.

[2020-04-16 06:42] zhangzhongnan928 opened #1325 "The paste button cannot paste ENS into address box"
![photo_2020-04-16 16 42 23](https://user-images.githubusercontent.com/33795543/79423028-42aa4880-8001-11ea-8bb7-67fab73c6c40.jpeg)

[2020-04-16 06:45] zhangzhongnan928 opened #1326 "cannot resolve ENS reg with the new ens contract"
Try
uni.bloomfilter.eth
or
bloomfilter.eth

They work fine in iOS and metamask, but not in Andriod

[2020-04-16 06:48] #1325 closed

[2020-04-16 06:49] zhangzhongnan928 commented on #1325
fixed in the pre-release build

[2020-04-16 06:49] zhangzhongnan928 commented on #1326
fixed in the pre-released build

[2020-04-16 06:49] #1326 closed

[2020-04-20 17:39] ChintanRathod commented on #1271
@JamesSmartCell Issue is not closed automatic after PR merge. Should close manually?

[2020-04-20 18:42] ChintanRathod opened #1345 "Show "My Wallet Address" screen when user taps "alphawallet:receive" link in browser"
Check DappBrowserFragment for the existing code handling for tel: and geo:

We are adding a new code, alphawallet:receive

This will appear similar to a normal embedded code - if you build the app from master and run it, you will be on the Qoin homepage. You will need to fake your device location (using standard emulator option) to Sydney Australia, then click Explore and click on one of the busin

[2020-04-21 03:45] JamesSmartCell commented on #1304
We should at least summarise all the outputs if there are side-effects not apparent from the transaction analysis. I will self assign this, but leave producing a transaction graph.

[2020-04-21 12:57] #1345 closed

[2020-04-22 00:04] JamesSmartCell opened #1351 "Use adaptive layout for 'Redeem' activity."
Currently Redeem layout crushes the TokenScript view on certain smaller sized phone displays.

Convert the view to an adaptive one so that smaller phones still display correctly. See attached picture from Pixel 1st gen. Maybe use ConstraintLayout to build a relative view.

The relevant activity is RedeemSignatureDisplayActivity.

![1a39c1ce-4504-4dc2-af3c-e2aa9decdb75](https://user-images.githubus

[2020-04-22 06:14] jzaki opened #1352 "Custom tokenscript not loading in wallet"
- Had existing wallets before adding custom tokenscript file
- could see token, but not additional actions from file
- changed wallets
- could see token (perhaps manually added address?), but still no additional actions from file
- Expected: additional actions on token visible, and custom action in each wallet (also irrespective of balance)

[spec ref](https://github.com/AlphaWallet/internal-alpha

[2020-04-24 01:03] jzaki commented on #976
![](https://github.trello.services/images/mini-trello-icon.png) [[1400] As a wallet user, I want to import my wallet's SEED phrase more readily, so that I'm not frustrated with typing long seed phrases](https://trello.com/c/b47sz01Q/31-1400-as-a-wallet-user-i-want-to-import-my-wallets-seed-phrase-more-readily-so-that-im-not-frustrated-with-typing-long-seed-phras)

[2020-04-24 01:17] jzaki commented on #976
For posterity, the dictionary is just words from [bip39](https://github.com/bitcoin/bips/blob/master/bip-0039/english.txt)

[2020-04-24 04:58] AW-STJ commented on #1321
Community page is https://tokenscript.org/community/

[2020-04-24 18:04] ChintanRathod opened #1354 ""Help & FAQ" screen extra white space while scrolling"
Expanding and Scrolling results in extra white space between list items.

Steps:
- Go to "Settings"
- Open "Help & FAQs" screen
- Expand any item and scroll up and down

Actual Result
- It adds extra white space in the list

Expected Result
- It should look without extra white space

Reference

![List expands with blank space](https://user-images.githubusercontent.com/4371780/80242954-e2ac4580-868

[2020-04-24 18:07] ChintanRathod commented on #1321
@AW-STJ What should be the content to show.

[2020-04-25 06:20] ChintanRathod commented on #1084
@JamesSmartCell Shall this ticket be closed as PR is merged.

[2020-04-26 03:28] JamesSmartCell opened #1358 "Prevent sending of 0 Fiat transaction"
Go to Send activity, switch to fiat send using up/down arrow control:

![signal-attachment-2020-04-26-132534_002_LI](https://user-images.githubusercontent.com/12689544/80296866-b26ac100-87c1-11ea-9f60-302af0037681.jpg)

Leave the amount blank and press send. App will allow you to send zero amount.

Fix: App shouldn't allow you to send zero fiat amount.

[2020-04-27 00:17] jzaki commented on #387
Resurfaced with POAP erc721 event images. Still related to iOS#865

[2020-04-27 01:37] JamesSmartCell commented on #1321
Use this text for now:

"TokenScript is a markup language which aims to provide a enhanced experience for token users and owners. The experience is enhanced with a cryptographic trust model and consistent user interface. A TokenScript associated with a token provides a user with a trusted and private way to use more advanced features; for example 'approve' on ERC20 or 'breedWithAuto' on Cryptokitt

[2020-04-27 01:39] JamesSmartCell opened #1361 "Interpret transactions based on TokenScript functions"
TokenScript provides us with function definitions and means to call those functions.

However when looking at the transaction log, any transaction other than standard token transactions will appear as native transactions with no information.

Using the TokenScript function definition we can build a signature and interpret the function effect; or at least name the function in the transaction view.

[2020-04-27 01:40] JamesSmartCell commented on #1352
@jzaki can you attach the script that isn't working

[2020-04-27 02:37] jzaki commented on #1352
[code]

[2020-04-27 02:49] James-Sangalli opened #1362 "XMLDSig server verification fails with 2020/03 TSML"
{"result":"fail","failureReason":null}

[2020-04-27 02:51] James-Sangalli opened #1363 "Once 2020/03 is ready, update DMZ TokenScript-repo directory"

[2020-04-27 02:54] JamesSmartCell commented on #1271
Yes, issue is resolved.

[2020-04-27 02:54] #1271 closed

[2020-04-27 04:09] James-Sangalli commented on #1362
Problem found, no keyinfo name like "AlphaWallet" was set. This is easy to fall for @colourful-land

[2020-04-27 04:35] James-Sangalli commented on #1362
Another issue is found:

ENS verification fails but DAI verification passes, both signed with the same key and params

[2020-04-27 06:00] colourful-land commented on #1362
Can you provide the steps to reproduce the issue?

[2020-04-27 06:03] James-Sangalli commented on #1362
https://github.com/AlphaWallet/TokenScript-Repo/tree/master/aw.app/2020/03

Try with these two files

[2020-04-27 06:26] James-Sangalli commented on #1362
@colourful-land narrowed down the problem, the namehash dependency is causing the signature to be invalidated

[2020-04-27 10:03] James-Sangalli commented on #1362
@colourful-land observe with the following diff: https://www.diffchecker.com/502ao2II

The left side has the releaseBundle.js file which has namehash wrapped into it and the other does not. The right side passes and the left does not.

[2020-04-27 11:40] JamesSmartCell commented on #1352
Where are app.css and mint.shtml?

If these are placed in the directory alongside this script, it won't work on Android. Google took the decision to remove the ability of the Android XML parser to resolve references.

Either - include the references using xmlstarlet or manually add them, or if these are resolved already could you include the full script?

[2020-04-28 00:13] JamesSmartCell opened #1367 "Show Transaction name for TokenScript defined transactions in transactions history view"
TokenScript allows you to define your own contract transactions.

Currently these will appear as default 'Send' transactions usually with zero amount.

Inside the TS file you can see transactions defined as such:

[code]
There is a function within the TokenScript parser to produce the ethereum function definition from this description. From there, the function prototype string could be produced in

[2020-04-28 00:15] JamesSmartCell commented on #1367
To complete this correctly; a database should be constructed, otherwise the solution requires a startup parse.

[2020-04-28 00:15] #1361 closed

[2020-04-28 00:35] jzaki commented on #1352
@JamesSmartCell I had tested with the canonicalized file. XML above updated accordingly.

[2020-04-28 03:04] James-Sangalli commented on #1362
@colourful-land offending string here: https://github.com/AlphaWallet/TokenScript-Examples/blob/upgrade-schema-2020-03/examples/ENS/recordsBundle.en.js#L3249

[2020-04-28 03:32] JamesSmartCell commented on #1352
Specifically what isn't working. I'm seeing this:

![ad7eda0a-81fa-4145-a7ed-908d851e0588](https://user-images.githubusercontent.com/12689544/80444140-42d90b00-8954-11ea-95b8-e7d0cc17129b.jpg)

You do have to click on the new Fiji controls here:

![bf05ba74-9591-4f48-9c7e-cb5dbdbf0bff_LI](https://user-images.githubusercontent.com/12689544/80444192-71ef7c80-8954-11ea-98e7-61ad45d495f7.jpg)

Also to

[2020-04-28 03:46] jzaki commented on #1352
Mint shouldn't work for you, but good you can see the tokenscript.
I've been using custom tokenscripts before by opening with the app (sometimes works and puts a file in the AlphaWallet directory), and also directly putting the canonicalized file in the AW directory.

Certainly wouldn't have missed the action if it was there. It worked a treat in iOS. Will try again with latest PlayStore version.

[2020-04-28 04:00] jzaki commented on #1352
Update, due to the amount of installs/reinstalls between apks and playstore version, I suspect I had not turned on "TokenScript Overrides" at that time. Latest playstore build works.
The AlphaWallet directory still existed, but the app didn't have access.

[2020-04-28 04:00] #1352 closed

[2020-04-28 04:33] James-Sangalli commented on #1362
https://stackoverflow.com/questions/61472667/xmlsignature-fails-to-validate-with-special-string

[2020-04-28 12:18] JamesSmartCell opened #1370 "Completely decouple transactions fetch from TransactionViewModel (TVM)"
Recently this was reported from crashlytics:

[code]

It implies that during a transaction fetch, the phone ran out of memory.

- [ ] Limit transaction fetch to 2000 tx per fetch. This is fine because the next tx fetch will resume from last block recorded.
- [ ] Write transactions straight to database during fetch. Simply return the TransactionMeta entries. Even these may not be needed; the entrie

[2020-04-29 03:27] James-Sangalli commented on #1362
@colourful-land test case is here: https://github.com/AlphaWallet/alpha-wallet-android/commit/ac45eb4de44d15c57b32a42eed51b40da04597d0#diff-d6fbb474a42c3b56427ec830bfb0aa6fR50

[2020-04-29 05:15] AW-STJ opened #1373 "Fiat On Ramp for Debit cards"
Enable users to easily buy cryptocurrencies using fiat currency.

Details requirements
https://docs.google.com/document/d/1oK7DaCuSGz1PMbQNjK5hSyulFVpbAWZ0F6WizMRU090/edit#

[2020-04-29 05:31] AW-STJ commented on #1373
Hey Justin! would you be able to look into this requirement? Please let me know if you have any questions.

Once you have start working, I will also loop you into a Telegram group with someone fromWyre

[2020-05-04 04:43] ChintanRathod commented on #1321
Is this the correct flow?
![ezgif-1-28b8e381aefa](https://user-images.githubusercontent.com/4371780/80936678-ce88e680-8def-11ea-8711-f64249c0a078.gif)

[2020-05-05 23:39] zhangzhongnan928 opened #1376 "Add Custom Token doesn't work, timeout too fast?"
Try this erc20 contract
0x93d6c4483Ae9dB93cA9B39A441019C5bFac5CFa5
![photo_2020-05-06 09 38 43](https://user-images.githubusercontent.com/33795543/81126039-65cf7480-8f7d-11ea-811a-d703ef3254dd.jpeg)

[2020-05-06 00:24] zhangzhongnan928 commented on #1376
Tested again, when it works, it works on both iOS and Andriod, both pick up token information very fast. When it has issues, on Andriod report as “not find”, on iOS keep searching for mins.

[2020-05-06 01:28] colourful-land opened #1377 "Add copy-to-clipboard button to Transaction Details"
Visual (by Tomek, if in question, ask him)
https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/dashboard?seid=5e170e6ef7b0f25419ad8e00

iOS: https://github.com/AlphaWallet/alpha-wallet-ios/issues/1792

[2020-05-06 02:03] James-Sangalli commented on #1182
Dropping from event support schema release

[2020-05-06 02:03] #1182 closed

[2020-05-06 06:07] AW-STJ commented on #1084
Closed, based on confirmation from @JamesSmartCell  over phone.

[2020-05-06 06:07] #1084 closed

[2020-05-06 12:26] AW-STJ opened #1379 "Fiji Umbrella issue"
- [x] Misc Improvements https://github.com/AlphaWallet/alpha-wallet-android/issues/1290

- [x] Update ER20 + Ether Default Token View [Fiji] https://github.com/AlphaWallet/alpha-wallet-android/issues/1237

- [x] Update token icons in Wallet tab [Fiji] https://github.com/AlphaWallet/alpha-wallet-android/issues/1086

- [x] Provide a Clear Browser Cache function in the setting page https://github.com

[2020-05-06 12:28] AW-STJ commented on #1379
@JamesSmartCell created for tracking the Fiji progress. Let me know if there is any other work that I might have missed out.

[2020-05-07 02:31] James-Sangalli commented on #1179
@JamesSmartCell the app is unable to read item-view and view in it's latest form

[2020-05-07 05:25] colourful-land opened #1384 "Incorrect primary and secondary colour in fiji"
Currently, on the master (with fiji merged in) the primary colour is white; secondary is #54C1E3

This seem to be wrong. I need @tomekalphawallet to supply the correct values.

[2020-05-07 05:36] JamesSmartCell commented on #1384
Any bottom button should have been replaced by the generic 'FunctionButtonBar'. This is so if there is any style or colour change it can be effected in one move. There may be a few old classes that haven't been migrated to use this portable view class.

[2020-05-07 05:52] colourful-land commented on #1384
A bit of comments copied from design guide

https://zpl.io/anE1dPn - you can access Master Library with colors, components, styles

[2020-05-07 17:41] ChintanRathod commented on #1358
PR merged. Closing the issue.

[2020-05-07 17:41] #1358 closed

[2020-05-09 03:40] JamesSmartCell commented on #1379
#722 can be closed.

[2020-05-09 03:40] #722 closed

[2020-05-09 03:44] JamesSmartCell opened #1388 "Add 'Universal Scan' button"
On the wallet front page there should be a scan button next to 'add token' which looks like this [+] (see zeplin for asset - use SVG asset - don't generate many PNG's).

The result should be passed through the QRUrlDecoder and then the app assigns where to go based on the result.

There should only be three actions - if the EIP681Type is URL then open it in Dapp browser, if OTHER then fail, if any

[2020-05-10 01:59] bobjiang commented on #536
please close it, it works in some new versions, not sure which is the exact version.haha

[2020-05-11 09:18] James-Sangalli opened #1392 "When using selections, we should not show any actions until it is resolved"

[2020-05-12 12:55] colourful-land opened #1396 "util broke on the current master"
[code]

[2020-05-13 05:13] James-Sangalli opened #1399 "Implement schema 2020/06"
Do after #1187

Source: AlphaWallet/TokenScript#345

[2020-05-13 13:00] #1264 closed

[2020-05-13 13:04] colourful-land commented on #1264
When android 8 is actually obsoleted, we should revert the PR 1400
https://github.com/AlphaWallet/alpha-wallet-android/pull/1400#pullrequestreview-410900597

[2020-05-16 05:07] #1351 closed

[2020-05-18 01:38] JamesSmartCell opened #1404 "Check existing ENS sends when using reverse resolve"
When we reverse resolve ENS (ie look up an address to see if it has an ENS name associated) using:
```resolveEnsName(String address)```, if we don't get any result from the ```reverseResolve``` method we should also check the previously used ENS names which are retrieved here: ```getENSHistoryFromPrefs();``` in ```class AutoCompleteUrlAdapter```.

If we resolve the address for those (using ```reso

[2020-05-19 01:00] zhangzhongnan928 opened #1407 "Uniswap, Pool/Remove Liquidity/Remove/Sign doesn't work"
https://github.com/Uniswap/uniswap-frontend/issues/795

[2020-05-19 01:07] #1321 closed

[2020-05-20 04:27] zhangzhongnan928 opened #1412 "need a <speed up pending transaction> function"
one transaction sends with lower gas will block all the other transaction.
speed up pending transaction function can be quite useful: resend the same transaction with same Nonce but higher gas.
https://github.com/AlphaWallet/alpha-wallet-ios/issues/1809

[2020-05-20 07:00] hellolucas commented on #1363
@all-contributors please add @James-Sangalli for code

[2020-05-20 07:17] hboon opened #1414 "Modify setProps() to include error callback when prop(s) clash with existing card attribute #1808"
Like https://github.com/AlphaWallet/alpha-wallet-ios/issues/1808

[2020-05-21 05:51] hellolucas commented on #1412
@all-contributors please add @zhangzhongnan928 for ideas

[2020-05-21 05:51] hellolucas commented on #1414
@all-contributors please add @hboon for ideas

[2020-05-21 05:53] hellolucas commented on #1373
@all-contributors please add @AW-STJ  for projectManagement

[2020-05-21 05:53] hellolucas commented on #1077
@all-contributors please add @colourful-land for code

[2020-05-21 05:53] hellolucas commented on #830
@all-contributors please add @tomekalphawallet for design

[2020-05-21 05:55] hellolucas commented on #766
@all-contributors please add @rstormsf for bug

[2020-05-21 16:46] ChintanRathod commented on #1377
@tomekalphawallet There are some parameters not mentioned in the Zeplin design. Below is difference between previous and current zeplin screen.

![image](https://user-images.githubusercontent.com/4371780/82583033-7a804f00-9bb0-11ea-8b31-9c568b24b3e2.png)

Missing parameters are

- Crypto received
- Confirmation

Could you please confirm whether we are not expecting to have this details on the "Tra

[2020-05-21 19:20] ChintanRathod commented on #1377
@JamesSmartCell In this Zeplin design, there is new parameter added to display "Transaction Initiated" which we are not getting in "Transaction". Should we show it or only "Transaction Time" is sufficient?

[2020-05-22 04:38] JamesSmartCell commented on #1412
Nice idea! @tomekalphawallet let me know when you have a flow for this.

[2020-05-22 04:38] James-Sangalli opened #1422 "Can't read any TS (local or from server) if api for signature verification is down"

[2020-05-22 04:41] JamesSmartCell commented on #1377
Hi @ChintanRathod , can you add the confirmations in a bracket after the block number. So it should look something like this:
[code]

We may want to change this later, but the confirmation depth is useful information.

[2020-05-22 06:30] ChintanRathod commented on #1377
@JamesSmartCell OK Sure. Should we also keep "Received" amount information on top too? It is valuable too.

[2020-05-24 13:29] James-Sangalli opened #1425 "Implement attribute type modification 2020/06"
https://github.com/AlphaWallet/TokenScript-Examples/pull/79/files

[2020-05-25 07:32] tomekalphawallet commented on #1377
@ChintanRathod Yes, you can. This is mentioned already in the previous screen. But you can add "Amount" at the top of the Transaction Details screen.

<img width="1362" alt="Screenshot 2020-05-25 09 31 04" src="https://user-images.githubusercontent.com/51817359/82789489-aa5a7b80-9e6a-11ea-956a-5fabf771ff89.png">

[2020-05-25 10:42] James-Sangalli commented on #1363
done with https://github.com/AlphaWallet/TokenScript-Repo/commit/35a0cc4db6067bd80db3b0e74eb40184a4c446a5

[2020-05-25 10:42] #1363 closed

[2020-05-25 10:59] James-Sangalli opened #1428 "DMZ landing page failing"
error: com.alphawallet.token.entity.SalesOrderMalformed: Invalid link format

On commit 225d0d5347dc0939e96993e8de4536ced157e9be

[2020-05-25 11:02] James-Sangalli opened #1429 "Rename DMZ to something that is more logical"

[2020-05-26 12:11] zhangzhongnan928 opened #1430 "Gas price +1"
Can we be a bit more aggressive with the gas price? If the node returns with a gas price n, then we should use n+1 as the gas price.

[2020-05-27 03:43] ChintanRathod commented on #1388
@JamesSmartCell Are we referring to below screens?

![image](https://user-images.githubusercontent.com/4371780/82975527-58e0f680-9ffa-11ea-9d9f-a58138b13d0f.png)

https://app.zeplin.io/project/5d088205bff2d15de6a4397b/screen/5e6f655d83d042179a137405
https://app.zeplin.io/project/5d088205bff2d15de6a4397b/screen/5e6f64f0de850113ba37080a

[2020-05-27 04:58] ChintanRathod commented on #1315
@JamesSmartCell Could you please close this ticket as PR is merged.

[2020-05-27 06:55] #1179 closed

[2020-05-27 06:55] #1181 closed

[2020-05-27 06:55] #1184 closed

[2020-05-27 06:55] #1186 closed

[2020-05-27 07:07] colourful-land commented on #1434
This issue was filed in Feb in the wrong repository that's why it took so long.

[2020-05-27 07:20] zhangzhongnan928 commented on #1434
currently, these are in wallet code, but should they be in TokenScript?
@colourful-land

[2020-05-27 07:23] zhangzhongnan928 commented on #1434
Thanks for the suggestions @whtyfhas
close to https://github.com/AlphaWallet/alpha-wallet-android/pull/1436

[2020-05-27 07:23] #1434 closed

[2020-05-28 23:36] JamesSmartCell commented on #1430
Make the gas price slightly higher than the recommended? This could be done in conjunction with making the fact you can change the gas price more obvious, since one person couldn't work it out.

[2020-05-28 23:40] JamesSmartCell opened #1437 "Make gas price adjustment more obvious"
Recently we got a 1* review because someone didn't like the suggested gas price (over 30 gwei, during 100% ethereum loading) and didn't know/weren't aware gas price is decided by supply/demand loading not by the wallet.

Also they didn't know you could adjust the gas price.

Could we make it more obvious that the gas price can be adjusted on the confirmation screen? When someone's looking at the g

[2020-05-28 23:51] zhangzhongnan928 commented on #1430
Yes, just 1 gwei higher as default

[2020-05-29 03:25] hboon commented on #1437
@JamesSmartCell Remember we have a yet-to-implement action sheet-style UI replacement for confirmation screens. That would help https://zpl.io/aNJ6Ykv

[2020-05-29 04:30] #1399 closed

[2020-05-29 08:37] JamesSmartCell commented on #1437
@hboon I'm not allowed to see that page :(

[2020-05-29 08:46] hboon commented on #1437
@JamesSmartCell I see a similar one for Android in https://app.zeplin.io/project/5d088205bff2d15de6a4397b/screen/5e996534a4a77b53a3c35ef0

But it looks like it's not in-sync, the iOS version has the gas displayed. @tomekalphawallet would you help to grant James access?

<img width="408" alt="Screenshot 2020-05-29 at 4 45 33 PM" src="https://user-images.githubusercontent.com/56189/83240338-d3ad3b80

[2020-05-29 10:05] tomekalphawallet commented on #1437
You are now.

[2020-05-29 10:20] tomekalphawallet commented on #1437
What if:

By default, we use a recommended speed. When the action sheet is extended, they can set up manually. If they change their mind, the toggle can set it back to the recommended speed.

<img width="1683" alt="Screenshot 2020-05-29 12 18 10" src="https://user-images.githubusercontent.com/51817359/83249182-7c48a480-a1a6-11ea-9bb5-ca3083cfc7a1.png">

[2020-05-29 10:26] hboon commented on #1437
@tomekalphawallet That’s the current design of the actionsheet right?

I think in this case, the recommended gas is too much (to the user especially because it can fail). So a possible improvement is to hardcoded a heuristic and display a warning of some sort when gas amount > $X or X ETH

What do you think?

[2020-05-30 08:53] #951 closed

[2020-05-30 12:45] #1377 closed

[2020-06-01 05:34] James-Sangalli opened #1440 "xDAI card absent on 2020/06"

[2020-06-01 06:49] JamesSmartCell commented on #1388
Yes

[2020-06-01 07:43] #1440 closed

[2020-06-03 05:03] zhangzhongnan928 opened #1446 "About rounding the balance number"
For example, if the real balance is 1.537356754, the display balance should be 1.5373 instead of 1.5374

reason:
1. don't set a wrong expectation, users will expect they can get the full display balance available to use
2. since we don't have a "send maximum balance" function, users may manually key in the number display in balance, they will key in 1.5374 which will trigger "insufficient balance"

[2020-06-07 03:35] JamesSmartCell opened #1449 "Show errors for each tokenscript"
When the TokenScripts are loaded for the Management screen, any errors are thrown as ParseExceptions and are caught and currently nothing is done with them:

[code]
These should be added to the list, but labelled as error (replace the 'lock' image in the corner with the error asset - a red circle with the cross in it, this asset is already in the resources somewhere).

The error that was reported

[2020-06-07 03:39] JamesSmartCell commented on #1437
I like it - but I think we should err on the side of recommending a lower gas price unless the user requires the transaction to parse quickly. Maybe something like a 'Turbo' (or the 21st century equivalent 'Warp') button that is expensive but the user has to click it to get a < 10 mins or <1 min.

[2020-06-08 23:52] zhangzhongnan928 opened #1452 "Translation issue"
![WechatIMG1889](https://user-images.githubusercontent.com/33795543/84091074-ce0aed80-aa36-11ea-9bab-f07171fd9fdc.jpeg)

Where can I find the translation repo for this page?

[2020-06-09 00:04] zhangzhongnan928 opened #1453 "Remove issuer: AlphaWallet"
![photo_2020-06-09 09 58 17](https://user-images.githubusercontent.com/33795543/84091473-d0ba1280-aa37-11ea-8d13-52516d03afc9.jpeg)
As those tokens are not issued by AlphaWallet, and we cannot get all of the token issuers to sign a TS file.

[2020-06-09 01:13] James-Sangalli commented on #1453
@zhangzhongnan928 the wallet is ready from the signer details (when the TokenScript is signed) therefore we are labelled as the issuer for that

[2020-06-09 02:40] zhangzhongnan928 commented on #1453
I understand, but to avoid confusion, we should remove it. As inside the token page, we already have Verified by xxx(iOS) and Green Lock(Andriod)

Today some new users ask me, why DAI and USDC's issuer is AlphaWallet....

[2020-06-10 02:56] colourful-land opened #1454 "Refactor to reduce the intermediary classes that just passes signable messages (12 layers to ~ 9 levels?)"
I copied the layers analysis from issue #1556 so we can just talk about simplifying it. This issue is about reducing the layered complexity in passing Signable data within the user-agent (the part programmed in Java), that is, simplify the passage of data from Layer 5 to Layer 12

--

# Layers inside WebView (before entering Java)

## Layer 1

The web page calls `eth.personal.sign()`

## Layer 2

[2020-06-11 08:26] James-Sangalli opened #1455 "Selection condition fails when comparing admin attribute to ownerAddress"
To reproduce:

Watch: 0xD40EBAaA4Cb7fC3a5D7B373309F68B2ABCe5F1C5

go to GFO(GFO) token that has a server TS

Expected:
About Issue Move View actions should be present because ownerAddress == admin

Actual:
Only About is shown, this happens when the user is not an admin

TokenScript:
https://github.com/AlphaWallet/gf.network/blob/master/TS/GFO/GFO-TokenScript.xml#L30

[2020-06-13 11:02] #1455 closed

[2020-06-14 13:35] James-Sangalli opened #1458 "gf.network tokenscript attributes not being read via HTML elements"
To reproduce:
- import private key for 0xD40EBAaA4Cb7fC3a5D7B373309F68B2ABCe5F1C5
- got to GFT token and try to move a token

Expected:
- Attributes can be read from the HTML document and the transaction prompt shows

Actual:
- TS engine fires an error stating that the parameters are missing

<img width="357" alt="gferrorts" src="https://user-images.githubusercontent.com/16630514/84594741-b482ff00

[2020-06-14 23:59] JamesSmartCell commented on #1452
Here:

https://github.com/AlphaWallet/alpha-wallet-android/blob/master/app/src/main/res/values-zh/strings.xml

[2020-06-15 00:13] zhangzhongnan928 commented on #1452
updated.

[2020-06-15 00:13] #1452 closed

[2020-06-15 01:31] #1458 closed

[2020-06-15 01:32] #1453 closed

[2020-06-15 02:04] JamesSmartCell commented on #1425
Completed 2020/06 schema upgrade.

[2020-06-15 02:04] #1425 closed

[2020-06-15 02:54] James-Sangalli opened #1463 "TokenScript action view clears if you open another app and come back"
Go into any action, fill out some inputs then go to another app and back. The fields are wiped out.

It should preserve it

[2020-06-15 08:52] #1463 closed

[2020-06-16 06:23] nosovk commented on #404
Hello

This debug method is not working now, probably in play store build there was disabled webview debuging. Now you can't debug errors that apper with embedded web3 provider.

[2020-06-16 06:29] nosovk commented on #404
https://developers.google.com/web/tools/chrome-devtools/remote-debugging/webviews
webview debug need to be explict enabled in alphawallet code.

[2020-06-16 07:34] JamesSmartCell commented on #404
@nosovk Thanks, I'll add this in.

[2020-06-16 12:17] zhangzhongnan928 opened #1466 "Allow user to set nonce in transaction advanced page"
![image](https://user-images.githubusercontent.com/33795543/84771985-a19a3700-b01d-11ea-8cd6-1f1c18d77a09.png)

Since we won’t implement “speed up” and “cancel” transaction features any time soon, we should at least provide a “manual” way to do it. Otherwise, user will stuck with the pending transaction and there is no easy way to solve it.

[2020-06-16 12:32] nosovk commented on #404
https://github.com/AlphaWallet/alpha-wallet-android/commit/f5b7694de94c3300c43151447e4260f5e26187d5
I see it in muster, will try to build app now.

[2020-06-17 05:11] ChintanRathod commented on #1404
@JamesSmartCell When I check "getENSHistoryFromPrefs" below is the output. In this preferences, we are not storing, key-value information. Like this is only ENS name, how to compare with Address? Shall I extend this with Address-ENS name pair value storing?

**Current**
historyJson : ["jsbrown.eth"]

**Improvement**
historyJson : ["jsbrown.eth|0xC067A53c91258ba513059919E03B81CF93f57Ac7"]

In this

[2020-06-17 08:45] JamesSmartCell commented on #1404
That sounds like a good solution.

[2020-06-18 01:52] AW-STJ opened #1470 "Activity Main Screens: Checklist"
- [ ]  1. Activity item-view and view mostly use the default ERC 20/721 TokenScript
- [ ]  2. Default attribute override e.g. name, for ERC20 tokens that lack name()
- [ ]  3. Default card override
- [ ]  4. Activities that happen between last time you opened wallet
- [ ]  5. Manage performance when rendering (refer A3 for comparison of 2 methods)
- [ ]  6. Move transaction details to 'hamburger m

[2020-06-18 06:00] JamesSmartCell commented on #1422
@ChintanRathod can you have a look at this one. The code in question is in class AlphaWalletService here:

public XMLDsigDescriptor checkTokenScriptSignature(File tokenScriptFile)

it's used to check the signature of the tokenscript. Apparently if the server is down the app is prevented from downloading the script.

Recommend you delete scripts (in the data/data/io.stormbird.wallet/files directory

[2020-06-18 06:02] JamesSmartCell commented on #1315
Completed

[2020-06-18 06:02] #1315 closed

[2020-06-18 06:03] JamesSmartCell commented on #1446
@zhangzhongnan928 can you check the latest build to see if this is now fixed?

[2020-06-18 06:54] JamesSmartCell opened #1471 "Use Web3j Estimate gas to get a more accurate gas estimate"
I wrote an outline method to estimate gas for transaction calls (it doesn't work because of network on main thread and also needs to be broken up via flow):

[code]

This call would go in class ConfirmationViewModel, and replaces the estimate heuristic in GasService:

[code]

Which is a 'naïve' implementation that doesn't take account of loops, special functions etc.

You will need to check
[code]

[2020-06-18 07:36] zhangzhongnan928 commented on #1446
fixed

[2020-06-18 07:36] #1446 closed

[2020-06-18 08:11] JamesSmartCell commented on #1454
@colourful-land we can add an extra path into the web3 inject callbacks for this, and then implement the code within the java wallet. You have access to sha3 via spongy castle. The web3j implementation of sha3 uses keccak at the backend.

[2020-06-22 02:00] colourful-land opened #1474 "mysterious double slash in token item-view should be corrected."
Observe the 40th second and how the double-slash disappears in a while.

[record_2020-06-22-11-42-40.webm.gz](https://github.com/AlphaWallet/alpha-wallet-android/files/4810777/record_2020-06-22-11-42-40.webm.gz)

[2020-06-22 06:58] #1404 closed

[2020-06-22 07:05] #1449 closed

[2020-06-22 09:04] JamesSmartCell opened #1476 "Analytics for AlphaWallet"
Apply Firebase analytics to base AlphaWallet.

Duplicate the work done for the Qoin fork on the main repo.

You will need to liase with @hboon to ensure only the features agreed upon for the main branch are implemented.

Specifically:

- Events need to be anonymous - no addresses, transaction hashes etc.

[2020-06-22 15:15] nosovk commented on #404
is there any release plan?
Latest update in market was 7 days ago, just before accepted fix. Is there some release map?

[2020-06-24 05:00] colourful-land opened #1479 "Mysterious token"
![Screenshot_20200624-145512](https://user-images.githubusercontent.com/548435/85502794-73bf7e80-b62b-11ea-9af8-5419575ce125.png)

[2020-06-24 05:03] James-Sangalli commented on #1479
<img width="759" alt="bad-token" src="https://user-images.githubusercontent.com/16630514/85502955-d9136f80-b62b-11ea-9c01-cc5e146dc060.png">

[2020-06-24 13:21] #1407 closed

[2020-06-25 01:45] zhangzhongnan928 opened #1488 "Add Androad apk and iOS TestFlight download link in MagicLink landing page"
Please add Androad apk and Apple TestFlight download link in MagicLink landing page
https://alphawallet.com/apk/Release-v3.00.2.apk
https://testflight.apple.com/join/HRsmubhS

![Screen Shot 2020-06-25 at 11 43 34 am](https://user-images.githubusercontent.com/33795543/85644086-52b56700-b6d9-11ea-9019-0b68c015ad99.png)

[2020-06-25 07:01] JamesSmartCell commented on #1479
@colourful-land Wallet address?

[2020-06-25 07:02] JamesSmartCell commented on #1479
Also what address do you get if you click on it and extract the contract address?

[2020-06-25 07:11] JamesSmartCell commented on #1474
@colourful-land Provide watch wallet address for reproducibility.

[2020-06-25 10:11] ChintanRathod commented on #1476
@hboon Do we have similar implementation like Qoin in iOS AlphaWallet or we have lower down the events?
Could you please address which events are integrated in iOS app?
Link to the issue and output would be great if we have.

[2020-06-25 10:24] hboon commented on #1476
@ChintanRathod we haven’t settled on the list of events yet so the PR I have created doesn’t log any events. I have created some scaffolding for a different (but currently empty) set of events so it’s easier to keep the 2 iOS repos in sync. If we still don’t have a list of events after a while, we can probably just ship it without any events being logged. It still automatically logs sessions etc,

[2020-06-25 10:25] hboon commented on #1476
The iOS PR: https://github.com/AlphaWallet/alpha-wallet-ios/pull/1864

[2020-06-25 10:39] ChintanRathod commented on #1422
I am not able to reproduce this issue. I did follow steps,
- Watch 0xD40EBAaA4Cb7fC3a5D7B373309F68B2ABCe5F1C5 account
- Tap on GFO with value 11,690
- Check for data/data/io.stormbird.wallet/files which is blank after tapping
- Also checked in TokenScript Management where no files with 0xc132bd...

![image](https://user-images.githubusercontent.com/4371780/85704519-fdd81780-b6fd-11ea-892d-505cbbfb

[2020-06-25 11:07] ChintanRathod commented on #1476
@hboon I understand. I will look after your given PR and implement in Android accordingly.

[2020-06-26 06:52] ChintanRathod commented on #1476
@hboon I checked given PR and it has MixPanel integration and no Firebase (I couldn't find any GoogleService-Info.plist file).
So are we integrating MixPanel for iOS and Firebase in Android?
cc @JamesSmartCell

[2020-06-26 07:18] hboon commented on #1476
@ChintanRathod Mixpanel requires Firebase to send remote notifications for Android, but Mixpanel sends them iOS devices directly.

So for Android, you'll want Mixpanel + Firebase. If the Firebase SDK wasn't integrated previously (I thought it was). You'll need to check with James (or figure out yourself) that it doesn't pose a problem for China. It used to be that just including the Firebase (or w

[2020-06-26 07:19] hboon commented on #1476
@ChintanRathod I wouldn't worry too much about how iOS implements analytics internally (other than to look for events to log, which we don't have yet). I suppose you'll want to structure or restructure the code as close to what was done for our other Android fork so it's easier to merge and maintain.

[2020-06-26 10:45] tomekalphawallet opened #1485 "Get rid of two "+" buttons from the wallet tab"
@ChintanRathod

We need a quick change.
Currently, we have two "plus" icons in the Wallet tab. This is very confusing, but we can fix this quite easy and quickly.

![2020-06-26 12 24 27](https://user-images.githubusercontent.com/51817359/85848778-071ebe00-b7aa-11ea-99eb-1ac30fffe7a9.jpg)

So we need to change what follows:

1. Take out the very top + button and replace it by QR icon https://zpl.io

[2020-06-26 14:48] colourfreak opened #1486 "Update Input Fields look [Fiji]"
Zeplin:

Blank
https://app.zeplin.io/project/5d088205bff2d15de6a4397b/styleguide/components?cseid=5e218a805b5b617d8eec7aef

Entering:
https://app.zeplin.io/project/5d088205bff2d15de6a4397b/styleguide/components?cseid=5e218c6773e393a79c640116

Entered:
https://app.zeplin.io/project/5d088205bff2d15de6a4397b/styleguide/components?cseid=5e218cbacf6a85ab00ee4d3b

Error:
https://app.zeplin.io/project/5d

[2020-06-26 14:51] tomekalphawallet commented on #1486
You can pay a special attention to numeric keyboard (when entering amount)

a) dai/xdai bridge
<img width="810" alt="Screenshot 2020-06-26 at 16 49 51" src="https://user-images.githubusercontent.com/51817359/85870218-1105e880-b7cd-11ea-88ea-09729473c460.png">

b) send coin
<img width="814" alt="Screenshot 2020-06-26 at 16 50 16" src="https://user-images.githubusercontent.com/51817359/85870262-1ebb

[2020-06-26 14:52] tomekalphawallet commented on #1486
There was a very similar issue on iOS https://github.com/AlphaWallet/alpha-wallet-ios/issues/1742

[2020-06-26 15:00] tomekalphawallet commented on #1486
https://zpl.io/awRP9yN
https://zpl.io/aNg1d4D
https://zpl.io/VqqnGxJ

[2020-06-26 15:01] tomekalphawallet commented on #1486
<img width="583" alt="Screenshot 2020-06-26 16 59 03" src="https://user-images.githubusercontent.com/51817359/85871374-98a02700-b7ce-11ea-8a10-76d373410de6.png">

[2020-06-26 15:04] tomekalphawallet opened #1487 "Update "Add / Hide Tokens" screen"
Zeplin:
https://app.zeplin.io/project/5d088205bff2d15de6a4397b/screen/5e209479cbb745a93fbda293/

This is how it looks now:
![2020-06-26 14 51 28](https://user-images.githubusercontent.com/51817359/85871563-dd2bc280-b7ce-11ea-87df-6d21b9d64681.jpg)

---

And this is how it should look like

<img width="413" alt="Screenshot 2020-06-26 17 03 40" src="https://user-images.githubusercontent.com/51817359

[2020-06-29 06:11] colourful-land commented on #1485
@ChintanRathod I second this, this fix should be quickly done and released!

[2020-06-29 06:31] colourful-land commented on #1488
I think the magiclink landing page is currently still served by the code in the android-repo right?

[2020-06-29 14:35] ChintanRathod commented on #1485
@colourful-land Generated PR, could you please check.

[2020-06-30 06:26] colourful-land opened #1490 "when user is on ropstern, the ETA is taken from mainnet"
When I am on ropstern, the with the default gas it showed around 300 mins ETA.

So I clicked OK anyway thinking I can wait 5 hours.

Then it gets included in the blockchain in 1 minute.

This hint that perhaps the ETA is taken from the mainnet, not the current (ropstern)

recommend: If you don't have a reliable ETA for ropstern, make ETA go away except for the chains you have ETA.

[2020-06-30 07:01] #1388 closed

[2020-06-30 07:03] #1485 closed

[2020-06-30 07:30] JamesSmartCell commented on #1490
This is correct. The API we're using only has stats for mainnet. I figured it wasn't a high priority since it only affects testnets. It will also affect iOS, although I don't think iOS has implemented this API yet.

Currently there's no way to solve this one, other than guessing. Therefore it's not a good candidate for an assigned fix unless someone wants to write a guessing heuristic for each of

[2020-06-30 07:34] colourful-land commented on #1490
That's what I proposed there at the beginning of the issue. By doing so, does it help to reduce the difference between forks and ours (where forks default to a net that is different than mainnet so we automatically not provide ETA)?

[2020-06-30 07:34] colourful-land commented on #1490
And every net that is not mainnet - e.g. Nervos

[2020-06-30 07:59] JamesSmartCell commented on #1490
Let's do this as a quick fix then - don't display any time estimate just use 'slower' and 'qucker'.

[2020-06-30 11:24] JamesSmartCell commented on #1487
@ChintanRathod use the 'glide' method in class TokenHolder, in method displayTokenIcon().

Move the iconCheck map into the assetDefinition service and have your new method check it so we only check for the icon once per app session (that boolean mapping links to the 'onlyRetrieveFromCache' which tells the glide library not to try downloading the icon again. Without this, the app checks the URL eve

[2020-06-30 12:22] JamesSmartCell commented on #1486
@ChintanRathod address book can go in on a different PR, make this PR only about the appearance.

[2020-07-01 06:49] #1490 closed

[2020-07-01 08:49] AW-STJ commented on #1373
Hey Justin.. can you explore whether we can use the APIs from Circle to buy USDC?

Thinking is that once you have USDC, we can then swap that into any other tokens through the markets. So for now, the scope remains the same, but focusing on using cards for buying USDC.

[2020-07-02 07:41] tomekalphawallet commented on #1487
We don't need QR Scanner icon in there.
![2020-07-02 09 29 34](https://user-images.githubusercontent.com/51817359/86330511-138e9500-bc48-11ea-8276-2765798561de.jpg)

[2020-07-02 07:47] tomekalphawallet opened #1493 "Remove QR Code Scanner icon from Change Wallet screen"
![2020-07-02 09 22 42](https://user-images.githubusercontent.com/51817359/86331058-d8409600-bc48-11ea-9e5f-f58390f71c66.jpg)

[2020-07-02 13:03] #1430 closed

[2020-07-02 23:11] JamesSmartCell commented on #1493
fixed in latest build.

[2020-07-02 23:11] #1493 closed

[2020-07-03 06:28] ChintanRathod commented on #1487
For Glide, it is providing temporary/permanent caching in memory. I will check if we are using that feature or not. I would say temporary download and reusing it is a good idea.

Another question is in my mind like, how to bifurcate the list with 3 categories.
- XX New token found
- Displayed Tokens
- Hidden Tokens.

I check response from service and could find matching criteria. Could you share i

[2020-07-03 07:44] JamesSmartCell commented on #1487
No need to check - we're already using it extensively and this is how we handle token icons.

I'm going to move handling this into a separate PR. For now, just show displayed tokens and hidden tokens. Displayed or hidden is based on the position of the switch.

[2020-07-03 08:40] tomekalphawallet opened #1495 "Update Light, My QR Code, Browse buttons in Scan QR Code screen"
**Current:**

![2020-07-03 10 18 00](https://user-images.githubusercontent.com/51817359/86450122-5a988b00-bd19-11ea-9cfa-65a9a7084390.jpg)

**We need:**
a) Light - tour on the light in your camera
b) My QR Code - switches to "My Wallet Address" screen
c) Browse - to select images from your Camera Roll

<img width="412" alt="Screenshot 2020-07-03 10 36 30" src="https://user-images.githubusercontent

[2020-07-03 09:15] tomekalphawallet commented on #1086
Along with this change, we need to update font and spacing on wallet tab:

- native crypto where fiat value is available
https://app.zeplin.io/project/5d088205bff2d15de6a4397b/styleguide/components?coid=5e96e1bf41b00851c1fb454a
https://app.zeplin.io/project/5d088205bff2d15de6a4397b/styleguide/components?coid=5e96e1bea5ea847f77c9ca27
<img width="879" alt="Screenshot 2020-07-03 11 08 08" src="https:

[2020-07-03 09:35] tomekalphawallet opened #1496 "Speed up transaction"
Not sure if this function works. I speeded up the transaction, but this is still pending for about 8 minutes now.
0x252d576642029b9e4651a21007fffa0a77679046b7a4da5368736eecef027d30
![2020-07-03 11 29 56](https://user-images.githubusercontent.com/51817359/86455243-9f73f000-bd20-11ea-97b7-372a448ec8c6.jpg)

Anyway, for better UI, you can use this:
<img width="684" alt="Screenshot 2020-07-03 11 26 18

[2020-07-06 02:45] #1471 closed

[2020-07-06 03:08] zhangzhongnan928 opened #1497 "Preset gas limit for common transactions"
Like ETH transfer and standard ERC20 transfer.
Currently, it is using a very high default gas limit.
due to the high gas limit and gas price, users are not able to submit a transaction, as their wallet balance is lower than the estimate max gas fee.

[2020-07-06 05:43] JamesSmartCell commented on #1497
Does the recent enhancement which shows gas estimate and gas estimate cost help here? Try the latest release.

[2020-07-06 05:46] JamesSmartCell commented on #1496
Hi @ChintanRathod can you update the app to reflect the spec?

@tomekalphawallet yes it works - the suggested increase is only 1 Gwei each time though, pending more investigation. I also added a touch sensor to the values as even frequent users didn't realise you can change the gas settings. I like the bubble that draws attention to the control.

[2020-07-06 05:50] JamesSmartCell commented on #1495
Hi @ChintanRathod can you complete the controls? Browse may be more tricky to implement; there should be part of the existing QR scanner that parses images though; let's see if we can achieve this without needing additional libraries.

[2020-07-06 05:52] JamesSmartCell commented on #1466
We have implemented 'speedup' in the wallet now. Cancel has been written but not implemented as we are designing the UX for it, the process for which is only intuitive for an ethereum developer.

Not sure which circumstances that change nonce will be used for.

[2020-07-06 06:25] zhangzhongnan928 commented on #1466
have speedup already

[2020-07-06 06:25] #1466 closed

[2020-07-06 06:39] zhangzhongnan928 commented on #1497
different issue,
For example,
The currently default gas limit in Android for an eth transfer is 90,000, the real usage is 21,000, if gas price is 1,
with a gas limit at 21,000, I only need to have at least 21,000 Gwei to submit a transaction
If the gas limit is at 90,000, and my balance is below 90,000 Gwei, I won't be able to submit a transaction.

Users asked why they can submit an erc20 transfe

[2020-07-06 07:21] tomekalphawallet commented on #1495
@ChintanRathod You can take a look at how WeChat did this. Their scanner Is very good.

[2020-07-06 07:39] tomekalphawallet commented on #1496
All good. Just keep in mind guys, that at one point we will also have a confirmation action sheet. So the flow would look slightly different (you can set speed by expanding a tab).

![send-eth-android-flow](https://user-images.githubusercontent.com/51817359/86566822-99714f80-bf6a-11ea-8987-f8efab2470e4.jpg)

[2020-07-06 13:04] zhangzhongnan928 commented on #1488
Who should I assign this issue to?

[2020-07-07 00:56] JamesSmartCell commented on #1497
Ah ok. I don't think the gas fee is factored in until the node call; but we can drop the limit for standard calls that we know in advance the exact gas fee. The gas estimate will catch and compensate for any token that appears to be ERC20 but which has a modified Transfer which has extra components and higher gas fee, so it's now safe to implement.

[2020-07-07 00:59] JamesSmartCell commented on #1496
@ChintanRathod note that the above spec "Sent ETH" is outside the scope of this issue, this is a separate body of work on its own.

[2020-07-07 01:03] JamesSmartCell commented on #1488
Can we have a fixed APK link? eg

https://alphawallet.com/apk/Android-Release.apk

This way we don't need to keep updating the APK link for each release. For legacy APK we could rename each one with its version number.

[2020-07-07 01:05] JamesSmartCell commented on #1422
Yes, you need to fake that the API is down - change the API calling code so it returns an error, then investigate why the API can't complete if there is an error at that stage.

[2020-07-07 01:07] JamesSmartCell commented on #1412
I added a 'speedup' button to the transaction detail view if the transaction is pending. This button sends you to the confirmation page with the gas fee bumped by 1 Gwei. With the modification outlined in a different issue it should be very obvious how to choose the new speed.

[2020-07-07 01:11] JamesSmartCell commented on #1384
NB the list at the top of this page is now very outdated: it appears to be based on a pre-Fiji build. Need to produce a new list. All the instances of the old button are all on the ERC875 flow; so the importance of this modification is somewhat reduced.

ERC875 Redeem is the only screen I could find the old style.

[2020-07-07 01:18] zhangzhongnan928 commented on #1488
Yes make sense
https://alphawallet.com/apk/Android-Release.apk
Done, currently, it is the v3.00.2

[2020-07-07 01:22] #1412 closed

[2020-07-07 03:56] ChintanRathod commented on #1495
Sure. I will compare it.

[2020-07-07 03:56] ChintanRathod commented on #1495
OK. I will check for existing one and implement accordingly

[2020-07-07 05:56] tomekalphawallet commented on #1495
@ChintanRathod Chintan, to make it easier, let's make a version without a "Browse" for now. So only the light and switch to My Wallet Address. Can we release that this week?
https://app.zeplin.io/project/5d088205bff2d15de6a4397b/screen/5f040d37b4215b7cddae21f6/

[2020-07-07 06:05] tomekalphawallet commented on #1495
<img width="573" alt="Screenshot 2020-07-07 at 08 05 06" src="https://user-images.githubusercontent.com/51817359/86723863-93da3f00-c028-11ea-8ff5-6268742c84f1.png">

[2020-07-07 07:48] zhangzhongnan928 opened #1498 "Scan QR Code in Build 3.00.4(117)"
![photo_2020-07-07 17 46 41](https://user-images.githubusercontent.com/33795543/86740347-ec85f800-c079-11ea-88ea-0f478e00da85.jpeg)

These 3 buttons have the same name, and none of them has any functions

[2020-07-07 12:16] ChintanRathod commented on #1495
@tomekalphawallet Could you please help me to have a "Flash Off" icon? I temporary used from Android Assets but if you can would be great.

[2020-07-08 02:34] JamesSmartCell commented on #1498
This is in known and a fix is in progress I think.

[2020-07-08 03:00] JamesSmartCell commented on #1495
Let's see if we can use the existing library - not sure how difficult it will be to hook between the code that scans images and the camera image update. Hopefully we can pass the images in the format the scanner likes. Looks like this area of the source would be the useful code - we might be able to pass the image if we can convert to a 'BinaryBitmap':

[code]

[2020-07-08 04:30] ChintanRathod commented on #1498
Issue is fixed in #1495

[2020-07-08 04:37] ChintanRathod commented on #1495
I have same implementation which converts the Bitmap into BinaryBitmap like below.

![image](https://user-images.githubusercontent.com/4371780/86876599-b50f5e00-c102-11ea-9423-9e1467cd2470.png)

[2020-07-08 04:38] JamesSmartCell opened #1501 "Standardise ticker information"
check the screen here:

https://zpl.io/2yANRyK

The ticker information (fiat value, unit value and 24hr change) are shown differently from the existing display which are 24 hr change, appreciation and fiat value.

Change required to tokenholder and the ticker class to reflect the different information and new layout.

[2020-07-08 06:05] tomekalphawallet commented on #1495
https://zpl.io/bzg4vg4

[2020-07-08 06:50] ChintanRathod opened #1502 "Camera Browse issue - NotFoundException"
While using stored picture to decode the QR code, Zxing library is not working and throwing "NotFoundException"

[2020-07-08 06:52] AW-STJ commented on #1502
cc @tomekalphawallet

[2020-07-09 14:40] tomekalphawallet opened #1504 "Improve Smart QR Code Scanner [Fiji]"
It is a bit complex task.

Zeplin:

1. When scanning ETH Address
a) Send to this Address https://app.zeplin.io/project/5d088205bff2d15de6a4397b/dashboard?seid=5e6f641b060131115f1bc1c6
b) Add to Address Book https://app.zeplin.io/project/5d088205bff2d15de6a4397b/dashboard?seid=5e6f648d82a344183b52c43c
c) Watch Wallet https://app.zeplin.io/project/5d088205bff2d15de6a4397b/dashboard?seid=5e6f64c5fae4

[2020-07-09 14:51] tomekalphawallet commented on #1504
When scanning ETH Address - Add to Contacts

![Zrzut ekranu 2020-07-09 o 16 41 55](https://user-images.githubusercontent.com/51817359/87054765-cc824000-c203-11ea-9c48-cfa019baf5dc.png)

When scanning ETH Address - Watch Wallet

![Zrzut ekranu 2020-07-09 o 16 42 16](https://user-images.githubusercontent.com/51817359/87054803-d9069880-c203-11ea-90f8-19c7f0073c28.png)

When scanning ETH Address - Sen

[2020-07-09 23:32] JamesSmartCell commented on #1504
Which ones of these aren't working?

[2020-07-10 08:00] tomekalphawallet commented on #1504
It does not replace that behaviour, but goes in parallel. So if you want to add custom token you can:
a) launch a qr code scanner, scan a smart contract qr, hit "Add Token" to confirm adding prefilled form (symbol, balance, contract address, token's name)
b) you can add a custom token by: hit add/hide token in the wallet tab, hit "+", and enter details.

Makes sense?

--
Also, can I request you to

[2020-07-11 04:39] #1495 closed

[2020-07-12 01:40] JamesSmartCell commented on #1504
@ChintanRathod I applied Tomek's suggestion to display an error within the QR scanner and resume scanning, rather than fold back to home and show scan error (as I mistakenly directed you to do), so no need to apply that fix now.

Addressbook integration is still being designed, so you can just add this as a hidden option that doesn't go anywhere for now.

[2020-07-13 01:28] JamesSmartCell commented on #1501
@ChintanRathod hold off on this one (only do layout and holder update, no underlying code, keep the same values as the existing ticker) - as the source is significantly changing over the next week and any modification to any other ticker values will need to be done again.

[2020-07-13 01:29] #1498 closed

[2020-07-13 11:59] zhangzhongnan928 opened #1507 "Ethereum card disappeared"
Add contract 0x26EaC4b2080C343621c9792C0F27EDD25E2c3197 as watch wallet

Manually add token 0x26EaC4b2080C343621c9792C0F27EDD25E2c3197

Then Ethereum card disappeared

![Screenshot_20200713-215339.png](https://user-images.githubusercontent.com/33795543/87302165-3bd59800-c554-11ea-8d0e-6e2ff8d48348.png)

[2020-07-16 05:53] colourful-land opened #1513 "app language doesn't change if the user changes mobile language"
Change to Spanish - Spain on Android
Observe that every app started speaking Spanish however αW remains English
Go to Settings and change the language there fixes the problem

but it should do so automatically.

[2020-07-16 05:56] colourful-land opened #1514 "αW not protecting the wallet recovery user entry screen"
~~1. When the user enters backup-activity, he gets a message explaining what's seed phrase / keystore json. at which point he can't take a screenshot or make video recording. This screen *should not* be protected (the one after it should)~~ (removed as Chintan raised a question on this and I prefer to progress the next item without addressing it)

2. When the user recover from a backup, he types j

[2020-07-16 06:34] colourful-land opened #1515 "face ID doesn't work (Galaxy Tab)"
Reproduce:

1) import wallet -> json
2) type password
3) system prompt "Provide authentication to create key" but nothing happens.

![IMAG1269](https://user-images.githubusercontent.com/548435/87635308-28a80f80-c782-11ea-9312-50346e4452b3.jpg)

[2020-07-16 07:06] colourful-land opened #1516 "Back button in the browser doesn't go to the previous web page"
Android's back button in the browser doesn't go to the previous web page Instead, it goes to the previous tab. The user has to hit the "Back" button on the upper-left-hand in order to go back. This issue asks it to function the same

You might ask: If we allow the back button behaves like a normal browser, then how does the user go back to the token card the user was at?

The answer is the user ca

[2020-07-16 07:13] colourful-land opened #1517 "request to remove "Show my Wallet Address" in Settings"
Reassign to Chintan if you agree. The button is already there in Wallet tab, do you still need it there in "Settings"?

[2020-07-17 06:25] ChintanRathod commented on #1514
@colourful-land
I check the code and found that "BackupKeyActivity" has global SECURE_FLAG enabled. It has different backup states it passes through. So regardless of state, it will protect the user from taking picture or recording.
Question: Should this behave state of backup process wise?

[2020-07-18 01:24] JamesSmartCell commented on #1515
Yes the now deprecated authentication code needs to be bought up to date

[2020-07-19 01:21] colourful-land commented on #1514
I don't understand the question

[2020-07-19 01:29] colourful-land opened #1519 "error using MyEtherWallet.com"

[2020-07-20 01:06] JamesSmartCell commented on #1519
It could be because the Wallet security EIP hasn't been fully implemented?

[2020-07-20 01:14] JamesSmartCell commented on #1514
@colourful-land As it stands you can't record or photograph any part of the backup key activity. Changing this behaviour is very dangerous.

[2020-07-20 01:45] JamesSmartCell commented on #1514
@ChintanRathod I discussed this with Weiwu can you update the PR so that:

- The initial backup screen, which is either the 'Back up your wallet with seed phrase' or 'What is Keystore JSON?' is a separate, tiny activity which can be photgraphed.
- On clicking the 'Back up my wallet' or 'Export Keystore JSON' button you are taken to the BackupKeyActivity which has the 'SECURE_FLAG' set.

This way t

[2020-07-20 01:57] JamesSmartCell commented on #1516
This area is plagued with trouble since the beginning.

The issue is that we're using the browser's built in history but overriding it under certain conditions to get the tabs working correctly with it.

The browser back and forward buttons do actually work exactly as expected within a single session, but when spread out over several sessions there can be inconsistencies, which are probably notice

[2020-07-20 01:59] JamesSmartCell commented on #1507
Fixed within #1520

[2020-07-20 02:00] JamesSmartCell commented on #1515
Note - this will be addressed when the updated Fiji security flow is implemented.

[2020-07-20 04:15] ChintanRathod commented on #1514
@JamesSmartCell OK. Understood and I will do it.

[2020-07-20 08:46] tomekalphawallet commented on #1516
I can take care of it tomorrow or on Wednesday. I am super busy with DeFi at the moment.

[2020-07-20 12:42] tomekalphawallet opened #1521 "Add Telegram customer support to Settings"
https://app.zeplin.io/project/5d088205bff2d15de6a4397b/screen/5e21dbe3444ae12ba600c510/

First triggers Customer Support
https://t.me/AlphaWalletSupport

Second triggers AlphaWallet Group
https://t.me/AlphaWalletGroup

![Zrzut ekranu 2020-07-20 14 42 26](https://user-images.githubusercontent.com/51817359/87938703-41246c80-ca97-11ea-8790-f61b371e1b4d.png)

[2020-07-20 23:28] colourful-land opened #1522 "alphawallet flips upside down when user click "import""
Reproduce:

1. Put the device side way.
2. Do the import. See this video
(If you can't reproduce the issue, rotate the device 180 degrees then start again. It seems "Import" always makes the app goes to one specific side).

![screenrecord](https://user-images.githubusercontent.com/548435/87996056-8ba7f680-cb34-11ea-9806-1370b2f08d1e.gif)

[2020-07-23 09:26] #1497 closed

[2020-07-26 03:32] JamesSmartCell commented on #1522
Closed by #1530

[2020-07-26 03:32] #1522 closed

[2020-07-26 03:37] JamesSmartCell opened #1532 "Re-add the gradle switch for removing analytics"
Previously you added code for a switch in gradle to be able to not add the firebase libraries if switched off in the build.

In the new PR these weren't implemented.

Can you re-implement the gradle switch, as it was a good idea to easily switch between firebase and non-firebase builds.

[2020-07-26 12:39] colourful-land opened #1533 "allow nonce of 0?"
Feedback from a user:

I think this can be a hotfix release candidate. I don't know how to fix it but shouldn't be difficult to figure out.

[2020-07-27 01:32] AW-STJ commented on #1533
Looks like this issue is from a previous build. Nonce control is not available in the latest Playstore version of AlphaWalelt as the current version includes SpeedUp function.

[2020-07-27 04:03] #1496 closed

[2020-07-27 04:04] ChintanRathod commented on #1501
@JamesSmartCell Shall this be closed as PR merged?

[2020-07-27 10:02] tomekalphawallet opened #1534 "Update WalletConnect icon"
Zeplin:
https://zpl.io/VY7JKYk

<img width="392" alt="Screenshot 2020-07-27 12 01 48" src="https://user-images.githubusercontent.com/51817359/88530015-0f645600-d001-11ea-88a6-783a5267a4a8.png">

[2020-07-28 10:43] ChintanRathod commented on #1532
@JamesSmartCell Till my knowledge, due to Product Flavor and different directories we need to create, we have dropped to include that into PR.
Could you please clarify on this part? As if we want to achieve that, we need to go with 2 product flavors
- AlphaWallet
- NoAnalytics

And below code will help to import dependency but it is purely depend upon the flavor.

[code]

[2020-07-29 14:16] colourful-land commented on #1516
Reminder - now can you do it?

[2020-07-29 14:30] colourful-land opened #1539 "Gas Limit shouldn't be in GWEI"
Currently gas limit is in GWEI, it is true only if gas price is 1

[2020-07-29 14:33] colourful-land opened #1540 "Gas limit is different than estimation"
Android 3.0.8 (Playstore version) shows a gas limit that equals to gas estimation.
Beta shows a gas limit that is different than the estimation.

Both screenshots were taken no more than 5 minutes apart.

| Official 3.0.8| Beta 3.1.1 |
| --- | --- |
| ![imagen](https://user-images.githubusercontent.com/548435/88813089-d512d880-d1fb-11ea-9149-bb66ef172cdc.png)|![imagen](https://user-images.githubus

[2020-07-29 14:43] colourful-land opened #1541 "unit of gas limit shouldn't be GWEI"
from user feedback. In the user's case, he sent a screenshot, which shows a gas limit of

0.001633706*10^18 / 3.62*10^9  = 451300000000000000000000.00000000000000000000

This number seem to be 37608333333333333.33333333333333333333 times bigger than the average 12000000, source:
https://blockchair.com/ethereum/charts/average-gas-limit

![screenshot](https://user-images.githubusercontent.com/548435

[2020-07-30 05:53] colourful-land commented on #1540
Issue closed because I forgot to notice that the gas limit is actually 4 times not 4/1

[2020-07-30 07:50] AW-STJ commented on #1540
Issue is fixed in 3.11.0-beta (123)

[2020-07-30 07:50] #1540 closed

[2020-07-30 07:53] AW-STJ commented on #1541
ImToken have a good design (suggestion by Victor).

[2020-07-30 08:03] zhangzhongnan928 opened #1542 "when the node failed to return a EST Gas, what gas limit should we use"

[2020-07-30 08:07] colourful-land commented on #1541
For reference this is an early design that might help:

| Recommended design| Beta 3.1.1 |
| --- | --- |
|![88813139-e5c34e80-d1fb-11ea-9d1f-056631f3867e](https://user-images.githubusercontent.com/548435/88886992-eb15ad00-d27e-11ea-88a4-c1294e5884fa.png)|![imagen](https://user-images.githubusercontent.com/548435/88813139-e5c34e80-d1fb-11ea-9d1f-056631f3867e.png)|

- Estimate and Limit are titles.

[2020-07-30 13:53] tomekalphawallet commented on #1541
![send_eth_with_custom_speed](https://user-images.githubusercontent.com/51817359/88931145-c0c2f000-d27c-11ea-9442-9a02d925e97e.jpg)
![speed_up_transaction_flow](https://user-images.githubusercontent.com/51817359/88931166-c6b8d100-d27c-11ea-923f-4e9555274202.jpg)

[2020-07-31 00:43] AW-STJ commented on #1539
To add further clarity remove GWEI in the two instances highlighted:
![image](https://user-images.githubusercontent.com/61957841/88987856-99bafb80-d31a-11ea-9126-b800a4254068.png).

[2020-07-31 06:42] ChintanRathod commented on #1542
@AW-STJ Could you please elaborate more about the issue? How to reproduce and what is expected result? I am not able to figure out from the title and description.

[2020-07-31 08:06] JamesSmartCell commented on #1542
The fallback strategy is currently simply to go back to how we did things before. This is a very simple heuristic that picks gas limit based on what type of transaction is being pushed.

@colourful-land can you clarify why you say we 'lack the strategy'. If you have a better strategy for this edge condition please:

1. outline the strategy with values for each type of transaction that's likely to

[2020-07-31 08:10] JamesSmartCell commented on #1532
I have re-visited this. We need to remove the current implementation of flavours which is completely incorrect and is causing a lot of issues. If we re-target the wallet we can do it in situ.

Once we have removed the current badly implemented flavour system it will be simple to implement this correctly.

Please put this issue on hold until we've done this.

[2020-07-31 08:40] zhangzhongnan928 commented on #1542
The reason for using an est gas limit from node instead of using a fixed high gas limit is to **reduce the est gas fee(Miner Fee, TX fess) displayed in the transaction confirmation page,**. When the node doesn't return an est gas limit, our wallet display a much higher est gas fee(Miner Fee, TX fess) than some popular wallet.

Some popular tokens where we display higher est gas fee(Miner Fee, TX f

[2020-07-31 08:48] JamesSmartCell commented on #1542
That's exactly what we currently do. Have placeholder values for native transaction, ERC20, ERC721 & ERC875.

The limits were set very generously previously so could be re-visited.

If there's no estimate, then there's no node connection; also - it's dangerous because certain tokens flagged as ERC20 are not pure ERC20 and have higher gas requirements for Transfer.

[2020-07-31 08:53] JamesSmartCell commented on #1542
Just need to produce an estimate list, and then modify the app with that list.

[2020-07-31 14:17] colourful-land opened #1546 "Bad first impression"
![Screenshot_2020-08-01-00-15-12](https://user-images.githubusercontent.com/548435/89043749-5305e980-d38c-11ea-8deb-8832f6eaed15.png)
Manage the space a bit better by moving CREATE A NEW WALLET to the centre.

[2020-07-31 14:30] colourful-land opened #1547 "hitting browser shouldn't take the user back to the home page"
Reproduce:

1. go to work in a dapp for 10 mins
2. hit "Browser"
3. the current page is now the home page
4. hit back
5. user goes back to wallet instead of the dapp that user worked with for 10 mins. (issue #1516 - this issue is about **the user surprise at step 3.**

Expected: (@tomekalphawallet what do you think?)

- go to work in a dapp for 10 mins
- hit "Browser"
- nothing happens
- hit "Brow

[2020-07-31 14:43] colourful-land opened #1548 "v3.00.10 hotfix (unreleased thanks to this): transaction displayed as rejected but is pending according to Etherscan"
1. Send a tx with low fee (0.0126ETH)
2. It is displayed as "Successful" then if you observe "Transactions" it is displayed as "Rejected"
(this seem to suggest that αW knows the tx is not successful - otherwise it should display this as rejected after a few days)
3. such a "Rejected" transaction can still be viewed on Etherscan and is  displayed as pending.

I'm going to leave it for 8 hours to se

[2020-07-31 14:46] hboon commented on #1547
For context, hitting a tab button on iOS pops the entire stack. It’s default functionality. We could disable it. BC does.

I suppose Android complicates this a bit more with the concept of a, sometimes, ambiguous but system-wide back button.

[2020-07-31 15:10] colourful-land commented on #1547
I think that comment is more appropriate on https://github.com/AlphaWallet/alpha-wallet-android/issues/1516 because back button only has a cameo appearance  in this issue.

[2020-07-31 15:15] hboon commented on #1516
Reposting a comment I made elsewhere at https://github.com/AlphaWallet/alpha-wallet-android/issues/1547#issuecomment-667157434

For context, hitting a tab button on iOS pops the entire stack. It’s default functionality. We could disable it. BC does.

I suppose Android complicates this a bit more with the concept of a, sometimes, ambiguous but system-wide back button.

[2020-08-01 14:02] lyhistory opened #1549 "trivial issues on browser url bar"
this is more of a improvement, not a serious issue but impact on the user experience a lot,
when I use the browser module, each time I want to search something, I'll tap on the url bar,
and just like the screenshots in below, sometimes it will expand a bit, still ok for me to click on the 'close' icon to clear the url,
but sometimes it won't expand, so I have to scroll to the end to find the 'clos

[2020-08-03 01:32] JamesSmartCell commented on #1549
Thanks, I also have noticed this but not sure what's causing it. I'll assign.

This control doesn't always work as expected - sometimes it expands when you click on it, sometimes it doesn't.

Can you change the following:

1. Consistently expand the search bar when clicked on.
2. Ensure the 'x' clear button always appears when you click on the search bar.
3. If the bar is empty, display a 'paste'

[2020-08-03 01:52] JamesSmartCell opened #1550 "Create a universal token icon class"
This new class should appear similarly to the 'FunctionButtonBar' etc.

Should be a new type that has a layout and attached class that you can drop into any view and populate from that view.

The icon should contain the TextView 'textIcon' as well as the ImageView 'icon' in the current item_token.xml

[code]

So I'd drop in a view like this:

[code]

Anyone using this class will have to assign the

[2020-08-03 02:50] JamesSmartCell commented on #1548
@colourful-land Can you show the TX hash?

If AW lists the tx as rejected then the node can no longer see the transaction in the pool, and it wasn't written to the chain.

What could be happening here:

1. Most likely! There is an issue with AW's detection of the tx.
2. Etherscan has a time delay with noticing that the TX has been dropped.

Note that, I adapted the AW code that it will still scan

[2020-08-03 04:09] colourful-land commented on #1548
https://etherscan.io/tx/0xba57597c9182b72d2b3fcd094bdbc0f0df47425279f5a7f15a22955a22769eb0

It is still displayed as pending but αW displayed it as rejected 𝑜𝑢𝑡𝑟𝑖𝑔ℎ𝑡. that is, I have never seen it been displayed as penidng in alphawallet - it has been rejected since its appearance

[2020-08-03 04:29] colourful-land commented on #1548
It's even worse - now the transaction disappeared from the "Transactions" tab.

[2020-08-03 04:51] JamesSmartCell commented on #1548
Checked the transaction pool, the tx is no longer in the pool (dropped), so Etherscan has a slow update to detect pool rejection.

Other than somehow deleting your old rejection notification AW is behaving correctly. I will investigate how a transaction could have been deleted.

[2020-08-03 04:55] JamesSmartCell commented on #1547
This was the behaviour designed into the origin UX.

Because we didn't have a 'home' button, pressing the browser tab while on the browser screen will take you back home.

This may not be a good design, because I suspect impatient users will do multi-tapping of the browser button.

It looks like what you're experiencing is the unexpected intersection of two separate systems that both work correctl

[2020-08-03 04:57] JamesSmartCell commented on #1547
Since the Activity overhaul the wallet is more responsive but you will be using a pre-activity overhaul app version.

Probably - hitting the browser tab button repeatedly is a consequence of a not-so-responsive app.

[2020-08-03 05:01] JamesSmartCell commented on #1516
I think we're talking about a different issue - this is the forward/back browser specific buttons rather than the OS view stack buttons. The OS buttons should work in harmony with the native OS expectation. I get very frustrated when using iOS exactly because of that behaviour, it keeps chucking me back to the start - which is the OS behaviour. Whereas Android apps should go to the previous activi

[2020-08-03 05:05] JamesSmartCell commented on #1539
@ChintanRathod I think this is already done in the master branch, but needs to be replicated in the Activity-Refactor branch.

Since master has diverged from Activity-Refactor branch we will be force pushing Activity-Refactor over the master branch, and will adapt any mods to master independently to avoid creating issues. EG reflecting the issue with rejected transactions has to be handled differe

[2020-08-03 05:08] hboon commented on #1516
Yes, I posted it in the other issue originally.

Off topic now since it's not related, but regarding this: I *think* on iOS, it should only bring people back to the base of the view stack, rather than affect both the view stack and the browser history stack. The latter is quite confusing to many users and hard to "undo". But yes, iOS does both by default.

[2020-08-03 05:11] JamesSmartCell opened #1551 "Redo Build Flavours"
Currently the way flavours are implemented has no usage value.

If the current flavours are removed then we can add some new flavours which have more utility across projects:

1. In main AW repo we can have a 'China' build flavour which excludes all Google API libraries such as Firebase.
2. In other repos we can provide a 'Production' and 'Pre-Production' flavour and then don't have any need to ke

[2020-08-03 06:25] AW-STJ commented on #1547
@tomekalphawallet: As a designed what is your thinking on creating a dedicated home button for Browser on Android?

[2020-08-04 00:48] colourful-land commented on #1548
@AW-STJ can you build from the 3.00.10 hotfix branch?

Then:
1. Send tx with 50% to 70% of the average fee.
2. Observe if it is rejected in the Transaction tab.
3. If it is, observe if the same TX is not found in Etherscan and EthExporer.

You can also do it with, say, 10% of the average fee, which should guarantee and share what you see.

[2020-08-04 00:55] colourful-land commented on #1548
Asking Sunil to verify that with comparison to EthExplorer. Maybe it's not Etherscan drops too slowly, but we drops too quickly. Communist survival skill - behave like thy neighbour.

[2020-08-04 01:55] AW-STJ commented on #1548
Looks like the transaction is pending in Etherscan but not found on Ethplorer or Ether chain

[2020-08-04 04:56] #1548 closed

[2020-08-04 05:47] colourful-land opened #1553 "drop android 8 (planning discussion)"
We already warned users that android < 8 will stop working #1264

Currently our minSDK version is 23. Using minSdkVersion 24 gives us these @JamesSmartCell do you think there are other benefits?

API  Java 8 | minSdkVersion compatible
-- | --
java.lang.annotation.Repeatable | API nivel 24 o versiones posteriores
AnnotatedElement.getAnnotationsByType(Class) | API nivel 24 o versiones posteriores
ja

[2020-08-04 07:17] JamesSmartCell commented on #1553
Fixed title. API23 is Android 6 - AKA Marshmallow

[2020-08-04 07:22] hboon commented on #1553
(Interested party here since I'm advocating for dropping older iOS versions too):

Have to take care of white labels too.

[2020-08-04 07:22] JamesSmartCell commented on #1086
@ChintanRathod The work for this is mostly complete. It is lower priority than the universal icon class (#1550 )

Summary of total change:

- Don't display value for testnet.
- Re-add the old testnet label at the far end if the token is testnet. Use the 'hasRealValue' in class EthereumNetworkRepository to determine if testnet token or not.

[2020-08-04 23:06] JamesSmartCell opened #1555 "Upgrade Fingerprint authentication to use the new classes"
Currently we use the FingerprintManager class to interface with the device's biometric unlock code. This code has been deprecated and may have already started to cause issues.

Upgrade the code in class SignTransactionDialog to use the new class BiometricManager.

See the Google blog here:

https://source.android.com/security/biometric

and relevant StackOverflow info here:

https://stackoverflow.

[2020-08-05 05:25] colourful-land opened #1556 "Make it possible to pass any signable data from the webview to the wallet to be signed"
When considering providing a sign function that can hash by SHA256, first I observed that web3j offered the capacity to sign pre-hashed data

In `Sign.java` (web3j):

    public static SignatureData signMessage(byte[] message, ECKeyPair keyPair) {
        return signMessage(message, keyPair, true);
    }

    public static SignatureData signMessage(byte[] message, ECKeyPair keyPair, boolean needTo

[2020-08-05 05:39] colourful-land commented on #1556
@hboon Hi I was to add the capacity of signing SHA256 data but when looking at Android it seems a signing call passed 8 layers and in between the layers the data are unpacked, packaged again and baked differently, that is, I can't just add a member to a struct (hash method) and just change the top & bottom layer.

I can still do that (changing about 4 files) but I just want to quickly check if iOS

[2020-08-05 05:53] hboon commented on #1556
@colourful-land There are a few layers, mostly to bridge between the browser and native code, less if it isn't initiated directly from the browser (I imagine not?) . But they are just passing a data blob (a wrapper object around it rather, to indicate how we should sign it) being passed around. Due to the type-safety, we might need to change a few more places, but they should all be flagged by the

[2020-08-05 06:28] AW-STJ commented on #1553
Looking at our Android data, looks like we have around 16% of users using Android 7 & 8. That is a significant portion of users who use our devices.

![image](https://user-images.githubusercontent.com/61957841/89379108-8784f700-d738-11ea-8ce0-9359f4452bba.png)

Also I have seen really old devices used from Bartercard's side. Can ask them to share the percentages so that we can take an informed dec

[2020-08-05 06:38] ChintanRathod commented on #1546
@colourful-land Could you please let me know what's the resolution of the device you did test?
I checked for other "landscape" views in devices and it seems good to me.

[2020-08-05 08:13] JamesSmartCell commented on #1553
Please see the updated title

[2020-08-05 11:06] JamesSmartCell commented on #1556
@colourful-land the path you are showing is incorrect as 'MessagePair' is only used for the QR packaging for rotating QR code. Not sure how you ended up there.

You show the path through the DappBrowser; yes there is a lot of abstraction here, if you like I can show you how the JavaScript intercept and re-route/callback etc works but there are a lot of factors in play.

If you follow the real sign

[2020-08-05 11:12] JamesSmartCell commented on #1556
Let me know at high level what you're trying to accomplish and either I can re-interpret it as a spec and farm it out or advise you the best way to accomplish what you're trying to do within the wallet framework, gently leading you to the areas where you can add code.

There is by necessity an amount of abstraction within the wallet code, for purposes of modularisation and de-duplication.

[2020-08-05 11:19] #1550 closed

[2020-08-05 11:27] JamesSmartCell commented on #1542
@colourful-land This seems like too much of an edge condition that never gets hit.

The only time the gas estimate fails is because either:
- node is offline / no connection to node
- transaction will fail

In the first case, the user won't be able to send any transaction
In the second case, we removed the warning that the transaction will fail as we realised the situation was more nuanced than si

[2020-08-05 11:38] ChintanRathod commented on #1534
PR is merged so closing this ticket.

[2020-08-05 11:38] #1534 closed

[2020-08-06 00:46] colourful-land commented on #1556
Create a `Signable` to replace `entity.Message` with the view that later we can derive

- EthereumMessage
- x.509 (including attestations)
- TypedEthereumMessage

And make such an entity pass all the way down to the bottom for web3j to work on.

[2020-08-06 01:21] JamesSmartCell commented on #1556
I reviewed the code with Weiwu - the issue is not so much abstraction but interconnecting fibre. This area still has a lot of now unnecessary layers left over from the original code; which served some purpose originally but now are just connecting services. We're at a position where a lot of those layers could be removed without consequence.

For now however, it's easier to use the signing end poi

[2020-08-06 05:26] colourful-land commented on #1556
- [ ] 1. Replace the current `entity.Message` with a new class `EthereumMessage` which implement a new interface `Signable`. The Interface will eventually help the creation of other signable types, and will be used instead of `EthereumMessage` when feasible, in one of the following classes.

Going to affect classes:

	     src/main/java/com/alphawallet/app/entity/DAppFunction.java
	     src/main/j

[2020-08-06 06:23] JamesSmartCell commented on #1556
Seems reasonable to me. Let's see the code when it's done!

Can you work on the activity-refactor branch to avoid merge conflicts? There shouldn't be any it will be easier to work on that branch. If you don't like to do that ... well we'll try to pick up the pieces later.

[2020-08-06 06:40] colourful-land commented on #1556
Tasklist:
- [ ] Replace `TypedData`, `Message` with `EthereumMessage`, `EthereumTypedMessage` both implementing `Signable` interface.
- [ ] Make the `Signable` data types penetrate deeper into the facbric layers to near where web3j is.
- [ ] Make a new `Signable` to handle SHA256 signing (later attestation signing will be derived from the same place).

[2020-08-06 06:42] AW-STJ commented on #1553
Okay, then Android 6 can be dropped as it just amounts to 3% of our current users.

[2020-08-06 07:03] colourful-land commented on #1553
I'm an advocate of dropping older phones earlier. @AW-STJ @JamesSmartCell so we don't suffer any complaints later and having more feature freedom.  I know I was the advocate of the opposite when I first got to AU and do mobile games with @JamesSmartCell because games are different.

[2020-08-06 07:08] AW-STJ commented on #1553
Bartercard does have Android 6 users. What happens if we drop Android 6?

Would they still be able to use the wallet?

[2020-08-06 09:51] AW-STJ commented on #1553
Intereslingly the distribution of Android 6 is similar at around 5.5% for Qoin

[2020-08-08 05:22] lyhistory commented on #1549
by the way, I noticed another related issue:
when I am at https://kyberswap.com/swap,
the browser tab button stop working, I try to get back to the dapp home page, but no response when I tap on the 'browser'

[2020-08-14 12:47] colourfreak opened #1564 "Add custom linking to Uniswap to tokens"
So for all major ER20 tokens + Ether we are adding custom links, that will allow users to access Uniswap quickly. Remember that with custom linking you can have already preselected coin. So when you are starting with USDC, it should be already preselected in Uniswap.

https://uniswap.org/docs/v1/frontend-integration/custom-linking/

Ethereum:
https://app.uniswap.org/#/swap?use=v1&create-exchange?t

[2020-08-15 12:44] zhangzhongnan928 opened #1565 "Please remove bancor from suggested DApp list"
They don't allow users to inject web3 with AlphaWallet.

[2020-08-16 15:28] AW-STJ opened #1566 "Hide console button from the wallet"
The console button is not working in Android.

@colourful-land & @JamesSmartCell  Do we really need Console button in the first place?

[2020-08-19 14:33] tomekalphawallet opened #1570 "Improve search results and add Top 20 Most Popular tokens"
**Problem:**
During user tests, I discover that users have problems understanding how the wallet works. They think if something is not listed in the wallet tab - it is not available. And even if they try to look for a specific coin in the Add/Hide Tokens - if they can't search or find tokens they want to transfer to the wallet - they assume these tokens are not available for this wallet.

One user

[2020-08-20 00:35] AW-STJ commented on #1570
Great designs.

@ChintanRathod : Can you provide me a very high level rought estimate of time required to do this piece of work? Thinking of getting a Beta version out for testing and then we can refine it before getting it into production

[2020-08-20 04:58] JamesSmartCell commented on #1570
The approach should be like this:

- add the required contracts to known_contracts array in the resources. There is already a mechanism to discover these token details which fires when the new account is created.
- On startup of the add/hide tokens screen, check the contents of the known_contracts, resolve them from the TokenService and display the ones that haven't been specifically selected as '

[2020-08-20 05:03] JamesSmartCell commented on #1564
@tomekalphawallet So this is adding a default action on the function bar for any erc20 supported by Uniswap?

Is there a definitive list of supported tokens somewhere or would someone need to go onto Uniswap to list all the supported tokens by hand?

[2020-08-20 05:03] #1546 closed

[2020-08-20 05:05] #1555 closed

[2020-08-20 09:24] tomekalphawallet commented on #1564
yes

https://github.com/MyEtherWallet/etherwallet/blob/mercury/app/scripts/tokens/ethTokens.json

[2020-08-20 10:15] hboon commented on #1564
So to sum it up:

Add a TokenScript action for a subset of ERC20 tokens, when launched, it opens Uniswap with the current token.

Longer:

* Add a TokenScript action for a subset of ERC20 tokens. This action is called "Exchange with Uniswap".
* When the action is launched, pop the navigation stack and switch to the browser tab, loading the URL as described by https://uniswap.org/docs/v1/frontend-i

[2020-08-20 10:15] hboon commented on #1564
@tomekalphawallet that page may be outdated (since it's archived), and it seems like an attempt to list every ERC20 token rather than the list supported by Uniswap. Is that the correct list?

[2020-08-20 11:27] tomekalphawallet commented on #1564
<img width="995" alt="Screenshot 2020-08-20 at 13 26 14" src="https://user-images.githubusercontent.com/51817359/90764568-c4c8b780-e2e8-11ea-99c1-6fbbb7bcbead.png">
https://github.com/trustwallet/assets

[2020-08-20 11:34] tomekalphawallet commented on #1564
if you want, I can make you a list. But I assume it can be found online.

[2020-08-20 12:01] hboon commented on #1564
@tomekalphawallet it’s alright, we’ll ask Vlad to grab it. Should be easier for him to inspect the page. Thanks.

[2020-08-20 12:01] hboon commented on #1564
Will ask him to post back when he has the list.

[2020-08-20 12:25] tomekalphawallet commented on #1564
https://etherscan.io/tokens

I even started entering the list, but I think it's not faster than going one by one from the page above.

[ERC20 Tokens.xlsx](https://github.com/AlphaWallet/alpha-wallet-android/files/5102948/ERC20.Tokens.xlsx)

[2020-08-20 12:36] vladyslav-iosdev commented on #1564
<img width="481" alt="Screenshot 2020-08-20 at 15 33 01" src="https://user-images.githubusercontent.com/55975226/90770505-8d630680-e2fa-11ea-9215-4dc2772a9cba.png">
am i understand right, i need to find all these tokens and update doc with their addresses, and other info?

[2020-08-20 12:52] hboon commented on #1564
Yes. Just those from Uniswap. Just stick it into the PR or make a list here or at the other issue. The list will be outdated and we’ll only maintain the one in the code anyway..

[2020-08-20 14:10] vladyslav-iosdev commented on #1564
The list of uniswap tokens.
https://docs.google.com/spreadsheets/d/1oWj4gWrII84pP07-A0zn9YHmlkuZy0sKG3f6h_dvHkA/edit?usp=sharing

[2020-08-20 14:33] hboon commented on #1564
@vladyslav-iosdev works for me. Thanks.

[2020-08-21 05:18] ChintanRathod commented on #1570
I understand your flow and points. As you mentioned, I saw "kwown_contract" list which mentioned with MainNet and xDAI for now.

[2020-08-21 05:33] ChintanRathod commented on #1570
Not sure about full implementation, but if I check points mentioned by James, covering 1 and 2 will be easy. 3rd will be time consuming. From my point, it would take 1 MD.

[2020-08-21 10:00] zhangzhongnan928 opened #1572 "Add AlphaWallet to WalletConnect repo"
Can you please add AlphaWallet information to the WalletConnect repo?
https://github.com/WalletConnect/walletconnect-monorepo/tree/next/packages/helpers/mobile-registry/logos
https://github.com/WalletConnect/walletconnect-monorepo/blob/next/packages/helpers/mobile-registry/registry.json

and https://walletconnect.org/wallets

[2020-08-22 20:49] re42 opened #1573 "Howcome Alphawallet is not listed on F-droid?"
Would you be able to add this on F-droid please? Some users arent comfortable downloading from playstore.

[2020-08-27 06:00] AW-STJ commented on #1373
@justindg , let us try MoonPay when you have the capacity. I will share the login details directly.

[2020-08-28 07:06] AW-STJ opened #1576 "Wallet Import: ETC address is different to ETH Main address in Metamask. Verify whether this is an issue on our side or not"
The issue was reported in our support group. Verified that Trust uses a different mechanism for their ETC wallet.

Need to decide whether this is an issue or not.

Seed Phrase for testing (generated from Trust): vote code smoke muffin jungle panda lyrics glance sister blood spatial stay

![image](https://user-images.githubusercontent.com/61957841/91532161-422ba200-e951-11ea-87fe-9276a8c14943.png)

[2020-08-28 07:32] hboon commented on #1576
Oh, they use a different derivation path. Ethereum 60, ETC 61 for the coin type. We always use 60.

[2020-08-28 13:40] #1565 closed

[2020-08-30 02:01] JamesSmartCell commented on #1576
What does it mean? Is this related to the default 'password salt' for key derivation, that we leave blank.

[2020-08-30 03:53] hboon commented on #1576
No, it’s in the derivation path. This https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki#Coin_type

[2020-08-31 06:40] JamesSmartCell commented on #1576
Ah I see

[2020-09-01 11:52] colourful-land commented on #1573
That's a good idea. Need to figure out how to submit it there. @AW-STJ might we look into that together?

[2020-09-02 12:54] AW-STJ commented on #1576
After testing a couple of options, found out that the wallets that use 12 phrase seed phrase derive ETC wallet address similar to the how Trust does it.

So let us get the implement ETC 61 in our wallets too.

[2020-09-02 13:48] hboon commented on #1576
This might be tough. Probably have to treat it as a project.

[2020-09-02 14:34] zhangzhongnan928 opened #1584 "Add Binance Smart Chain network"
https://docs.binance.org/smart-chain/wallet/metamask.html
https://bscscan.com/

[2020-09-02 23:47] JamesSmartCell commented on #1566
It's copied from the spec, but don't know what it's for.

[2020-09-03 00:02] JamesSmartCell commented on #1553
That's probably the only improvement. There'll be a couple of places where we can update the code. Is it worth the effort? Possibly - we can do it together with moving the TokenScript engine into its own library. Don't see it as a high priority though at this stage - there's a lot of other more worthy projects.

[2020-09-03 05:11] zhangzhongnan928 commented on #1576
@AW-STJ in the title you says "ETC address is different to ETH Main address in Metamask."
I just add ETC to Metamask, it behaves the same as AlphaWallet.

"found out that the wallets that use 12 phrase seed phrase derive ETC wallet address similar to the how Trust does it."
Coinbase Wallet behaves the same as AlphaWallet.

let's keep it in the current way.

[2020-09-03 05:11] #1576 closed

[2020-09-04 06:08] SephirothLT opened #1587 "There is no requestAccounts method ,shuold update the js && initJs file ASAP"
There is no requestAccounts method ,shuold update the js && initJs file  ASAP

[2020-09-04 06:08] SephirothLT commented on #1587
@corymsmith

[2020-09-07 00:35] AW-STJ opened #1588 "The wallet screeen shows wrong information"
Version: 3.14.2-beta

The screens take some time to load, but the wrong and misleading information that comes in the first few seconds leads to bad user experience:

Examples:
![image](https://user-images.githubusercontent.com/61957841/92338705-7c393880-f0f5-11ea-9a97-540a0c4435e2.png)

![image](https://user-images.githubusercontent.com/61957841/92338743-b276b800-f0f5-11ea-8886-4e2203e9182e.png)

[2020-09-07 00:45] AW-STJ opened #1589 "Some tokens are listed twice in wallet"
Version: 3.14.2-beta

My SHANKAI ticket is listed twice in the wallet screen.

https://drive.google.com/file/d/14TvtIAB2r8VJ5X58J90cplqBlYD-JzYU/view?usp=sharing

The ticket is listed correctly in the current PlayStore version - 3.00.10 (123)

[2020-09-07 03:29] JamesSmartCell commented on #1587
@James-Sangalli Does our web3.js & init code support requestAccounts?

[2020-09-07 03:30] JamesSmartCell commented on #1588
@AW-STJ So in the first few seconds of a new install you are seeing Eth appear as 'TestNet'?

[2020-09-07 04:54] #404 closed

[2020-09-07 04:55] #809 closed

[2020-09-07 07:13] JamesSmartCell opened #1591 "Complete MixPanel setup"
Now that flavours have been re-done, it should be possible to do a clean 'No Firebase' flavour for the China release - this shouldn't require any code duplication this time.

[2020-09-08 02:44] AW-STJ opened #1592 "Incorrect Balance for some Android users for some tokens."
A user reported the issue where the STAKE balance was shown in Trillions, rather than the actual balance which was 2.6624:

![image](https://user-images.githubusercontent.com/61957841/92427865-f8547e80-f1d0-11ea-9474-a8e7265f10d9.png)

![image](https://user-images.githubusercontent.com/61957841/92427889-03a7aa00-f1d1-11ea-8e28-c2207fa25f7f.png)

Please let me know if you need any further informati

[2020-09-08 03:01] AW-STJ commented on #1592
Wrong repo, as this was an iOS issue

[2020-09-08 03:01] #1592 closed

[2020-09-08 11:39] tomekalphawallet commented on #1588
I would like to involve @hboon in this thread.

I think the best solution could be Skeleton design (animated).
It is related to the same issue, when you have just imported a wallet with tons of tokens. It might take up to a few minutes for balances to update. For these few minutes, a wallet misleads you. I would say it is better to show a skeleton design than a coin symbol with a wrong balance.

I

[2020-09-08 11:41] tomekalphawallet commented on #1588
For the ticket, we can apply the same:
<img width="822" alt="Screenshot 2020-09-08 at 12 35 54" src="https://user-images.githubusercontent.com/51817359/92471805-7401fb80-f1d0-11ea-932e-962151d9fa3f.png">

[2020-09-08 11:42] tomekalphawallet commented on #1588
![example](https://user-images.githubusercontent.com/51817359/92471966-b4fa1000-f1d0-11ea-95e8-24c4f44e5aa9.png)

[2020-09-09 03:28] hboon commented on #1588
Skeleton views and this issue are related but I think they are separate things.

It looks like this issue describes a bug; it's displaying wrong data (mainet displayed as TestNet) temporarily, not outdated data. So it can be fixed by addressing that.

As for skeleton/placeholder views, there are a few considerations:

* generally good
* The SDK for iOS 14 comes with support for showing skeleton vi

[2020-09-09 05:13] hboon opened #1593 "XMLDSig verification seems to be timing out"
Maybe really slow?

[2020-09-10 05:45] hboon opened #1594 "Something wrong with HTTPS cert for aw.app"
macOS:

[code]

[code]

---

iOS:

[code]

---

[2020-09-10 05:50] colourful-land commented on #1594
Oh my goodness! This need urgent fixing. Look like something is wrong with the api gateway.

[2020-09-10 06:37] colourful-land commented on #1594
It works for me.

    $ curl https://aw.app/api/v1/verifyXMLDSig
    {"timestamp":"2020-09-10T06:36:55.907+0000","status":405,"error":"Method Not Allowed","message":"Request method 'GET' not supported","path":"/api/v1/verifyXMLDSig"}

[2020-09-10 06:40] colourful-land commented on #1594
Okay, here is some clue.

There are 2 IP addresses associated with aw.app:
[code]
If using 54.67.102.112 there is no error.

If using 54.193.69.210 you get a certificate issue like you described.

[2020-09-10 06:47] colourful-land commented on #1594
Verified that the deletion of the A record is done, only the correct record now shows up
[code]

[2020-09-10 06:49] hboon commented on #1594
Seems to work for me now too:

[code]

[2020-09-11 08:50] colourfreak opened #1595 "Set a new Home Page for the browser tab"
http://alphawallet.com/browser/

[2020-09-11 12:17] colourfreak opened #1596 "Replace Network name with Home button in the browser"
I think it's more useful to have a Home button (linked to alphawallet.com/browser/) instead of Ethereum huge button. See the top right corner next to the address input field and menu icon.

![Browser_Device](https://user-images.githubusercontent.com/51817359/92924372-c0e40d00-f430-11ea-91eb-c139f4f24d69.png)

Icon:
https://app.zeplin.io/styleguide/5e0b15e46049c216fb7ab4d5/components?coid=5f5b6aa6d

[2020-09-11 12:19] tomekalphawallet opened #1597 "Add "Clear Browser Caches" to the top right menu in the Browser"
![2020-09-11 13 19 13](https://user-images.githubusercontent.com/51817359/92924802-68f9d600-f431-11ea-8049-11987b62f44d.jpg)

[2020-09-11 12:30] hboon commented on #1597
A reason to prefer to keep it in Settings and not in the browser tab — it’s rarely used.

[2020-09-11 12:33] tomekalphawallet commented on #1597
Hmmm... How do you know that? It that an assumption or a proven by numbers fact?

[2020-09-11 13:45] hboon commented on #1597
Just an opinion to weigh.

I attribute that to intuition developed through 20 years of designing, building and selling software, many involving users and user interfaces, including working on macOS and iOS apps since before there’s an iPhoneOS SDK.

Also plenty of time spent studying user interface research and content.

Off the top of my head, the browsers I can think of all hide this functionali

[2020-09-11 14:34] tomekalphawallet commented on #1597
Ok, let's close the issue. Don't want to even comment on this.

[2020-09-11 18:05] tomekalphawallet commented on #1597
Today, Aleks asked if we have an option to clear caches as wanted to check if the Browser page works fine even in our app. Then he used it a lot. Later, when working on the content, I cleared It out about 150 times.

When I asked my girlfriend to clear caches she could not find a way to do it. First, she hit the three dots.

I will run 2 user tests tomorrow to see if users can find it or not. If o

[2020-09-14 04:31] hboon commented on #1593
It's happening again.

[code]

[2020-09-14 08:48] colourful-land opened #1598 "crash upon selecting network"
Reproduce:

![bug_network_select](https://user-images.githubusercontent.com/548435/93064397-d3717700-f6ba-11ea-90ff-f7671ec7aea9.gif)

The logcat might have the error (perhaps around this line:

    ATAL EXCEPTION: RxCachedThreadScheduler-12

[adb_logcat.txt](https://github.com/AlphaWallet/alpha-wallet-android/files/5217206/adb_logcat.txt)

[2020-09-14 08:59] colourful-land opened #1599 ""Setting Subtitle" message should be a contract address or a few contact addresses"
1. Enable TS debugging.

2. Drop this file to the AlphaWallet directory on the device;
https://github.com/AlphaWallet/TokenScript/blob/access-cards-from-web/tests/EntryToken.xml

3. Observe in "TokenScript Management" there is "Setting Subtitle"

![Screenshot_20200914-185512_AlphaWallet](https://user-images.githubusercontent.com/548435/93065369-fa7c7880-f6bb-11ea-80d9-ed2c59fe01eb.jpg)

Expected:

[2020-09-14 09:04] colourful-land commented on #1593
@James-Sangalli  Is it normal that aw.app resolves to 54.67.102.112 which has:

[code]

 I would expect it to resolve to AWS API Gateway, not to an ec2 host? Did you redirect this from an EC2 host?

[2020-09-14 09:11] colourful-land opened #1600 "EntryToken token card not showing up"
1. Enable TS debugging.

2. Drop this file to the AlphaWallet directory on the device;
https://github.com/AlphaWallet/TokenScript/blob/access-cards-from-web/tests/EntryToken.xml

3. Observe in "TokenScript Management" the newly dropped in file works (it's the last one)

![Screenshot_20200914-185512_AlphaWallet](https://user-images.githubusercontent.com/548435/93065369-fa7c7880-f6bb-11ea-80d9-ed2c5

[2020-09-14 23:15] JamesSmartCell commented on #1598
Note that this is the playstore version. May not be reproducable with current source.

[2020-09-15 00:19] #1598 closed

[2020-09-15 00:24] JamesSmartCell commented on #1588
@AW-STJ "The screens take some time to load". Please provide context - alone I don't know know what this refers to. Is it a separate issue from the 'Testnet' issue?

Is this when you click on the token? Or when you first open a new wallet. If the latter - this is caused by the need to 'discover' the tokens on the wallet via examining the Etherscan API return and trying to determine what tokens are

[2020-09-15 00:55] AW-STJ commented on #1588
@JamesSmartCell The time to load that I referred to is when the wallet is first opened. As the Ethereum APIs take some time to load, can we use the loading screens till all the information is loaded correctly and then display the tokens?

From the discussion, feels like this is a separate issue.. so I will raise it as such. We can close this issue when once we resolve the 'TestNet' error and make