[2022-03-03 17:43] justindg commented on #2319
Hi @seabornlee, I've included these new icons in the dark mode branch. To avoid merge conflicts, I can take care of these changes once the WalletConnect updates are merged to master. Let me know if this works for you :)

[2022-03-04 06:49] asif-finimble commented on #2318
@hboon is this setting common for all wallets(if the user has multiple wallets) or we need to store the setting separately for each wallet?

[2022-03-04 08:20] hboon commented on #2318
@asif-finimble Up to @JamesSmartCell  , we just make it global for all users on iOS.

Eden icon here: https://github.com/AlphaWallet/alpha-wallet-ios/issues/3445
Ethermine's: https://github.com/AlphaWallet/alpha-wallet-ios/issues/3270#issuecomment-953592854

For iOS, we just use the selected option's (Eden or Ethermine) icon in Settings > Advanced. If none is chose, use Ethermine's

[2022-03-04 11:45] asif-finimble commented on #2318
Thanks @hboon.
As for the icons, the ticket contains link to zeplin which I don't have access to.

[2022-03-04 12:48] asif-finimble commented on #2318
@JamesSmartCell As per my understanding, we need to add new chain IDs and corresponding ```NetworkInfo``` objects for Eden and Ethermine in the ```networkMap```.   And we will check at the time of sending transactions, if private transactions are enabled, then we will use the selected private network's rpc for sending on mainnet and ropsten. Am I Right? or can you suggest appropriate flow.

[2022-03-05 13:18] hboon commented on #2318
How about this? https://app.zeplin.io/project/5d088205bff2d15de6a4397b/styleguide/components?coid=6197a1c20ba031a7c0eb8347 (the 1st 2 icons). You can get here from the Android project in Zeppelin.

[2022-03-07 02:55] seabornlee commented on #2319
That's great!

[2022-03-07 04:13] asif-finimble commented on #2318
Thanks. This will do.

[2022-03-07 09:32] asif-finimble commented on #2318
I get it that the chainId will remain 1 - MAINNET_ID.  But where do we specify to use the private rpc.?
- One way i could think is, ```NetworkInfo``` will contain the private networks rpc, and ```NetworkInfo``` will return private or public rpc url based on whether private txn is active. We can update the ```getWeb3jService``` method for deciding which rpc url to use.
- we'll also need to update `

[2022-03-08 05:19] #2432 closed

[2022-03-08 09:52] #2091 closed

[2022-03-08 09:54] JamesSmartCell commented on #2427
Still unable to reproduce issue, but fixed a related issue that could occur in a similar way while investigating.

[2022-03-08 22:43] aliveli186 commented on #2371
@JamesSmartCell Yes you can start rooted or not rooted.

[2022-03-09 02:00] hboon opened #2439 "Add Klaytn as bundled chain"
But disabled first.

[2022-03-09 05:04] JamesSmartCell opened #2440 "Show Trait Rarity"
I have determined a way to easily calculate trait rarity for the majority of cases.

Opensea API gives us the trait frequency (`trait_count`):

[code]

We can use the OpenSea API to determine the total supply.

First, get the `slug` from the normal API:

`        "payout_address": "0x6d089dd805a3851ab45db5367bd8e09306986f82",
        "require_email": false,
        "short_description": null,

[2022-03-09 05:11] hboon commented on #2440
@JamesSmartCell like I mentioned in https://github.com/AlphaWallet/alpha-wallet-ios/issues/3730#issuecomment-1062558300, use `count` instead of `total_supply`. Unless it's different for v2?

[2022-03-09 05:13] JamesSmartCell commented on #2440
This method should work 100% of the time, I checked with the various types of contracts.

[2022-03-09 07:26] hboon commented on #2440
Ah I see. Great, thanks.

[2022-03-09 09:54] #2228 closed

[2022-03-10 05:56] JamesSmartCell commented on #2404
Add in support for the switch and add Ethereum chain methods. See the 'Reproduce' above.

First, try it via the normal Dapp Browser with breakpoints at these two methods:

`onWalletAddEthereumChainObject`
`onWalletSwitchEthereumChain`

notice how when you are in the wrong chain these methods will be called, opening the relevant ActionSheet (`showChainChangeDialog`).

Implement these in WalletConne

[2022-03-11 11:56] asif-finimble commented on #2404
Hi @JamesSmartCell , I tried replicating the behavior but the switch chain action sheet is sometimes shown & sometimes not shown.  Also I don't see the wallet connect request in ```handleRequest``` method or do we need to add a session update call in ```showChainChangeDialog```? sorry but I'm confused as I'm not able to fully understand.

[2022-03-11 22:13] Shutch748 opened #2442 "Mine"

[2022-03-14 04:11] asif-finimble commented on #2364
@JamesSmartCell can you guide me on this as what needs to be done. I cant find usage of unstoppable domains api. ```AWEnsResolver``` is resolving using ens.

[2022-03-14 06:08] JamesSmartCell opened #2444 "Standardise Analytics with iOS"
iOS project have advanced analytics which are more diverse than currently implemented on the Android build.

Check all Analytics usage on iOS, and sync with our AnalyticsService.

The service is implemented slightly awkwardly; the `AnalyticsProperties` object created for the service can be refactored out and the code made slightly cleaner.

You may have to ask @oa-s or @hboon for how to find all i

[2022-03-14 06:17] seabornlee commented on #2407
We detect the system language, not the IP address.

[2022-03-14 06:36] hboon commented on #2444
These are the entire list of analytics we log to Mixpanel: https://github.com/AlphaWallet/alpha-wallet-ios/blob/4098a9dc814f7462f40a7008a0e2e8e21341aa5c/AlphaWallet/Analytics/Models/AnalyticsTypes.swift#L22-L74.

Fire away if you have questions.

[2022-03-14 06:39] hboon commented on #2444
@JamesSmartCell Actually, if this isn't too urgent, this sounds like a great candidate for Kotlin code that involves simple native bridging. Do you think so?

[2022-03-15 00:24] JamesSmartCell commented on #2440
@justindg can you also implement the heuristic for fetching traits? I was planning to do this but 1559 has priority. Here's my notes on how I was going to approach this:

First:

- Modify OpenSeaService to fetch and store the stats (eg https://api.opensea.io/api/v1/collection/punksv2/stats). You'll need to make a note of the slug, and use that in the stats call. We only need to store the `count` a

[2022-03-15 06:21] JamesSmartCell commented on #2426
@asif-finimble can you copy the style of the iOS selection as above; you'll need to accommodate the extra vertical '...' we have on Android too, can you ensure the blue dot doesn't shift the positions of any of the current layout.

We'll update once again when an official UI is added to Zeplin.

[2022-03-15 06:24] JamesSmartCell commented on #2404
To see the switch chain action you have to set the wallet onto the "wrong" chain, eg Ethereum Classic.

I will check to see if I can see the WalletConnect call for switch chain.

[2022-03-15 06:31] asif-finimble commented on #2426
OK. will work on it.

[2022-03-15 06:41] asif-finimble commented on #2404
I did try that, and it doesn't work,  It still shows Polygon network and on clicking ```Connect wallet```, bottom dialog is opened but Wallet connect button is not provided.  But if I change the chain to ```Ethereum```, ```switchChainChangeDialog``` is shown.

![image](https://user-images.githubusercontent.com/92773051/158320912-b5434429-3266-429f-acac-6a65e89470b2.png)

Also if I change chain fro

[2022-03-15 07:05] JamesSmartCell commented on #2404
Yeah I'm not sure it works the way we thought it did. If the app needs eg Polygon, it asks for Polygon when it connects.

[2022-03-15 07:12] JamesSmartCell commented on #2404
Hi @hboon maybe you can help us here. I'm not sure when this would ever be relevant.

If the app needs Polygon (eg Quickswap, Pagaxies) then it asks for that at the time of WalletConnect init.

What circumstances are the 'change_chain' ever called for and is there any reproducible?

[2022-03-15 07:42] JamesSmartCell commented on #2404
For me, it works perfectly any way I try it. EG if the dapp wants Gnosis, when I click on the WC connect it will ask to open in Gnosis.

etc etc.

[2022-03-15 07:59] hboon commented on #2404
Not sure if it's still reproducible in Uniswap but see https://github.com/AlphaWallet/alpha-wallet-ios/issues/3887#issuecomment-1034527245

The use case:

1. User connect to dapp on chain X
2. User clicks *in* the dapp UI to change it to chain Y

I can think of another one, while bridging:

1. User connect to dapp on chain X
2. Bridges to chain Y
3. Dapp prompts used to switch to chain Y to poll f

[2022-03-15 08:54] colourfreak opened #2446 "Update Play Store graphics"
[Graphics for Google Play.zip](https://github.com/AlphaWallet/alpha-wallet-android/files/8251618/Graphics.for.Google.Play.zip)
![1](https://user-images.githubusercontent.com/51817359/158341169-246c339f-5b2c-4d45-b55f-d98b34276b92.jpg)
![2](https://user-images.githubusercontent.com/51817359/158341185-77dfc1b0-7c73-412f-af3e-55068def7b54.jpg)
![3](https://user-images.githubusercontent.com/51817359/1

[2022-03-15 09:02] JamesSmartCell commented on #2404
I couldn't reproduce in Uniswap; it works correctly when trying to connect with a different chain.

I didn't really understand when @hieronymus4826 was saying that the Android connection didn't really work. Android serves whichever chain the dapp asks for when starting a session, and since there's no reproducible where a dapp wants to change chains I can't see where the issue is.

[2022-03-15 09:11] colourfreak opened #2447 "Update Android App Icon"
![hdpi](https://user-images.githubusercontent.com/51817359/158344408-edb331bc-9e45-453b-8d94-fe45d5d549a5.png)
![mdpi](https://user-images.githubusercontent.com/51817359/158344413-917b413d-0b23-4652-8bb5-e6050ad54ab9.png)
![play](https://user-images.githubusercontent.com/51817359/158344416-16fcf058-5ec8-487b-abc9-caa96aa20293.png)
![xhdpi](https://user-images.githubusercontent.com/51817359/1583444

[2022-03-15 09:13] colourfreak commented on #1215
@seabornlee @justindg Can you take care of this issue?

[2022-03-15 09:14] colourfreak commented on #1573
@seabornlee @justindg Can you take care of this issue?

[2022-03-15 09:14] colourfreak commented on #2203
@seabornlee @justindg Can you take care of this issue?

[2022-03-15 09:21] colourfreak commented on #2359
Note that we have recently updated [app icons](https://github.com/AlphaWallet/alpha-wallet-android/issues/2447) and [graphics](https://github.com/AlphaWallet/alpha-wallet-android/issues/2446).

[2022-03-15 16:59] seabornlee commented on #2319
@colourfreak I need a logo URL, similar to `https://alphawallet.com/wp-content/themes/alphawallet/img/logo-horizontal-new.svg` and:
1. Need `.png` format
2. Only the logo without characters

Can you do me a favor?

[2022-03-15 17:58] colourfreak commented on #2319
https://zpl.io/XYDDJXg

[2022-03-15 22:05] justindg commented on #2447
Already updated in the Dark mode branch :)

[2022-03-16 01:34] justindg commented on #2440
It seems like I can get this done through a single call to `/asset` api:

`https://api.opensea.io/api/v1/asset/<CONTRACT ADDRESS>/<TOKEN ID>`

From there I can obtain both stats (total_supply) and traits, and then calculate rarity from there.

[2022-03-16 02:55] hboon commented on #2404
@hieronymus4826 can you still reproduce this for Android? I can't do it for both Android and iOS now: https://github.com/AlphaWallet/alpha-wallet-ios/issues/3887#issuecomment-1034527245

[2022-03-16 16:00] sintc0nery opened #2450 "Is there a way to request an offline signature from the AW browser?"
That is, working from a front-end, we know that we can request a call to a contract method from the wallet through something like:
[code]
The problem with this is that the transaction is sent
front-end(raw) -> alphawallet(sign) -> infura(signed)
which is fine, but if we wanted to do another itinerary from the front-end, like:
front-end(raw) -> alphawallet(sign) -> front-end(signed) -> any type of

[2022-03-17 02:41] seabornlee commented on #2319
Thanks @colourfreak
I need the logo uploaded to any server and provided as a URL, could you help with that?
There may be an entrance to upload a .png file at the WordPress admin page.

[2022-03-17 03:15] hboon commented on #2319
Wherever we put it, can we have update the list in Notion? There are a few we are going to use. Here:

https://www.notion.so/stormbirdlabs/Public-assets-for-AlphaWallet-c4dd686a58f8493db78956a07a457fd2

[2022-03-17 03:30] JamesSmartCell commented on #2440
Ok I didn't notice that that route provides the stats too. That's really handy. Then you don't need to change the opensea service fetch.

[2022-03-17 06:18] hboon commented on #2440
But `/api.opensea.io/api/v1/asset/<CONTRACT ADDRESS>/<TOKEN ID>` is 1 call per token ID.

We'll always need:

* 1 (excluding pagination) call for `/api/v1/assets/?owner=0xb0b`/ to get the entire list of NFTs token IDs
* 1 for each collection `/api/v1/collection/\(slug)/stats` and/or `/api/v1/collections?asset_owner=0xb0b` for collection's level information, which will include the count

Doesn't so

[2022-03-17 19:19] justindg commented on #2440
`/api.opensea.io/api/v1/asset/<CONTRACT ADDRESS>/<TOKEN ID>` will not be called until the user visits the NFT Detail page.
![rarity2](https://user-images.githubusercontent.com/17334718/158878240-eafa8317-808b-4670-bdc0-004b977c6e7f.jpg

Currently this is the only screen where the attributes are displayed. Is there a different way we should approach this? I prefer not to make the rarity calculation

[2022-03-18 03:31] hboon commented on #2440
oa-s made updates recently so he will know better.

Ah I see. Yes, due to flow and performance, it might be different for Android and iOS, I think the API calls made for iOS is like this, and you can see if it helps:

1. 1 call (repeat until pagination is done) for `/api/v1/assets/?owner=0xb0b` to get the entire list of NFTs token IDs owned by the current wallet address — this includes traits for

[2022-03-20 07:58] seabornlee opened #2451 "QRScanner crashes on API23"
According to Zxing release notes, it requires API24+.
<img width="901" alt="image" src="https://user-images.githubusercontent.com/735708/159153551-505a68c8-c758-4e6b-b614-3055cfdcf152.png">

[2022-03-21 02:21] seabornlee opened #2455 "Lint on CI"
- [x] Config lint rules (including coding style)
- [x] Abort build when has lint warnings
- [x] Lint updated files on CI, create baseline
- [x] Comment on PR according to lint result

**How to use:**
1. Send PR as normal
2. Check the comments added by lint-bot
3. Fix issue locally and click 'Resolve conversation' under each comment
4. Commit and Push again
5. Back to step 2

[2022-03-21 04:20] seabornlee commented on #2436
We spotted an issue with UniSwap V2, maybe similar to yours.
Inject JavaScript onPageStarted can fix it.

https://github.com/AlphaWallet/alpha-wallet-android/blob/d34f8b11f47232bb0476398315f26c3749a54336/app/src/main/java/com/alphawallet/app/web3/Web3View.java
![image](https://user-images.githubusercontent.com/735708/159204981-952994d8-0000-4cb7-803d-a2e255730a26.png)

[2022-03-21 05:20] seabornlee commented on #2203
@colourfreak Ok, I will take care of this.

[2022-03-21 05:25] seabornlee commented on #2203
<img width="772" alt="image" src="https://user-images.githubusercontent.com/735708/159209180-7aea35df-4f6a-4357-b457-8787a02a84ef.png">

The latest version is uploaded, I have no idea who did it. Maybe their operation team?

[2022-03-21 06:03] colourfreak commented on #2203
Can you please reupload with updated [graphics](https://github.com/AlphaWallet/alpha-wallet-android/issues/2446) + [icon](https://github.com/AlphaWallet/alpha-wallet-android/issues/2447)?

[2022-03-21 06:59] JamesSmartCell commented on #2451
I have been considering this update for a while now; I don't think we have many users still with phones at API23

[2022-03-21 08:59] JamesSmartCell commented on #2450
Hi, are you asking to sign a transaction offline for later sending to a node?

This is possible within a dapp currently but I don't know exactly how to drive it; instead of 'sendTransaction' you need to use 'signTransaction'.

I will check through a dapp I wrote to see if I can update it to do what you're after.

What it'll give you is the signature for the transaction. You'll need to form the tra

[2022-03-21 09:00] JamesSmartCell commented on #2447
@colourfreak is there an SVG of the new icon?

[2022-03-21 09:16] justindg commented on #2203
Haven't applied the new playstore graphics (I will work on it), the new icons however are already updated, but #2443 needs to be merged first :)

[2022-03-21 10:51] colourfreak commented on #2447
[alphawallet.svg.zip](https://github.com/AlphaWallet/alpha-wallet-android/files/8314803/alphawallet.svg.zip)

[2022-03-21 12:22] sintc0nery commented on #2450
Hi,
yes that is exactly what I want but from what I've researched so far, most wallets have discontinued support for the web3 `signTransaction` feature to prevent scams from making the user sign a malicious transaction.
Looking over the alphawallet code, I think there are methods to actually use `signTransaction` but I haven't been able to access its call like I would with `sendTransaction`:
[code

[2022-03-21 21:08] clehner opened #2456 "requestAccounts returns string instead of array"
`eth_requestAccounts` calls back a string containing the account address, in the format "[0x...]": https://github.com/AlphaWallet/alpha-wallet-android/blob/77a315e1689d2a694b75bd381457898484525f39/app/src/main/java/com/alphawallet/app/ui/DappBrowserFragment.java#L1221
https://github.com/AlphaWallet/alpha-wallet-android/blob/77a315e1689d2a694b75bd381457898484525f39/app/src/main/java/com/alphawallet

[2022-03-22 00:39] bsgarage45 opened #2458 "gh pr checkout 2457"
gh pr checkout 2457

_Originally posted by @bsgarage45 in https://github.com/AlphaWallet/alpha-wallet-android/issues/2457#issuecomment-1074558300_

[2022-03-22 00:40] bsgarage45 commented on #2458
gh pr checkout 2457

Originally posted by @bsgarage45 in #2457 (comment)

[2022-03-22 04:11] seabornlee opened #2461 "Setup fastlane Google Play Store Credential"
As F-droid requires `metadata` created by `fastlane`.
We can download Google Play Store metadata by providing credentials to fastlane.
And later, we can benefit from fastlane to update changelogs, screenshots, descriptions, etc. And auto-increment build number and build apk, upload to Play store.

To do that, the first thing is to get the credentials to call Google Play API.
<img width="1007" alt=

[2022-03-22 04:33] hboon commented on #2450
[code]

Yes, this is correct (vs `eth_sendTransaction` which signs and sends).

Yes you are right, it's not supported by AlphaWallet.

[2022-03-22 06:37] JamesSmartCell commented on #2455
@seabornlee also we should add style check similar to web3j to enforce consistent project style eg:

[code]

rather than
[code]

[2022-03-22 06:43] JamesSmartCell commented on #2461
I think @weiwu-zhang is the sole owner of the Google PlayStore settings, in this case he is the only person that can do the above.

[2022-03-22 08:55] seabornlee commented on #2455
Sure thing.

[2022-03-22 09:27] asif-finimble commented on #2404
So I found that the "wallet_switchEthereumChain" is called by DAPP/uniswap when connected via wallet connect on desktop(or any other browser except AW) by scanning QR. when we select other chain on desktop, the mobile app will receive the wallet connect method "wallet_switchEthereumChain". I show a dialog, if user approves, we send "wc_sessionUpdate" with new chain Id approved, return null as the

[2022-03-22 10:23] seabornlee commented on #2451
<img width="273" alt="image" src="https://user-images.githubusercontent.com/735708/159459407-62a0496a-c8b8-4942-a937-4738870e5fc1.png">

[2022-03-22 10:36] HemangiVekaria opened #2462 "Want to use solana DApp"
I want to use Solana DApp with this web3view. Anyone can help me?

[2022-03-22 12:18] seabornlee commented on #2229
OK, I am pushing.

[2022-03-22 23:21] JamesSmartCell commented on #2451
Disable QRScanner for API23?

[2022-03-23 01:29] seabornlee commented on #2434
@hboon I tested on Android API 29, once enter password, it pops up a share dialog:
<img width="435" alt="image" src="https://user-images.githubusercontent.com/735708/159603729-49620b63-4222-479a-a141-c6156eecf28d.png">

Then:
<img width="317" alt="image" src="https://user-images.githubusercontent.com/735708/159603769-0a29fc16-203b-4a46-9e30-a018498c19e0.png">

Did you see the `Share via` dialog on

[2022-03-23 03:26] seabornlee commented on #2427
Me neither. But I think the `findWallet` can return the first wallet in a particular situation that may cause this.
![image](https://user-images.githubusercontent.com/735708/159617900-1112c381-6ae7-4186-b3c0-64b182cdf926.png)

[2022-03-23 03:36] hboon opened #2463 "Can't backup private key to JSON keystore file if we first enter a password shorter than 6 characters"
1. Settings > Change / Add Wallet
2. Tap Hamburger beside private key wallet
3. Export Keystore JSON
4. Enter password 1
5. Complains that password must be 6 or more characters
6. Modify password to be 6 or more characters

Expected
---
7. OK

Observed
---
7. Complains that password must be 6 or more characters (it will work if we go back to the previous screen and enter a valid password the first

[2022-03-23 03:36] hboon commented on #2434
@seabornlee works now. Thanks.

[2022-03-23 03:36] #2434 closed

[2022-03-23 03:36] seabornlee commented on #2411
I can reproduce it on my Huawei, let me figure it out.

[2022-03-23 03:37] hboon commented on #2434
@seabornlee but created #2434. In case you have the context since it's the same screen :)

[2022-03-23 07:18] #2369 closed

[2022-03-23 07:18] #2366 closed

[2022-03-23 07:18] #2367 closed

[2022-03-23 07:18] #2368 closed

[2022-03-23 07:27] seabornlee commented on #1215
Creating application shows 'Package name conflict'.
Ticket submitted, waiting for the response.

[2022-03-23 10:25] #2463 closed

[2022-03-23 12:00] JamesSmartCell opened #2468 "Add TokenIcon to chain selection listing"
Here's how the Network Select for both Single Item (Radio button) and Multiple item select should look (although for single item it'll be a radio button instead of a checkbox).

![image](https://user-images.githubusercontent.com/12689544/159692812-2a67f331-3ac1-4b0e-ad63-54497e16b2c8.png)

Add the TokenIcon and Chain Id to the List in ```SelectNetworkFilterActivity``` and ```SelectNetworkActivity`

[2022-03-23 13:11] seabornlee commented on #2411
I tested on my Huawei phone.
1. Default browser cannot open any links
2. Firefox doesn't open links by default, Click `Open in app` menu item opens the link
3. Edge browser open links automatically

I don't understand where does this error come from:

Even I open it on Mac, it also shows the same error.
I can find the class in Android repo https://github.com/AlphaWallet/alpha-wallet-android/blob/m

[2022-03-23 13:15] hboon commented on #2411
We do own the domain and use it for deeplinks.

[2022-03-23 13:18] seabornlee commented on #2411
Exactly, it redirects to `alphawallet.com`.

[2022-03-23 22:01] JamesSmartCell commented on #2451
Yes, for now let's just disable QR scanner with a toast, but leave the rest of the features running. Previously we had a different implementation which did support API23 but the results weren't very good.

[2022-03-23 22:03] #2426 closed

[2022-03-24 00:38] seabornlee commented on #1573
[MR](https://gitlab.com/fdroid/fdroiddata/-/merge_requests/10793) created, waiting for merge.

[2022-03-24 06:35] seabornlee commented on #1215
Wen has created app, but not published. I am contacting him to push forward.

[2022-03-24 06:39] #2440 closed

[2022-03-24 08:18] colourfreak commented on #2446
Ignore this. Push this as it is.

[2022-03-24 08:19] seabornlee commented on #2451
Got it.

[2022-03-24 09:59] seabornlee commented on #2446
Ok.

[2022-03-24 11:39] asif-finimble commented on #2404
same for addEthereumChain, if user approves, we add the chain and update the session. The rpc request is returned null. If user rejects, then we respond with server error message: "rejected by user".

[2022-03-24 15:49] seabornlee commented on #2434
@hboon #2434 is this issue itself. Do you mean you created another issue?

[2022-03-25 01:31] #2458 closed

[2022-03-25 03:30] hboon commented on #2434
@seabornlee sorry, it's #2463. Justin has fixed it.

[2022-03-25 03:51] #2406 closed

[2022-03-25 03:52] #2407 closed

[2022-03-25 04:21] seabornlee opened #2471 "UI: button text not visible"
<img width="156" alt="image" src="https://user-images.githubusercontent.com/735708/160053518-c7ec8899-d9b9-4c07-b527-4445149d29ff.png">

<img width="153" alt="image" src="https://user-images.githubusercontent.com/735708/160053614-4a43c878-0040-49f3-9e33-48ea6e2d1d52.png">

**Version:**
master branch.

[2022-03-25 04:26] justindg commented on #2471
Will fix this

[2022-03-25 05:30] JamesSmartCell commented on #2352
Hi @asif-finimble yes, can you look at this. I think there are a few classes that are stripped by minify that are needed for execution - probably library classes. We probably need to identify what these are are explicitly declare them as being needed. I wonder if we can specify a whole library at a go, then we can see where the problem is. I suspect it is either 'TrustWalletCore' or keys.c, which

[2022-03-25 23:56] seabornlee opened #2475 "Support Cronos mainnet"
Cronos testnet exists, but mainnet is not listed under "Settings -> Select active network".
@hboon iOS neither.

**Network info here:**
https://cronos.org/docs/getting-started/metamask.html#connecting-to-the-cronos-mainnet-beta

[2022-03-27 02:29] JamesSmartCell opened #2476 "Dark Mode collected issues"
Here's a list of minor artifacts I've seen (all while using Dark Mode):

- [x]  Two side by side buttons in a Dialog. For a good example go Settings/Advanced/Reload Token Data.
- [ ]  When switching chains using Change / Add Wallet in Settings, the AlphaWallet 'wait' screen should be in Dark Mode, as should the loading screen. It might be a bit jarring eg if you're looking at your moneybags in the

[2022-03-27 07:34] JamesSmartCell commented on #2455
Hi @seabornlee I created a 'AlphaWalletStyle.xml' which contains the coding style.

This is a great mod, looking forward to the merge.

[2022-03-27 07:36] JamesSmartCell commented on #2450
Looks like we can't do this anymore as it's been flagged as unsafe.

[2022-03-27 07:38] #2471 closed

[2022-03-27 22:44] #2451 closed

[2022-03-27 23:30] justindg commented on #2476
I tested this on my phone, and I found out that the wait/splash screen seems to follow the phone's (and not the app's) dark mode settings. We could compromise by having the splash screen always dark, but I am unsure if that's weird to the user.

[2022-03-27 23:40] weiwu-zhang commented on #2461
@JamesSmartCell how do you determine that it's a permission issue? I couldn't do what @seabornlee asked me to do. I already have all permission:

![image](https://user-images.githubusercontent.com/548435/160306170-1b468c87-6a0a-471c-b289-6ec12911d5c9.png)

But I can't access API access
![image](https://user-images.githubusercontent.com/548435/160306189-6c94c387-fb6b-4b40-a751-4cf15685646f.png)

[2022-03-27 23:44] justindg commented on #2476
Adjusted the notification badge a little bit, it should be perfectly aligned to the north west quadrant now

![image](https://user-images.githubusercontent.com/17334718/160306317-0ed5a9de-2f3f-4ffb-b3d9-7847f4971c9b.png)

[2022-03-27 23:53] weiwu-zhang commented on #2461
@seabornlee research a bit, and we do a zoom session so you can control my account to do that. I don't think it's because my account is magically powerful, but doing so excludes the probability that "maybe xxx account isn't powerful enough" (@JamesSmartCell 's line)

[2022-03-28 02:00] Hoanib opened #2478 "Camera doesn't Work on OPPO Phone"
The camera doesn't work to check face detection on RAMP on an OPPO phone.

[](https://alphawallet.zendesk.com/attachments/token/rurXl6iK8PNJWbx24i4FCeWg5/?name=Screenshot_2022-03-28-12-11-34-27_f6a5e2babd5caf352e1828ac7e15fd91.jpg)

https://alphawallet.zendesk.com/attachments/token/pgHvoT6bUrQKt3m2rXRueloB2/?name=Screenshot_2022-03-28-12-12-09-84_f6a5e2babd5caf352e1828ac7e15fd91.jpg

https://alpha

[2022-03-28 02:05] #2476 closed

[2022-03-28 02:09] hboon commented on #2364
@JamesSmartCell bump

[2022-03-28 02:12] hboon commented on #2437
@oa-s bump

[2022-03-28 02:21] seabornlee commented on #2461
@hboon Can you help with this?

[2022-03-28 02:33] seabornlee commented on #2455
Awesome!

[2022-03-28 03:19] #2424 closed

[2022-03-28 03:24] hboon commented on #2461
I have no idea. Let me know if there's a way for me to transfer this.

I tried following the instructions and got the key. Will send it to you guys.

[2022-03-28 04:32] weiwu-zhang commented on #2461
@hboon you are the αW product manager it is 𝑐𝑜𝑟𝑟𝑒𝑐𝑡 that you own this product. No need to transfer to anyone. This issue is closed assuming @hboon will send the keys

[2022-03-28 04:32] #2461 closed

[2022-03-29 04:43] asif-finimble commented on #2352
OK. I'll work on it after the current tickets are done.

[2022-03-29 06:28] JamesSmartCell commented on #2478
Which Android OS is running on your phone?

[2022-03-29 06:31] JamesSmartCell commented on #2475
Excellent, Cronos mainnet wasn't available at the time.

Will you check and add it in? You need to touch three files:

EthereumNetworkBase x2 (both of them).
TickerService (to add the coingecko ticker ids if supported).

Also you will need to add the assets and pick a distinctive colour for the chain.

[2022-03-29 06:32] JamesSmartCell commented on #2462
We don't have Solana support, but it can be added in much the same way you would on MetaMask.

Go into settings/select active networks, then click (+) in the top menu and add in as much data as you can.

Then select Solana as your dapp browser network and you should be able to go to a Solana dapp.

[2022-03-29 06:34] JamesSmartCell commented on #2437
This is for displaying the financial data right?

If you post a few screenshots that should be sufficient to get us started.

[2022-03-29 06:37] JamesSmartCell commented on #2427
Yes, that's when it can't find a matching wallet.

It's possible this is now fixed; I found what could have been the culprit which was an old workaround that still had roots in the app from a long time ago. The issue that caused the workaround to be added was fixed properly, and I only just removed the last traces of the workaround.

[2022-03-29 07:12] hboon commented on #2475
- [ ] Create iOS issue once parameters are known :)

[2022-03-29 07:18] hboon commented on #2437
Something like that:

x|x|x
-|-|-
<img width='200' src='https://user-images.githubusercontent.com/56189/160554827-2648551d-5456-4fcb-835f-2c86afab2788.PNG'>|<img width='200' src='https://user-images.githubusercontent.com/56189/160554920-63cbfb95-f7e8-459b-ad1e-5f88c1ac2e00.PNG'>|<img width='200' src='https://user-images.githubusercontent.com/56189/160554744-04286359-0399-41bf-b5ba-655bc1831b04.PNG

[2022-03-29 10:23] oa-s commented on #2437
here is the latest version of `properties` section view
<img width="461" alt="Screenshot 2022-03-29 at 13 23 01" src="https://user-images.githubusercontent.com/96283950/160591051-276acf45-8578-4c2f-9061-e25f8f4c49bf.png">

[2022-03-29 14:22] seabornlee opened #2485 "Google Play featue graphic"
<img width="1400" alt="image" src="https://user-images.githubusercontent.com/735708/160632832-e92ab65b-e652-4668-abc4-d0304e72620b.png">

<img width="930" alt="image" src="https://user-images.githubusercontent.com/735708/160633229-a925fd0b-5590-4c9c-873b-1e2229a98063.png">

[2022-03-29 21:18] #2404 closed

[2022-03-29 21:47] #2455 closed

[2022-03-29 23:55] JamesSmartCell commented on #2444
Would that be the module that supports the sending of data? And supply an interface that we use to call analytic events? It sounds good but we would need to see if KMM works together with Firebase.

But for now, it doesn't affect adding analytics in as normal; we can abstract the calls out later.

[2022-03-29 23:56] JamesSmartCell commented on #2439
closed in #2481

[2022-03-29 23:56] #2439 closed

[2022-03-29 23:57] JamesSmartCell commented on #2437
Thanks; @justindg can you take it from here?

[2022-03-29 23:58] JamesSmartCell commented on #2437
@hboon @oa-s do you add the last sale value for the NFT to the global wallet value?

[2022-03-30 00:47] JamesSmartCell opened #2487 "Support IoTeX network"
While at Eth Denver we met with IoTeX network team. They are doing some interesting work with IoT and blockchain. It appears TokenScript may be a useful asset for IoTeX developers.

We now have enhanced Covalent support so integration should be straightforward.

### IoTeX Mainnet

ChainID: ```4689```
RPC: ```https://babel-api.mainnet.iotex.io```
BackupRPC: ```https://rpc.ankr.com/iotex```
BlockTXE

[2022-03-30 01:24] JamesSmartCell commented on #2468
Here's a link to the Zeplin design: https://app.zeplin.io/project/5d088205bff2d15de6a4397b/screen/60b6299ce283f10c3f95453c

[2022-03-30 01:28] JamesSmartCell commented on #2468
You can pretty much just re-use the TokenHolder layout for this

[2022-03-30 01:29] #2446 closed

[2022-03-30 02:19] JamesSmartCell opened #2488 "Solana Neon EVM"
Gather data for Solana NEON EVM shim for potential integration:

###Mainnet

RPC: ```https://proxy.mainnet.neonlabs.org/solana```
ChainID: ```245022934```
Symbol: ``NEON```
Block TX Explorer (EtherscanURL):
EtherscanAPI:
CoinGecko:
Network Style Colour:
SVG:

###TestNet

RPC: ```https://proxy.devnet.neonlabs.org/solana```
ChainID: ```245022926```
Symbol: ``NEON```
Block TX Explorer (EtherscanURL):

[2022-03-30 02:46] JamesSmartCell commented on #2462
@HemangiVekaria We are investigating if it's possible to do an integration - since Solana itself isn't EVM compatible this may not be possible. There is the NEON EVM interface to Solana, we are looking at that to see if it's a good fit.

[2022-03-30 03:12] hboon commented on #2444
There are a few ways to look at why cross-platform code is useful for us:

A. Saves time. Just implement once (in theory!)
B. Reduce communication and people synchronization. This ends up saving time and reducing bugs.
C. More cross-functional/team developers

I strongly believe B is the more important one for us. So taking this as an example, there's this which can be cross-platform:

Defining th

[2022-03-30 03:13] hboon commented on #2437
We haven't yet. But we will. So if you figure out which one's the best property to use, let us know :)

[2022-03-30 05:31] JamesSmartCell commented on #2444
Ok I see where you're going - write a 'CISC' interface that we can easily implement and we know is the same for both platforms.

If we could build something like an interface we could show a meaningful error if any path remains un-implemented, too. It wouldn't catch all exemptions but would catch types.

[2022-03-30 05:34] JamesSmartCell commented on #2437
Thanks, was clarifying for @justindg's implementation. Perhaps to protect ourselves we could display a separate estimated value (with a big (*) NFTs may not be worth this amount now) when the 'collections' tab is selected.

[2022-03-30 05:54] HemangiVekaria commented on #2462
Oh great. Thanks @JamesSmartCell

[2022-03-30 06:04] HemangiVekaria opened #2489 "For Rinkeby opensea testnet doing nothing when click on Buy Now for any NFT"
@JamesSmartCell  can you please help me with this? When i add https://testnets.opensea.io in the browser and select Rinkeby from the test network at that time if I want to buy any NFT and click on  Buy now it's opening a screen like this.
![image](https://user-images.githubusercontent.com/17717369/160761797-af719420-6979-4f93-ae9b-b09cbafff77f.png)

Now when clicking on Confirm Checkout it's show

[2022-03-30 07:54] colourfreak commented on #2485
What do you want me to do?

[2022-03-30 07:58] colourfreak commented on #2485
@seabornlee I don't have control over the video. It was not me who created it.

[2022-03-30 09:22] colourfreak commented on #2485
@seabornlee I think it's better to remove the video by the time we have better/more professional graphics in it.

[2022-03-30 10:53] JamesSmartCell commented on #2489
Thanks for reporting, I'll check it

[2022-03-30 10:53] HemangiVekaria commented on #2489
Thanks @JamesSmartCell

[2022-03-30 11:07] #2487 closed

[2022-03-31 06:38] asif-finimble commented on #2468
There are other views in it and also the checkbox is at beginning in there. Don't you think we should just create new layout?

[2022-03-31 07:02] asif-finimble commented on #2468
@JamesSmartCell can't we just set the image from list? Using tokenIcon will require passing the token object. I tried doing that
 using ```tokenService.getServiceToken(chainId)``` but Optimism token is not coming.

[2022-03-31 11:25] HemangiVekaria commented on #2489
Hello @JamesSmartCell Did you find anything? If then please guide me. i need solution ASAP. Could you please help?

[2022-03-31 11:25] seabornlee commented on #2485
OK, I will remove it.

[2022-03-31 11:38] seabornlee commented on #2485
<img width="262" alt="image" src="https://user-images.githubusercontent.com/735708/161046296-6e955e35-83d0-42a5-822d-9f782e27abe4.png">
Without video, it shows `feature graphic` on the search result list.
Right now, it's not fully displayed. If you would like to create a new one. I can upload it later.

[2022-03-31 21:29] JamesSmartCell commented on #2468
Yes use new layout but you can look at the tokenholder layout for inspriation

[2022-04-01 06:15] JamesSmartCell opened #2504 "Improve Switch Chain ActionSheet"
When switching chains with WalletConnect (and DappBrowser), the prompt is still the placeholder text message which was put in a while back.

Check Zeplin for an official design for this action sheet configuration: If it exists implement it, if not we can flag this as an issue for Tomek.

[2022-04-01 07:48] #2326 closed

[2022-04-01 07:57] JamesSmartCell opened #2506 "Add Transaction to logs when NFT Transfer event is detected"
- Ensure the Transaction log is written to DB when Transfer event is detected.

Find where events are picked up in `ERC721Token` and `ERC1155Token`. When the event is picked up, trigger the corresponding transaction to be picked up by creating a pending transaction in Realm that the TransactionService will pick up and fully populate.

[2022-04-01 07:59] JamesSmartCell opened #2507 "Add Transaction log detection for ERC20 Tokens"
Enable Transaction Log pickup for ERC20 Tokens.

You can search for Approve, Transfer and common other DeFi events.

Check out the implementation in ERC721Token and ERC1155Token and do something along those lines; the reason being there will be another upgrade to find the contract constructor and use that to help sync logs.

[2022-04-01 08:05] #2468 closed

[2022-04-01 08:08] JamesSmartCell opened #2508 "Find the construction event for contracts"
This is required to put a lower bound on how far down to pickup log events.

The most obvious approach is to use the Etherscan (etc) Transaction fetch API in reverse, so you'd search ascending from block 1 to block 9999999999 and limit the search to only 1 transaction.

This sometimes would find a bad result, where people have accidentally written to the contract before it was created, but this ed

[2022-04-01 08:47] JamesSmartCell opened #2509 "Apply Text Styles"
Can you apply the text styles as per the Zeplin design:

https://app.zeplin.io/project/5d088205bff2d15de6a4397b/screen/60b6299ce283f10c3f95453c

[2022-04-01 10:18] #2509 closed

[2022-04-01 10:56] colourfreak commented on #2447
Still not updated

[2022-04-01 10:56] colourfreak commented on #2447
<img width="942" alt="Screenshot 2022-04-01 at 12 56 22" src="https://user-images.githubusercontent.com/51817359/161250453-54f3b66c-dc1a-4d8a-bfcc-127c15aec583.png">

[2022-04-01 10:57] asif-finimble commented on #2504
@JamesSmartCell I checked and there are no designs for switch chain. Only the switching to testnet action sheet is present.

[2022-04-01 10:59] colourfreak commented on #2485
Where are you searching? Is this tablet, phone, desktop?

[2022-04-01 23:52] JamesSmartCell opened #2511 "Produce Activity map"
Some time ago (2018) we had an activity map of AlphaWallet; a tree-view where you could see the Activity name and possible destinations from each Activity or Fragment.

This is very handy when needing to work in specific areas of the app.

This ongoing issue will re-map the wallet as it is now.

I have made a start on this in Miro:

https://miro.com/app/board/uXjVOAQsdQ8=/?invite_link_id=683751207

[2022-04-01 23:53] JamesSmartCell commented on #2504
@asif-finimble Thanks for checking. Let's create a placeholder design for this, as currently the text view doesn't look good.

It should be a layered design looking somewhat like the normal WalletConnect Approve sheet, showing a graphic of old chain logo/text ---> new chain logo/text in one widget, and the text asking to swap, and a title.

[2022-04-02 02:31] #2456 closed

[2022-04-02 03:31] JamesSmartCell commented on #2489
Thanks I replicated it, you are using WalletConnect to connect, right?

It is a bit hit and miss, sometimes if you 'log out' of the wallet, then log back in using WalletConnect, then try to buy again you'll get the correct pop-up. I'm not sure what's happening; trying to see if it's our fault, WalletConnect or Opensea.

[2022-04-02 04:13] JamesSmartCell commented on #2489
The fault appears to lie on OpenSea's or WalletConnect's side, but I have managed to add a filter that prevents the connection from shutting down when getting bad data. This let me purchase a few of the NFTs on OpenSea Rinkeby.

This fix will be in the next release due out today or tomorrow, or if you can't wait you can build from source code.

Thanks for reporting! It really helps.

[2022-04-02 04:22] HemangiVekaria commented on #2489
Thanks... I will take a look from source code and see if it works or not. Thanks for support

[2022-04-02 05:02] JamesSmartCell commented on #2489
I haven't pushed the PR yet but you can build from the linked PR

[2022-04-02 05:04] HemangiVekaria commented on #2489
I build from fix-walletconnect-busy-connection  branch its showing like this... still cannot purchase nft

[2022-04-02 05:14] JamesSmartCell commented on #2489
It wasn't working before the fix, now I get this:

https://user-images.githubusercontent.com/12689544/161367470-05861774-2440-4ea8-a6b3-a8488085c953.mp4

You have to keep logging out until when you log in, you see the WalletConnect login.

Make sure, when the 'Connect to WalletConnect' prompt appears you are connecting to Rinkeby.

[2022-04-02 05:16] JamesSmartCell commented on #2489
@HemangiVekaria I watched your video, you need to log out, then connect via walletconnect, if you don't get the WalletConnect screen you need to log back out again, then log in with WalletConnect

[2022-04-02 05:17] HemangiVekaria commented on #2489
Yes i selected network as Rinkeby and try to connect using walletconnect then it's connected to mainnet.. Let me uninstall and install app and see if its work for me or not

[2022-04-02 05:18] JamesSmartCell commented on #2489
You can choose 'edit' and change the network to Rinkeby.

They didn't write the connector very well, if they did it properly it would always be Rinkeby.

No need to uninstall

[2022-04-02 05:31] JamesSmartCell commented on #2489
Let me know how you get on

[2022-04-02 05:39] HemangiVekaria commented on #2489
i am checking give me few minute i will check and let you know

[2022-04-02 06:26] HemangiVekaria commented on #2489
Yes it's working now. Thanks

[2022-04-02 06:31] JamesSmartCell commented on #2489
Nice, thanks :)

[2022-04-02 06:31] JamesSmartCell commented on #2489
Closed by #2514

[2022-04-02 06:31] #2489 closed

[2022-04-02 06:44] JamesSmartCell commented on #2447
@colourfreak I will update the icon at the same time as pushing the 3.53 release.

[2022-04-02 07:25] #2511 closed

[2022-04-02 23:24] JamesSmartCell commented on #2227
All complete except for StructuredData and StructuredDataEncoder which require a private -> public conversion for displaying the signing message for the user.

[2022-04-02 23:24] #2227 closed

[2022-04-02 23:25] JamesSmartCell commented on #2425
I have seen this now. Will attempt to fix.

[2022-04-02 23:26] JamesSmartCell commented on #2427
@hboon can you see if it's possible to reproduce this issue? It should be fixed

[2022-04-02 23:31] JamesSmartCell commented on #2318
@asif-finimble I refactored the code to make this slightly simpler - although you will now have to accomodate EIP1559 and Legacy transactions. Ping me for more info if required, but I suspect the method you'll be modifying is this code:

[code]

You probably want to abstract the 3 uses of this out into a separate function which can switch between sending to Eden/Ethermine or default chain.

[2022-04-04 01:07] JamesSmartCell opened #2517 "SendTransaction Timeout"
Sometimes Infura takes a long time to return the transaction, the socket times out but the dialog just hangs. Usually, the transaction has been sent and AW picks up the transaction as normal, in a minute or so.

Either: Add a 30 second timeout for Transaction Sending, which should be done in a non-duplicative way - sendTransaction is called from various places; however it always ends up in one of

[2022-04-04 01:58] #2425 closed

[2022-04-04 02:31] hboon opened #2519 "What's New seem to include the changes from many versions (very long list with many version numbers)"
Final release candidate v3.53.3 available on 20220402

[2022-04-04 02:34] hboon opened #2520 "Tapping this token in Wallet tab seem to hang the app somewhat reliably"
Tapping this token in Wallet tab seem to freeze the app somewhat reliably

<img width='200' src='https://user-images.githubusercontent.com/56189/161464382-9c47063f-d4ec-44a8-b649-05a49f65f816.JPG'>

This is with: 0x0d590124d2faabbbdfa5561ccbf778914a50bcca

Final release candidate v3.53.3 available on 20220402

[2022-04-04 02:38] hboon commented on #2427
It shows this after doing step (11) "Tap Upgrade key security" in https://github.com/AlphaWallet/alpha-wallet-android/issues/2427#issue-1153730682 (i.e it doesn't go to step 11)

<img width='200' src='https://user-images.githubusercontent.com/56189/161464836-2636e207-68a3-4b89-9e9b-048fba57dde0.JPG'>

[2022-04-04 03:42] JamesSmartCell opened #2521 "Add ability to select display currency on wallets page"

[2022-04-04 04:30] justindg commented on #2520
Found the cause, will attempt to fix

[2022-04-04 04:54] JamesSmartCell opened #2522 "Store NFT data associated with OpenSeaAsset"
Store the data into a RealmNFTAsset after a successful call to the OpenSea asset API.

(But remember to validate the data against the existing asset first; preserve 'good' data from the existing asset - if the API call from OpenSea returns a null don't overwrite existing data; it might be an issue with OpenSea - eg they don't currently handle contracts that generate their own metadata).

To test:

[2022-04-04 05:57] #2437 closed

[2022-04-04 06:38] asif-finimble commented on #2504
@JamesSmartCell how about something like this?
should we show name and chainID below the icon?

![image](https://user-images.githubusercontent.com/92773051/161486861-f06915cf-720f-467c-9394-dfab48494a1d.png)

[2022-04-04 07:03] JamesSmartCell commented on #2504
As layers like the usual ActionSheet one, so yes, the top, then your eth > op, then a partition, then the usual text.

This works for a draft.

[2022-04-04 07:33] JamesSmartCell commented on #2427
Still unable to reproduce even with my Huawei. Can you try the same thing on an emulator? If you have AndroidStudio installed?

Here's what I do:

1. Disable screen lock
2. Open Alphawallet which has 1 watch wallet.
3. import key from MM
4. attempt to back up (see the unable to back up message)
5. open settings, switch on screen lock and enter screen lock (twice)
6. switch back to AW
7. upgrade ke

[2022-04-04 10:14] asif-finimble commented on #2504
@JamesSmartCell how does this look?

![image](https://user-images.githubusercontent.com/92773051/161523502-f3e5665d-b655-4cf5-88ba-cf9f32c1c64e.png)

[2022-04-04 11:23] JamesSmartCell commented on #2504
I like it :)

[2022-04-04 11:28] asif-finimble commented on #2504
OK. great. will generate a PR then.

[2022-04-04 11:57] JamesSmartCell commented on #2364
@hboon @oa-s we don't use unstoppable domains on Android, could you explain what it is and how it's different from ENS?

We use 3 name resolution services - ENS directly from chain, DAS (.bit) and the .crypto domains.

From reading the docs my assumption is that 'unstoppable domains' is an aggregator that resolves all the various crypto domains. Is this correct?

[2022-04-04 11:58] JamesSmartCell commented on #2364
Do we need an API key to query the Alchemy domain aggregator API? If indeed it is that.

[2022-04-04 13:50] HemangiVekaria opened #2526 "cannot mint nft with opensea with Rinkeby"
I opened testnets.opensea.io in browser and connect to wallet using WalletConnect then click on create and it's opening page to create nft. I uploaded image there and set name of that NFT but cannot get any Collection in dropdown to choose. Is there any setting to get list of collection there? Without that it's throwing error. Can't create nft.

With AlphaWallet it's working but i am doing same th

[2022-04-04 22:56] #2520 closed

[2022-04-04 23:01] JamesSmartCell commented on #2526
Hi again @HemangiVekaria, thanks for reporting this I'll check it.

[2022-04-04 23:02] JamesSmartCell commented on #2519
Hi @justindg can you check this one out? Looks like it just needs a filter

[2022-04-04 23:04] JamesSmartCell commented on #2504
Looks good just one thing, can you move the element that shows the chain graphic, chevron and new chain graphic into its own widget?

[2022-04-04 23:10] justindg commented on #2519
Yes sure, do I only have to show the most recent update?

[2022-04-05 00:10] JamesSmartCell commented on #2526
I think this is an issue with OpenSea, not AlphaWallet. I just tried creating an NFT and they mint it for you, they only need your address (provided via walletconnect).

I just minted this NFT - because I already had some deployed contract I just used the name from the existing contract:

https://testnets.opensea.io/assets/0x88b48f654c30e99bc2e4a1559b4dcf1ad93fa656/73301158607185938929634570134102

[2022-04-05 02:30] hboon commented on #2364
Hmm.. I always thought Android supported Unstoppable domains first. In that case lowering priority since it's not going to cause problems. What we do in iOS is to go with ENS first and then fallback to Unstoppable. Name resolution could be an attack surface so we should try to keep the 2 resolutions separate and if need be disable one (or all of them).

Yes we do.

Build a list of questions and bu

[2022-04-05 02:55] hboon commented on #2427
Trying with my Huawei:

Ah, maybe the key is not accessible? I get this after I have set the lock screen password and try tap "Upgrade key security":

[code]

If I go to sign in the dapp browser, I get this:

[code]

[2022-04-05 04:31] HemangiVekaria commented on #2526
Thanks, @JamesSmartCell For help as always. I created a collection on my metamask and use that same account to connect via WalletConnect and now I can mint NFT from Opensea. Thanks again

[2022-04-05 04:31] #2526 closed

[2022-04-05 06:22] JamesSmartCell opened #2529 "Add Aurora EVM Bridge"
Aurora is the EVM bridge for Near protocol which is gaining traction.

Name: ```Aurora```
Symbol: ```ETH```
ChainId: ```1313161554```
RPC: ```https://mainnet.aurora.dev```
Etherscan API: ```https://api.aurorascan.dev/api?```
Etherscan URL: ```https://aurorascan.dev/tx/```
Icon: ![aurora](https://user-images.githubusercontent.com/12689544/161689840-e3756579-d88e-4120-843b-6841aad8c47f.svg)
Coingeck

[2022-04-05 06:48] JamesSmartCell commented on #2427
Ah it thinks it's a legacy key. OK let me try to fix this, I think I see what went wrong

[2022-04-05 07:29] hboon opened #2530 "Add support for ENSIP-10"
- [ ] ENSIP-10 [^1]
- [ ] Requires EIP3668 [^2] support

Relevant announcement: https://medium.com/the-ethereum-name-service/upgrade-ethers-js-to-5-6-1-to-activate-ens-l2-offchain-integration-40ee1a0fdf2a

I found the post from `etherjs` quite useful: https://blog.ricmoo.com/highlights-ethers-js-march-2022-f511fe1e88a1

0x41563129cDbbD0c5D3e1c86cf9563926b243834d

Sample data
---
[code]

ENSIP-10
-

[2022-04-05 07:47] JamesSmartCell commented on #2529
@asif-finimble additionally can you see if there's a faucet for the Testnet coins and try a few transactions.

[2022-04-06 01:55] justindg opened #2531 "Wrong last sale computation for some NFTs"
Need to properly computate sale price for NFT < 1 ETH

[2022-04-06 02:06] seabornlee opened #2532 "Crashes on API level 24"
Start the app, create an account, and it crashes.

Someone reported before:
https://github.com/AlphaWallet/alpha-wallet-android/issues/536#issuecomment-501843498

Some others mentioned the method is available on API level 28.
https://github.com/Wraecca/etherspace-java/issues/4

[2022-04-06 02:53] JamesSmartCell opened #2534 "Scroll to top of transaction list when creating a new transaction"
To reproduce:

1. Send some rinkeby (etc) to another address.
2. After the transaction completes, click on the 'show transaction details' and be taken to ERC20DetailActivity, TokenActivityFragment.
3. Notice that the new transaction isn't showing, you have to scroll down to see it.

[2022-04-06 02:59] justindg commented on #2534
https://user-images.githubusercontent.com/17334718/161887272-1dbcd258-d6ea-4ae2-8b51-65e43a65de6e.mp4

[2022-04-07 04:21] asif-finimble commented on #2529
Ok. Sure. I'll research on it.

[2022-04-07 05:02] asif-finimble commented on #2529
@JamesSmartCell there's a correction needed. testnet id ends in 5. Not 6.

[2022-04-07 05:03] asif-finimble commented on #2529
Faucet: https://aurora.dev/faucet

[2022-04-07 05:53] asif-finimble commented on #2529
@JamesSmartCell I added the chain and transferred 0.0005 ETH from Aurora faucet. The tx is available in Activity tab but the balance is not updated. Also Gas service throws exception for fetching gas history for Aurora.

[2022-04-07 05:55] #2531 closed

[2022-04-07 05:56] #2519 closed

[2022-04-08 08:16] JamesSmartCell commented on #2534
Have you sent enough? For me, it doesn't scroll if there are a lot of transactions

[2022-04-08 10:14] #2504 closed

[2022-04-08 10:18] #2042 closed

[2022-04-08 10:25] JamesSmartCell commented on #2529
That's fine, it probably doesn't have EIP1559 gas.

That's interesting about the testnet ID, chainlists must be wrong.

[2022-04-08 10:32] JamesSmartCell commented on #2529
Network Name: Aurora Testnet
New RPC URL: https://testnet.aurora.dev/
Chain ID: 1313161555
Currency Symbol: ETH

Yep should be ending with a 5. Also the testnet RPC should be different - I couldn't get any response on the other one.

[2022-04-08 11:25] asif-finimble commented on #2529
Okay, will update the rpc. I got the chain ID from docs but missed the rpc..

[2022-04-08 11:42] asif-finimble commented on #2529
@JamesSmartCell balance and activity both are working as expected with the updated RPC. Can't send payment though, it says Gas price too low.

[2022-04-08 23:25] JamesSmartCell commented on #2529
Can you commit the branch? I will add the API key

[2022-04-10 02:36] JamesSmartCell commented on #2529
I have added the API key here: https://github.com/AlphaWallet/alpha-wallet-android/tree/add-aurora-key

[2022-04-10 05:20] JamesSmartCell opened #2537 "Tests failing (probably) due to Infura key limiting"
Sometimes the tests are failing; when I check it's usually because of a connection timeout.

I propose the following solutions:

1. Use a chain that doesn't require an API eg XDAI, SOKOL, BSC Test, HECO test, IoTeX test.
2. Roll a new, free Infura key tied to an email and override DEFAULT_INFURA_API_KEY.

Pick whichever is most convenient; I am not 100% certain it is due to rate limiting; but when

[2022-04-10 22:47] JamesSmartCell commented on #2537
After running the tests locally it appears we may need to add small delays to allow the view to build as emulator can run a little slowly.

The test I'm looking at is this one: ```TransferTest```. It gets stuck at the ```ensureTransactionConfirmed``` method, as the click can't proceed. Debugging fixes it as the single step gives the emulator enough time to display the button view element - or that

[2022-04-11 00:16] JamesSmartCell commented on #2537
@seabornlee I think I fixed it in #2536, I did two things:

- switch off animations (recommended here: https://developer.android.com/training/testing/espresso/setup#set-up-environment).
- Add slight 500ms pause before clicking on buttons (may not be necessary as you already have a wait, but it seemed to help).

Can you check?

Closed in #2536

[2022-04-11 03:31] seabornlee commented on #2485
@colourfreak I searched it on my laptop, you can find the link above.

[2022-04-11 03:38] JamesSmartCell commented on #2411
This should be fixed by #2535 , for Android 12.

[2022-04-11 04:06] asif-finimble commented on #2529
Ok. I'll add it.

[2022-04-11 06:56] JamesSmartCell commented on #2529
Thanks. I'm running into a few integration issues on the chain side - it's not as straightforward as most chains.

[2022-04-11 07:06] asif-finimble commented on #2529
Ok. Do I need to to do anything on that.?

[2022-04-11 11:03] asif-finimble commented on #2352
@JamesSmartCell I have added proguard rules based on tests and crashes. Added rules for TrustWallet library, entities, js interfaces etc. I tested send/receive payment, wallet connect, dappbrowser switch/add ethereum chain, and so far works as expected.
Branch: https://github.com/AlphaWallet/alpha-wallet-android/tree/2352_proguard

Can you test and let me know if changes are needed?

[2022-04-12 00:13] #2529 closed

[2022-04-12 01:15] JamesSmartCell opened #2542 "Use NFT images for Activity entries where possible"
Many entries in the Activity pane could be transfers or mints of NFTs.

If they are, the ```TransferHolder``` entry is used.

If the transfer or mint is an NFT, can we display the image of the NFT instead of the contract image?

If it's a batch transfer (1155) then just display the first NFT image.

[2022-04-12 01:43] #2522 closed

[2022-04-12 02:30] hboon opened #2543 "Import Wallet screen's Seed tab should start with lowercase keyboard and perform case-insensitive check for presenting autocompletion"
- [ ] Should start with lowercase (Look for the shift key in the keyboard in the screenshot)
- [ ] User input should be checked ignoring case when presenting autocompletion so if the user enters "ABA", or "Aba", "abandon" should be shown

<img width='200' src='https://user-images.githubusercontent.com/56189/162866894-c36ea94d-70a5-459d-90c7-0f8042cc81f7.JPG'>

[2022-04-12 03:26] JamesSmartCell opened #2544 "Warn user about unsynced ENS send"
If the user's phone time is not synced correctly, the wallet can fail to validate the user's ENS.

see this code in EnsResolver:

[code]

The ```isSynced()``` call checks the blocktime against the phone's current time, and if the phone's current time is not correct it can result in ENS not working (which is correct as it's picking up a possible attack).

If this error is thrown, the user should be

[2022-04-12 06:03] asif-finimble commented on #2544
@JamesSmartCell should we show the warning dialog in all screens that use ENSResolver or any specific screens?

[2022-04-12 06:29] JamesSmartCell commented on #2544
Good question - only need it in SendActivity for now

[2022-04-12 06:30] JamesSmartCell commented on #2544
But, if there's a way to do it cleanly from InputAddress, this is better

[2022-04-12 06:32] JamesSmartCell opened #2548 "Decouple Metadata fetches from NFTAssetDetailView"
Completely decouple the UI elements from all the fetches.

- After each API/contract call, check to see if Realm needs updating and update if required.
- have a Realm listener in the Activity which listens specifically for any change to the Asset metadata for this tokenId.
- Listener updates the view with the new metadata when it fires.

[2022-04-12 08:27] hboon opened #2549 "eth_call might have value specified. Include if it does. Otherwise tapping Buy in OpenSea with non-zero eth will fail because an eth_call with value is made to estimate gas"
Refer to steps and explanation to reproduce in PR: https://github.com/AlphaWallet/alpha-wallet-ios/pull/4303

Video in original issue: https://github.com/AlphaWallet/alpha-wallet-ios/issues/4299

[2022-04-12 08:42] #2543 closed

[2022-04-12 11:36] JamesSmartCell commented on #2537
Closed by #2536

[2022-04-12 11:36] #2537 closed

[2022-04-13 02:09] JamesSmartCell commented on #2549
This works correctly; I recently 'purchased' an NFT from OpenSea Rinkeby for 1ETH using AW: https://rinkeby.etherscan.io/tx/0xf9c52d2889daeed10e88a2ffb8a80699a94045107d84e5b8229fbfd9a6ed7ece

[2022-04-13 03:04] hboon commented on #2549
Huh. Interesting. Didn't work when I tried with the last test build. I made sure to reimport my key (and tried signing elsewhere) to eliminate any issue with my keystore.

But just to be sure, it's OpenSea doing that additional `eth_call` prior to posting the transaction to figure out the gas limit. That `eth_call` is the one we need to includes the `value` if the dapp provides it. Could you help

[2022-04-13 04:10] hboon commented on #2549
@JamesSmartCell If I try to buy https://testnets.opensea.io/assets/0x35e294961973be5c2fea8cbbaa3e4ac9d43410c3/0, I see:

<img width='200' src='https://user-images.githubusercontent.com/56189/163098428-dd5b4e2e-ee74-47cc-bfc5-117c00dc3f2b.jpg'>

[2022-04-13 04:41] JamesSmartCell commented on #2549
Yes, this issue has been fixed (I presume you're using WalletConnect) - can you try the build I sent to you.

[2022-04-13 04:46] hboon commented on #2549
It's not WalletConnect, I'm using the dapp browser

[2022-04-13 04:58] JamesSmartCell commented on #2549
Ok it's not working --- the bug stands! It's been fixed in WalletConnect

[2022-04-13 22:43] JamesSmartCell opened #2551 "Tidy up DappBrowser history page"
Just noticed that DappBrowser history is having a strange bleed-through in dark mode (it may not be related to dark mode though). Just go to DappBrowser and click history.

![Screenshot_20220414-084046_AlphaWallet](https://user-images.githubusercontent.com/12689544/163281822-171d2720-9fcd-438e-9dbe-a3687e87a34d.jpg)

If you scroll the history list up it becomes normal.

[2022-04-14 04:50] JamesSmartCell commented on #2549
Fixed by [7c98bcd2beba952b5767ce7162cc9a9ec2ebef49](https://github.com/AlphaWallet/alpha-wallet-android/tree/7c98bcd2beba952b5767ce7162cc9a9ec2ebef49) - sorry for the direct commit point I committed straight to master by accident!

[2022-04-14 04:50] #2549 closed

[2022-04-14 04:50] asif-finimble commented on #2506
@JamesSmartCell Can you please guide me on this. I'm not familiar with code. Where do I start?

[2022-04-14 04:51] #2551 closed

[2022-04-14 06:16] colourfreak opened #2553 "Limit decimals of % to just two numbers after dot"
so for example we have **+ 0.008%** now
let's limit to just two numbers so it will be **+ 0.01%**

Is there a reason why we have non-standard 3 letters there?
![2022-04-14 08 10 22](https://user-images.githubusercontent.com/51817359/163325058-39bb9c60-78f9-4b34-80c9-a286ffbd4da6.jpg)

[2022-04-14 06:20] hboon commented on #2553
@JamesSmartCell And crypto amounts should be 4 decimals, not 5. I can file a different issue if it's more appropriate.

[2022-04-14 06:30] JamesSmartCell commented on #2506
Start in ```class ERC721Token```.

In the function ```processTransferEvents``` you'll see that when an ERC721 token is discovered we start pulling in events from that token contract that apply to the wallet being scanned for.

When one of these transfer events is discovered, currently all the function does is collect the TokenID for that NFT so it can subsequently be checked to see if the wallet s

[2022-04-14 06:39] asif-finimble commented on #2506
Thanks for the explanation. Will work on it.

[2022-04-14 07:28] colourfreak opened #2554 "Improve how we display Network in the ActionSheet"
This is how it looks now:
![2022-04-14 08 26 33](https://user-images.githubusercontent.com/51817359/163335274-66aba520-6580-4dd6-bcc2-563fe637d7b1.jpg)

Note that we indicate the network in the right corner of the Balance cell. Let's use another row. So below the "Balance" we will have one more row "Network". Then icon + Network name

<img width="1636" alt="Screenshot 2022-04-14 at 08 40 45" src="

[2022-04-14 07:29] JamesSmartCell opened #2555 "Copy Address on main page doesn't use checksummed (EIP55) address"
Reproduce:

Open the wallet. Click top right, copy wallet address, paste somewhere and see the lowercase address.

Should be:

Go to 'Show my wallet address' click the copy address button, paste somewhere and see the EIP55/checksummed address.

[2022-04-14 07:42] JamesSmartCell commented on #2554
@colourfreak I made that change previously because on some Android form factors the ActionSheet becomes too big, especially when sending transactions. This is especially bad on the earlier Pixel phones where the ActionSheet overflows the display. I imagine it would also affect the newer Samsung Mini phones too.

Maybe what we can do is; follow the above design, sense if the ActionSheet will no lon

[2022-04-14 08:07] justindg commented on #2554
Given the examples above, there seems to be enough space to fit, but I need to confirm this by testing on a variety of screen sizes

[2022-04-14 08:07] JamesSmartCell opened #2556 "Activity list bottom isn't matched to the bottom nav bar"
Can't see the last transaction, it's covered over by the BottomNavBar.

[2022-04-14 08:25] justindg commented on #2554
Right now when I expand all the widgets, the sheet goes all the way through the top, which looks fairly acceptable. What's missing is a scrollable area because some elements could be completely hidden.

[2022-04-14 08:31] #2555 closed

[2022-04-14 08:31] JamesSmartCell commented on #2556
Closed by #2557

[2022-04-14 08:31] #2556 closed

[2022-04-14 08:32] JamesSmartCell commented on #2554
But, do we want to scroll or fit into the page?

[2022-04-14 09:27] justindg commented on #2554
I feel like it is inevitable to have scroll given the number of widgets that could be shown. Or we could also consider is limiting the number of widgets that could be displayed? If we try to fit dynamically it might cause inconsistency across devices, depending on how we implement it

[2022-04-14 10:10] JamesSmartCell commented on #2554
Yeah ok. I just don't like the ActionSheet needing to scroll to see all the data, since the data is quite critical and being able to see all of it at once makes you feel less likely to make a mistake.

If I can see all the data at once I get an instinctive feel that it's ok to press confirm and push the tx. If I couldn't see all the data I'd feel anxious.

[2022-04-14 10:23] seabornlee commented on #2488
**Block TX Explorer:**
https://solscan.io/tx/2DzKG3xjVSnHupjdvSRxGdDeuNmYxguLSwDiv6j9Kyx7MgqDocYQTZywSqwQ5XANAs5p4987SUmYQxkXWreVSeQL

**EtherscanAPI:**
https://public-api.solscan.io/docs/#/

**CoinGecko:**
https://www.coingecko.com/en/coins/solana

**Network Style Colour:**
SOLANA PURPLE
#9945FF

SOLANA GREEN
#14F195

**SVG:**
https://solana.com/zh/src/img/branding/solanaLogoMark.svg

More assets

[2022-04-14 10:29] seabornlee commented on #2488
There is barely any cross-chain wallet support Solana. I use `Phantom` to play with it.

[2022-04-14 23:11] JamesSmartCell commented on #2488
Nice work!

[2022-04-14 23:36] JamesSmartCell commented on #2447
@colourfreak Now updated in PlayStore along with the new release.

[2022-04-15 00:17] dinarpay opened #2559 "Can you support EIP712"
Hello
We want to build a token on the xdai network
Smart contract pays gas fees through relay
defender openzeppelin
The problem is that the wallet is asking to pay the gas fee xdai
The contract pays the gas fee on behalf of the user.
the other part
The smart contract deducts a fee from our token, to offset network and operating fees
And I can't make the app show the fixed amount being deducted fro

[2022-04-15 00:44] JamesSmartCell commented on #2447
Live:
![image](https://user-images.githubusercontent.com/12689544/163498973-eac38f00-b314-40e8-8fbd-fdb71b0e735e.png)

[2022-04-15 07:45] colourfreak commented on #2554
Hmmm...

It will be 40pt higher. The whole-cell is 60pt. So we scale down the Balance cell in favor of the Network cell.

<img width="977" alt="Screenshot 2022-04-15 at 09 43 52" src="https://user-images.githubusercontent.com/51817359/163541160-a6a346d5-6726-4248-b8f4-e14931ed5534.png">

[2022-04-15 07:47] colourfreak commented on #2447
Awesome guys!

[2022-04-15 09:20] JamesSmartCell commented on #2559
EIP712? This is the SignTypedData standard. We support up to EIP712 v4.

It sounds like you are asking for something different.

What you are asking for may be done by the BlockNative simulation API (https://www.blocknative.com/simulation-platform). We are looking at implementing this which would show the breakdown you are after (I think).

Could you clarify if I am understanding your request?

[2022-04-15 09:23] JamesSmartCell commented on #2554
I like this solution - @justindg can you implement this update? I would prefer if you create a widget that only needs to be given the chainId and produces the view with the Icon and text to the side. Can you also make the widget able to display the text vertically underneath the icon too? I would re-use this component in a few other places.

[2022-04-15 09:24] JamesSmartCell commented on #2534
You may need to send a couple more to see the issue

[2022-04-15 09:50] asif-finimble commented on #2506
@JamesSmartCell  I understood the most of what you explained that how to get the events and create txn record. Now I need to know that how should I proceed with implementation?
I see that TokenRepository calls the update balance and from there we reach here. Sorry but I'm not able to get the whole picture of what's happening. Like how what do we do from here and which classes and methods need to b

[2022-04-15 22:52] dinarpay commented on #2559
do Gasless Transactions
https://www.youtube.com/watch?v=mhAUmULLV44

[2022-04-15 23:08] JamesSmartCell opened #2560 "Use ERC721Enumerable Interface if available"
- Create a new ERC721 type, ERC721_Enumerable (in ```ContractType```).
- Check if the ERC721 contract has the Enumerable interface (```TokenRepository```, find the correct value for ```INTERFACE_ERC721ENUMERABLE```). ```bytes4 private constant _INTERFACE_ID_ERC721_ENUMERABLE = 0x780e9d63;```
- Label the ERC721 which we now know is an Enumerable as ERC721_Enumerable, when we do the ```determineComm

[2022-04-15 23:15] JamesSmartCell commented on #2559
EIP-2771. It looks interesting, will need to investigate what layer this can be implemented at.

Do you have any use case examples?

[2022-04-15 23:40] JamesSmartCell commented on #2506
In addition, you probably only need to do this if the network doesn't have a etherscanAPI available, like Aurora and custom chains, or doesn't support the token discovery APIs that Etherscan has (I'm not sure how to detect this automatically).

Klaytn Baobab currently has no Etherscan API, so is a good example to use.

Watch this address: 0x82357f25aD0Db84d2E4CC1a2AE2803D88b178112

in Klayn Baobab

[2022-04-15 23:42] JamesSmartCell commented on #2506
If you create NFTs on a different testnet eg Rinkeby or Ropsten using the NFT faucet in my github (or yours) you'll see the mint events and the constructor transaction. The wallet knows it's a mint event because the 'from' address is the zero address 0x0000000...

[2022-04-15 23:43] #2447 closed

[2022-04-15 23:54] JamesSmartCell commented on #2508
For chains with no EtherscanAPI ... this is somewhat tricky.

Note to self (@JamesSmartCell): Modify the event crawl limit heuristic: If a transfer event is discovered, reset the ```eventReadStartBlock``` to the end of the search block with a discovered event, so it'll keep searching down from there.

[2022-04-16 03:14] toanphamhd commented on #2554
7add18328c01d95f78862ae5fc6025e2fd3b8588, thank you sirr

[2022-04-16 07:29] JamesSmartCell commented on #2488
Looks like we have enough to attempt an implementation.

[2022-04-17 00:02] dinarpay commented on #2559
Celo Network
Stable tokens do not need gas in network coin
cUSD
cEUR

[2022-04-18 02:19] justindg commented on #2554
@JamesSmartCell, can you point me to an existing use case? Would need to check if it's worth including in this particular widget, or if I should create an entirely new one. Thanks :)

[2022-04-18 03:01] JamesSmartCell commented on #2554
Yes, it's fine to create a new Widget, but you can incorporate TokenIcon/ChainName widgets in it. Kind of like a holding-widget.

It would also be used in the SwitchChain ActionSheet (but in vertical form).

[2022-04-18 05:23] aflahzake opened #2561 "APP Crashes if the user scans Invalid QR code, if sending through QR Scan."
Here is the video below. You can see, If the user scans invalid QR Code. The APP crashes instead of showing any error message to the user.

Uploading WhatsApp Video 2022-04-18 at 10.19.17 AM.mp4…
https://user-images.githubusercontent.com/101316605/163758952-c182b3b1-d88f-4f97-beb8-84ba718814f7.mp4

[2022-04-18 05:54] seabornlee commented on #2561
Thanks!  Very helpful. Will be fixed soon.

[2022-04-18 05:59] asif-finimble commented on #2506
Thanks. Will go through the explanation and implement.

[2022-04-18 06:28] aflahzake opened #2562 "APP crashes/ stops, if the User play around the APP while the Transaction is in pending state. Video with Voice attached below."
Video below. When the user sends balance to any other address & during the transaction if the user play around the app. The APP crashes/ stops.

https://user-images.githubusercontent.com/101316605/163765289-2a20fafc-eca5-4c3d-bd75-90ed6e74b20a.mp4

[2022-04-18 06:40] justindg commented on #2554
Noted, will be doing this in a separate PR :) Currently working on it

[2022-04-18 07:31] asif-finimble commented on #2506
@JamesSmartCell I watched this address and also did reset token data but the ```processTransferEvents()``` is not executed.

[2022-04-19 05:14] hboon opened #2564 "Update token icon URL to use lowercased contract address instead of EIP55 with temporary branch"
Change from:

[code]

to:

[code]

Different branch (it's now `lowercased`) and the contract is all lowercased.

Once both apps are deployed, we'll merged `lowercased` (i.e. https://github.com/AlphaWallet/iconassets/pull/15)  into master and tweak the URLs again and in the future contributors can just upload as lowercased.

[2022-04-20 09:58] JamesSmartCell commented on #2562
Nice catch, thanks

[2022-04-20 23:27] JamesSmartCell opened #2566 "Upgrade to Gradle 7.3"
This fixes an issue that's been plaguing the build since we upgraded gradle for the web3 upgrade to 4.8.8.

Related to this:

https://github.com/realm/realm-java/issues/7562

[2022-04-21 12:02] #2532 closed

[2022-04-21 12:03] #2544 closed

[2022-04-22 01:07] vfbiby opened #2570 "Algorithm HmacPBESHA256 not available"
system: Mac m1

<img width="1049" alt="image" src="https://user-images.githubusercontent.com/5847699/164576745-c18940b2-b03c-40ea-a1a1-55e915f76d56.png">

[code]

[2022-04-22 01:44] vfbiby commented on #2570
https://stackoverflow.com/questions/67631927/error-building-aab-flutter-android-integrity-check-failed-java-security-n
with first answer:
I generate a new debug.keystore

[code]
add this config to buildgradle
[code]
then it works!

[2022-04-22 01:44] #2570 closed

[2022-04-22 01:45] vfbiby commented on #2570
with the support of @seabornlee

[2022-04-22 01:50] vfbiby commented on #2236
let me try to fix this issue.

[2022-04-22 03:04] seabornlee commented on #2521
Hi @JamesSmartCell
Can you give some screenshots to describe what you want?

On wallets page, it shows fiat as summary balance.

For meta mask, it show both fiat and crypto balance at the same time, and users can choose which is the primary one.
<img width="347" alt="image" src="https://user-images.githubusercontent.com/735708/164588105-29c11a35-0ad1-4d0b-a5d1-3aa6049785fc.png">

[2022-04-22 03:25] hboon commented on #2521
Should get @colourfreak's input on this.

[2022-04-22 03:38] seabornlee commented on #2478
@JamesSmartCell Ramp is not supported here. Unable to add a card to trigger face recognition.
It works with webcam test https://webcamtests.com/

[2022-04-23 21:27] Hoanib opened #2573 "NFT Tokens Are Not Shown Properly"
Android app {version 3.54.0 (186)} as well the last iOS version are not showing NFTs properly on Mainnet and Polygon.

[2022-04-23 22:28] Hoanib commented on #2573
Important clarification:
One of the users complained nervously when he transferred the token from OpenSea to his AW address on Polygon and he was unable to see any activity or the NFT in AW. I know that Activity is not working properly from a long time ago when I transferred mine and the transaction never appeared on Activity. User added the contract address of the NFT but he’s unable to see it ye

[2022-04-24 06:13] Hoanib commented on #2573
New version 3.39 (426) on iOS fixed and improved NFTs visualisation.

[2022-04-25 07:59] Firmi1 commented on #2573
Can you post the nft metadata and the transaction input please, we cannot find out what is going on without further information.

[2022-04-25 08:24] Firmi1 commented on #2559
Relayer is zpl.in api and it is not decentralized, can't imagine dumping it in alphawallet

[2022-04-25 10:06] Hoanib commented on #2573
Here the transaction hash:

0x8915804c3a7fadbb8ed4ce0b449cfbc3860fd04c6faa0997131c0ed320c13350

Token contract address:

0x2953399124f0cbb46d2cbacd8a89cf0599974963

[2022-04-25 11:10] JamesSmartCell commented on #2573
Hi @Hoanib yes we are aware of this; it's mainly due to our API key which has been renewed.

A fix will be published shortly.

[2022-04-25 11:16] #2236 closed

[2022-04-25 11:50] JamesSmartCell commented on #2521
What I want to do is be able to see the crypto balance of my wallets, for any specific network including testnets.

[2022-04-25 13:39] Hoanib commented on #2573
Glad to hear that! Thank you so much.

[2022-04-25 22:16] #2564 closed

[2022-04-25 23:25] #2562 closed

[2022-04-25 23:25] #2566 closed

[2022-04-25 23:48] #2554 closed

[2022-04-26 04:31] docb12 opened #2578 "ether scan reset my pass alone and now my password change confirmation is not going to my email even though it says ít is"

[2022-04-26 04:56] hboon commented on #2530
@JamesSmartCell I have updated the first comment because the addresses for these 2 aren't 0xb8c anymore:

[code]

[2022-04-26 23:45] JamesSmartCell commented on #2578
@docb12 could you provide more information? Is this related to AlphaWallet or Etherscan?

We don't have any passwords or emails tied to accounts, the keys are held locally by the wallet on your phone and we have no access.

You probably want to contact Etherscan about this.

[2022-04-28 05:44] hboon opened #2581 "Implement Swap using LI.FI's API"
LI.FI's APIs support both same-chain swap and multi-chain bridging. We are only implementing same-chain swap for now.

API usage is quite simple. First 3 steps involves the LI.FI API:

1. "Fetch Chains" — get supported chains. Use this to limit which chains the user can choose in the swap UI
2. "Fetch Tokens" — get supported swap "pairs" for selected chain. We can use this to populate the "to" tok

[2022-04-28 06:18] docb12 commented on #2578
ether scan makes it possible to link live wallet to web why so hard to verify with all my codes and seeds this is bbull

[2022-04-29 03:59] hboon opened #2582 "Use correct/updated tokens.json file"
Should use this: https://github.com/AlphaWallet/alpha-wallet-ios/pull/4470/files

[2022-04-29 04:01] hboon opened #2583 "Use correct/updated tokens.json file"
Context: https://github.com/AlphaWallet/alpha-wallet-ios/issues/3546#issuecomment-1112302008

Android seems to be using the original file which includes a much longer list of tokens, many of which are mapped wrongly. Should use the filtered list instead. The updated one is included in this PR: https://github.com/AlphaWallet/alpha-wallet-ios/pull/4470/files

[2022-04-29 06:37] JamesSmartCell commented on #2578
Yes, via Walletconnect. We use it often. Can you say what is the issue? What is the code which you're referring to (don't post it here or anywhere else)? Is this your private key? You can import that into AlphaWallet, then use it with Etherscan via Walletconnet, just follow the prompts.

[2022-04-30 06:11] JamesSmartCell opened #2584 "Normalise Realm storage for Tokens"
This is a large-ish project to optimise storage of tokens esp for multi-wallet apps.

It also has a number of other advantages eg new wallets benefit from previous wallet's discovered tokens.

The current structure looks like this:

## RealmToken

### Static Data
- address-chain
- name
- symbol
- group
- interface Spec (erc20/erc721 etc)
- decimals
- auxData

### Dynamic Data
- addedTime;
- update

[2022-04-30 06:18] JamesSmartCell commented on #2444
Build this as an interface, then port the existing class to implement the interface, then when/if we implement the cross-platform analytics it'll be a simple drop-in (in theory - with a bit of hammering).

[2022-04-30 08:00] #2517 closed

[2022-04-30 08:13] JamesSmartCell commented on #2581
@justindg can you implement this as a new ActionSheet style interface (make up a name, it might be obvious what to call it later) - with a new interface different from ActionSheet since it doesn't sign anything.

Can you implement the view elements as widgets where it makes sense as this keeps the code a bit more modular and removes interdependencies which end up getting too complicated.

[2022-04-30 08:15] JamesSmartCell commented on #2582
Updated https://github.com/AlphaWallet/TokenTest, which is a mirror of your updated file.

This will be removed once the maintained list is ready.

[2022-04-30 08:15] #2582 closed

[2022-04-30 08:16] JamesSmartCell commented on #2583
Thanks, updated https://github.com/AlphaWallet/TokenTest, which will be removed once the managed list is ready for use.

[2022-04-30 08:16] #2583 closed

[2022-04-30 13:24] JamesSmartCell commented on #2506
Now complete

[2022-04-30 13:24] #2506 closed

[2022-05-01 00:12] JamesSmartCell commented on #2507
Further note to this:

For implementations for ERC721 and ERC1155 check the respective ERC721Token and ERC1155Token classes.

There is a class wrapped by the base Token class, class EventSync which provides the mechanism to synchronise event checks, taking into account maximum number of logs which can be fetched by the node.

The relevant events for ERC20 are (See https://github.com/OpenZeppelin/o

[2022-05-02 06:47] BastianAlpha opened #2588 "Constant email notification request every the App opens (Android)"
the email notification request every time i am opening AlphaWallet ever since the last update. (Android)

![image](https://user-images.githubusercontent.com/91123102/166195021-fee970fe-d1dd-4352-a3fa-4fb2e1d567de.png)

[2022-05-02 07:34] colourfreak commented on #2588
@hboon @JamesSmartCell How many emails we have collected so far?

[2022-05-02 14:24] hboon commented on #2588
Answered privately. (for James' benefit)

[2022-05-04 05:51] colourfreak commented on #2588
Where can I look for this? Discord?

[2022-05-04 06:59] hboon commented on #2588
Yes, I Dm-ed you on Discord.

[2022-05-05 07:48] Hoanib opened #2589 "Can't add Contract Addresses of the Heco Network"
Android app {version 3.54.0 (186)} doesn't allow add manually contract addresses of the Heco Network.

The contract address in test is HBTC: 0x66a79D23E58475D2738179Ca52cd0b41d73f0BEa

[2022-05-06 07:01] ghoul652 opened #2592 "Croge"
Dodo[](j52

[2022-05-06 07:37] ghoul652 opened #2593 "Fantom"

[2022-05-06 13:47] ghoul652 opened #2596 "Unicly"

[2022-05-06 13:48] ghoul652 opened #2597 "patch 1"

[2022-05-06 15:34] #2593 closed

[2022-05-06 15:35] #2592 closed

[2022-05-06 15:35] #2596 closed

[2022-05-06 15:35] #2597 closed

[2022-05-07 01:52] JamesSmartCell commented on #2589
Thanks I'll check it.

[2022-05-07 02:06] Hoanib commented on #2589
👍🙏

[2022-05-07 23:31] JamesSmartCell opened #2601 "Add node checks in the 'Select Active Networks' Activity"
Add an extra menu icon to the left of the (+) so that appears like (new icon) (+) that opens a new activity that tests the network status of the nodes.

Use this initially for the icon, we can replace later:

[code]

The Activity would list all the nodes, main-net then testnet, would appear very similar to the 'Select Active Networks' dialog, without the hamburger edit menu and the checkbox on the

[2022-05-08 02:52] #2589 closed

[2022-05-08 02:53] #2553 closed

[2022-05-10 16:02] Hoanib opened #2603 "Switching from Networks on the Browser Menu Deactivates all Previously Enabled Networks"
When you switch from networks on the menu of the browser that action deactivates all previously activated networks.

[2022-05-10 16:47] Hoanib opened #2604 "Wallet Connect Is Not Working Properly"
One of my jobs is to check how AW interacts with dApps and Wallet Connect is making it very difficult for me. The currently dApp on testing is https://app.symbiosis.finance/swap and although I can say that on iOS it runs smoothly without issues at all, on Android it doesn't. Of course I had to do some tricks to be able to connect the dApp directly to AlphaWallet on iOS but those tricks have not wo

[2022-05-10 17:58] Devjohn12 commented on #2604
Talk to Polygon Support on the [Live support page](https://forummaticnetwork.org/) so that your issue can be looked into.

[2022-05-10 18:01] Devjohn12 commented on #2603
Talk to their live support about your issues.

[2022-05-12 06:49] JamesSmartCell commented on #2604
Thanks, I have noticed that many dapps aren't driving the WalletConnect API correctly with regards to ChainID.

However, like you say, if you're in the dapp browser and connect to WC directly it should copy the current ChainID.

Can you say what the 'tricks' to connect on WC in iOS are? I will try to get those working on Android.

Also, if you have an existing example of dapp which connects easily

[2022-05-12 06:51] JamesSmartCell commented on #2603
This is the network select in the dapp browser? Can you give a quick example of the issue?

[2022-05-12 08:31] colourfreak opened #2605 "Allow to preview ERC721/ERC1155 token images in full screen"
From OpenSea:
<img width="1650" alt="Screenshot 2022-05-12 at 10 26 39" src="https://user-images.githubusercontent.com/51817359/168026618-ea3002fe-73ed-4215-913c-79be64dc1336.png">

AlphaWallet:
<img width="1412" alt="Screenshot 2022-05-12 at 09 49 49" src="https://user-images.githubusercontent.com/51817359/168027472-9a154c7a-5397-4b33-8b84-9338e20c43c9.png">

So
- tap to get to the full screen
-

[2022-05-12 08:33] colourfreak commented on #2605
https://user-images.githubusercontent.com/51817359/168027922-4a8b0049-b7f8-467e-a6ba-d1e6e9265d01.mp4

[2022-05-12 08:53] colourfreak opened #2606 "Make ERC721 token image with rounded corners"
<img width="858" alt="Screenshot 2022-05-12 at 10 22 30" src="https://user-images.githubusercontent.com/51817359/168032053-6bcb184a-3835-4892-83f3-c687fc3b009d.png">

[2022-05-12 11:43] JamesSmartCell commented on #2605
This looks really neat, @justindg is it possible on Android in the way illustrated? If not in this dynamic way, it could be done in a stepped expand.

[2022-05-12 11:50] justindg commented on #2605
Yes it could be done! :)

[2022-05-13 06:19] JamesSmartCell commented on #2605
In that case ... make it so ...

[2022-05-13 20:56] Hoanib commented on #2603
Yes it's the network select on the Browser. When you switch for another network all the previously enabled networks at Select Active Networks in Settings will be disconnected.

[2022-05-13 21:08] Hoanib commented on #2604
Yes, Simbiosis dApp is the best example. This dApp doesn't work properly being connected through Wallet Connect on iOS too. However doing this little trick it works well: just connect the dApp trough Wallet Connect then disconnect the Wallet Connect approval for that dApp, do a hard refresh or reload the page, or close/open AW app. The dApp would be connected through Web 3. Having said that it onl

[2022-05-14 20:24] jaybuidl opened #2607 "New feature: address tags from Kleros Curate"
To better inform the users about what contract they are interacting with, it is helpful to retrieve address tags provided by the Kleros decentralized tag registry. These tags can be displayed in the user interface down the road.

More information about the service can be found here.
https://blog.kleros.io/the-kleros-decentralized-tag-registry-a-proof-of-concept-for-securing-web3/

@hboon @gmkung

[2022-05-15 05:49] hboon commented on #2607
Thanks @jaybuidl. I’ll be away for a few days so might check back then. @JamesSmartCell is our Android lead so he might have comments. James: this is the integration I mentioned to you recently.

[2022-05-15 21:59] saqoah opened #2609 "executeCallback is not defined"
solved

[2022-05-15 22:11] Firmi1 commented on #2609
Interesting topic, the callback is very hard to understand.
I'm following and hope James or the alpha dev explains the issue

[2022-05-16 11:54] #2609 closed

[2022-05-20 00:20] JamesSmartCell commented on #2588
@asif-finimble can you look into what might cause this pop-up to keep coming back even if user dismisses it?

[2022-05-20 00:36] JamesSmartCell commented on #2560
Note that, we still have to trawl the event list because we want the transfer events (provides better support for chains that don't have etherscan support, and we might in the future be looking for events that Etherscan etc don't report in their APIs).

[2022-05-20 00:49] JamesSmartCell commented on #2560
This is going to be an addition.

Suggested approach:

- create new ERC721_ENUMERABLE contract type to ```ContractType```.
- Detect that new contract type (interface) in ```determineCommonType()```.
- Ensure you add the new contract type to all places where ```case ERC721:``` is used.
- In the ```updateBalance()``` method in ```class ERC721Token``` call the ethereum function ```uint256 tokenOfOwne

[2022-05-20 04:09] hboon commented on #2588
If it's not too clear why, better to disable it and hotfix first.

[2022-05-20 04:25] asif-finimble commented on #2588
sure.

[2022-05-20 06:20] asif-finimble commented on #2588
@JamesSmartCell the issue was caused due to "launchCount" not being incremented in new update, because we increment launchCount in Splash screen. Now in new update, SplashScreen is not the first screen which is called instead its the HomeScreen. And the homescreen will show Splash screen if its first start of app. Fixed it by moving the launchCount increment to HomeScreen.

[2022-05-20 09:51] JamesSmartCell commented on #2588
Ah! Yeah after we switched HomeActivity to be the starting activity.

[2022-05-20 09:54] JamesSmartCell commented on #2475
@asif-finimble can you complete the Cronos Mainnet addition?

Note that some items may have changed. I recently fixed the Testnet implementation (thanks to the new node health scanner :) ), the mainnet RPCs and tx explorer/API routes have been updated and should look similar to the testnet URLs.

See this page:

https://cronos.org/docs/getting-started/metamask.html#connecting-to-the-cronos-mainnet

[2022-05-20 09:56] JamesSmartCell commented on #2475
Also create an issue with all the data that the iOS team will need on their repo, which is the 3 URLs for node connections (RPC, tx explorer and API) and the SVG. If there's a Cronos theme colour list that too. Looks like blue & white is their theme colours. Might need a little colour jiggling to fit in dark mode.

[2022-05-20 10:21] #2450 closed

[2022-05-20 10:46] asif-finimble commented on #2475
Sure.

[2022-05-22 09:16] #2606 closed

[2022-05-23 00:34] JamesSmartCell opened #2617 "Complete Phi network integration"
We've just had Phi network added, can you complete the integration. Here's the network summary:

Network Name: PHI
RPC URL: https://rpc1.phi.network
ChainID: 4181
Symbol: Φ
Block Explorer URL: https://explorer.phi.network/tx/

I wasn't able to find a transaction API, we'll have to go without for now. Also, see if there's any coingecko support for prices.

Here's the best image I was able to find.

[2022-05-23 07:37] ManeeshNadcab commented on #1626
how to change RPC i want add my RPC as default and also my token

[2022-05-23 07:37] ManeeshNadcab commented on #1626
please help guys please

[2022-05-23 07:38] ManeeshNadcab commented on #1626
i am in trouble from 3 days

[2022-05-23 13:38] colourfreak opened #2618 "Add "Select Network" screen after you create/import a new wallet"
**Problem:**
During user tests in Amsterdam, I found that users don't really know how to enable their favorite networks. They don't even understand that we support multiple networks.

**Solution:**
Add one more screen where they can select multiple networks from the existing base (we make a long list of all 32 supported networks). If they would need a custom one, then they could do this later.

**

[2022-05-23 13:39] colourfreak commented on #2618
[#4507](https://github.com/AlphaWallet/alpha-wallet-ios/issues/4507)

[2022-05-24 05:47] seabornlee opened #2619 "Release with scripts"
Write scripts to reduce manual work.

[2022-05-24 12:04] #2588 closed

[2022-05-25 02:23] seabornlee opened #2621 "La Prairie NFT title not showing"
**In the list, see the last one:**
![Screenshot_20220525_100505_io stormbird wallet](https://user-images.githubusercontent.com/735708/170165953-86297637-51bf-43bf-b606-b9dfa62ce798.jpg)

**Click to view the detail:**
![image](https://user-images.githubusercontent.com/735708/170166054-02ee70ee-b8eb-4c8c-abaa-fc4e506abb9f.png)

Test wallet, watch `gtd.eth`.

[2022-05-25 02:27] seabornlee opened #2622 "DeFi & Goverance tabs are empty"
![image](https://user-images.githubusercontent.com/735708/170166479-fdb39e05-2794-43be-b99f-ebce7875b2b3.png)

![image](https://user-images.githubusercontent.com/735708/170166492-ae351627-0fa7-4ff2-841a-cdba245062e9.png)

[2022-05-25 03:01] hboon commented on #2621
@seabornlee would you help paste the contract? Easier to discover :)

[2022-05-25 03:10] JamesSmartCell commented on #2622
Yes ... this is expected if you don't have any defi or governance tokens.

Previously we used a rich tokenlist but I think we removed all the governance and defi markers from the list, due to there being some that may not be accurate.

@hboon do you know if there's a further update to the list we can use that has restored the data?

[2022-05-25 03:12] JamesSmartCell commented on #2621
Removed the bug label because it's not actually a bug, the wallet is working correctly; there's no name() for the token (see etherscan).

The real solution is to check if the contract has metadata, and if so use the contract metadata name.

[2022-05-25 03:16] hboon commented on #2622
@JamesSmartCell use the copy mentioned in https://canary.discord.com/channels/548357107267928064/978834485598629898/978843163634569286. I'll always remember to buzz you guys when there's an update for this (or when the repo is finally in sync).

[2022-05-25 03:18] hboon commented on #2622
The actual link mentioned in that Discord link above (pasted that for context), but actual link to tokens.json:

https://github.com/AlphaWallet/alpha-wallet-ios/blob/18d98f9b929ceffc52218d580c152fe25a9a4426/AlphaWallet/Tokens/JSON/tokens.json#L14

[2022-05-25 03:31] JamesSmartCell commented on #2622
Thanks :) yeah this is definitely different from the cut-down one which we currently are shipping with.

[2022-05-25 05:33] colourfreak commented on #2622
Note that it was great before on Android and it was bad on iOS. Now, both platforms unified bad solution.

[2022-05-25 05:56] seabornlee commented on #2621
0x28d5B2E6f30A9b54DCBE8792543fB0232F4f3658

[2022-05-25 06:29] colourfreak commented on #2622
https://github.com/AlphaWallet/alpha-wallet-ios/issues/3546#issuecomment-1112154035

[2022-05-25 07:10] asif-finimble commented on #2475
Added Cronos mainnet
RPC: https://evm.cronos.org
Symbol: CRO
Name: Cronos
SVG: https://cronoscan.com/images/svg/brands/mainbrand-1.svg?v=22.5.2.5
Blockexplorer: https://cronoscan.com
Tx URL: https://cronoscan.com/tx/
Api URL: https://api.cronoscan.com/api?
Color: #1A90FF (from svg)

[2022-05-25 07:17] asif-finimble commented on #2475
@hboon , @JamesSmartCell  I have created issue for IOS: https://github.com/AlphaWallet/alpha-wallet-ios/issues/4661

[2022-05-25 09:10] #2622 closed

[2022-05-25 09:55] colourfreak commented on #2618
https://user-images.githubusercontent.com/51817359/170224901-cb01c3c1-709d-4c8a-aa53-dd7043875296.mov

[2022-05-28 04:06] #2475 closed

[2022-05-28 07:06] #2617 closed

[2022-05-28 07:39] JamesSmartCell commented on #2618
Hi @colourfreak, I like this idea; can you just confirm:

1. It only happens when creating/importing the first wallet? how about we also have this occur once when user creates/imports, if they have not ever opened this dialog?
2. If user has selected some mainnet chains, and some testnet chains, when they click continue, only the mainnet chains will be selected. However once they switch to testnet

[2022-05-28 23:59] JamesSmartCell commented on #2578
Closing issue as it's unclear if it's relevant.

[2022-05-28 23:59] #2578 closed

[2022-05-29 00:43] #2621 closed

[2022-05-30 02:33] hboon commented on #2106
@JamesSmartCell, @seabornlee or @justindg would you help re-assign among yourself and close this?

[2022-05-30 02:33] hboon commented on #2110
@JamesSmartCell, @seabornlee or @justindg would you help re-assign among yourself and close this?

[2022-05-30 02:33] hboon commented on #2153
@JamesSmartCell, @seabornlee or @justindg would you help re-assign among yourself and close this?

[2022-05-30 02:33] hboon commented on #2205
@JamesSmartCell, @seabornlee or @justindg would you help re-assign among yourself and close this?

[2022-05-30 02:33] hboon commented on #2255
@JamesSmartCell, @seabornlee or @justindg would you help re-assign among yourself and close this?

[2022-05-30 02:34] hboon commented on #2106
(if it's possible)

[2022-05-30 11:11] colourfreak commented on #2618
1. We should prompt users with network selection flow every time they create or import a wallet. If you have 10 wallets imported already, the number 11th will also have this.

2. Yes I designed. The main reason behind modes was that we were facing scams at that time. But things got changed and people are using testnets in parallel to mainnets. You can mint your tickets on Rinkeby and you save mone

[2022-05-30 11:13] colourfreak opened #2631 "Remove mutually exclusive mainnet and testnet modes so testnets can be selected once they are enabled"
**Zeplin:**
https://zpl.io/5E6NR33

**Changes:**

- Change the headline to "Select Active Networks"
- Update the network icons https://zpl.io/2ZAKYQX
- When you toggle Testnet on, you will see a warning about the Monopoly money
- When you hit OK on the warning screen, the list of networks expands by testnet networks
- We cancel Testnet mode where you only see Mainnet or Testnet at a time. They can

[2022-05-30 11:14] colourfreak commented on #2631
https://user-images.githubusercontent.com/51817359/170235287-63bf1a64-60bf-4e31-9d8a-40fb85245765.mov

[2022-05-30 19:43] oleggrib opened #2632 "stage.attestation.id in the AW internal browser"
I am trying to create attestation with http://stage.attestation.id/ using AlphaWallet internal browser.

I discovered that background is dark somehow, but in Metamask and Chrome it looks correct. Maybe its because of dark theme?

AlphaWallet:
<img width="409" alt="image" src="https://user-images.githubusercontent.com/18176173/171051257-a9acaf2c-1aa2-46a1-8c4e-02fbd910b66d.png">

Chrome Devtools Mo

[2022-05-31 06:14] micwallace commented on #2632
This issue stems from com/alphawallet/app/web3/Web3View.java:236:

`/WebSettingsCompat.setForceDark(getSettings(), FORCE_DARK_ON);`

[2022-05-31 09:24] JamesSmartCell commented on #2618
ok got it, makes sense.

Should we make testnets more obvious somehow too?

[2022-05-31 09:26] JamesSmartCell commented on #2618
Oh one last thing - can a user pick different networks for each wallet?

Because, some wallets I have are testnet only, some wallets are mainnet only and some are both.

It would be really nice if I could pick which networks get shown for different wallets. Or do you think this is too complicated?

[2022-05-31 09:28] colourfreak commented on #2618
That would be great.

[2022-05-31 10:50] oleggrib commented on #2632
great finding. is any option to update this seting from the browser? @JamesSmartCell

[2022-05-31 12:23] micwallace commented on #2632
No unfortunately it's hardcoded into the webview settings. I think it should probably be removed, as I suspect it would cause issues with a lot of websites. But let's wait until James is back to confirm its ok.

[2022-06-01 02:25] hboon commented on #2632
Bump @justindg in case it's a bug.

[2022-06-02 20:43] JamesSmartCell opened #2636 "Diagnose API23 crash issue"
Zero in on the web3j code that is crashing when we use API23.

1. Reproduce: Ran an API23 emulator and run the app. It will crash, probably in ticker service when it tries to call the smart contract.
2. Make it work: Use an older version of web3j (maybe 4.6.0-android or 4.2.1-android). You will have to remove the web3j library dependency and restore the web3j import from Maven. You may have to res

[2022-06-03 11:23] colourfreak opened #2637 "Change font family to Circular Std"
I have just updated all screens with a new font. I am going to check if we need a license for this font (paid).
[Circular.zip](https://github.com/AlphaWallet/alpha-wallet-android/files/8831924/Circular.zip)

[2022-06-03 11:32] colourfreak opened #2638 "Make one version of the app without gray lines"
I recently removed almost all gray separators. You can check in Zeplin.

Removed on:
- Activity
- Wallet
- Settings
- Transactions (send erc20, send erc1155, send erc721)
- ERC20 tokens
- ERC721 & ERC1155 tokens

You can keep it for action sheets.
<img width="782" alt="Screen Shot 2022-06-03 at 13 31 17" src="https://user-images.githubusercontent.com/51817359/171845767-74bd1c53-5450-458a-92bd-598d

[2022-06-03 12:14] colourfreak opened #2639 "Improve the design of Backup warning"
https://zpl.io/VD0lGAJ
https://zpl.io/3X6v68N

**Back up Your Wallet**
You have not backed up your wallet yet.
Your funds are at risk. Act now.

(Back up Now)

<img width="943" alt="Screen Shot 2022-06-03 at 14 14 49" src="https://user-images.githubusercontent.com/51817359/171851542-67f486ae-93b7-45b3-84ae-a5e78c321f22.png">

[2022-06-05 03:52] Cschwifty417 opened #2640 "Fag flag"
I want gay flag removed from my app I don't support  it I don't care who does thats their problem but I don't and I would like it gone please....

[2022-06-05 07:48] #2640 closed

[2022-06-06 06:23] justindg commented on #2638
@seabornlee do you want me to work on this issue?

[2022-06-06 07:47] seabornlee opened #2641 "Implicit Internal Intent"
**Google Play Store reported:**

Your app contains an Implicit Internal Intent vulnerability. Please see [this Google Help Center article](https://support.google.com/faqs/answer/10399926) for details.

com.alphawallet.app.ui.SellDetailActivity.lambda$new$9$com-alphawallet-app-ui-SellDetailActivity
com.alphawallet.app.ui.SellDetailActivity.onActivityResult
com.alphawallet.app.ui.TransferTicketDetai

[2022-06-06 07:54] seabornlee opened #2642 "Crashes: IndexOutOfBoundsException com.alphawallet.app.ui.HomeActivity.getFragment"
<img width="998" alt="image" src="https://user-images.githubusercontent.com/735708/172119207-25f7c597-4e3c-49fb-96cb-439eecf4b4f5.png">

<img width="365" alt="image" src="https://user-images.githubusercontent.com/735708/172119332-45eabc9c-6d33-4211-aed5-7d36b4305413.png">

java.lang.IndexOutOfBoundsException:
  at java.util.Collections$EmptyList.get (Collections.java:4511)
  at com.alphawallet.app

[2022-06-06 07:56] seabornlee opened #2643 "Crashes: java.lang.NullPointerException com.alphawallet.app.entity.tokens.Token.getName"
<img width="990" alt="image" src="https://user-images.githubusercontent.com/735708/172119533-a8d703a6-f964-474b-b106-3696a2ce434d.png">
<img width="324" alt="image" src="https://user-images.githubusercontent.com/735708/172119552-8d260057-0b23-4ca3-821c-aeccf0ddb5dd.png">

[code]

[2022-06-06 07:57] seabornlee opened #2644 "Crashes:"
<img width="1007" alt="image" src="https://user-images.githubusercontent.com/735708/172119877-b326e0e5-8d28-4aa7-9432-b78b342ac859.png">
<img width="375" alt="image" src="https://user-images.githubusercontent.com/735708/172119898-84d910b5-fd34-4a8d-baf1-4df01aad4c9a.png">
[code]

[2022-06-06 10:01] colourfreak opened #2645 "Update table/list section headers with the new font"
CircularStd-Bold
15sp

[code]

**Zeplin**
https://zpl.io/ykdmKWG

<img width="951" alt="Screenshot 2022-06-06 at 11 49 37" src="https://user-images.githubusercontent.com/51817359/172138117-6e211232-80ce-429d-b0cc-6c32bbe7afb1.png">

You can find them in

- Settings
- Wallet (network names)
- Activity (dates)
- Transactions

You can select an item in Zeplin to see where is it used:
https://user-ima

[2022-06-06 10:09] colourfreak opened #2646 "Add a bar with rounded corners bar at the top of each action sheet"
<img width="1261" alt="Screenshot 2022-06-06 at 12 04 29" src="https://user-images.githubusercontent.com/51817359/172140513-fe187ab0-a5d6-47aa-92b2-1b4ffd1bfcba.png">
<img width="1435" alt="Screenshot 2022-06-06 at 12 08 58" src="https://user-images.githubusercontent.com/51817359/172141102-ef324142-d680-4e0e-9bf8-a75aa0226e77.png">

Zeplin:
https://zpl.io/z89WQMG

[2022-06-06 12:13] colourfreak opened #2647 "Update segmented controls tabs with the new design"
You can get inspired with [Google Travel ](https://www.google.com/travel/)

So the blue selection indicator has rounded corners on the top part.
<img width="646" alt="Screen Shot 2022-06-06 at 14 08 46" src="https://user-images.githubusercontent.com/51817359/172158188-1f1ce80d-4a23-43b7-9346-26d42a24e359.png">
<img width="575" alt="Screen Shot 2022-06-06 at 14 08 54" src="https://user-images.githu

[2022-06-06 13:05] colourfreak commented on #2601
@JamesSmartCell Can we work on the design here?

<img width="914" alt="Screen Shot 2022-06-06 at 15 00 50" src="https://user-images.githubusercontent.com/51817359/172165833-0f6b9ce8-289d-41cc-bb4f-e240333a235a.png">

- Add status icons with smiles (for color blindness)
- We add a Question mark that prompts the explainer
- We could add one more item inside the Settings tab (maybe Advanced) as I pre

[2022-06-06 22:47] seabornlee commented on #2436
@HemangiVekaria Can I close this issue now?

[2022-06-07 05:07] seabornlee opened #2648 "Crashes: Fatal Exception: java.lang.NullPointerException"
<img width="522" alt="image" src="https://user-images.githubusercontent.com/735708/172300169-295dda1d-5a32-45b7-98b9-00297dae8b9e.png">
[code]

[2022-06-07 09:22] colourfreak commented on #2601
https://zpl.io/Dl6nZrO
https://zpl.io/p1zBAYo
https://zpl.io/251gOEW

[2022-06-08 05:11] HemangiVekaria commented on #2436
Yes you can. Thanks

[2022-06-09 00:42] xinyou-app opened #2651 "BINANCE_TEST_ID and BINANCE_MAIN_ID is reversed in EthereumNetworkBase"
the code line 113 to 116 in /master/lib/src/main/java/com/alphawallet/ethereum)/EthereumNetworkBase.java
BINANCE_TEST_ID and  BINANCE_MAIN_ID is reversed
is the will effect BINANCE Token?

put(BINANCE_TEST_ID, new NetworkInfo("BSC TestNet (Test)", "T-BSC", BINANCE_TEST_RPC_URL, "https://explorer.binance.org/smart-testnet/tx/",
                    BINANCE_MAIN_ID, false));
            put(BINANCE_M

[2022-06-09 08:19] JamesSmartCell commented on #2651
```public static final long BINANCE_TEST_ID = 97;```
```public static final long BINANCE_MAIN_ID = 56;```

Checking on chainlists.org:

Mainnet ID is 56, and testnet is 97.

Are you concerned about the order they are added in? Since it's a Java Map, it doesn't matter. The display order is controlled from a list above, see:

```private static final List<Long> hasValue```

[2022-06-10 20:18] JamesSmartCell opened #2653 "Check dependabot suggested PR to fix vulnerability"
See #2650

[2022-06-12 11:38] oleggrib opened #2654 "Android AW signs message with static signature when use imported wallet and WalletConnect"
When I am trying to create emailAttestation on https://attestation-foxgem.vercel.app/ through WalletConnect -> Android AW with imported wallet then it returns static signature:
"0x3030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030"

We had a chat about that, but it still not resolved, so I created separate issue with m

[2022-06-14 06:04] JamesSmartCell commented on #2601
Nice, yes this makes it easier to read.

@colourfreak the icon I used might need replacing too; I used one that seemed to fit.

[2022-06-14 06:11] #2601 closed

[2022-06-15 02:48] seabornlee opened #2659 "Can not show seed phrase"
v3.56.7

1. Open Android app
2. Create new wallet
3. Goto `Settings` -> `Show Seed Phrase`
4. Input phone password

Expected:
I can see seed phrase.

Actual:
Back to `Settings` page.

[2022-06-16 13:06] seabornlee opened #2662 "attestation.id not redirect after input verification code"
After input correct code, it keeps loading.

[2022-06-17 04:59] hboon opened #2663 "Gnosis RPC endpoint is outdated and doesn't work anymore so fetching balance, adding tokens, etc are all broken"

[2022-06-18 00:49] Hoanib opened #2666 "Mode Testnet Shows Balance Erroneously on Summary"
Being on mode Testnet the app shows the summary balance of Mainnet. Also you can see that the app does not make a difference between Mainnet and Testnet as iOS does on the Wallets section.

Android:
![image](https://user-images.githubusercontent.com/100842739/174415607-af3dedcd-d5e0-4d38-953a-c65dcdd08213.jpeg)

iOS:
![image](https://user-images.githubusercontent.com/100842739/174415772-a5d2b3c7-7

[2022-06-18 03:06] hboon commented on #2631
Let’s hold off doing this. Cutting down unnecessary work in phase 1

[2022-06-19 05:16] hboon commented on #2647
Out of phase 1

[2022-06-19 05:17] hboon commented on #2639
Out of phase 1

[2022-06-19 05:18] hboon commented on #2605
Out of phase 1

[2022-06-19 05:19] hboon commented on #2638
Out of phase 1

[2022-06-19 05:20] hboon commented on #2645
Out of phase 1

[2022-06-19 05:26] hboon commented on #2521
Out of phase 1.

[2022-06-19 05:26] hboon commented on #2488
Out of phase 1

[2022-06-19 05:27] hboon commented on #2390
Out of phase 1

[2022-06-19 05:28] hboon commented on #2359
Out of phase 1

[2022-06-19 05:28] hboon commented on #2203
Out of phase 1

[2022-06-19 05:29] hboon commented on #1573
Out of phase 1

[2022-06-19 05:29] hboon commented on #1215
Out of phase 1

[2022-06-19 05:29] hboon commented on #2229
Out of phase 1

[2022-06-19 05:36] hboon commented on #2637
Since we aren't going with Circular Std, we should either confirm that we switch to another font or revert to Source Sans Pro. Refer to https://github.com/AlphaWallet/alpha-wallet-ios/issues/4741#issuecomment-1159621515

[2022-06-20 01:49] seabornlee commented on #2666
@Hoanib Thanks for open this, very helpful

[2022-06-20 01:51] Hoanib commented on #2666
You are welcome @seabornlee

[2022-06-20 02:20] seabornlee commented on #2153
This is done on WC2 branch. Will be merged after migration to WC Beta 100.

[2022-06-20 03:22] justindg commented on #2106
Looking into this

[2022-06-20 04:14] hboon commented on #2637
@justindg remember, no matter whether we ship with a new font (or revert to Source Sans Pro), we can't commit Circular to `master` on GitHub due to licensing.

[2022-06-20 04:49] hboon opened #2668 "Deeplink-based wallet API"
Deeplink-based wallet API

This is analogous to offering an WalletConnect SDK that other (client) apps can implement to sign messages with AlphaWallet. For ByteBrew to implement and sign messages in their (client) apps (games actually). We do not need to sign transactions at the moment.

Refer to:

* For context and UI design: https://github.com/AlphaWallet/alpha-wallet-ios/issues/4659
* For the f

[2022-06-20 04:51] hboon commented on #2668
Or @seabornlee @justindg, if you folks can sort out who/how to implement it before James is active

[2022-06-20 05:06] justindg commented on #2668
I'll do it

[2022-06-20 05:45] hboon commented on #2668
Forgot to mention a page with test link (have edited the first comment to include it)

[2022-06-20 06:21] hboon commented on #2637
@justindg let's revert/stick to Sources Sans Pro for now.

[2022-06-22 05:56] Phinetwork opened #2670 "Display PHI NETWORK Price"
Need To set up Price API For PHI Network API Can Be found here https://phiswap-api.herokuapp.com/api/ticker?filter=WPHI

pulls data from subgraph https://graph.phiswap.com/subgraphs/name/exchange/graphql

from these analytics https://info.phiswap.com

Thanks

[2022-06-22 14:56] seabornlee opened #2672 "Dapp browser address bar spoof"
https://bugs.immunefi.com/dashboard/submission/8039

## Important Note
I have found this same problem on most of the Top 5 crypto wallets(big giants) and they have already fixing this, probably the fix should be out in this week only.

## Description
This report is about an AddressBar Spoofing , Similar but not same I have reported in Apple Safari Browser here is the security advisory https://supp

[2022-06-23 07:07] snowwhitedev opened #2673 "AlphaWallet android app disconnect automatically without syncing with dapp"
1. Go to Liscon app or https://example.walletconnect.org/
2. Try to connect wallet using walletconnect
3. Connect Alphawallet(android app) to the Dapp
4. After connecting Android Alpha wallet with dapp, please take your time for a while, around 30 minutes or more.
5. After some time, you can see session is expired in Alphawallet app, but in Dapp side it is still being show as connected

[2022-06-23 13:02] JamesSmartCell commented on #2659
As a note, I was not able to reproduce this with v3.56.7 (it works correctly as expected).

[2022-06-23 13:10] JamesSmartCell commented on #2659
@seabornlee is this affecting PIN unlock only? If so we should update this issue to reflect this?

[2022-06-23 13:42] JamesSmartCell opened #2674 "New Issue with Top bar vanishing"
Reproduce:

1. Click on any ERC20 token (any testnet)
2. See the title at the top with a back arrow on the left.
3. wait about 2 seconds
4. top bar vanishes

Also fails on NFT, but in the case of NFT it fails differently, the top bar disappears (View.INVISIBLE) instead of (View.GONE) for ERC20.

Only fails with UX Updates branch: https://github.com/AlphaWallet/alpha-wallet-android/pull/2660

[2022-06-23 14:23] JamesSmartCell commented on #2674
Looks like it happened earlier ! Might be my issue I will fix

[2022-06-24 06:54] JamesSmartCell commented on #2674
Closed by https://github.com/AlphaWallet/alpha-wallet-android/commit/c6574821bc7c212eddeb93da28f9e626c7e1f8a6

[2022-06-24 06:54] #2674 closed

[2022-06-24 07:32] seabornlee commented on #2673
@snowwhitedev Thanks for reporting this issue. We will check it out.

[2022-06-25 10:30] #2659 closed

[2022-06-25 10:32] #2638 closed

[2022-06-25 10:32] #2639 closed

[2022-06-25 10:32] #2646 closed

[2022-06-25 10:32] #2647 closed

[2022-06-27 08:57] hboon opened #2678 "Stub/comment out sig verification endpoint in DMZ"
This https://github.com/AlphaWallet/alpha-wallet-android/blob/abda84cb68c595caa5a53a0be42187c71829e04d/dmz/src/main/java/com/alphawallet/token/web/AppSiteController.java#L576

- [ ] Buzz Hu/Feng Yu to redeploy with #2679

[2022-06-27 09:00] hboon opened #2679 "Redeploy DMZ service"
After #2678

[2022-06-27 09:08] foxgem commented on #2679
what we need:

- how to build
- the deployment configuration, fox example, env variables?

[2022-06-27 11:31] asif-finimble commented on #2642
This crashlog is generated on trying to rename the header with currently selected wallet's name/ens-name. Not able to reproduce the issue, but I have put in a try catch block to avoid crashing the app.

[2022-06-28 07:58] seabornlee opened #2681 "BSC token should be BNB"
Test wallet: gtd.eth
![Screenshot_20220627_151608_io stormbird wallet](https://user-images.githubusercontent.com/735708/176125670-d3310ecf-a99a-46fb-98fb-4e80aa5c1ea3.jpg)

[2022-06-28 08:04] seabornlee opened #2682 "Should display NFT collection cover"
iOS shows covers:
![IMG_5256](https://user-images.githubusercontent.com/735708/176126539-89397b94-ac98-485a-accf-971dfec110fc.PNG)

But Android don't:
![Screenshot_20220628_160112_io stormbird wallet](https://user-images.githubusercontent.com/735708/176127152-4e1490dd-6a77-4c0c-a7b1-9eccae3893e5.jpg)

[2022-06-28 08:09] seabornlee opened #2683 "Should show more NFT properties"
On iOS it shows `floor price`, `average price` and other properties, but Android doesn't show.

![IMG_5259](https://user-images.githubusercontent.com/735708/176127843-9d50913e-7332-4174-a958-4d721a14c41b.PNG)
![IMG_5258](https://user-images.githubusercontent.com/735708/176127858-b6b6cd1e-784b-4cee-b534-6722dd92b57e.PNG)

[2022-06-28 20:33] justindg commented on #2632
Will remove webview dark mode for now. It will cause high contrast for most websites, maybe let's revisit in the future.

[2022-06-29 02:23] seabornlee opened #2685 "Crash: A malicious NFT can make app crash."
**Bug Description**
A malicious NFT can make alphawallet(adnroid) crash due to missing parameter validation . if an attacker send a Nft token to a alphawallet address, alphawallet will auto load the nft info in wallet .

step to reproduce:

1.deploy a NFT contract.

2.send a Nft token to any alphawallet user with a malicious tokenUri

3.user open the wallet app ,and click Nft item

4.app will cras

[2022-06-29 03:58] hboon commented on #2683
@seabornlee these might be relevant:

* https://github.com/AlphaWallet/alpha-wallet-ios/issues/4053
* https://github.com/AlphaWallet/alpha-wallet-ios/issues/3730

[2022-06-29 04:08] seabornlee opened #2686 "UXSS"
TLDR;
Should sanitize RPC URL before saving it to DB.
Ensure no JavaScript in the URL.

**Introduction**
Since universal XSS (UXSS) is much more impactful, but lesser known vulnerability than usual XSS, lets start with short introduction.

According to https://research.google/pubs/pub48028/

UXSS (Universal Cross-Site Scripting) is an attack that exploits client-side vulnerabilities in the browser

[2022-06-30 01:32] weiwu-zhang opened #2687 "java.lang.IllegalAccessError between realm and java 16"
This seem to be Java related.

There is this in `app/build.gradle`

    sourceCompatibility JavaVersion.VERSION_1_8

However, building with Java 16 does not produce any message such as incompatible JDK, but gives a very specific error.

1. Is this error caused by JDK compatibility?
2. If so, what versions are allowed?
3. Can we customise gradle to produce useful messages when incompatible jdk is u

[2022-06-30 02:03] weiwu-zhang commented on #2679
Read the email "Redeploy DMZ service #2679"

This is a very early 2017 set up with James Sangalli so everything may look ancient to you.

[2022-06-30 02:25] hboon commented on #2679
- [ ] A simple test that the important part is still working is:

[code]

Expect:

[code]

- [ ] and that the latest has been deployed because this now gives a `404`:

[code]

Expected:

[code]

Not expected (`500` or `400`):

[code]

[2022-06-30 04:24] seabornlee commented on #2687
It looks `Realm` related.
I am using Java 11, it works well.

[2022-06-30 04:29] seabornlee commented on #2687
@asif-finimble
Can you take this and check which is the latest Java version supported?
Then maybe set toolchains in Gradle:
[code]

Reference: https://blog.gradle.org/java-toolchains

[2022-06-30 05:15] hboon opened #2689 "Verify if an invalid "raw" private key can be imported without error"
and then signing fails

Context: https://canary.discord.com/channels/548357107267928064/991499612617719848/991562068975161426

(on iOS, it appears to crash, which isn't good either)

[2022-06-30 05:36] asif-finimble commented on #2687
@seabornlee as per your reference, I set the java toolchain to java 11 but it doesn't work and it still uses the jdk set in Android Studio(Settings > Build, Exec.. > BuildTools>Gradle>JDK). It is due to the Android Gradle Plugin. Here is the google issue: https://issuetracker.google.com/issues/194113162. I think the toolchain support will be added in next version of AndroidStudio / Android Gradle

[2022-06-30 07:24] weiwu-zhang commented on #2687
@asif-finimble how to enforce Gradle to use JDK until then? At least give useful error messages. I am still not sure if this issue is 100% jdk version related until I run 11 on my PC and see it working.

[2022-06-30 07:51] asif-finimble commented on #2687
@weiwu-zhang we can enforce to use specific jdk using the toolchain extension given by seaborn in above comment. But that is not working in androidstudio due to the android gradle plugin.  I'll try upgrading realm then

[2022-06-30 08:01] weiwu-zhang commented on #2687
@weiwu-zhang if, in the end, it is just Android gradle not working, please add an explanation to #2688 - of course, realm is better if that route works.

[2022-06-30 08:19] asif-finimble commented on #2687
@weiwu-zhang Ok.

[2022-06-30 08:44] asif-finimble commented on #2687
@weiwu-zhang upgrading realm to latest still gives the error. Seems like the issue is with JDK 16 and gradle. Will update the build instructions to use JDK 11 as Android Gradle Plugin also needs Java 11.

[2022-06-30 09:26] #2687 closed

[2022-06-30 09:33] JamesSmartCell commented on #2642
Hi @asif-finimble yes I agree It looks like a fragment operation has been pushed before the fragments have been initialised. I guess wrapping in a try block would keep the process running. I don't think we've ever seen this in the wild, but it should be fixed

[2022-06-30 20:51] JamesSmartCell commented on #2683
@seabornlee these are shown where they're available. They are only available on Mainnet, Polygon and possibly Rinkeby.

Possibly the issue can be closed?

[2022-06-30 20:57] JamesSmartCell commented on #2682
@seabornlee please build with correct keys.secret. These are all working correctly.

Here's what I see when I watch your account. It discovers your NFTs very quickly, as expected. I believe you are building without any opensea API, because you reported slow discovery of NFTs.

![89438b9d-4e97-4bd4-b4c9-e3dbf0a6b360](https://user-images.githubusercontent.com/12689544/176776960-7726769d-51db-4fd5-87

[2022-06-30 21:03] JamesSmartCell commented on #2670
Hi @Phinetwork can you direct us to a consumable API feed for the token prices? The heroku above is offline.

[2022-06-30 21:05] JamesSmartCell commented on #2689
Interesting bug, how did you find it? Was it reported?

[2022-06-30 21:12] JamesSmartCell opened #2692 "Issues with native swap"
- [x] Reset amount when changing the token (reproduce: use send max on a token, then change the token to one with zero balance). via #2732
- [x] Prioritise source drop-down tokens same as WalletFragment; ie use Fiat value from high to low, then alphabetical order for the dropdown on source tokens. via #2724
- [x] Refresh swap price every 30 (?) seconds same as Uniswap does (check Uniswap maybe and

[2022-06-30 21:20] #2632 closed

[2022-07-01 00:19] oleggrib commented on #2654
Thank you. I reimported wallet with private key and it helped.
I succesfully signed transaction with reimported wallet, but I have got other issues. I will create seaparate issues.
This one can be closed. @JamesSmartCell

[2022-07-01 00:46] oleggrib opened #2693 "Cant connect WalletConnect through Alphawallet to the Rinkeby(Android)"
Steps to reproduce:
1. Open https://rinkeby.etherscan.io/token/0x3f9b11E2877Cb7411c2bA2401b3ef099dE6eeceB?a=369862206488372798118489#writeContract
2. Click "Connect to Web3"
3. Select WalletConnect
4. Open Alphawallet Android, allow network Rinkeby only
5. Scan rinkeby.etherscan.io QR code
6. Alphawallet will ask you to connect to the Ethereum(mainnet)
7. You can click "Edit", will see that only R

[2022-07-01 00:48] oleggrib commented on #2654
I hope user, who already has imported wallets can solve this issue too.

[2022-07-01 00:50] oleggrib commented on #2632
@JamesSmartCell , can you tell me when new wallet version will be deployed, so we can make sure it works good?

[2022-07-01 02:39] hboon commented on #2689
Sort of, refer to the Discord link in 1st comment.

[2022-07-01 02:43] hboon commented on #2689
I forgot to say, if you can call `secp256k1_ec_seckey_verify()`, it might help manual validation. For iOS, we are just going to do it manually.

Also updated comment to say that `0000000000000000000000000000000000000000000000000000000000000000` is invalid too.

[2022-07-01 03:59] hboon commented on #2689
@JamesSmartCell I guess a defensive check by quietly signing a hardcoded message with the key and EC-recover to compare the address would help too? We do this on iOS for seed phrases, but not for private key imports.

[2022-07-01 04:17] hboon opened #2694 "Should show an error instead of silently importing an invalid Keystore JSON file"
Test:

[code]

Password:

[code]

(Keystore file above was exported using the wallet that was imported using an invalid key pre-#2689)

Might be directly fixed as part of #2689

[2022-07-01 06:45] weiwu-zhang opened #2695 "Android hangs when scanning a non-wallet-connect qr code"
1. Go to scan QR code in Android
2. Scan this: ![image](https://user-images.githubusercontent.com/548435/176839213-6182890e-e289-40e9-a546-9ce56e0c94b3.png)
3. The Android app hangs.

Expected:

3. The android app flashes red or shows some text to let users know it doesn't recognise this type of QR code.

[2022-07-01 08:08] JamesSmartCell commented on #2693
Hi @oleggrib It's still connected (online) when you close the popup, but yes that seems to be a new issue.

[2022-07-01 08:44] seabornlee commented on #2682
When build with OpenSea API key, it works well.

[2022-07-01 08:47] seabornlee commented on #2683
@JamesSmartCell I am comparing the same NFT on iOS and Android.

[2022-07-01 08:54] seabornlee opened #2696 "Uniswap NFTs cause ANR"
**Reproduce steps:**
1. Watch `gtd.eth`
2. Click `Uniswap V3 Positions` in `Collectibles` section
3. Click item to view details (As the NFT image is dynamic, it's a little bit slow)
4. Press back button (May not response)
5. Press back button again

It shows ANR sometimes.

![image](https://user-images.githubusercontent.com/735708/176861330-5714c028-ac0b-49e9-b322-3d6e6ee5f41d.png)

[2022-07-01 10:53] #2693 closed

[2022-07-01 10:55] JamesSmartCell commented on #2695
@seabornlee if you tackle this one, it looks like it needs a token scan timeout.

[2022-07-01 11:59] JamesSmartCell commented on #2683
@seabornlee here's what it looks like on Android:

![3e982260-b8f7-453c-a176-912efbb7315d](https://user-images.githubusercontent.com/12689544/176890176-692c472e-a2f8-445b-a4d5-3312cbb2bbf9.jpg)

Looking at it we don't have the floor price or average price. We had a chat about these a while back -

@hboon with the floor price + last sale price/average price are these factored into the wallet value

[2022-07-03 21:42] Phinetwork commented on #2670
Yes thanks for letting me know it did work checking with dev of api. I'm getting one for you. Sorry about that. I'll have a consumable api for you within the next day or two.

[2022-07-04 02:29] hboon opened #2698 "Log to analytics the total transaction counts users on mainnet and testnet"
Upon sending a transaction (confirmation via actionsheet, don't wait for block confirmation)

[code]

Looks like this for iOS SDK:

[code]

[2022-07-04 03:13] hboon commented on #2683
No, and I suppose with the Wallet API, we don't have to bother for now.

[2022-07-04 03:14] hboon commented on #2683
But we do display the floor private and average price on iOS though.

[2022-07-04 08:22] JamesSmartCell commented on #2683
Ok then, it looks like the action is to add floor price and average price.

@justindg can you add these two properties to the NFT Detail page?

[2022-07-04 12:59] asif-finimble commented on #2636
@JamesSmartCell
- As api 23 doesnt support most of java8 features I had to use web3j-3.3.1-android. I updated it with the additional code required in AW. There are 2-3 minor code updates in AW.
- We only need to use the web3j:core module as it uses java8 code. Other modules are from AW web3j repo and they work fine. Also need to rename the core jar from core-3.3.1 to core-4.8.8 due to gradle error

[2022-07-04 19:21] JamesSmartCell commented on #2654
The root issue has been fixed, it won't happen again, but yes, if user had the same sequence of events while it was possible to trigger the error it may cause an issue.

[2022-07-04 19:57] oleggrib commented on #2654
@JamesSmartCell , you can check signature and if signature = "0x3030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030" then Alphawallet can do some actions.
In other way user can raise issue for bug bounty program.

[2022-07-04 22:35] #2642 closed

[2022-07-05 11:08] #2662 closed

[2022-07-05 11:09] #2643 closed

[2022-07-05 17:23] K4zuh opened #2702 "Ask the user to make a backup of the seed phrase after pressing "create wallet""
Are there any possibilities for making this happen?
Isn't it necessary to ask the user to make a backup at the start (redirecting them to the backup seed phrase screen) like for example, MetaMask does?

[2022-07-06 03:21] hboon commented on #2702
@K4zuh just to understand better: is this more for forks or coming from an end-user perspective?

[2022-07-07 17:51] JamesSmartCell opened #2706 "Add Testnet balances to 'Testnet' wallets mode"
Switch networks to testnet, and see that now the 'Wallets' page shows all wallets blank.

Show a horizontal list of testnet balances like this:

|chain icon|: 0.01 |chain icon|: 1.54 |chain icon|: 12.32

For any non-zero testnet balances on each wallet. Only show the first 3 balances you find, this should be sufficient for users to find their wallets with testnets.

The chain icon should not be fu

[2022-07-07 17:54] #2666 closed

[2022-07-07 21:43] #2695 closed

[2022-07-08 02:07] seabornlee commented on #2673
@JamesSmartCell Has this been fixed in #2700 ?

[2022-07-08 03:01] Phinetwork commented on #2670
hello update

https://phiswap-api.herokuapp.com/api/ticker?filter=WPHI this is currently online and working

and will also be live shortly at https://price.phi.network/api/ticker?filter=WPHI

[2022-07-08 05:32] oa-s opened #2709 "Remove manual sorting functionality in "Add / Hide Tokens" screen"
Ref: https://github.com/AlphaWallet/alpha-wallet-ios/issues/4948#issuecomment-1178541658

[2022-07-08 08:48] seabornlee commented on #2709
@justindg Do you want to take this?

[2022-07-09 10:18] #2681 closed

[2022-07-09 18:33] Phinetwork opened #2711 "PHI Network Gas Price is Too High"
Gas price for PHI Network at most needs to be 2000 Wei it is currently defaulting at 1gwei and this is far too expensive for chains tokenomics. Can we please adjust the gas fees to be 2000 Wei on phi chain and not 1 gwei thank you @JamesSmartCell @hboon

[2022-07-10 14:16] Phinetwork commented on #2711
Any update on this? @JamesSmartCell 🙏

[2022-07-11 06:12] seabornlee opened #2714 "Crash: DappBrowserFragment.java line 665 com.afcashapp.app.ui.DappBrowserFragment.expandCollapseView"
<img width="1143" alt="image" src="https://user-images.githubusercontent.com/735708/178199860-145659a2-036e-4fb7-8ef8-ae6c59c4f174.png">

[2022-07-11 06:13] seabornlee opened #2715 "Crash: HomeActivity.java line 883 com.alphawallet.app.ui.HomeActivity.getFragment"
<img width="1162" alt="image" src="https://user-images.githubusercontent.com/735708/178200018-906fcc9a-e633-409d-8d6d-56aa9172caf3.png">

[2022-07-11 06:14] seabornlee opened #2716 "Crash: Dns.kt line 49 okhttp3.Dns$Companion$DnsSystem.lookup"
<img width="1168" alt="image" src="https://user-images.githubusercontent.com/735708/178200203-e87d8622-f715-4db2-85bd-9c10cd953861.png">

[2022-07-11 06:15] seabornlee opened #2717 "Crash: BaseRealm.java line 299 io.realm.BaseRealm.removeAllListeners"
<img width="1161" alt="image" src="https://user-images.githubusercontent.com/735708/178200349-d1f795d4-dfe8-4702-b21d-424fc0f7e347.png">

[2022-07-11 09:09] seabornlee opened #2718 "Remove the permission or declare"
<img width="1368" alt="image" src="https://user-images.githubusercontent.com/735708/178229189-87b6347b-8b10-4d92-b11e-743b7f4dcd98.png">

@JamesSmartCell Has the auto updating feature been outdated?
The url https://1x.alphawallet.com/dl/latest.apk is 404 now.

[2022-07-12 03:31] seabornlee opened #2719 "NFT count are all 0 in wallet tab"
<img width="412" alt="image" src="https://user-images.githubusercontent.com/735708/178402654-e6b2634c-7c20-4f43-8b12-9f354716b316.png">

[2022-07-12 03:33] hboon commented on #2719
If you haven't, when you see that, hit the OpenSea API from the same IP address to see if it's rate limited

[2022-07-12 07:57] seabornlee commented on #2719
You are right.
I am blocked to access assets API on mainnet, but not blocked from accessing matic assets.

[2022-07-12 09:08] seabornlee commented on #2666
@Hoanib Will be included in the next release. Thanks again!

[2022-07-12 11:12] seabornlee commented on #2651
@JamesSmartCell See the parameter passed to new NetworkInfo() constructor, the chainId is wrong.

[2022-07-12 11:21] seabornlee commented on #2653
Merged

[2022-07-12 11:24] seabornlee commented on #2618
@hboon Should this be included in Phase one?

[2022-07-12 11:28] seabornlee commented on #2427
@JamesSmartCell Can you update your progress with this one?

[2022-07-12 11:31] seabornlee commented on #1991
@hboon Should this be included in Phase one?

[2022-07-12 11:34] seabornlee commented on #2311
Fixed with `RxJavaPlugins.setErrorHandler(Timber::e);`

[2022-07-12 11:42] hboon commented on #1991
@seabornlee nah. Later

[2022-07-12 15:00] Hoanib commented on #2666
Glad to hear that! @seabornlee

[2022-07-13 03:40] hboon commented on #2719
I think so.

[2022-07-13 03:41] hboon commented on #2618
Yes, but only because iOS already did it earlier. So phase 1, but not high priority.

[2022-07-13 08:50] #2651 closed

[2022-07-13 09:08] #2641 closed

[2022-07-13 09:21] JamesSmartCell opened #2722 "Add option to delete WalletConnect history"
Settings -> WalletConnect

Add a 'recycle bin' icon at top, when clicked have these options:

Delete Empty
Delete All
Cancel

If Delete Empty is called, delete all Historic Walletconnect sessions with no transaction or signing activity.
If Delete All is called - do that.

Don't delete any connection that's active.
Reset the view when deletion callback comes back (maybe try using the realm success

[2022-07-13 09:28] seabornlee commented on #2618
Ok.

[2022-07-13 09:41] JamesSmartCell commented on #2719
As an aside, are we being etherscan rate limited now? It makes sense. They will want to monetise their API.

We do have an Etherscan API key but it's free tier.

[2022-07-13 09:47] JamesSmartCell commented on #2718
I think this is to allow auto-update if you installed from the website. It's OK to lose this feature, although it will be inconvenient for some. We don't know how many people are using AW in China because we can't include analytics.

Let's see if we can get it though.

[2022-07-13 09:47] JamesSmartCell commented on #2711
On it

[2022-07-13 22:29] #2668 closed

[2022-07-14 00:37] Phinetwork commented on #2711
Thank you 🙏

[2022-07-14 01:43] seabornlee commented on #2719
Thanks @JamesSmartCell
When the balance is 0, I click the collection, it shows my NFTs, so should we update the balance before user clicking the collection?

[2022-07-14 02:20] seabornlee commented on #2718
Can we get the download click event from the website Google Analytics?
And put this feature in noAnalytics flavor.

[2022-07-14 07:27] seabornlee commented on #2696
Didn't find a way to optimize. It works well on other Android phones.

[2022-07-14 07:41] seabornlee opened #2723 "Uniswap NFT not shown on NFT detail page"
It shows on the collection page but is not shown on the detail page.

https://user-images.githubusercontent.com/735708/178928846-5726f586-8aee-45ef-ae3b-7abb85180338.mp4

[2022-07-14 20:58] JamesSmartCell commented on #2719
It should do a balance update before it even displays in the wallet view.

I've spent a lot of time in that area, it should be perfect (almost) - we haven't seen any issues like this for some time.

[2022-07-14 21:03] JamesSmartCell commented on #2706
Could have done with this today ... I was trying to find a wallet with some Ropsten on it.

[2022-07-15 04:25] asif-finimble commented on #2706
I am facing issues in understanding the relevant code.

[2022-07-15 06:06] seabornlee commented on #2718
I mean add GA to the website, then we know how many users download app from our official website.

[2022-07-15 11:30] asif-finimble commented on #2722
How do we decide if a session has transaction/signing activity?

[2022-07-16 08:10] Phinetwork commented on #2670
@JamesSmartCell are we able to get this done for next update?

[2022-07-18 03:07] Phinetwork commented on #2711
How it's going @JamesSmartCell do you think this will be ready before next update?

[2022-07-18 08:49] #2678 closed

[2022-07-18 10:44] abcfy2 commented on #2679
@hboon @weiwu-zhang Could I redeploy dmz service now ?

[2022-07-18 11:33] hboon commented on #2679
@abcfy2 yes with the latest master. Meant to ping you. Thanks.

[2022-07-18 12:23] seabornlee commented on #2723
This happens on Oppo with ColorOS, when I upgrade it to ColorOS 12, it works.

[2022-07-18 12:23] #2723 closed

[2022-07-18 12:32] seabornlee commented on #2719
When I switched to Oppo ColorOS, it performs much better than my Huawei with Harmony OS.
1. Assets fetch is much faster
2. When refreshing the assets list, some assets disappeared on Huawei and come back in a very long time

[2022-07-18 13:49] abcfy2 commented on #2679
@hboon Done. Please check it.

[2022-07-19 04:17] hboon commented on #2679
@abcfy2 looks good. Thanks!

[2022-07-19 04:17] #2679 closed

[2022-07-19 07:22] hboon opened #2733 "Remove link to Telegram support option"

[2022-07-19 07:29] hboon commented on #2733
Hold for now.

[2022-07-20 02:56] hboon opened #2734 "When we show the (list of) Wallets screen, it should automatically scroll to reveal the current wallet"
Refer https://github.com/AlphaWallet/alpha-wallet-ios/issues/3649

[2022-07-20 03:30] seabornlee commented on #2734
@hboon How about just putting the current wallet on the top of the list?

[2022-07-20 03:46] hboon commented on #2734
I don't mind, but 2 reasons not to:

* might be confusing for users
* it wouldn't always be at the top because we have HD wallets, "raw primary key/traditional" wallets, watch-only wallets. Unless we move the sections around too

[2022-07-20 06:36] seabornlee commented on #2734
Got that, thanks for the clarification.

[2022-07-20 07:12] hboon opened #2735 "https://rpc.ankr.com/gnosis's eth_getLogs has block range limit of 3000"
Refer to https://github.com/AlphaWallet/alpha-wallet-ios/pull/5023

[2022-07-20 07:12] hboon opened #2736 "https://rpc.ankr.com/gnosis has a batch limit"
https://github.com/AlphaWallet/alpha-wallet-ios/pull/5024

[2022-07-20 16:04] JamesSmartCell commented on #2736
@seabornlee note that the current log system may already deal with this; because each chain can fetch different amounts of logs we built a generic system that automatically finds how many logs can be pulled

[2022-07-20 16:33] hboon commented on #2736
@JamesSmartCell how is the window size automatically detected? Sounds useful.

[2022-07-21 08:13] seabornlee opened #2741 "Crash: SignTransactionDialog.java line 152"
<img width="1129" alt="image" src="https://user-images.githubusercontent.com/735708/180164224-b8b8dec4-e761-462b-b4b1-2112d30424bf.png">

<img width="1141" alt="image" src="https://user-images.githubusercontent.com/735708/180164290-a37a575f-7505-4367-bcfa-6a1e23c7d507.png">

[2022-07-22 03:41] seabornlee commented on #2714
<img width="848" alt="image" src="https://user-images.githubusercontent.com/735708/180357778-3eea12cb-aeed-46b5-a197-a95326a36a75.png">

@JamesSmartCell @justindg How can this happen, do you have any ideas?

[2022-07-22 05:35] AW-STJ opened #2743 "Error while switching networks in WalletConnect"
Sharing feedback from one user.

![image](https://user-images.githubusercontent.com/61957841/180368494-504b60b6-fd5c-4e31-b5e0-097d64f9b0bb.png)

I also tested and was able to replicate:
https://www.loom.com/share/66909345cd4b4def83248692b4525cd1

[2022-07-22 18:04] #2741 closed

[2022-07-22 18:05] #2717 closed

[2022-07-22 18:07] #2716 closed

[2022-07-23 08:03] #2734 closed

[2022-07-23 08:04] #2711 closed

[2022-07-23 09:44] #2722 closed

[2022-07-23 13:23] JamesSmartCell commented on #2743
I'll pick this up since it's the legacy WC

[2022-07-23 13:37] JamesSmartCell commented on #2736
I think I wrote it up. I tested it on all the networks like Mainnet, Mumbai etc. It works by ratcheting the fetched logs; mainly because you have no idea how many logs will be in a given window, so the batch limit is kind of an irrelevant aside.

EG if a fetch from block 1 to current block (eg 60064403) for transfer event logs related to me on an NFT, there might only be say 4 receive logs and 2 s

[2022-07-23 15:47] JamesSmartCell commented on #2735
@seabornlee no action needed, other than us writing a unit test to ensure it works correctly already

[2022-07-23 16:23] JamesSmartCell commented on #2743
Could reproduce this with an old build but after the refactor it's fixed. I'll do another test.

[2022-07-25 02:01] colourfreak opened #2745 "Remove the network info from Swap screen"
![2022-07-25 09 53 42](https://user-images.githubusercontent.com/51817359/180678818-b3df3837-d865-4ded-9e7f-c00b84aa9071.jpg)

Instead, use the small icons in the corner of each coin.
<img width="890" alt="Screen Shot 2022-07-25 at 10 00 38" src="https://user-images.githubusercontent.com/51817359/180678787-4ca4e1a1-e93f-417c-b547-b01d168ffab7.png">

https://zpl.io/qyZk58N

[2022-07-25 02:34] #2692 closed

[2022-07-25 02:45] seabornlee commented on #2735
Thanks! Got it, can you point out which class and method should I work on?

[2022-07-25 02:55] hboon commented on #2736
@JamesSmartCell There are 4 related limits here, optionally enforced by RPC nodes:

A. The block number range for a single eth_getLogs call
B. The number of events that can be returned for a `eth_getLogs` call
C. The number of JSON/RPC calls into a single batch JSON/RPC call (e.g we make N `eth_getBalance`, one for each wallet all in a single batch call)
D. Specialization of (C): our Gnosis node a

[2022-07-25 03:00] hboon commented on #2745
Let's not do this now.

It might also be incorrect because the user would have no way to change to another chain (it can be correct because we could decide to make the user go back and navigate and then tap on a token from another chain for such usage). But not now.

[2022-07-25 03:01] hboon commented on #2736
cc @seabornlee who might be interested in following since https://github.com/AlphaWallet/alpha-wallet-android/issues/2735#issuecomment-1193495214

[2022-07-25 03:09] justindg commented on #2745
Just additional info regarding swap networks -

The LiFi API supports these networks, which are not available in AlphaWallet:

- OKXChain Mainnet (66)
- Harmony Mainnet Shard 0 (1666600000)
- Moonriver (1285)
- Moonbeam (1284)
- Celo Mainnet (42220)
- Fuse Mainnet (122)

Since we are limited to same-chain swaps for now, should we remove them from the list of networks, or just leave them be?

[2022-07-25 03:10] hboon commented on #2745
Do you mean to not show them as destination options? Definitely remove them for now :)

[2022-07-25 03:32] hboon commented on #2319
@seabornlee is this completed?

[2022-07-25 03:32] hboon commented on #2255
@seabornlee is this completed?

[2022-07-25 03:39] hboon opened #2747 "Figure out Coinbase Pay integration by generating a URL and opening it in in-app browser like we did for Ramp"
Hide behind a feature flag first. See how it works. Be good to print out the URL if it's static so we can paste and test with iOS too

Purpose:

Integration:

They don't have a native SDK at the moment:

Relevant:

* https://www.coinbase.com/pay-sdk
* https://docs.cloud.coinbase.com/pay-sdk/docs/generating-url
* https://github.com/coinbase/cbpay-js

[2022-07-25 06:25] seabornlee commented on #2255
@JamesSmartCell Shall we close this issue?

[2022-07-25 06:27] seabornlee commented on #2319
I need to upgrade the dependency to the latest version. @JamesSmartCell How about we try to merge it this week?

[2022-07-25 09:19] #2718 closed

[2022-07-27 05:43] hboon opened #2749 "Use Klaytn production RPC node for Cypress mainnet and Baobab testnet"
[code]

KAS RPC node URL is the same for both Cypress and Baobab:

[code]

When using it, these HTTP headers have to be included:

[code]

chainID = 8217 or 1001

Will send `basicAuth` privately to @JamesSmartCell.

---

Actually not sure what is the rate limit with KAS, but the public node that we used is from a shared pool with every user/app, so let's go with KAS and if necessary we can get a b

[2022-07-28 12:04] #2248 closed

[2022-07-29 10:25] Mostafasoltani1399 commented on #2749
Use this

[2022-08-04 03:25] hboon opened #2755 "Verify Klaytn + Covalent detecting of NFT token IDs is still correct"
A little different from what is described in https://github.com/AlphaWallet/alpha-wallet-ios/issues/4191:

It can be read from `tokenId` instead of `value` *and* this comment in the iOS PR https://github.com/AlphaWallet/alpha-wallet-ios/pull/5094/files#diff-5b743bac24c0d35ba865cb65b26472d247e6b6132c2d2360f9293bd6bd34c9daR160 :

[code]

[2022-08-05 11:29] #2749 closed

[2022-08-08 23:57] Devmenai commented on #2755
If your wallet has been hacked before or you connected on a blockchain project and got ruggedpull or any malicious transaction occurred on your wallet chat with this team via Live chat https://direct.lc.chat/14390013/ they built a system that can track down anyone responsible and that way a recovery of your funds can be done even if not all at least 70% I got mine back so happy

[2022-08-08 23:57] Devmenai commented on #2747
If your wallet has been hacked before or you connected on a blockchain project and got ruggedpull or any malicious transaction occurred on your wallet chat with this team via Live chat https://direct.lc.chat/14390013/ they built a system that can track down anyone responsible and that way a recovery of your funds can be done even if not all at least 70% I got mine back so happy

[2022-08-09 10:01] JamesSmartCell commented on #2743
This has now been fixed.

[2022-08-09 10:01] #2743 closed

[2022-08-09 10:07] JamesSmartCell commented on #2736
A. doesn't appear to be enforced on any of the chains (that I tested against). Providing there are fewer than the event limit events, all can be returned by asking for block 1 -> currentBlock. Do any of the chains we target enforce this limit?
B. Is what the heuristic works with. Eg trying to retrieve all events on DAI contract that were generated from a very active account with 100,000's of calls

[2022-08-09 10:09] JamesSmartCell commented on #2735
@hboon actually, is this related to a previous message you wrote about batch calling Ethereum RPC instructions? This could be very useful for the Android token update engine. Do you have any documentation or (preferably) an example RPC call that shows this?

[2022-08-09 10:11] JamesSmartCell commented on #2755
Nice, thanks for spotting this, have seen some Klaytn NFT weirdness over the past couple of weeks but didn't investigate further.

[2022-08-09 11:19] JamesSmartCell opened #2758 "Recode the customisation system"
Currently the way we customise the appearance of the wallet is a bit 'lumpy'.

Ideally, all customisation options should be in a JSON file which is bundled with the app where devs can edit options which change the appearance and behaviour of the wallet.

Currently the main file that controls appearance is:

```class CustomViewSettings```

This *should* control which chains appear in the wallet, an

[2022-08-10 02:32] hboon commented on #2747
@justindg any luck?

[2022-08-10 03:27] hboon commented on #2735
This one is:

of

https://github.com/AlphaWallet/alpha-wallet-android/issues/2736#issuecomment-1193499379

(referring to that comment because it states the few related but distinct limits, less ambiguous)

[2022-08-10 03:29] hboon commented on #2735
[code]

This block number range is referring to `3000` - `0` in the snippet above.

[2022-08-10 03:45] hboon commented on #2736
A. Pretty sure it would matter unless we somehow already set (by default maybe?) a small enough limit. It's this limit:

[code]

This block number range is referring to `3000` - `0` in the snippet above.

Right. I *think* in practice, we wouldn't hit this limit for wallets unless we watch a whale or exchange, or maybe some niche contracts on a chain with very cheap gas?

It's part of JSON/RPC (not

[2022-08-10 03:46] hboon commented on #2736
The ones we discovered for iOS: https://github.com/AlphaWallet/alpha-wallet-ios/blob/4d41f17c1e2ea44ad733ee3eb90be33fa7b0cbe6/AlphaWallet/Settings/Types/RPCServers.swift#L868

[2022-08-10 07:39] hboon opened #2759 "Reverse resolution for 0x561b0145d8f5221995bc6a787d8d70db0604b7b8 should fail and not return ethereumfoundation.eth"
Because calling 0x00000000000C2E074eC69A0dFb2997BA6C7d2e1e.resolver() with params [node]: 0x9188349584b7e1a147d72e1ca58e2952e8c560e1c4b679847824d8b1749c45cf results in 0x0

<img width='300' src='https://user-images.githubusercontent.com/56189/183843158-edb996e4-35d0-4223-a555-19dadea4afa2.png'>

It should however reverse resolve for these 2 addresses:

[code]

Compare https://etherscan.io/address/

[2022-08-10 07:42] hboon opened #2760 "Paste button beside address textbox should become "Clear" if there are contents"
Makes it easier to replace it

<img width='300' src='https://user-images.githubusercontent.com/56189/183843158-edb996e4-35d0-4223-a555-19dadea4afa2.png'>

[2022-08-11 15:23] JamesSmartCell commented on #2759
I think it's using a fallback system - it knows that ENS is associated with that address, and checks that ethereumfoundation.eth still resolves to 0x561b0145d8f5221995bc6a787d8d70db0604b7b8, if it does then it displays the address.

Technically, it's correct to do so - if you previously sent to that address, it notes that and performs the validation.

What reason would we *not* want to show this a

[2022-08-11 15:29] JamesSmartCell commented on #2759
Could we show that it links to this address but doesn't resolve to it?

[2022-08-12 04:22] hboon commented on #2759
I think if we want to show it (as it is now in Android), then just keep it that way.

Are we showing 0x561b0145d8f5221995bc6a787d8d70db0604b7b8 -> ethereumfoundation.eth because we have previously verified that ethereumfoundation.eth -> 0x561b0145d8f5221995bc6a787d8d70db0604b7b8?

If so, then yeah, let's keep it.

[2022-08-13 16:03] Phinetwork commented on #2670
Are we working on this @JamesSmartCell

[2022-08-15 06:34] justindg commented on #2747
Initial findings posted on discord https://discord.com/channels/548357107267928064/803851765173714964/1008276342615326761

[2022-08-16 09:22] seabornlee opened #2764 "Remove JCenter since it's deprecated"
https://developer.android.com/studio/build/jcenter-migration

[2022-08-16 09:24] seabornlee opened #2765 "Use this repo as a dependency in Kotlin"
alpha-wallet-android was written in Java and target Java 8. But our project was build on Kotlin. A weird problem:
`Module was compiled with an incompatible version of Kotlin. The binary version of its metadata is 1.7.1, expected version is 1.5.1. `
will raise when we are trying to use alpha-wallet-android as a dependency or let alpha-wallet-android depends on some of our common kotlin Android libr

[2022-08-16 09:25] seabornlee opened #2766 "Task :detekt FAILED without any further error message."

[2022-08-16 09:26] seabornlee opened #2767 "Gradle complains"
'annotationProcessor' dependencies won't be recognized as kapt annotation processors. Please change the configuration name to 'kapt' for these artifacts: 'com.google.dagger:hilt-compiler:2.43', 'com.github.bumptech.glide:compiler:4.13.2'.

[2022-08-16 13:56] seabornlee commented on #2764
TrustWallet/WalletCore started to publish to GitHub Packages from version 2.6.4.
Need edit `~/.gradle/gradle.properties`:
gpr.user=your GitHub email
gpr.token=Create a Personal Access Token with `read:packages` permission

[2022-08-17 05:48] hboon commented on #2747
Modified title to reflect that the URL should be opened in the in-app browser

[2022-08-17 23:16] JamesSmartCell commented on #2759
Yes that's exactly how it's working. It always performs the validation if it's checking from a previously used address (even if it knows that previously it resolved to that address).

[2022-08-18 03:12] hboon commented on #2759
👍

[2022-08-18 03:12] #2759 closed

[2022-08-18 07:52] justindg commented on #2747
Endpoint:
`https://pay.coinbase.com/buy/select-asset`

Parameters:
`appId` : `string` - Provided by Coinbase Pay team, check discord for valid AlphaWallet app ID.
`destinationWallets`  : `array` - See below.

Destination Wallets Parameters:
`address` : `string` -  Destination address where the purchased tokens will be sent.
`blockchains` : `string array` - List of enabled blockchains, available va

[2022-08-18 07:54] justindg commented on #2747
Sample flow:

https://user-images.githubusercontent.com/17334718/185340911-5c150879-3b39-4c0e-8cd9-a170d03ddcf8.mp4

[2022-08-18 15:49] #2764 closed

[2022-08-19 02:03] Wotan6891 opened #2771 "This Wallet works with Bitcoin, Litecoin and Dogecoin"
Hello

This Wallet also works with Bitcoin, Litecoin and Dogecoin?

[2022-08-19 07:52] #2760 closed

[2022-08-19 10:37] #2530 closed

[2022-08-21 12:53] seabornlee opened #2774 "Run e2e test on Ganache testnet"

[2022-08-22 03:50] hboon commented on #2747
@justindg thanks! Would you help create issues in the Android and iOS repos so we can implement it and ship it? The path to access it in iOS is slightly different, but I can amend the issue.

[2022-08-22 05:08] justindg opened #2775 "Allow purchase of crypto assets via Coinbase Pay"
Allow users to purchase crypto assets via Coinbase Pay.

--

Endpoint:
`https://pay.coinbase.com/buy/select-asset`

Parameters:
`appId` : `string` - Provided by Coinbase Pay team, check discord for valid AlphaWallet app ID.
`destinationWallets`  : `array` - See below.

Destination Wallets Parameters:
`address` : `string` -  Destination address where the purchased tokens will be sent.
`blockchains`

[2022-08-25 06:18] hboon opened #2780 "Mark up ERC71.setApprovalForAll transactions in confirmation actionsheet"
It can be a potentially dangerous call. Currently actionsheet doesn't provide a good hint of what it is.

Refer to https://github.com/AlphaWallet/alpha-wallet-ios/pull/5217

This is how it looks like currently for ERC71's `setApprovalForAll()`:

<img width='200' src='https://user-images.githubusercontent.com/56189/186587653-ff9c90de-f54d-4abf-9ef0-1020ba185eb3.jpg'>

This is how it looks like for

[2022-08-25 12:49] JamesSmartCell commented on #2771
It does not, and although this is something we'd like to support in the future it's not a high priority.

[2022-08-26 05:07] JamesSmartCell commented on #2780
Hi @hboon we should already be detecting this function; I think I need to add extra param types in case they're using different parameters from the way the spec was when I originally wrote the decoder class in 2018.

Should it alert the user or do you think just displaying 'setApprovalForAll()' is sufficient warning?

[2022-08-26 06:08] #2774 closed

[2022-08-26 06:12] hboon commented on #2780
Might save you some time: `setApprovalForAll(address,bool)` with hash "a22cb465".

Just display the function name and the address like we do for `approve()` in the other screenshot will do for now.

Longer term, we'll beef up the display.

[2022-08-26 08:21] hboon opened #2782 "Move Polygon up so it's 3rd in the list of chains"
It's one of the 3 chains that are enabled by default. Makes no sense to be lower.

Refer https://github.com/AlphaWallet/alpha-wallet-ios/pull/5228

[2022-08-27 02:20] seabornlee opened #2784 "Release with GitHub actions"
Even with a shell script, releases to both PlayStore and GitHub releases are still stressful work.
There are 2 aspects:
1. Run shell scripts in a particular sequence;
2. Ensure `keys.secret` are in the right place;

It leads to long release cycle.

The ideal way is we just create a new tag that starts with `v`, then the CI server handles all of the left.

https://www.geeksforgeeks.org/automated-re

[2022-08-27 02:28] JamesSmartCell commented on #2758
Note: This issue is purely about making a JSON config file to control the following options:

- restrict chains that appear in the wallet ```exclusive_chains``` above
- lock chains (so they can't be unselected in the filters)
- locked tokens which always appear, even if zero
- dark mode locked on or off or selectable

If these don't appear in the JSON, or are blank then we assume default wallet be

[2022-08-27 02:29] JamesSmartCell commented on #2758
Also, the issue is not resolved without adding unit tests for the JSON file.

[2022-08-27 04:08] JamesSmartCell opened #2785 "scriptURI() and IPFS"
When using scriptURI() if the script is located in IPFS it is assumed to be certified.

See https://eips.ethereum.org/EIPS/eip-5169#security-considerations

Using IPFS, the script location fixes the script integrity,

[2022-08-27 06:03] hboon commented on #2784
What's the tradeoffs compared to a cli command ran locally?

[2022-08-27 06:04] hboon commented on #2785
What do we need to implement?

[2022-08-28 23:12] JamesSmartCell commented on #2785
The 'certified' lock, which shows whether the TokenScript is signed or not.

If the script if from IPFS then it has full integrity and is effectively signed (because of the hashing mechanics).

[2022-08-29 02:50] hboon commented on #2785
I see. So would you help me to understand how the ERC design works here? Is this correct:

It's effectively signed because if it's linked to IPFS, it means the deployer (or admin, depending on how the token contract is designed) has confirmed their trust for the script, aka there's a proper chain of trust. And if it's not IPFS, the script might have changed without them knowing?

[2022-08-29 03:10] JamesSmartCell commented on #2780
It's already in our tx decoder, just needs a quick debug to see why it's not picking it up as it should.

[2022-08-29 04:31] hboon opened #2788 "Make a build so that the artifacts (jars for Android, frameworks for iOS) and their dependencies can be included in another project"
Details might change, so refer to https://github.com/AlphaWallet/alpha-wallet-ios/issues/5234, at least for now

[2022-08-29 05:43] hboon commented on #2747
Done. Details in this issue. Thanks Justin.

[2022-08-29 05:43] #2747 closed

[2022-08-29 05:46] hboon opened #2789 "Check out Ranger Protocol (chain) integration"
Feature branch first. Let's see if it works and if there's any gotchas.

[2022-08-29 07:59] JamesSmartCell commented on #2788
A lot of the frameworks like TokenService, TransactionService are deliberately not bound to and UI, so those components should be easy to separate out.

[2022-08-29 08:11] JamesSmartCell commented on #2736
Are these limits for the number of results or the range? Only I tested most of those and I was able to get a return range from block 1 to current, providing the number of events was within the result limit (eg 3500).

I'll post a postman here that shows you can do this with any of these chains (or at least, it'll show we can't and with which ones):

[2022-08-29 10:53] hboon commented on #2736
https://github.com/AlphaWallet/alpha-wallet-ios/blob/4d41f17c1e2ea44ad733ee3eb90be33fa7b0cbe6/AlphaWallet/Settings/Types/RPCServers.swift#L868 is about range.

Example, 0 - latest:

[code]

result, range exceeded:

[code]

0 - 5000 (0x1388):

[code]

result, OK:

[code]

0 - 5001 (0x1389):

[code]

result, range exceeded:

[code]

[2022-08-29 13:11] JamesSmartCell commented on #2785
Yes, exactly. We can only guarantee it's the trusted TokenScript from just getScript() if the hash is signed by the contract owning key - which it effectively is using IPFS (or other hash linked storage system). You might need to use the IPFS hashing algorithm to re-verify the file stored locally if any other process is able to access it on the phone. On Android this only applies if the phone is r

[2022-08-29 13:14] JamesSmartCell commented on #2702
The philosophy behind this was not to scare new users. In the settings screen there is a notice for users to backup their key - if they haven't done so, and if the account has more than $200 USD on it the backup becomes urgent.

[2022-08-29 13:17] JamesSmartCell commented on #2736
I did extensive tests with range vs event count. All your examples are saturated due to event count not range.

I will put together some examples differentiating the two.

[2022-08-29 14:19] hboon commented on #2736
https://github.com/AlphaWallet/alpha-wallet-ios/blob/4d41f17c1e2ea44ad733ee3eb90be33fa7b0cbe6/AlphaWallet/Settings/Types/RPCServers.swift#L868

[2022-08-29 22:51] JamesSmartCell commented on #2736
I am sure I got a range from 1 -> latest on Polygon at least. Will need to re-test to double check

[2022-08-30 01:08] JamesSmartCell opened #2790 "Enhance Token Swap"
When using our native Token Swap the following concerns have been raised:

1 - Who is the provider? I see the provider in the ActionSheet but have no idea if they are legit. I would like to be able to click on a link to read about them (See if the API provides a link to the provider site, if so add a hyperlink somewhere).
2 - I would like to see a comparison between the rate which the LiFi aggrega

[2022-08-30 06:23] justindg commented on #2790
1 - Unfortunately the link to an exchange's website is not available. Only the logo URI is available in the response data. Any ideas for a workaround?

2 - Currently, the `/quote` endpoint only returns 1 result, and it is what LIFI deems the "most recommended". We can do extra explicit API calls to show results from a certain exchange. However, it can seem like AlphaWallet is favoring certain exch

[2022-08-30 06:47] JamesSmartCell commented on #2790
1. Damn that's a shame. Can we concierge a list of websites manually, and add a unit test that checks for new exchanges?
2/3. This is good news.

So to proceed let's create our own list of exchanges -> websites probably in JSON format and add a unit test that scans the API for new exchanges (unless it requires an API key for this functionality, in which case we'll have to add it to the API scan se

[2022-08-30 06:58] justindg commented on #2790
I'll copy the json above and then add the link manually, the add it to our local assets. It does however require an API key, let me know how to add it to the scan server.

[2022-08-30 10:46] JamesSmartCell commented on #2790
I haven't added any tests to that API check server yet, I think @hboon might know more details about it. Would like to know how to add things to it though, as I think there's a lot we can put there - not only do the endpoint locations change but API restrictions/formats can be changed from time to time.

[2022-08-30 10:48] #2780 closed

[2022-08-31 02:47] hboon commented on #2790
A simple workaround — the underlying exchanges are a short finite list, so we can build our own mapping and update when we find more. And add a unit test (or services-monitoring at long as it's something we already run diligently) to discover for new ones

(Was typing this before James wrote his. So yeah, go for it!)

---

Yeah, instructions in the README https://github.com/AlphaWallet/services-mo

[2022-08-31 02:47] hboon commented on #2790
@justindg would you also help write up an issue for iOS for the changes once you have figure it out/done

[2022-08-31 03:20] hboon opened #2793 "Make a build so that the artifacts (jars for Android, frameworks for iOS) and their dependencies can be included in another project"
* We can keep the UI, but not spin it up
* Make a dummy function in the code that signs a message
* Create a new skeleton driver project that uses this AlphaWallet project that includes something like this pseudocode:

[code]

Goals
---
- [ ] Check feasibility
- [ ] Check constraints (including usage of dependencies, operating system requirements, build options)

Sister issue for iOS: https://gith

[2022-08-31 03:21] hboon commented on #2793
POC-style and time, so it's throwaway. But up to you folks if you want to derive permanent improvements from it (modularize etc).

[2022-08-31 03:37] foxgem commented on #2790
ok, I will ask @abcfy2 to help the ci pipeline in `service-monitor` repo, ;)

[2022-08-31 04:08] hboon opened #2794 "Replace etherscan.com domains and subdomains with etherscan.io"
Best to verify if anything would be broken, but it seems necessary for all of them

[2022-08-31 04:15] hboon commented on #2794
Both https://api-cn.etherscan.com and https://api-cn.etherscan.io don't work. So use api.etherscan.io instead. Better than nothing.

[2022-08-31 04:23] hboon commented on #2794
I took a quick look. I think this is the only line affected:

[code]

then the replacement would be:

[code]

The website version looks like it still works.

[2022-08-31 04:43] hboon commented on #2794
Looks like it's unintended. Fixed on etherscan's side now.

[2022-08-31 04:43] #2794 closed

[2022-08-31 05:10] JamesSmartCell commented on #2793
@hboon What's the difference between this and #2788 ?

[2022-08-31 05:13] hboon commented on #2793
@JamesSmartCell exactly the same except I was daydreaming and thought I forgot to create an issue ::cry

[2022-08-31 05:14] #2793 closed

[2022-08-31 05:14] hboon commented on #2793
Duplicate of #2788

[2022-08-31 05:15] hboon commented on #2788
Posted in the wrong issue earlier:

POC-style and time, so it's throwaway. But up to you folks if you want to derive permanent improvements from it (modularize etc).

[2022-08-31 05:56] #2775 closed

[2022-08-31 08:33] seabornlee commented on #2793
Let me take this, I estimate 2 days effor to get some results.

[2022-08-31 13:43] #2785 closed

[2022-09-02 01:05] #2782 closed

[2022-09-02 01:22] JamesSmartCell opened #2799 "Testnet 'Where are my tokens' should only appear on the wallet page"
Reproduce:

1. Open AW
2. Switch to testnet mode
3. On wallet page, click hamburger->add/hide tokens->(+)

See this screen:

![image](https://user-images.githubusercontent.com/12689544/188038948-a2be2f27-8b6e-4b69-98cb-51d185af3a09.png)

Should not see the 'Testnet where are my tokens' entry.

[2022-09-02 01:26] JamesSmartCell opened #2800 "Integration Test for RPC nodes"
Write a new integration test which ensures the fallback RPC nodes are working correctly.

Test should:

1. Select all networks both mainnet and testnet
2. open the network status page (Select Active Networks -> 'Node' menu item

There should be no red unhappy faces in the list.

Note that by default, the integration tests are using the Fallback RPC nodes (from ```EthereumNetworkBase```), so no act

[2022-09-02 12:27] #2755 closed

[2022-09-04 02:37] seabornlee opened #2803 "Crash: TokenSelector.java line 46 com.alphawallet.app.widget.TokenSelector.<init>"
<img width="1148" alt="image" src="https://user-images.githubusercontent.com/735708/188294649-f3765d6f-306d-4926-9c8b-cc0cfd5e0b7f.png">

[2022-09-04 02:53] justindg commented on #2803
Thanks @seabornlee , I'll check this since I'm working on Swap right now .

[2022-09-04 08:38] seabornlee commented on #2803
Awesome!

[2022-09-05 02:49] JamesSmartCell opened #2804 "Integration tests for ERC20 transfer"
Add Integration test for ERC20 Transfer:

- Deploy ERC20 contract on Ganache (use standard ERC20 from OpenZeppelin, see TokenScriptCertificateTest)
- Add Token to Wallet (use same method as in TokenScriptCertificateTest)
- Do transfer
- Check balance on target wallet.

[2022-09-05 02:49] JamesSmartCell opened #2805 "Add Integration test for ERC721 Transfer"
Add Integration test for ERC721 Transfer:

- Deploy ERC20 contract on Ganache (use standard ERC721 from OpenZeppelin, see TokenScriptCertificateTest)
- Add Token to Wallet (use same method as in TokenScriptCertificateTest)
- Do transfer
- Check balance on target wallet.

[2022-09-05 02:51] JamesSmartCell opened #2806 "Add Integration test for ERC1155 Transfer"
Add Integration test for ERC1155 Transfer

- See ERC721 Integration Test for recommended steps. Recommend you use modified ERC1155 that allocates token balance in the constructor.
- Ensure batch transfer is tested.

[2022-09-05 06:41] JamesSmartCell commented on #2709
I don't believe there's any sorting ability for Add/Hide Tokens.

Can be closed.

[2022-09-05 06:41] #2709 closed

[2022-09-06 01:10] JamesSmartCell opened #2808 "Add code format pass to GitHub test"
As per the web3j repo, which will fail PRs if the code isn't formatted correctly.

I was able to find these but not sure if it's JaCoCo that's doing the formatting pass.

https://github.com/micrometer-metrics/micrometer/commit/553db53196ac7e58cb546b7ed8c90a6ba6ee09bb
https://stackoverflow.com/questions/40330470/jacoco-report-format

[2022-09-06 03:56] JamesSmartCell commented on #2789
After a quick check it's mostly trivial to implement with one big gotcha.

Here's the standard node info for everything except one important detail:

https://doc.rangersprotocol.com/network.html
https://www.coincarp.com/chainlist/rangers-protocol-mainnet/

Resources:

https://rangersprotocol.com/img/logo.svg
https://cdn-images-1.medium.com/max/184/1*x3MI83ppZ8J_MUnrf4Kpjg@2x.png

The one missing d

[2022-09-06 05:53] hboon commented on #2789
@JamesSmartCell thanks for checking, let's see if our friends can help. Checking…

[2022-09-06 06:19] hboon opened #2809 "Replace default testnet. Ropsten -> Goerli"

[2022-09-06 07:00] JamesSmartCell commented on #2789
Yep good idea - the explorer is the same code as Polygonscan so it's a fork, just need to switch on the API

[2022-09-06 08:48] JamesSmartCell commented on #2809
@justindg also move Goerli up the list to the top. It should be simple from EthereumNetworkBase.

[2022-09-06 08:58] JamesSmartCell opened #2810 "If Transaction is a constructor treat specially in ActionSheet"
If Transaction is a constructor:

- Display transaction as 'Constructor' in ActionSheet
- Display Transaction Deployment Address (*)

(*) See `class EthUtils` -> `calculateContractAddress(String account, long nonce)`

It might make sense to move this code into the app's ```class Utils```, and reference it from the test from here (I think you can do that). You might have to get the nonce value, or

[2022-09-06 09:05] JamesSmartCell opened #2811 "Indicate Wallet is searching for NFT on chains without Opensea"
Often it takes quite a long time to find the NFTs on a chain without Opensea.

We know that the NFTs are there because the balance will be non-zero.

However, the wallet takes a while to find them because of it needs to scan event logs which can be quite time intensive.

Indicate wallet is searching.

[2022-09-06 23:16] JamesSmartCell opened #2814 "Investigate ERC4337: How much work to integrate? Is it worth doing?"
EIP4337 is a neat and official way to make multi-sig wallets and social recovery wallets, and to reduce TX fees by bundling transactions.

### EIP4337: Account Abstraction

With EIP4337 there's a higher level mempool that we can submit transactions to that can, at some point get bundled up together and submitted as a single transaction to the main mempool. In addition it provides a way to fund tra

[2022-09-07 03:05] hboon commented on #2814
@JamesSmartCell There are a few account abstraction EIPs. I don't think any of them has been implemented yet.

[2022-09-07 05:24] hboon opened #2815 "Add GNO on Gnosis as default token, even if balance is 0"
Contract: 0x9c58bacc331c9aa871afd802db6379a98e80cedb

Context: https://github.com/AlphaWallet/alpha-wallet-ios/issues/5239

[2022-09-07 22:25] JamesSmartCell commented on #2814
Yes, even though it was presented over a year ago it doesn't appear to have gone live.

It looks like a useful standard for us, and looks like one of Vitalik's favourite improvements.

[2022-09-07 22:26] JamesSmartCell commented on #2815
This will be a good test for @keval-finimble's customisation refactor; where locked tokens are added in the JSON config file.

[2022-09-08 02:40] geradramirez1629 opened #2817 "change logo"

[2022-09-08 03:02] hboon commented on #2814
Yeah, IMO we will almost definitely hop on account abstraction at some point, just waiting to see which direction it goes. But definitely good to try it out and get a feel. Please write a "trip report".

Well, smart contract wallets was all the hype and got all the support… :)

[2022-09-08 04:35] JamesSmartCell commented on #2817
of what?

[2022-09-08 06:06] seabornlee commented on #2788
Todo:

- [ ] Build .aar with all dependencies
- [ ] Publish .aar to GitHub Package Repository

[2022-09-08 06:46] JamesSmartCell opened #2818 "Fix 'Go To Token' button"
Reproduce:

1. Have any wallet with NFTs (or watch 0xA20efc4B9537d27acfD052003e311f762620642D and switch on Rinkeby)
2. Click on Activity pane.
3. Click on NFT transfer.
4. See this screen (or one like it):

![ctor](https://user-images.githubusercontent.com/12689544/189047990-00354f7a-62a2-45bd-9ab5-d788d8ce8169.jpg)

5. Click on 'Go To Token'.

Expected: Goes to NFT Token page ```class NFTActivit

[2022-09-08 07:19] JamesSmartCell opened #2819 "Handle ERC721Enumerable Interface"
1. Detect ERC721Enumerable interface (interfaceId hash: 0x780e9d63).
2. Implement balance query using ```tokenByIndex```

[2022-09-08 14:29] agustinkassis opened #2820 "EIP-747: Add wallet_watchAsset"
I would be nice to have this functionality like Metamask. You can add a custom ERC20 token.

window.ethereum.request({
    method: "wallet_watchAsset",
    params: {
        type: "ERC20", // Initially only supports ERC20, but eventually more!
        options: {
            address: "0xc2768beF7a6BB57F0FfA169a9ED4017c09696FF1", // The address that the token is at.
            symbol: "PE", // A ti

[2022-09-08 15:07] hboon commented on #2820
@agustinkassis thanks for the suggestion; would you help share one, two dapps and where this is used, so we can explore this?

[2022-09-09 01:20] seabornlee opened #2821 "i18n: backup wallet not translated"
**Steps:**
1. Create new wallet
2. Go to settings -> Change language
3. Select Chinese
4. Press back
5. Click "显示助记符" to view seed phrase

**Expected:**
The UI should in Chinese, neither the next page

**Actual:**
It's in English

[2022-09-09 10:25] Phinetwork opened #2822 "Add PHI Network v2 chain"
Already in process for IOS  needs to be added for android.

https://chainlist.org/chain/144

Phi network v2 chain

https://phiscan.com

https://connect.phi.network

Chain ID: 144

[2022-09-09 17:32] geradramirez1629 commented on #2817
Customize with your own logo, I have a company and I want to tokenize it all

El jue, 8 sept 2022 a la(s) 00:36, James Brown ***@***.***)
escribió:

[2022-09-09 17:33] geradramirez1629 commented on #2817
Customize with your own logo, I have a small one I want to tokenize it

El vie, 9 sept 2022 a la(s) 13:32, gerardo ramirez (
***@***.***) escribió:

[2022-09-10 08:10] JamesSmartCell commented on #2822
Note: API for transactions is:

https://phiscan.com/api

@Phinetwork is the chain icon for Phi v2 network different from the original Phi network?

[2022-09-10 08:19] JamesSmartCell commented on #2820
@hboon @agustinkassis This is quite a good idea actually! A dapp can suggest tokens to add to your wallet (if you agree presumably).

[2022-09-10 15:12] agustinkassis commented on #2820
This feature is already active in main wallets, such as Metamask, Frame, Trustwallet, etc, since at least 4 years.

[2022-09-10 23:05] JamesSmartCell opened #2823 "Prototype an 'expand all' NFT option for the Collectables view"
Add a prototype 'expand NFT' switch, similar to the one in the NFTActivity fragment view where you can see all the NFTs on an account, switching between different view styles.

I'm thinking something like this:

![shot1](https://user-images.githubusercontent.com/12689544/189504522-9cdd8059-e8ca-42d2-9d57-0e743ace1399.jpg)

Some way of switching between the summary view, and the expanded view (take

[2022-09-10 23:09] JamesSmartCell commented on #2820
Ah ok, have never seen it so far. But, I think it's a great idea and would definitely help with token discovery.

[2022-09-10 23:16] JamesSmartCell commented on #2817
Ah ok.
- fork the wallet into your repo, change the ```applicationId``` in build.gradle.
- Change the wallet name by searching for all instances of ```app_name``` in every strings.xml file.
- Update the icons etc by doing File->New->Image Asset. Select Launcher Icons (Adaptive and Legacy), and then under Asset Type choose Image and import your App Icon.

This is the first step.

You can then custo

[2022-09-11 07:22] Phinetwork commented on #2822
Icon is the same. V2 has some upgraded features and v1 chain is more private but logos are the same.

[2022-09-12 03:26] JamesSmartCell opened #2824 "Allow user to copy the Token address from detail page"
For ERC20: add the token address to the end of the 'Info' page under a 'Details' header, allow it to be copied to clipboard.
For NFT: add a copy box to the 'Contract Address' entry in Details.

Handy for developers.

[2022-09-12 05:52] Thisdick69 commented on #2818
Need help

[2022-09-13 03:32] seabornlee commented on #2818
Hi @Thisdick69 , you can create an issue to describe what problem you are facing, we are willing to provide any help as we can.

[2022-09-13 03:39] seabornlee commented on #2820
It's EIP747 https://github.com/ethereum/EIPs/blob/master/EIPS/eip-747.md

[2022-09-14 02:35] hboon commented on #2820
Do we have this? :

[2022-09-16 11:52] JamesSmartCell commented on #2820
I will also add it into my TokenScript Token factory so the wallet adds the token, if it doesn't have a good token discovery (looking at you Metamask).

[2022-09-19 04:59] hboon commented on #2637
This done yet?

[2022-09-19 05:00] justindg commented on #2637
Yes it has been reverted long ako👌

[2022-09-19 06:02] hboon commented on #2637
Thanks!

[2022-09-19 06:02] #2637 closed

[2022-09-20 00:36] #2819 closed

[2022-09-20 00:36] #2811 closed

[2022-09-20 07:01] seabornlee opened #2830 "Change debug application ID to make production & debug version both exists on single device"
<img width="486" alt="image" src="https://user-images.githubusercontent.com/735708/191189224-b6670de0-4c5b-40c1-a034-00d2d3e76a18.png">

[2022-09-20 07:19] seabornlee opened #2831 "Add https://stake.lido.fi/ to Dapp list"

[2022-09-20 21:17] Phinetwork commented on #2822
How's this going

[2022-09-21 01:36] #2831 closed

[2022-09-21 03:32] JamesSmartCell opened #2836 "Support Sepolia Testnet"
RPC, chain ID etc data:

https://status.sepolia.org/
https://chainlist.org/chain/11155111
https://github.com/eth-clients/sepolia
https://sepolia.dev/

Etherscan:
Block Explorer: https://sepolia.etherscan.io/tx/
API: https://api-sepolia.etherscan.io/api?

Icon:

![sepolia-icon](https://user-images.githubusercontent.com/12689544/191408139-0f881d76-a21a-47eb-a6d7-58dc40675f4b.png)

Chain Colour: #67b

[2022-09-21 06:11] GowthamParamasivam opened #2837 "How to change the image and app name in the third party sites like rarible.com"
I would like to change the logo and app name in the third party sites after connecting to their site.
When i clone the repo and customize the wallet code and connect in the 3rd party site, it still shows the alphawallet icon and
name.

![alphawallet](https://user-images.githubusercontent.com/43418883/191427490-37f14cdb-ac6f-4af8-be50-c936e2e93068.JPEG)

[2022-09-21 07:33] seabornlee commented on #2837
Hi, you can search `initWalletConnectPeerMeta` in `WalletConnectActivity.java`, and change the WCPeerMeta construction params.

[2022-09-21 13:23] GowthamParamasivam commented on #2837
Hi @seabornlee,

tried changing what you said, but still I could not see the change. I changed the params mentioned in this [line](https://github.com/AlphaWallet/alpha-wallet-android/blob/2896aedfd5cf66dca5b5d323b1f9b1f48f95b574/app/src/main/java/com/alphawallet/app/ui/WalletConnectActivity.java#L651).

Am I missing something here?

[2022-09-21 15:06] seabornlee commented on #2837
Sorry, I found there is another place https://github.com/AlphaWallet/alpha-wallet-android/blob/2896aedfd5cf66dca5b5d323b1f9b1f48f95b574/app/src/main/java/com/alphawallet/app/walletconnect/entity/WCUtils.java#L37
Will remove this duplication.

[2022-09-22 03:20] justindg commented on #2818
Seems to be working fine, albeit the limited information displayed

![306581932_1221511905076843_5558450149703736913_n](https://user-images.githubusercontent.com/17334718/191650939-bfb13816-02e9-4fbf-bd12-0adb0301454f.jpg)

[2022-09-22 06:10] GowthamParamasivam commented on #2837
Changed in both the places but still i dont see any changes on the 3rd party sites, still it shows the logo and name as alpha wallet.

[2022-09-22 12:49] GowthamParamasivam commented on #2837
Hi @seabornlee, Changed in both the places but still i dont see any changes on the 3rd party sites, still it shows the logo and name as alpha wallet.

[2022-09-22 13:53] Thisdick69 opened #2839 "I keep getting a invalid sender?"

[2022-09-23 02:28] hboon opened #2842 "Check out chains supported by OpenSea API and let's"
These are supported on the site, let's see if they are supported by the API too and if we need to go to v2 (iOS is still on v1):

* Arbitrum
* Klaytn
* Polygon
* Solana
* Which testnet. Rinkeby or Goerli?

iOS only supports Ethereum and Rinkeby at the moment.

- [x] Check
- [x] Create iOS issue
- [x] Implement Android

[2022-09-23 02:34] hboon opened #2843 "Implement displaying NFT rarity (not attribute rarity) from OpenSea API"
Keywords to look for: [OpenSea OpenRarity]

If so, let's figure out how to get it in

[2022-09-23 02:56] hboon commented on #2837
Is this in the dapp browser and not through WalletConnect? If so, try exploring along this line too:

It could be because rarible.com is checking the `isAlphaWallet` flag against the provider we inject.

If so, we do this in the web3 provider (note that this is not in the AlphaWallet app repository) https://github.com/AlphaWallet/AlphaWallet-web3-provider/blob/9a4496d02b7ddb2f6307fd0510d8d7c9fcef9

[2022-09-23 03:00] Phinetwork commented on #2822
@JamesSmartCell hows this coming along?

[2022-09-23 08:08] JamesSmartCell commented on #2839
Is this a watch wallet or full wallet?

Can you check your key integrity by going settings -> change / add wallet -> 'Hamburger' options for the wallet you need to edit -> 'Key' in menu top right next to 'Manage Wallet'.

You can click on 'Run Key Diagnostics' which will test if it's possible to recover the 'public key' for the account in any way. If the public key doesn't appear then key has lost

[2022-09-23 08:09] JamesSmartCell commented on #2822
We haven't added it yet

[2022-09-23 20:20] Thisdick69 commented on #2839
It's a full wallet and I got public key for it also

On Fri, Sep 23, 2022, 4:08 AM James Brown ***@***.***> wrote:

[2022-09-23 20:21] Thisdick69 commented on #2839
Decode keystore public key:0

On Fri, Sep 23, 2022, 4:19 PM Anthony hunt ***@***.***> wrote:

[2022-09-23 20:24] Thisdick69 commented on #2839
0x3f17f1962b36e491b30a40b2405849e597ba5fb5

On Fri, Sep 23, 2022, 4:22 PM Anthony hunt ***@***.***> wrote:

[2022-09-24 23:48] Thisdick69 commented on #2839
Its still.  Not working

On Fri, Sep 23, 2022, 4:24 PM Anthony hunt ***@***.***> wrote:

[2022-09-26 05:57] JamesSmartCell commented on #2839
What about the rest of the values on the page?

If it's not decoding the public key though, the key probably isn't there.

Has the security level of the phone changed? If you remove the screen lock on the phone and then restore the screen lock, the OS will erase all the contents of the secure enclave, which contains the data needed to reconstruct the key.

[2022-09-26 05:58] JamesSmartCell commented on #2842
Rinkeby will be switched off soon. Yes Android also supports (supported?) Rinkeby too.

We should check Goerli support.

[2022-09-27 09:05] JamesSmartCell commented on #2822
@Phinetwork Do you have any price ticker for the Phi network? I see it's an algorithmic stable coin, is it safe to peg the value to 1 USD? It would be preferable if it's listed in an exchange somewhere.

[2022-09-27 22:29] #2822 closed

[2022-09-28 00:02] JamesSmartCell opened #2850 "Refactor to remove API23 kludges and switches"
Parse the source to remove all:
- ``` >= Build.VERSION_CODES.N``` switches.
- API23 notifications and messages.
- Upgrade to use Collections and Streams where possible.
- Test if it's possible to use unaltered Web3j.

[2022-09-28 04:37] justindg commented on #2843
@hboon openrarity data can be found on some NFTs like Cool Cats NFT:

[code]

Should we implement it? Could simply add another line in the Details section

[2022-09-28 05:03] hboon commented on #2843
@justindg yeah definitely! Would you help write up an issue for iOS? Thanks.

[2022-09-28 05:21] hboon commented on #2842
https://docs.opensea.io/reference/testnets-api-overview suggest testnets https://testnets-api.opensea.io/api/v1 is connecting to Goerli now, so should verify that and update our app if necessary (on iOS we hit that on Rinkeby so tokens would show up on the wrong chain)

[2022-09-28 05:26] hboon commented on #2843
@justindg BTW, I noticed Android uses v2 for Polygon, would you see if it includes rarity with the same schema, if you haven't?

[2022-09-28 05:33] justindg commented on #2843
The API response doesn't have the `rarity_data` field if the collection owner has not opted in the feature, but I will try to find a Polygon collection that has it enabled :)

[2022-09-28 05:36] hboon commented on #2843
You can try calling it on mainnet with v2 too. Probably supported.

[2022-09-28 06:33] justindg commented on #2843
API v2 seems to have different functionalities? Can't seem to find how to retrieve asset data using v2

https://docs.opensea.io/v2.0/reference/retrieve-listings

[2022-09-28 07:37] seabornlee opened #2852 "E2e: TokenScriptCertificateTest sometimes takes too long and GitHub actions timeout"

[2022-09-28 22:34] Phinetwork commented on #2670
How's this going @JamesSmartCell @hboon

[2022-09-28 22:58] #2808 closed

[2022-09-29 03:15] hboon opened #2853 "Add Arbitrum Goerli and Optimism Goerli support"
- [x] Write issue for iOS

[2022-09-29 04:28] JamesSmartCell opened #2854 "Mark Testnets Deprecated"
### Note: This is being marked High Priority because support for these testnets finishes on 5th October.

The following testnets are deprecated:

Rinkeby
Ropsten
Kovan
Sokol
Arbitrum Kovan
Optimistic Rinkeby

Action: move these to the bottom of the 'Select Active Network' list, and grey out the entry with a small red (Deprecated) in the top corner. (Add a Deprecated list to EthereumNetworkBase sim

[2022-09-29 07:46] JamesSmartCell commented on #2853
IDs:

Optimism Goerli:  420    Currency Symbol:  ETH
Arbitrum Goerli:  421613  Currency Symbol:  AGOR

RPC:

Arbitrum Goerli:

https://arbitrum-goerli.infura.io/v3/

Optimism Goerli:

https://optimism-goerli.infura.io/v3/

Transaction Viewer:

https://goerli-rollup-explorer.arbitrum.io/tx/
https://blockscout.com/optimism/goerli/tx/

APIs:

https://goerli-rollup-explorer.arbitrum.io/api?
https://bl

[2022-09-30 05:41] gieskiverz opened #2855 "Display NFT ERC-1155 on Collectible Tabs"

[2022-10-01 00:09] #2843 closed

[2022-10-01 00:30] JamesSmartCell commented on #2855
@justindg while you're doing the NFT collection switch can you add the contract type designator on the NFTAssetsFragment somewhere? Maybe we can also squeeze it onto the icons in the collections view but this should be on a switch. At least though, it should be shown after you click on an NFT.

[2022-10-01 06:52] JamesSmartCell opened #2856 "Add Faucet for each testnet"
Add a faucet button for each Testnet, which would be in the 'extended' buttons on the chain detail (ERC20DetailActivity) page.

Here's faucets I know about:

Aurora Testnet: https://aurora.dev/faucet
Goerli:  https://goerlifaucet.com/
Sepolia:  https://faucet.sepolia.dev
Mumbai:  https://mumbaifaucet.com/

TODO: Find other faucets. Don't worry about the deprecated chains.

Optimism Bridge (need Go

[2022-10-01 12:23] seabornlee opened #2857 "Open Discord invitation in Dapp browser got ERR_UNKNOWN_URL_SCHEME"
![image](https://user-images.githubusercontent.com/735708/193409443-2a82d3ae-abd4-4da1-a588-ee30aafdf24d.png)
![image](https://user-images.githubusercontent.com/735708/193409446-0e673aaf-975c-44f7-bf95-0feda4277e1f.png)

[2022-10-02 00:01] JamesSmartCell commented on #2857
@seabornlee looks like you need to charge your phone!

[2022-10-03 03:29] #2836 closed

[2022-10-03 03:29] #2853 closed

[2022-10-03 03:29] #2854 closed

[2022-10-04 04:19] #2581 closed

[2022-10-04 05:17] hboon opened #2862 "Fix Gnosis gas price: default gas price should be 2 gwei instead of 1 gwei"
https://github.com/AlphaWallet/alpha-wallet-ios/issues/5495

[2022-10-04 05:36] JamesSmartCell commented on #2427
@hboon This should be fixed now; I fixed another potentially related issue.

[2022-10-04 05:41] hboon commented on #2427
Ok, thanks. I'll close this now, feel free to re-open or re-create another one. I get the impression it fundamentally boils down to one seed/private key not being accessible?

[2022-10-04 05:41] #2427 closed

[2022-10-04 06:30] JamesSmartCell commented on #2862
Can we get the gas price from the node?

[2022-10-04 06:56] hboon commented on #2862
Good point.

[code]

{"jsonrpc":"2.0","result":"0x77359400","id":1}

which is 2gwei.

I think you can use EIP1559. Good to verify in case the amount is much bigger than what is needed in practice (because they seem to want more)

[2022-10-05 14:15] Phinetwork commented on #2822
https://price.phi.network/api/ticker?filter=WPHI

Just saw this. Thanks for the question.

This is the price api also phi is not an algorithm stable coin phi cash is an algo stable coin.

Please use this price api for phi this is what was used on the iOS version thank you

[2022-10-05 14:16] Phinetwork opened #2863 "Price ticker api for phi"
https://price.phi.network/api/ticker?filter=WPHI

Just saw this. Thanks for the question.

This is the price api also phi is not an algorithm stable coin phi cash is an algo stable coin.

Please use this price api for phi this is what was used on the iOS version thank you

@JamesSmartCell

__Originally posted by @Phinetwork in https://github.com/AlphaWallet/alpha-wallet-android/issues/2822#issueco

[2022-10-06 16:39] JamesSmartCell commented on #2862
Then we'll do it that way. It won't need updating again

[2022-10-06 17:41] JamesSmartCell opened #2864 "Refactor Dappbrowser URL bar to widget"
Required refactor:

- Create widget that encapsulates all the current URL browser bar functionality.

The init for the current URL bar starts in ```setupAddressBar```.

Expected behavior:

Widget provides an input field and navigation buttons. handles shrinking and expanding the input field for typing URLs and also the 'clear' field.

Widget should take a callback from DappBrowserFragment which ca

[2022-10-07 06:22] Phinetwork commented on #2863
@JamesSmartCell just following up did we add the api for PHI

[2022-10-07 06:24] Phinetwork opened #2865 "Price API For PHI Network"
Can we set up Price API For PHI Network API Can Be found here https://price.phi.network/api/ticker?filter=WPHI

Thanks

__Originally posted by @Phinetwork in https://github.com/AlphaWallet/alpha-wallet-android/issues/2670__

[2022-10-08 14:23] seabornlee commented on #2857
Good point!

[2022-10-08 14:23] seabornlee commented on #2857
Good point.

[2022-10-08 16:55] JamesSmartCell commented on #2865
Yes, will be in the next release.

[2022-10-08 16:57] JamesSmartCell opened #2866 "Order Chains in wallet view based on EthereumNetworkBase.testnetList"

[2022-10-09 03:16] Phinetwork commented on #2865
Perfect thank you what is the ETA for the android version for the  next update?

[2022-10-10 03:10] hboon commented on #2788
@seabornlee think we can close this?

[2022-10-10 03:48] seabornlee commented on #2788
Sure.

[2022-10-10 03:48] #2788 closed

[2022-10-10 08:31] gieskiverz opened #2869 "how to display NFT erc1155?"
I bought nft (erc1155) on opensea, but why doesn't NFT show up? after I import the contract address, it still doesn't appear. For that case I use my own debug APK, but if I use APK from release v3.59, the NFT shows up. What's wrong? Does the current code really don't support displaying NFT erc1155?

[2022-10-10 21:04] JamesSmartCell commented on #2869
We fully support ERC1155.

I think currently Opensea are having issues with their API, which appears to be down.

The wallet should be able to automatically detect the token other ways, it may take slightly longer. If you can share your ethereum address I can check if there's an issue discovering the token. You can send it to me directly james@alphawallet.com so as not to expose it publicly.

[2022-10-11 02:41] hboon commented on #2869
@JamesSmartCell maybe it's the bundled key?

[2022-10-11 05:32] hboon opened #2870 "Switch token icon URL back to `master`"
It's been several months, so let's switch it back from the temporary `lowercased` branch back to `master`. `lowercased` will live on for a while so existing builds will still work, but we will not be updating the branch anymore, so newer icons wouldn't appear.

Follow and inverse of #2564

[2022-10-11 08:59] Thisdick69 commented on #2839
It show a green check mark when I run diagnostics

On Fri, Sep 23, 2022, 4:21 PM Anthony hunt ***@***.***> wrote:

[2022-10-13 03:51] seabornlee opened #2872 "Feature request: hide balance"
1. Hide/Show balance by flip the phone.
2. User can choose to hide balance when entering app.

[2022-10-13 10:52] Phinetwork commented on #2865
When will android update be live lots of users asking about this hasn't updated since September 4th. Do we have an estimate of when do update will be live on android?

[2022-10-14 02:57] hboon opened #2873 "Show full Ethereum address in transaction confirmation actionsheet not "0xabcd…cdef""
Refer to https://github.com/AlphaWallet/alpha-wallet-ios/issues/5576

Careful to do it for when there's an ENS too. Both contracts and recipients. Too easy to fake them. Improve UX + safety for users

from|to
-|-
<img width="200" alt="Screenshot 2022-10-14 at 10 50 22 AM" src="https://user-images.githubusercontent.com/56189/195751342-84642d7a-3e4b-4b59-9640-98fc87427328.png">| <img width="200" alt

[2022-10-15 17:29] #2870 closed

[2022-10-15 17:33] JamesSmartCell commented on #2869
@hboon we don't supply a bundled key for Opensea, they don't provide those.

I think it's falling back to using etherscan/blockscout to discover the NFTs, which usually works great but is not as fast.

@gieskiverz maybe do another pull and sync from the latest repo as we recently fixed a lot of issues with NFT syncing. It should be very much improved now.

[2022-10-16 02:46] chatpuppy opened #2874 "Encrypt message with pubKey and decrypt with priKey"
Hi, We are developing a messenger dapp. In metamask, we use `eth_getEncryptionPublicKey` methods to get pubKey to encrypt messages by pubKey, and decrypt the messages by priKey using `eth_decrypt` methods. Does alphawalet supports these methods or have  similar methods?

[2022-10-17 02:34] hboon commented on #2869
Or the lack of. I mean, it works for OP on the Play store because we do provide an OpenSea key. (Got your point about Etherscan/Blockscout).

[2022-10-18 08:17] seabornlee opened #2875 "Feature: Save NFT image to phone"
When I got a new NFT in my wallet, I want to set it as my avatar in other apps, I can only take a screenshot and crop to get the original image.

[2022-10-18 10:32] elishaakyaw opened #2876 "Java debug error"
i cloned the app and followed the steps stated but i run into this error. Any help will be appreciated
 Task :app:compileAnalyticsDebugJavaWithJavac FAILED

[2022-10-18 15:58] JamesSmartCell commented on #2875
Good idea @seabornlee. Should this be like a save intent for the original image?

[2022-10-18 16:08] JamesSmartCell commented on #2876
Hi @elishaakyaw can you try setting the app flavour :- like this:

![image](https://user-images.githubusercontent.com/12689544/196482764-924e64fc-211c-4ae6-8545-eab5fe8486dc.png)

then do a full rebuild:

![image](https://user-images.githubusercontent.com/12689544/196484372-f5db39bf-9dd9-4f90-a7bc-dca1555e6750.png)

If this doesn't work can you let me know the full error message, I will try to dia

[2022-10-18 16:09] elishaakyaw commented on #2876
Thanks alot.  Went out to get some groceries so will do that when I get
home and give you my feedback

On Tue, Oct 18, 2022, 4:08 PM James Brown ***@***.***> wrote:

[2022-10-18 17:18] JamesSmartCell opened #2877 "Fix / Improve "Add Custom Token""
Two issues for this dialog:

1. Reproduce: Add first token eg USDT 0xdAC17F958D2ee523a2206206994597C13D831ec7 and scan, you should see USDT token. Now paste USDC from Polygon in: 0x2791Bca1f2de4661ED88A30C99A7a9449Aa84174

You should see:

![photo_6231229417821157136_y](https://user-images.githubusercontent.com/12689544/196499494-490c2bea-d5c6-44da-96cc-562535e8d0cd.jpg)

Notice how the original U

[2022-10-18 19:47] JamesSmartCell commented on #2872
Could you elaborate 'flip the phone'? portrait -> landscape? Or flip it upside down?

Is this a privacy feature, and would it hide all ERC20/base token balances and Fiat equivalent, plus balance header?

Is it an option selected in the settings?

[2022-10-18 22:32] JamesSmartCell commented on #2873
Good call, in fact we should do this in other places too. The only place where we should abbreviate is on the Change/Add wallets activity (IMO). I have noticed it's inconsistent across the wallet.

[2022-10-18 22:58] elishaakyaw commented on #2876
![Screenshot (21)](https://user-images.githubusercontent.com/52818647/196560533-20a2fb8a-f177-4d53-b674-f559b8413e8c.png)
![Screenshot (22)](https://user-images.githubusercontent.com/52818647/196560548-339cdb09-b76c-43c4-877e-b17f656d46b7.png)

[2022-10-18 23:01] elishaakyaw commented on #2876
i did what you recommended. ended up with the above errors.

[2022-10-19 02:06] seabornlee commented on #2872
Can reference to other wallets such as `1inch`, `Zerion`.

Filp upside down.

Hope so.

Yes.

[2022-10-19 02:28] hboon commented on #2873
We used to intentionally show the abbreviated version except in the Change/Add Wallet screen and when we an ENS is around.

I think that's still OK, except we should always show the full version in the transaction confirmation actionsheet. For the rest, it is less critical which one, so we can abbreviate for a more tidier look (or switch if it's more appropriate)