[2021-09-09 14:53] colourfreak commented on #1866
https://zpl.io/brKW40D

See the reference on iOS
https://github.com/AlphaWallet/alpha-wallet-ios/issues/2807

![Email_Request](https://user-images.githubusercontent.com/51817359/132709116-d3e6aaec-8dd1-459f-aa13-092a1f79399e.jpg)

[2021-09-10 00:35] colourfreak commented on #1504
@mpaschenko This is a very old issue, but still waiting for implementation. Please check out how this works in iOS.

<img width="366" alt="Screenshot 2021-09-09 at 18 28 07" src="https://user-images.githubusercontent.com/51817359/132779524-49d75d1e-1676-410d-9e43-803bb0906381.png">

Run QR Code camera (top right in the wallet tab) and scan the above QR in iOS.

[2021-09-10 00:46] colourfreak commented on #1504
**iOS**

![2021-09-09 18 22 12](https://user-images.githubusercontent.com/51817359/132780731-32b4ec73-3b5c-4142-ac87-bee74be26aa0.png)

[2021-09-10 01:11] colourfreak opened #2004 "Update the look of "Add Custom Token" screen"
The current one
![2021-09-09 18 58 30](https://user-images.githubusercontent.com/51817359/132782001-581fda42-5390-4b3a-b501-143aea0fd7b6.jpg)

The new one
<img width="924" alt="Screenshot 2021-09-09 at 19 09 01" src="https://user-images.githubusercontent.com/51817359/132782595-4dbd9738-e6c2-487c-9a83-f639bf644775.png">

**Zeplin:**
https://zpl.io/2jdvEXm
https://zpl.io/2G594YY

[2021-09-10 01:20] colourfreak opened #2005 "Make all input fields according to material design"
We should follow the material design (check our outlined design).
https://material.io/components/text-fields#usage

So, therefore, I propose making all custom fields background white instead of current gray. That will make all labels look better.

![2021-09-09 09 05 08](https://user-images.githubusercontent.com/51817359/132783325-91bd43b8-8fa5-4f4b-bebc-c9fbfac8152d.jpg)
![2021-09-09 19 15 36](htt

[2021-09-10 01:21] colourfreak commented on #2005
The list of all input fields is here:
https://github.com/AlphaWallet/alpha-wallet-android/issues/1486

But you can make a new style in xml. @mpaschenko

[2021-09-10 01:22] #1822 closed

[2021-09-10 01:22] #1868 closed

[2021-09-10 01:26] #1749 closed

[2021-09-10 01:27] colourfreak commented on #1596
Let me know if you have questions @mpaschenko

[2021-09-10 01:35] #1625 closed

[2021-09-10 01:46] colourfreak opened #2006 "Add 3 items to Browser's menu"
Add three items to the menu:

1. My Bookmarks
2. History
3. Set as Home Page

if you set a new Home Page, show a navigation bar with a Home icon.
<img width="756" alt="Screenshot 2021-09-09 at 19 44 43" src="https://user-images.githubusercontent.com/51817359/132785457-fb9dc6ae-4e1d-413c-96f4-e3b769d58f95.png">

**Zeplin:**
https://zpl.io/ad6wyr7

[2021-09-10 01:59] JamesSmartCell commented on #2006
@colourfreak how about also a 'copy wallet' item? Often I need to copy my address into a field for a dapp etc. It would save a little bit of hunting around.

[2021-09-10 02:02] JamesSmartCell commented on #2005
I added the ghosted text there as a hint for the user because it's confusing which URL to add where. Is there a material way to provide an example of what the input is supposed to be? Like the (?) question mark in a circle? I don't know how out of date that design principle is ...

[2021-09-10 02:05] JamesSmartCell commented on #1998
Fixed in #2002

[2021-09-10 02:05] #1998 closed

[2021-09-10 02:12] JamesSmartCell commented on #1987
Argh! We struggle with this. Some apps use a generic Web3 injection and call it MetaMask. If they're doing this, then that's the way I prefer to connect. Sometimes the developer tries to be useful and insists that the MetaMask wallet actually needs to be Metamask and attempts to start it.

Really, if DApp developers just used targetless web3 - like HTML - then it would be much easier; have a web3

[2021-09-10 02:14] JamesSmartCell commented on #1981
Closing this, as dropping in your own Infura key should solve the issue.

[2021-09-10 02:14] #1981 closed

[2021-09-10 02:17] JamesSmartCell commented on #1975
Hi @trustwalletvn the new localisation is live in the PlayStore and on the direct download on our site.

Thank you again for creating this localisation. We'll try to maintain it, but we don't have any Vietnamese speakers in our team, so we'll try using Google Translate to create the new text.

Feel free to ping us if you have any new ideas/collaborations. Remember to keep your fork up to date, we

[2021-09-10 02:18] #1950 closed

[2021-09-10 02:20] roguetr commented on #1987
Nice, that's exactly what I currently do but good to have it validated.
Thanks for all the prompt responses and assistance btw, you've been very
accommodating and very helpful.

(FYI the Wault LP approve issue is consistent between both the Metamask and
WalletConnect options)

On Fri, 10 Sept 2021 at 12:12, James Brown ***@***.***> wrote:

[2021-09-10 02:21] JamesSmartCell commented on #1963
@jinkjonks the service will eventually have to accommodate the price warnings as per the Samoa design which I'll post here. In essence - create a notification if the price of a token crosses a certain threshold.

[2021-09-10 02:39] JamesSmartCell commented on #2000
The code is committed into the working Samoa branch. @hboon can I close this issue now? It'll still be there for your reference.

[2021-09-10 02:42] JamesSmartCell commented on #2001
I can see the new search icon but it still crashes when I click on it.

[code]

I think you need to actually hook up a listener for the IME search event, currently it's still dangling.

[2021-09-10 02:42] #1967 closed

[2021-09-10 02:43] #1974 closed

[2021-09-10 03:18] hboon commented on #1963
@JamesSmartCell it's perfectly fine to build it and stage it without polishing up for production, but shall we focus on cleaning up the UI and bug fixing first and publishing those first?

[2021-09-10 03:25] hboon commented on #2000
Yes, of course :)

[2021-09-10 03:25] #2000 closed

[2021-09-10 03:51] mpaschenko commented on #2001
ok will add that as well, it doesn't crash on my side, checked on Samsung A10 and Pixel, just curious which device do you have as test?

[2021-09-10 04:46] JamesSmartCell commented on #2001
S20

[2021-09-10 06:39] mpaschenko commented on #2001
I'm on 11 as well

[2021-09-10 07:12] JamesSmartCell commented on #2001
Hmm, ok --- see if adding a handler for the IME fixes it, if not maybe it's just happening locally.

[2021-09-10 08:21] JamesSmartCell commented on #2001
It no longer crashes now that the IME is handled, so that's good.

Before we launch the update though, the search button will need to be connected through to the adapter code:

After I click on the search IME, the soft keyboard should immediately be cleared and the search should start. I use the app full screen, using gesture navigation which makes this issue especially awkward as the search IME o

[2021-09-10 08:24] JamesSmartCell opened #2008 "Fix Token card layout boundaries"
![Screenshot_20210910-182235_AlphaWallet](https://user-images.githubusercontent.com/12689544/132823913-10d4d0e5-2192-46c9-aa1f-13f919df21ba.jpg)

The layout boundaries for the token name and the value need to be joined.

[2021-09-10 09:35] mpaschenko commented on #2008
<img width="741" alt="Screenshot 2021-09-10 at 12 23 15 PM" src="https://user-images.githubusercontent.com/2472117/132832097-d2881c26-e13a-423c-b1af-bf85da6fda85.png">

As I see, there are some changes after your merge, which reverted mines. That is what @colourfreak wrote about names

[2021-09-10 12:43] colourfreak commented on #1639
The problem still exists.

https://user-images.githubusercontent.com/51817359/132854957-2677031e-67c0-45ec-b328-8aaea7403a37.mp4

[2021-09-10 13:09] #1237 closed

[2021-09-10 14:15] JamesSmartCell commented on #2008
Yes, we agreed to change the name display.

Now that there's potential collision the layout needs to be changed so the elements don't overlap for a long name.

[2021-09-10 14:16] JamesSmartCell commented on #2001
Works perfectly now :)

[2021-09-10 23:05] #2001 closed

[2021-09-10 23:06] #1897 closed

[2021-09-10 23:06] #1887 closed

[2021-09-10 23:07] #1883 closed

[2021-09-11 12:19] JamesSmartCell commented on #387
Tested by replacing the image the metadata points to, identical URL but different image.

Result: Image updated correctly.

[2021-09-11 12:19] #387 closed

[2021-09-11 12:22] JamesSmartCell commented on #534
URL not responding. Closing due to inactivity.

[2021-09-11 12:22] #534 closed

[2021-09-11 12:24] JamesSmartCell commented on #674
Android was updated to round down. Now is matching iOS.

[2021-09-11 12:24] #674 closed

[2021-09-11 12:26] JamesSmartCell commented on #703
Fixed by QR handling refactor.

[2021-09-11 12:26] #703 closed

[2021-09-11 12:26] JamesSmartCell commented on #569
Good call. Will add.

[2021-09-11 12:33] JamesSmartCell commented on #766
Closing as this is abstraction / architecture.

[2021-09-11 12:36] JamesSmartCell commented on #766
__

[2021-09-11 12:46] JamesSmartCell commented on #1454
Closing.

It is indeed tempting to gaze from outside at the code and imagine that it could be done better. The world where this pipe dream happens hasn't yet collided with the reality of 1000's of models of Android phones and handling of flavours of Android libraries.

NB:
1. Android key handling needs to deal with legacy libraries that behave differently from the contemporary ones.
2. Abstraction

[2021-09-11 12:46] #1454 closed

[2021-09-11 12:48] #771 closed

[2021-09-11 12:49] JamesSmartCell commented on #889
We don't know if it is PIN or Pattern at that stage. Requires a more generic term.

[2021-09-11 12:49] #889 closed

[2021-09-11 12:51] #1138 closed

[2021-09-11 12:52] #1158 closed

[2021-09-11 12:55] JamesSmartCell commented on #1255
Hi @justdvnsh many apologies for the very late reply; yes please check if it is still an issue (may have been fixed in the meantime). If not, the solution may lie in AndroidManifest.

Also - if you wish to try to clear an old issue please go ahead and submit PR. We always like getting PR's from outside AW.

[2021-09-13 01:40] JamesSmartCell commented on #1246
This has been added.

[2021-09-13 01:40] #1246 closed

[2021-09-13 01:50] #569 closed

[2021-09-13 02:56] JamesSmartCell commented on #2008
@mpaschenko linked issue: https://github.com/AlphaWallet/alpha-wallet-android/issues/2000

[2021-09-13 03:34] JamesSmartCell commented on #1987
Hi @roguetr I'll close the issue now, please contact us again if you see anything else or have any ideas.

Thanks again for reporting this; we had noticed it a day or so before you reported it but weren't sure if it was affecting anyone.

Cheers,

James

[2021-09-13 03:34] #1987 closed

[2021-09-13 03:37] JamesSmartCell commented on #1866
@colourfreak do you want to re-assign this so it goes into development?

Do you know if we have a server back end that collects these emails? If not, that part will need to be assigned to the web team.

[2021-09-13 04:15] JamesSmartCell commented on #1903
Closing as action looks complete

[2021-09-13 04:15] #1903 closed

[2021-09-13 04:22] hboon commented on #1866
My bad, @JamesSmartCell. I forgot about this. We are using MailChimp.

This is the corresponding PR for iOS https://github.com/AlphaWallet/alpha-wallet-ios/pull/2919

The few lines that really matter for adding to the list is in this file: https://github.com/AlphaWallet/alpha-wallet-ios/blob/b50dd2903294d1ba9838ad946ee5cbfab9d06609/AlphaWallet/Core/EmailList.swift

Kotlin (hah!) version supplied b

[2021-09-13 05:42] #1975 closed

[2021-09-13 07:08] JamesSmartCell commented on #1963
@jinkjonks; I chatted to Boon offline - please continue with this project :) Once you're ready with the first step let me know I'd like to get these out.

One thing we can do once you're ready is add a widget from the app itself using this code:

[code]

This will create a request to the OS add the widget. Then the adder can adjust the widget to a different crypto if they want to. Otherwise, they

[2021-09-13 07:08] #1218 closed

[2021-09-13 13:03] colourfreak opened #2012 "Remove the outline around token icons in the wallet"
I see that the token symbols on the let have some outline around. Can we remove this? It's light gray.
![132823913-10d4d0e5-2192-46c9-aa1f-13f919df21ba](https://user-images.githubusercontent.com/51817359/133088394-2de30525-7896-4f61-be8e-c7430f870226.jpg)

[2021-09-13 14:17] colourfreak opened #2013 "Grouping tokens"
I would like to open a discussion about grouping tokens inside AlphaWallet. Ideally, we would like to have the same groups for Android and iOS. So the right coordination is required.

**My suggestions:**
1. Assets (ERC20 tokens)
2. DEFI (all tokens related to DEFI, such as savings, liquidity pools, debt obligation, loans)
3. NFTs and Collectibles
4. Utilities

Users won't be able to manually move

[2021-09-13 14:27] hboon commented on #2013
@vladyslav-iosdev

[2021-09-13 14:27] hieronymus4826 commented on #2013
Is there a way to group these by reading a property in their smart contract? As far as I understand token contracts, function is interpreted at the application level. If there isn't are we gouping them manually?

[2021-09-13 15:00] colourfreak commented on #2013
I am trying to scrap this database https://github.com/AlphaWallet/alpha-wallet-ios/issues/2629#issuecomment-917837196
So if we decide to group tokens, I need to know the possible group names. This is the reason behind this task. And alignment between platforms.

[2021-09-13 15:20] colourfreak opened #2014 "App crashes when you hit "Request Payment""
3.4 (169)

When you go to "My Wallet Address" and hit the top-right icon for "Request Payment" the app crashes.

https://user-images.githubusercontent.com/51817359/133111007-0d5590f3-3b1b-4f95-be21-b00e79724582.mp4

[2021-09-13 15:30] colourfreak opened #2015 "Hide "Renew" and "Records" actions inside ENS token"
They are not working, so it's better if we hide these functionalities for now, till we have this fixed one day. So please make just one button, "Transfer".

Stays like this for 15 minutes already and no change.
![2021-09-13 09 23 17](https://user-images.githubusercontent.com/51817359/133112127-69adc170-aeb9-43d0-87c0-7b89a9461f77.jpg)

-----
Temporary, new design
<img width="772" alt="Screenshot 2

[2021-09-13 15:58] #1379 closed

[2021-09-13 16:26] hboon commented on #2015
@colourfreak yes. If they don’t work or not work well enough, we should hide or remove them.

[2021-09-13 16:29] hboon commented on #2013
I think your list looks reasonable. Shall we add a catch-all like “Others”?

[2021-09-13 22:55] AW-STJ commented on #2013
Are there some examples of such tokens. And would a 'ticket' token be under collectable or utility?

[2021-09-13 23:12] JamesSmartCell commented on #2015
This is a TokenScript issue - does the script now fail?

[2021-09-13 23:15] JamesSmartCell commented on #2013
Also Attestations, later, when we start supporting off-chain assets.

[2021-09-13 23:49] zhangzhongnan928 commented on #2013
What jumped into my mind is:
**Advanced search, filleter VS Group tab**

They provide similar functions,
but one key difference is "Advanced search, filleter" doesn't change the display layout,
Group tab can have different display layouts for each group. And Group tab can serve as a promotion page.

So we should utilize both:
**"Advanced search, filter" is for users to quickly categorize or find t

[2021-09-14 00:52] JamesSmartCell commented on #2013
@zhangzhongnan928 post covered most bases - other than this my concern is how to fold the NFT display. If we operate a view like OpenSea does, showing all NFTs some wallets are going to be really big.

Would 3 levels of folding cover this?

1. Show all NFT (like OpenSea). Will be huge for some of the 7000+ NFT wallets.
2. Collapse into collections. For wallets with ERC1155 tokens this will shrink

[2021-09-14 02:02] #2012 closed

[2021-09-14 02:15] #2014 closed

[2021-09-14 04:01] colourfreak commented on #2013
There is one more design that not sure you had a chance to look at @zhangzhongnan928
![nft-wallet_concept](https://user-images.githubusercontent.com/51817359/133192954-4e44d356-e2fb-44c4-a364-186afdd187e8.jpg)

[2021-09-14 05:37] zhangzhongnan928 commented on #2013
I saw this before, it is almost the same as rainbow(R), but I'm not a fan of it. Reasons:
1. I have a lot of tokens, it will be very long, unlimited scrolling down. If we fold it, to display only 4, then I need to decide which 4 to display.
2. need extra steps to "switch" between Assets/NFT/Savings/Governance, eg, to go to NFT with 2 networks(Ethereum and polygon) enabled, I have to scroll down se

[2021-09-14 08:02] mpaschenko commented on #1768
@JamesSmartCell @colourfreak  basically finished points, mentioned in this ticket. can do PR and proceed with the others.

[2021-09-14 14:58] colourfreak opened #2019 "Missing many tokens on Polygon"
3.4 (169)

I imported a wallet and I see missing many tokens on the Polygon network. I should have total 34 tokens on Polygon.
Watch: t0x80cc263cb3fA1bE2AeC748b3811261c1E2a1ba8d

https://polygonscan.com/address/0x80cc263cb3fA1bE2AeC748b3811261c1E2a1ba8d

<img width="331" alt="Screenshot 2021-09-14 at 08 56 28" src="https://user-images.githubusercontent.com/51817359/133281859-9d0a5163-5a72-42b7-a48

[2021-09-14 15:04] colourfreak opened #2020 "What if swipe down to refresh would "Reload token data"?"
<img width="472" alt="Screenshot 2021-09-14 at 09 02 23" src="https://user-images.githubusercontent.com/51817359/133282716-91af24a7-1a3c-428a-b218-c4fd661a9c27.png">

This is already implemented on Android. You can go to Advanced settings and Reload Token Data. And I assume this is what users would expect to see, even though it takes ages sometimes to reload them all.

Thoughts?

[2021-09-14 15:10] hboon commented on #2020
Reload as in remove all the tokens and refetch/detect them? Doesn’t sound good then. Generally, pull down to refresh is just a refresh to hasten what would automatically be done regularly. Reload all, on the other hand is clearing the database and refetching from scratch — more of a mechanism to fix a bug, so it does belong to Settings (or a menu in Settings)

[2021-09-14 15:41] colourfreak opened #2021 "Enlarge the font for 24H Price change"
3.4 (169)

Make it 15pt.

![2021-09-14 08 17 50](https://user-images.githubusercontent.com/51817359/133289312-54b3535a-39bf-4154-9f7f-78bf3a7b588b.jpg)

https://zpl.io/addP0yR

[2021-09-15 00:46] #2019 closed

[2021-09-15 00:46] JamesSmartCell commented on #2019
Hi @colourfreak this looks like an issue in the Token auto-discovery code that I broke while diagnosing the De-Fi whale freeze issue rather than the token list display filtering. I did a small refactor on this process which should have fixed it.

[2021-09-15 00:47] JamesSmartCell commented on #2008
@mpaschenko confirmed fixed

[2021-09-15 00:47] #2008 closed

[2021-09-15 00:51] JamesSmartCell commented on #2021
Also change the green value from change in value of 1 unit of the token price to the change in value of the whole balance eg:

If the Eth balance is 100Eth, then the green value should be (current value of 100 eth) - (value of 100 eth 24 hours ago).

[2021-09-15 01:02] JamesSmartCell commented on #2020
Yes @hboon is correct - it's like a reset that support can advise if tokens aren't showing up usually because of a bug that got fixed. It's the 'dust off and nuke the entire site from orbit' option.

Swipe refresh currently initiates a reload from database and freshly starts the token update/discovery process as if you'd just re-started the app - other than tickers which still follow a 5 minute up

[2021-09-15 01:08] colourfreak commented on #2019
The real value of my wallet is about 11k USD vs 3800 USD displayed in AlphaWallet here![Screenshot_20210914-190659_AlphaWallet.jpg](https://user-images.githubusercontent.com/51817359/133353866-1403c56a-fb5e-420d-bc51-3649fb7f707d.jpg)

[2021-09-15 15:40] colourfreak commented on #2013
@zhangzhongnan928 Victor, I like the idea of Advanced Search, Filters, and Groups. But let's hold on for a while with this.

The current issue we are working on is how to group tokens within the current long list of tokens we have now. Nothing more. So I am not proposing folding tokens. But simply grouping them. It will be one long list as well, but with separators. For now.

<img width="662" alt=

[2021-09-15 16:20] colourfreak commented on #2013
https://user-images.githubusercontent.com/51817359/133470943-28eb9462-65a7-4d06-84ff-8bf1556d47d7.mp4

[2021-09-16 13:22] colourfreak commented on #1607
Update:

@mpaschenko Currently when you open "My Wallet Address" screen you will see an icon in the top right corner. This is to trigger "Generate Payment Request".

![2021-09-16 07 00 09](https://user-images.githubusercontent.com/51817359/133619676-50d522b1-c1a1-4af0-a35f-37b59031e6cd.jpg)

Remove this feature from that place, instead use the additional menu in Ether token.

![2021-09-16 07 18 16

[2021-09-16 13:27] colourfreak commented on #1215
The same to #1573

[2021-09-16 13:28] colourfreak commented on #1280
@colourfreak Improve this and apply to iOS

[2021-09-16 13:28] #1547 closed

[2021-09-16 13:30] colourfreak commented on #1517
Yes. Because many users got used to it. The primary placement is in the Settings, then for convenience, you can also see this in the Wallet tab. There is a chance that someone misses the one in the wallet tab.

[2021-09-16 13:30] #1517 closed

[2021-09-16 13:31] colourfreak commented on #1502
Any action required?

[2021-09-16 13:31] #1502 closed

[2021-09-16 13:31] #1476 closed

[2021-09-16 14:03] colourfreak commented on #1373
We have implemented Ramp network, so closing this issue.

[2021-09-16 14:03] #1354 closed

[2021-09-16 14:06] #1614 closed

[2021-09-16 14:07] #1623 closed

[2021-09-16 14:07] #1626 closed

[2021-09-16 14:07] #1641 closed

[2021-09-16 14:08] colourfreak commented on #1564
The only difference is that is has to be linked to 1inch instead of Uniswap https://github.com/AlphaWallet/alpha-wallet-android/issues/1669

[2021-09-16 14:09] #1661 closed

[2021-09-16 14:09] #1659 closed

[2021-09-16 14:09] #1645 closed

[2021-09-17 00:01] JamesSmartCell commented on #2021
Complete

[2021-09-17 00:01] #2021 closed

[2021-09-17 03:36] hboon commented on #1564
For reference, the bulk of the details are in https://github.com/AlphaWallet/alpha-wallet-ios/pull/2269/files#diff-80fd5c6670e9a201e0ffb8bf29d27f88f8d9a5730e60df8c39665ba3f298b620 for iOS

[2021-09-17 03:38] hboon commented on #1373
Since this is implemented, do we know how is the usage? If we don't know or haven't, can we add analytics for usage (but not details of the transactions)? I can create new issues if we need to implement them.

[2021-09-20 08:08] hboon opened #2031 "Crash when tap Settings > Show My Wallet Address"
Direct APK install. No previous installs.

1 watch wallet only.

v3.4.1 (170).
Huawei nova 7i
Android 10

[2021-09-20 09:15] hboon opened #2032 "Where does ratings go to if it's a direct APK install?"

[2021-09-20 09:38] hboon opened #2033 "Vertical alignment of text in Wallet tab"
The currency symbol ("USD") and token type ("ERC 20") is vertically off. Annotated with 2 red lines to highlight:

![Screenshot_20210920_171635_io stormbird wallet copy](https://user-images.githubusercontent.com/56189/133982190-3ac18633-4b69-4623-8b75-b1217c389ab7.png)

[2021-09-20 11:57] JamesSmartCell commented on #2033
Oh my god! I never noticed this before

[2021-09-20 11:57] JamesSmartCell commented on #2032
Do you get the ratings popup for direct install?

[2021-09-20 12:17] hboon commented on #2032
Yes I did.

[2021-09-21 05:35] JamesSmartCell commented on #2033
The fix is pretty much immaterial because Samoa layout is a fresh start.

[2021-09-21 07:30] hboon opened #2038 "Text at bottom corners are cut off"
Screenshot|Actual
-|-
<img width='200' src='https://user-images.githubusercontent.com/56189/134129619-d5c3de1a-fe1e-4bf9-82d4-d3baeb16bcef.jpg'>|<img width='200' src='https://user-images.githubusercontent.com/56189/134129637-a9352727-3a53-47a6-b1fb-f5a56c088d13.JPG'>

v3.4.1 (170).
Huawei nova 7i
Android 10

[2021-09-21 07:41] hboon opened #2039 "CryptoKitties doesn't render"
Says 3, but it's trying to display 4, but all of them aren't displayed (Victor's wallet)

<img width='200' src='https://user-images.githubusercontent.com/56189/134131131-92a72e9d-b596-4078-bd43-eebaac384627.jpg'>

v3.4.1 (170).
Huawei nova 7i
Android 10

[2021-09-21 07:47] hboon opened #2040 "Hyper dragons don't render"
Might be similar to #2039, but that shows the rows and the count is incorrect, but this shows the correct count, but no rows at all:

<img width='200' src='https://user-images.githubusercontent.com/56189/134132029-2cbcba2d-9c8a-49ad-8f7c-5a7579293202.jpg'>

[2021-09-21 07:54] hboon opened #2041 "Shouldn't show scientific notation (for minute amounts)"
Maybe "0.000"?

<img width='200' src='https://user-images.githubusercontent.com/56189/134132975-e63558d2-b1a9-45aa-a4e3-6efee4e9063d.png'>

[2021-09-22 00:29] JamesSmartCell opened #2042 "Implement RoboElectric (or other framework)"
Check the RoboElectic testing harness: http://robolectric.org/

What we want to do is, via gradle tests, run a test script that adds a watch wallet (you can try 0xC067A53c91258ba513059919E03B81CF93f57Ac7 to start with) then visits each page in the settings screen.

Once it's set up a further issue will expand this to check some tokens and later import a private key and do sends.

The initial stage

[2021-09-22 00:42] JamesSmartCell commented on #1979
Hi @ChintanRathod I couldn't determine how to intercept the page change here in my initial check; can you take a look and see if there's a way to receive the page change.

To reproduce:

visit https://autographnft.io in the dapp browser

On the page, click on the hamburger menu and switch to a different page eg 'Offers Received' or 'Profile' etc.

Notice that the URL text doesn't update, because t

[2021-09-22 00:46] hboon commented on #1979
@JamesSmartCell we wrapped the History API and installed a hook to do this on iOS. See if it helps: https://github.com/AlphaWallet/alpha-wallet-ios/pull/3093/files

[2021-09-22 01:06] JamesSmartCell opened #2043 "Remove deprecated references to SharedPrefs"
Throughout the code we access SharedPreferences, which have now been deprecated.

Check out this SO:

https://stackoverflow.com/questions/56833657/preferencemanager-getdefaultsharedpreferences-deprecated-in-android-q

and

https://developer.android.com/reference/androidx/preference/PreferenceManager.html

Switch all usages to use the AndroidX version.

Also: SharedPrefs usage has leaked into a few

[2021-09-22 01:08] JamesSmartCell commented on #1817
Hi @ChintanRathod can you push this update?

[2021-09-22 01:23] #2031 closed

[2021-09-22 01:54] #2032 closed

[2021-09-22 06:27] JamesSmartCell commented on #1979
@ChintanRathod well worth trying this method: you can easily test if it will work before committing any code by working the autographnft.io page with a few updates, then page the AW app out with a breakpoint at the getSerialisedBundle method. By looking through what is dumped here you'll know if the page changes are recorded.

I tried a 'macro level' version of this just by clicking on a few items

[2021-09-22 06:30] #2038 closed

[2021-09-22 06:30] #2039 closed

[2021-09-22 06:30] #2040 closed

[2021-09-22 06:31] JamesSmartCell commented on #1840
Fixed

[2021-09-22 06:31] #1840 closed

[2021-09-22 06:33] JamesSmartCell commented on #1809
@colourfreak This is part of the design now? Should I create an implementation issue?

[2021-09-22 07:00] hboon commented on #2038
@JamesSmartCell this one's fixed too?

[2021-09-22 08:31] hboon commented on #2041
Still seeing this with the version downloaded at 20210922 04:31 PM. Can't reproduce #2031 so it should be the updated build.

[2021-09-22 08:34] hboon commented on #2038
Oh, fixed by emptying out the string. Haha.

[2021-09-22 08:35] hboon commented on #2033
Still there in the new build downloaded at 20210922 04:31 PM. But like you said Samoa will override this. Feel free to close it if that's the intention.

[2021-09-22 09:01] hboon opened #2047 "Stuck if tap on ERC721's "Open on <token>" link"
Seems to be stuck in the browser when I tap on the "Open on <token>" link for an ERC721. I tried Axie:

A. Page isn't loaded
B. Can't figure out to close the browser and go back

<img width='200' src='https://user-images.githubusercontent.com/56189/134314463-b2d22fa7-c9dc-496d-9e20-a5705fb5b6c5.jpg'>
<img width='200' src='https://user-images.githubusercontent.com/56189/134314487-bec5d7c3-c4cb-40fa

[2021-09-22 09:04] hboon commented on #2041
Good with RC3

[2021-09-22 09:04] #2041 closed

[2021-09-22 09:05] hboon commented on #2033
Still there with 3.40.1 RC3. The misalignment is also visit in the screen that appears after tapping a token in the Wallet tab.

[2021-09-22 09:06] hboon commented on #2047
Reproducible with 3.40.1 RC3

[2021-09-22 09:09] hboon opened #2048 "Make "tab" title like "Private key" have the same font size"
![IMG_7551](https://user-images.githubusercontent.com/56189/134315802-59da71ee-f00c-4d2f-a50e-a26b0c0627bb.JPG)

[2021-09-23 04:26] #2033 closed

[2021-09-23 04:26] #2047 closed

[2021-09-23 04:26] #2048 closed

[2021-09-27 09:53] hboon opened #2050 "Tap blockie on Wallet tab should show Change / Add Wallet screen that is currently (and still will be) available in Settings"
i.e. show this:

<img width='200' src='https://user-images.githubusercontent.com/56189/134886601-d94f4909-0758-4cd9-a9b7-0571bd93978f.jpg'>

Note that this screen (available from both Wallet and Settings) will look different with Samoa. But flow applies. Might be duplicate of #1769

[2021-09-27 09:59] hboon opened #2051 "Generate payment links do not switch chain correctly if access from within a token"
1. Tap a token in Wallet tab, eg. ETH
2. Tap QR button
3. Tap payment link button
4. Tap the chain to change it to, say xDai

Expected:

The token "currency" selector shows "xDai" and the chain show above it shows "xDai"

Observed:

The token "currency" selector shows "Ethereum" and the chain show above it shows "Ethereum".

<img width='200' src='https://user-images.githubusercontent.com/56189/134

[2021-09-28 06:12] hboon opened #2052 "Crash: Browser > Hamburger > My DApps"

[2021-09-28 06:22] hboon opened #2053 "Tweak where and how current wallet Ethereum address and ENS name is displayed in Settings tab"
Current:

<img width='200' src='https://user-images.githubusercontent.com/56189/135033563-9b35e700-91e0-4753-87ae-2255b8d7d1b7.jpg'>

How it should look like:

https://app.zeplin.io/project/5d088205bff2d15de6a4397b/screen/60b6299ba3632008a42391c5

Notable change:

* It should be displayed in a different row
* The ENS name isn't displayed (it is available for this address)

[2021-09-28 06:25] hboon opened #2054 "Display ENS name (if available) while setting up a watch wallet"
Current:

<img width='200' src='https://user-images.githubusercontent.com/56189/135034631-ffdd7137-2b41-4347-b9ff-df144dde34ca.JPG'>

How it should be displayed (buzz Tomek if you need an Android variant)

https://zpl.io/aX1rqpX

[2021-09-28 06:43] hboon opened #2055 "Shouldn't show actionsheet and prompt user to sign via WalletConnect if using a watch wallet"
Test site (eth_sign will do): https://example.walletconnect.org

Current: the actionsheet is shown, user taps Confirm to sign and then it fails on the dapp-end

[2021-09-28 06:56] hboon opened #2056 "Updating Setting > Support options"
@colourfreak this is how it looks like in iOS:

<img width="200" alt="Screenshot 2021-09-28 at 2 54 06 PM" src="https://user-images.githubusercontent.com/56189/135037810-ee5fc6ed-d799-48b0-b3af-032ff491eb33.png">

Can you help verify if that's the correct list? We have this https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/screen/5dfc1f52a3e2aa1c676e66d4 in https://github.com/AlphaWallet/alph

[2021-09-28 06:58] hboon opened #2057 "Trim whitespace at the start and end when importing private key"
Instead of complaining to the user

[2021-09-28 07:02] hboon opened #2058 "After tapping "All Funds" cursor should be at the end of amount, not at the start"
<img width='200' src='https://user-images.githubusercontent.com/56189/135038735-d934ce5e-b468-4bbd-af38-32c80c6fba5a.jpg'>

Alternatively, select the entire amount.

[2021-09-28 07:10] hboon opened #2059 "After signing with eth_sign button in example.walletconnect.org, `valid = false` is shown"

[2021-09-28 07:41] hboon opened #2060 "Should not auto scroll the screen (to show/hide gas warnings) when dragging gas price slider"
Example, while dragging the gas price slider from too low gas fee to "OK" to too high gas fee, notice the screen scrolls. In the 2nd screenshot, despite the user still panning their finger on the screen, it is no longer over the slider.

<img width='200' src='https://user-images.githubusercontent.com/56189/135042932-14f428af-45da-4d57-98c6-e4d2db2e5400.jpg'>
<img width='200' src='https://user-imag

[2021-09-28 07:48] hboon commented on #761
Outdated.

[2021-09-28 07:48] #761 closed

[2021-09-28 07:49] hboon commented on #1674
Bump

[2021-09-28 07:57] hboon opened #2061 "Integrate with Oneinch"
Seems like we missed this.

Main file for iOS: https://github.com/AlphaWallet/alpha-wallet-ios/blob/master/AlphaWallet/Core/SwapToken/Oneinch/Oneinch.swift

Related iOS PRs for reference: https://github.com/AlphaWallet/alpha-wallet-ios/pulls?q=is%3Apr+is%3Aclosed+oneinch

#1803 might not be relevant anymore if it hasn't been implemented yet

Edit: modified the link to list of iOS PRs above.

[2021-09-28 07:58] hboon commented on #1829
Presumably done. Closing.

[2021-09-28 07:58] #1829 closed

[2021-09-28 07:59] #1901 closed

[2021-09-28 07:59] hboon commented on #1904
Closing for now since it seems to break things

[2021-09-28 08:08] hboon opened #2062 "Tapping the site title and URL in browser history should load the history item"
The circle part. Not just the favicon.

<img width='200' src='https://user-images.githubusercontent.com/56189/135048510-29f14b35-2bb2-45f7-80a5-cf3f9773a5b2.jpg'>

[2021-09-28 08:13] hboon opened #2063 "Changing chain in the browser reloads the current page but new chain doesn't take effect"
1. Make sure Ethereum mainnet is selected in the browser
2. Visit https://omni.xdaichain.com/bridge
3. It says (paraphrased) "from ETH mainnet to xDai"
4. Change network to xDai
5. Page automatically reloads

Expected:

6. It says (paraphrased) "from xDai to ETH mainnet"

Observed:

6. It says (paraphrased) "from ETH mainnet to xDai"
7. Reload page
8. It says (paraphrased) "from xDai to ETH mainne

[2021-09-28 08:13] hboon commented on #1914
Bump

[2021-09-28 08:14] hboon commented on #1923
Bump

[2021-09-28 08:14] hboon commented on #1959
Bump

[2021-09-28 09:12] mpaschenko commented on #2006
@colourfreak on android we already have My Dapps / Add to My DApps, it works like bookmarks, should I rename these menu items?
and History menu item is already there as well.

[2021-09-28 09:31] hboon opened #2064 "Respect hardcoded block window for each chain while fetching events"
https://github.com/AlphaWallet/alpha-wallet-ios/pull/3236

[2021-09-29 01:13] JamesSmartCell commented on #2064
This is an API limit?

[2021-09-29 01:14] JamesSmartCell commented on #2061
Is this providing a link to 1inch on each erc20 token?

[2021-09-29 01:15] JamesSmartCell commented on #2060
We deliberately did this to help make setting up gas a bit easier.

[2021-09-29 01:17] JamesSmartCell commented on #2054
Are you using a build installed from PlayStore/APK or building from AndroidStudio?

The behaviour should be different - we allow the ActionSheet if using a debug build, for testing.

[2021-09-29 01:33] hboon commented on #2054
The RC APK build.

[2021-09-29 01:35] hboon commented on #2064
The RPC server. Yes. Looks like it might be a configuration setting on their side. You’ll see it in the RPC error if we specific a bigger window in those servers.

[2021-09-29 01:43] JamesSmartCell commented on #2064
Got it. I didn't read it carefully enough, yep. I think I added a //TODO: in the event call telling future me to restrict this, which I haven't done yet.

[2021-09-29 01:44] JamesSmartCell commented on #2054
OK then it's an issue that needs fixing.

[2021-09-29 01:46] JamesSmartCell commented on #2059
Godammit! Ok I'll have another look

[2021-09-29 01:47] JamesSmartCell commented on #2063
Yes this needs revisiting; the real fix was updating the provider, which now done, updating this should now work correctly.

[2021-09-29 01:50] JamesSmartCell commented on #2055
The behaviour should be different - we allow the ActionSheet if using a debug build, for testing. If it's appearing for a release build (PlayStore/APK) it's an issue. Will check.

[2021-09-29 02:39] hboon commented on #2061
Yes.

And to be exact ERC20 and the native ETH token. But like a few similar swap services they provide an endpoint to discover which tokens it works against (for Oneinch, this endpoint doesn't list ETH, so you'll have to include it yourself). Look for "/v3.0/1/tokens".

This is the whitelist of tokens to show the Oneinch "Swap" button for.

[2021-09-29 02:47] hboon commented on #2060
Just to be sure, I have annotated the screenshot to indicate where my finger is in each:

Dragging while gas is acceptable|Still dragging, too low
-|-
<img width='200' src='https://user-images.githubusercontent.com/56189/135194292-f8951e47-b466-47b1-810e-bf11a6ba7d4f.jpg'>| <img width='200' src='https://user-images.githubusercontent.com/56189/135194282-522b92e7-b805-4a4a-afe6-bc470b17dd05.jpg'>

I

[2021-09-29 02:47] hboon commented on #2055
Yeah, it's in the RC APK

[2021-09-29 07:38] mpaschenko commented on #2005
@colourfreak should I also implement focused blue state?
@JamesSmartCell think I have to make all the things by the code, instead of using the **com.android.support:design** as the latest version is targeted to AndroidX which we don't support yet

[2021-09-29 07:39] mpaschenko commented on #2015
@JamesSmartCell so what to do with that - just add check for the **Renew** option and disable that by hardcode?

[2021-09-29 07:49] hboon commented on #2006
@mpaschenko Tomek might still be travelling. But just so you aren't blocked, you can keep it as "Dapps" instead of changing to "Bookmarks" for now. The reason why they are referred to as "Bookmarks" on iOS is because we had to rename it to go through iOS App store review.

[2021-09-29 11:42] ChintanRathod commented on #1817
Generated PR

[2021-09-29 11:55] ChintanRathod commented on #2053
@hboon
Below screen is for the Settings/Add Custom RPC

![image](https://user-images.githubusercontent.com/4371780/135263162-85be43ee-1c86-4b55-aaf7-b8e8d9fd337c.png)

Where as current Android screen follows below settings from Zeplin. (Settings/Export JSON Keystore)

![image](https://user-images.githubusercontent.com/4371780/135263281-855ff3b2-113b-475b-8e2f-542cb323f171.png)

So change required

[2021-09-30 07:44] hboon opened #2071 "Add Arbitrum One chain"
Ref: https://github.com/AlphaWallet/alpha-wallet-ios/issues/3241

[2021-09-30 07:44] hboon opened #2072 "Show prices for Arbitrum One tokens"
Ref: https://github.com/AlphaWallet/alpha-wallet-ios/issues/3242

[2021-09-30 07:45] hboon opened #2073 "Add Oneinch support for Arbitrum One"
After #2061

Ref: https://github.com/AlphaWallet/alpha-wallet-ios/issues/3243

[2021-09-30 07:45] hboon opened #2074 "Use native token icon for Arbitrum One"
Ref: https://github.com/AlphaWallet/alpha-wallet-ios/issues/3246#issuecomment-931981218

[2021-09-30 07:46] hboon opened #2075 "Add support for Arbitrum One (chain)"
- [x] #2071
- [x] #2072
- [x] #2073
- [x] #2074

[2021-10-01 03:39] hboon opened #2078 "Switch from Gasnow to Etherscan for gas price estimates"
Refer: https://github.com/AlphaWallet/alpha-wallet-ios/issues/3250

[2021-10-01 04:36] hboon commented on #1709
Closing since they are sunsetting ref: https://github.com/AlphaWallet/alpha-wallet-ios/issues/3251

[2021-10-01 04:36] #1709 closed

[2021-10-01 09:33] colourfreak commented on #2056
This is correct. No Facebook, no Blog, no Reddit. This is confirmed with Victor.

[2021-10-01 09:35] colourfreak commented on #1504
@hboon The only one task left from Fiji.

[2021-10-03 20:49] AW-STJ opened #2080 "BSC network shown as BNB in Dapp browser"
The correct label should be 'BSC'

![image](https://user-images.githubusercontent.com/61957841/135771036-26a6c066-3ed8-480f-91a5-c0eb3cd6c6a7.png)

[2021-10-03 22:50] AW-STJ opened #2081 "Investigate: App unresponsive while resuming Dapp browser session after keeping the app in background for some time"
User feedback: After using other apps, coming back to AlphaWallet Dapp browser goes to this state below. The app requires a restart.

![image](https://user-images.githubusercontent.com/61957841/135773781-542e29f3-d03e-4da4-a427-ddf871fe8619.png)

For this particular instance, the user was on Polygon prior to switching the app to background. Once resuming the session on AlphaWallet, the network cha

[2021-10-03 22:50] AW-STJ commented on #2081
@hieronymus4826 can you investigate and confirm this issue can be replicated.

[2021-10-04 03:43] hboon commented on #2080
@AW-STJ so the chain's "short name" should be called "BSC", but the native token is "BNB" [^1], right? (because iOS uses "BNB" for the name. And we should fix that too).

[^1]: https://github.com/ethereum-lists/chains/blob/949971bd3f41e4e9fa78a0e67402e5180a24e178/_data/chains/eip155-56.json#L19

[2021-10-04 04:34] #2062 closed

[2021-10-04 04:35] #2053 closed

[2021-10-04 04:35] #2043 closed

[2021-10-04 04:36] #1817 closed

[2021-10-04 05:28] #2058 closed

[2021-10-04 06:13] JamesSmartCell opened #2082 "Replace change network header in EIP681 activity."
As per #2066 / #2004

See MyAddressActivity, showPointOfSaleMode()

To get here, click on the QR code in the top right of the Wallet page, then click the POS terminal icon in the top right. You'll see the legacy network select. Put the network icon (the triangle with dots) to the left of the QR code when on the POS screen.

Once that's done, you can delete the layout_network_switch_toolbar.xml

[2021-10-04 08:35] hboon opened #2083 "The number of signed transactions for WalletConnect session doesn't update right after signing"
1. Connect https://example.walletconnect.org
2. Click eth_sign (or the 712 version)
3. Count in screen still says 0 until we go back and open the screen again.

<img width='200' src='https://user-images.githubusercontent.com/56189/135819275-62beec91-b1ec-4582-96db-dd326d13f329.jpg'>

[2021-10-04 09:53] hboon commented on #2071
Maximum Event log window is `100000` (like Polygon)

[2021-10-04 20:27] AW-STJ commented on #2080
That is correct.

Yes please. I had not checked iOS.

[2021-10-04 20:58] hieronymus4826 commented on #2081
I tried both phones, for unlimited times. The browser session stays the same for me. I tried waiting for up to 6 hours, closing the app completely, changing the internet connection, rejoining the old connection, opening multiple apps and wallets. The dapps stay open, connected to the same network and on the same page I left.

[2021-10-04 21:32] #2004 closed

[2021-10-04 21:33] AW-STJ commented on #2081
Thanks @hieronymus4826 .

Can you check with the Discord user Roguetr under #dapp-chat channel?

[2021-10-04 21:39] JamesSmartCell commented on #2081
It sounds like it could be a memory leak issue. I have fixed a few memory leaks associated with the DappBrowser, these went out in the 3.40.1 release. There is still one more remaining but that only manifests when you use signing or sending transactions from DappBrowser. This one is slightly harder to fix as it requires a refactor of one of the background services.

[2021-10-04 21:48] #1596 closed

[2021-10-05 02:55] #2078 closed

[2021-10-05 03:19] hboon commented on #1504
Bump: @JamesSmartCell @mpaschenko

[2021-10-05 06:20] JamesSmartCell commented on #2060
Hi @jinkjonks, @hboon didn't like our scrolling design (I think I suggested to do it this way) - can you have a look and do an update as per the changes above.

[2021-10-05 07:08] minarja1 opened #2086 "Make it available as Library?"
Hi,

would you please consider making AlphaWallet available as [Android Library](https://developer.android.com/studio/projects/android-library) and pushing to i.e. jitpack, so that it can be easily used as part of other projects?

[2021-10-05 07:25] #2075 closed

[2021-10-05 07:25] #2074 closed

[2021-10-05 07:25] #2072 closed

[2021-10-05 07:26] #1564 closed

[2021-10-05 07:26] #2061 closed

[2021-10-05 07:26] #2071 closed

[2021-10-05 07:26] #1669 closed

[2021-10-05 07:28] JamesSmartCell commented on #2086
Hi @minarja1 we are in the process of creating a core Token engine for AlphaWallet which will work on both Android and iOS. This won't be ready for a while.

What part of AlphaWallet would you like to be able to use as a library? I presume it's just the Token engine part, where Tokens are discovered and kept updated.

[2021-10-05 08:38] minarja1 commented on #2086
Honestly it would be nice if the whole thing was usable. I would like to mostly use the existing parts "as is" (with just minor changes) but also add other project-specific functionalities.

Publishing it as a library would make this possible while being able too keep it up to date.

[2021-10-05 09:15] hboon opened #2088 "Support ENS Avatars"
ENS allows adding of text records. One type of text record is an avatar URL. Given an address, if there's an ENS and an avatar configured, lets use it instead of blockies. Also display it in the send screen.

UI design here: https://github.com/AlphaWallet/alpha-wallet-ios/issues/3212#issuecomment-932052700

Test: brantly.eth -> 0x983110309620D911731Ac0932219af06091b6744
limes.eth -> 0xA7860E99e3ce

[2021-10-05 10:18] JamesSmartCell commented on #2086
Facinating. I hadn't considered using it like that, but it makes sense. To be honest I have no idea of the best way to make eg the Activity classes into a library. This would make a lot of sense for us down the line as we're developing a sort of token interface programming language.

Is there an existing precedent for anything doing something like this? I have seen the pure Android module coding,

[2021-10-05 10:21] #2057 closed

[2021-10-05 12:07] #2083 closed

[2021-10-05 12:11] JamesSmartCell commented on #2005
Ok, use whichever means you have to to get it as close to the spec as possible.

[2021-10-05 12:13] JamesSmartCell commented on #2015
I will have a look at the script see if it's easy to update. I have to renew my ENS soon anyway, and had a small involvement with the design of this script.

[2021-10-05 12:16] minarja1 commented on #2086
The very correct way to do this would probably be making the whole project [modular ](https://medium.com/native-mobile-bits/modular-android-app-architecture-build-to-scale-d6f402cbd93a)and exposing each module as a public library while keeping the App Module as thin as possible. This would, however, require a change in the app's architecture and I suppose this is not something you have time or man

[2021-10-05 12:54] JamesSmartCell commented on #2050
Top left blockie in wallet page -> add / change. @mpaschenko can you check if it's been done in the Samoa branch.

[2021-10-05 12:57] mpaschenko commented on #2050
yes, I added that, the only thing left from the mockups provided - is balance per wallet and total balance (on the wallets screen)

[2021-10-05 13:21] colourfreak opened #2090 "Something is wrong when calculating gas fee on Uniswap"
When trading on Uniswap, I see this error in Android. It occurs on Quickswap too (Polygon).
![2021-10-05 15 16 20](https://user-images.githubusercontent.com/51817359/136031087-0081fae6-7a3f-49ea-948d-efcf6287dc9b.jpg)
![2021-10-05 15 20 21](https://user-images.githubusercontent.com/51817359/136031118-7ec3b3ff-db1b-49f0-8a40-cf1ad86e6e03.jpg)

3.40.1 (170)

[2021-10-05 21:19] JamesSmartCell commented on #2090
It could be because if the dapp has specified a gas limit we use that without checking it. If the dapp doesn't specify a gas limit then we calculate it. I'll do a test to see what gas they're using. It must be new as I've used Polygon Uniswap a few times without any issues.

[2021-10-05 21:22] JamesSmartCell commented on #2086
We have been moving toward a more modular app for quite a while, but there's still quite a lot of the app that's not modular.

Thanks, I had no idea you could do this. So in that model, you can just call any AlphaWallet Activities etc. from your main code. I must give that a try.

[2021-10-05 21:59] JamesSmartCell commented on #2059
Ah:

https://docs.walletconnect.org/json-rpc-api-methods/ethereum

WalletConnect's personal_sign and eth_sign are the same. Is this deliberate or a bug? I guess eth_sign is dangerous and has been deprecated, so they don't support that dangerous method.

[2021-10-06 03:45] JamesSmartCell opened #2091 "Parcelise the WalletConnect data objects and send in the service Intent"
See WalletConnectService and WalletConnectViewModel comms

The flow is like this:

1. Message from WalletConnect (via https)
2. WalletConnectService picks up the message, broadcasts an intent that message was received ```Intent(WALLET_CONNECT_REQUEST);```
3. ```WALLET_CONNECT_REQUEST``` contains the sessionId key, is picked up by WalletConnectActivity ```walletConnectActionReceiver```
4. WalletCon

[2021-10-06 04:10] JamesSmartCell commented on #1556
Closing as now complete. The sign packaging is now more coherent.

There is still some abstraction but this is mostly required to deal with the different types of signing allowed (eg Biometric, PIN etc), and the different types of keys (Seed phrase vs Keystore), and the different locking of keys (locked, not locked) and different security chips in the phone (Strongbox vs Samsung Knox vs Generic se

[2021-10-06 04:10] #1556 closed

[2021-10-06 04:12] JamesSmartCell commented on #2091
If the data objects change there's little point in putting in the effort to parcelise the legacy structures. Might be best to leave this one - currently as it is, it's working correctly. Would be nice to remove step 4 though,

[2021-10-06 04:13] hieronymus4826 commented on #2081
I will check if it happens when I interact with an app and then leave it open, so far I have just tested it by leaving it open.

[2021-10-06 04:45] JamesSmartCell commented on #2063
Works correctly now, possibly fixed since last release.

[2021-10-06 04:52] JamesSmartCell commented on #2056
@colourfreak should we have a github link here? To make it easy to submit issues if the user knows github and so they know we're open source.

[2021-10-06 07:17] minarja1 commented on #2086
Can you please keep me updated on the progress?

[2021-10-06 08:46] #2052 closed

[2021-10-06 08:46] #2051 closed

[2021-10-06 09:12] colourfreak commented on #2090
@JamesSmartCell not that it works fine on iOS. No problem.

[2021-10-06 10:27] #2054 closed

[2021-10-11 10:07] #2082 closed

[2021-10-11 10:20] JamesSmartCell commented on #1504
Hi @colourfreak can you clarify - in the graphic above underneath 'When scanning Payment Request', the ActionSheet looks like it pops up directly after the scan rather than going to the send screen. I like this (I have seen cases where people needed to implement something this simple at conferences, and failed terribly) this is your intention right?

[2021-10-11 10:30] JamesSmartCell commented on #1504
Also @colourfreak when scanning a pure address, then clicking on 'send' it defaults to Ethereum Mainnet. It would be good to be able to pick which network we want to send to, although this isn't critical.

[2021-10-12 08:14] hboon opened #2103 "Add EIP3326 wallet_switchEthereumChain support"
Refer to https://github.com/AlphaWallet/alpha-wallet-ios/pull/3312

Refer to how `walletAddEthereumChain` support was added. Should be similar and simpler.

- [x] Modify the commit used in https://github.com/AlphaWallet/AlphaWallet-web3-provider to `9a4496d02b7ddb2f6307fd0510d8d7c9fcef9870` for the JavaScript provider
- [x] Update the injected JavaScript code to set up the hooks to add something l

[2021-10-12 09:28] colourfreak commented on #2056
@hboon Shall we add the same for iOS?

[2021-10-12 09:34] colourfreak commented on #1504
@JamesSmartCell I remember that Weiwu wanted me to add this. I was not sure about the usage. However, I have seen something similar at a conference. So you had a printed QR code (almost like a banknote) and someone can scan it and get paid with Lightning Network on Bitcoin.

[2021-10-12 10:16] sivaK003 opened #2104 "App Crash on SplashActivity"
[code]

[2021-10-12 11:56] colourfreak commented on #2015
Ideally with activity related to these transactions. I mean, let's aim for the best possible feature. So for example when I set ENS avatar, it was unclear looking at Activity what I have just did.

Example:
https://github.com/AlphaWallet/alpha-wallet-ios/issues/3278#issuecomment-940931777

[2021-10-13 03:17] JamesSmartCell commented on #2104
Thanks for reporting, I was able to reproduce and diagnose.

Can you do a pull and re-try, it should be fixed now

[2021-10-13 04:01] hboon opened #2105 "`Reload Token Data` doesn't seem to clear everything"
eg.

* Ethereum mainnet balance
* CryptoKitties meta data (name, etc) and the cached image

[2021-10-13 04:04] hboon opened #2106 "Scan WalletConnect QR codes (`wc:`) in cameras outside of AlphaWallet should open AlphaWallet and prompt for connection"
Tried with built-in scanner on my Huawei

[2021-10-13 04:05] hboon opened #2107 "Scan EIP681 payment links (`ethereum:`) in cameras outside of AlphaWallet should open AlphaWallet and start send "session""

[2021-10-13 04:10] hboon opened #2108 "Configure default reviewer"
Refer: https://github.com/AlphaWallet/alpha-wallet-ios/pull/3235/files

[2021-10-13 05:40] sivaK003 commented on #2104
Yeah now it's working fine.Thank you so much... @JamesSmartCell

[2021-10-13 05:40] #2104 closed

[2021-10-13 06:08] hboon commented on #1711
@JamesSmartCell  The actionsheet-based design for "Scanning to connect" etc in https://github.com/AlphaWallet/alpha-wallet-android/issues/1711#issue-79606150 aren't implemented yet.

<img width='200' src='https://user-images.githubusercontent.com/56189/137076373-6f19e9d5-d348-4c55-8784-2a17abc6a6d7.jpg'>

[2021-10-13 06:15] hboon opened #2110 "WalletConnect sign request prompts with garbled plaintext"
When prompted to sign, the data displayed in the actionsheet looks garbled. Shall we display it like "0x796492d582dc3b93f13e9147f395702d10c71c47f5ce3e4a999ef370fa65441e" instead?

This is against the site https://zora.co. The prompt to sign happens after connecting via WalletConnect.

This is from another, but similar signing request from the same site, so the shape of the data is the same, but th

[2021-10-13 06:36] hboon opened #2111 "ENS reverse lookups seems not to be cached, but DAS are"
`*.eth` -> address shows the spinner for a while to resolve even after the first time in the same session, but `dasloveckb.bit` -> address is instantaneous in the send screen

[2021-10-13 11:26] #1959 closed

[2021-10-13 11:42] mpaschenko commented on #1866
@JamesSmartCell @hboon on which run it should be raised?

[2021-10-13 21:48] JamesSmartCell commented on #2110
Nice idea, display the raw hex if it doesn't appear to be readable text. You'd need to check for something like ```Character.isAlphabetic(ch) || Character.isDigit(ch) || Character.isIdeographic(ch)``` but also allow for emojis, which are renderable in text. It shouldn't be hard to create a heuristic to detect renderable unicode characters.

[2021-10-13 21:54] JamesSmartCell opened #2115 "Move all the direct references in fragment comms into fragment results + listener"
See this pattern in NewSettingsFragment:

[code]

and then in HomeActivity:

[code]

This is the correct way to do fragment comms from Fragment to hosting Activity.

There are many calls in DappBrowserFragment, ActivityFragment, WalletFragment like this:

[code]

Which should receive the same treatment as above.

[2021-10-13 22:06] JamesSmartCell commented on #2111
Fast lookup? There's no caching:

[code]

[2021-10-14 02:38] hboon opened #2116 "Tapping on Collectibles in Wallet tab shifts the entire "sub-tabs" left"
Doesn't happen when "Currencies" is tapped

I know the design is going to change, but I suppose the component might still be affected.

All|Collectibles|Overlaid
-|-|-
<img width='200' src='https://user-images.githubusercontent.com/56189/137240853-b9c50d27-69f6-42c2-8261-855819d3cddc.jpg'>| <img width='200' src='https://user-images.githubusercontent.com/56189/137240857-6d33141d-2238-4966-882a-37db

[2021-10-14 02:44] hboon opened #2117 "Wrong error message after cancelling browse image in camera screen"
1. Tap camera button in Wallet tab
2. Tab Browse
3. Back
4. It displays an error message

<img width='200' src='https://user-images.githubusercontent.com/56189/137241493-b7685901-26a6-452c-985e-04f860e008f9.jpg'>

v3.40.2 (171)

[2021-10-14 02:45] hboon opened #2118 "Gasnow.org references still in app"
![Screenshot_20211014_104437_io stormbird wallet](https://user-images.githubusercontent.com/56189/137241938-151628b6-e234-4fa3-ba57-00a7e6427160.jpg)

[2021-10-14 02:50] hboon opened #2119 "Tapping app in home screen always seem to re-launch the app but switching to it doesn't"
This is ok:

1. Run app
2. Navigate to screen X
3. Switch to another app
4. Swipe up to open switcher
5. Tap AlphaWallet
6. Still at X

This is ok too:

1. Run app
2. Navigate to screen X
3. Switch to another app
4. Swipe left (or right) at the bottom of the screen to switch to AlphaWallet
5. Still at X

This isn't working as expected:

1. Run app
2. Navigate to screen X
3. Go to homescreen
4. Tap

[2021-10-14 03:02] hboon opened #2120 "Camera button in Watch wallet screen's textbox does nothing after scanning QR code with address"
The same screen has another camera button at the top right. That works, but should be removed.

(can't take screenshot of this screen)

[2021-10-14 03:05] hboon opened #2121 "Watch wallet screen should look like Zeplin's"
At least the button should say "Watch Wallet" instead of "WATCH-ONLY WALLETS"

https://app.zeplin.io/project/5d088205bff2d15de6a4397b/screen/5e2185a134ae967ece0db7e8

[2021-10-14 03:07] hboon opened #2122 "Improve error message when trying to watch an existing wallet"
Currently says  "Wallet 0xabc already full watch - no need to watch"

[2021-10-14 03:08] hboon opened #2123 "Trying to watch an invalid address shows an Exception-like message in the pop up"
![IMG_7745 2](https://user-images.githubusercontent.com/56189/137244250-7f29c08b-6ae9-4a54-a962-5a520046885f.JPG)

[2021-10-14 03:14] hboon opened #2124 "Oneinch should be available for the native crypto token on Ethereum mainnet and Arbitrum One"
Refer to https://github.com/AlphaWallet/alpha-wallet-android/issues/2061#issuecomment-929776367

[2021-10-14 03:17] hboon commented on #2063
Still in v3.40.2 (171)

[2021-10-14 06:10] JamesSmartCell commented on #2118
@jinkjonks here's the text for the different chains:

MAINNET_ID:  ... AlphaWallet uses the etherscan.io live oracle ...
HECO_ID: ... hecoinfo.com ...
BINANCE_MAIN_ID: ... bscscan.com ...
MATIC_ID: ... polygonscan.com ...

[2021-10-14 23:10] JamesSmartCell opened #2125 "'Rate me' after transaction success doesn't work correctly"
The 'Rate me' dialog after transactions success pops up, but because we go to the 'Transaction in Progress' screen (class TransactionSuccessActivity) it pops for a fraction of a second then is removed.

Can you move the count-to-5 successful tx then show rate to the TransactionSuccessActivity. I'll push this out in the release.

[2021-10-14 23:15] JamesSmartCell commented on #2111
ENS is cached for quick lookup drop-down, but before I allow it to be displayed first it's validated both ways - first we use Infura to check the node is synced (standard practice for ENS), then perform reverse lookup, then (as per safety requirements) do a forward pass through to ensure that the looked-up ENS name actually does point to the address returned.

It's actually possible to create a re

[2021-10-14 23:17] JamesSmartCell commented on #2123
ouch! It shouldn't even allow you to click unless it's a valid address - that's the real bug.

[2021-10-14 23:53] AW-STJ opened #2126 "Set up translation service for ensuring that the relevant strings are updated"
Steps:
- [ ] Put ad in Upwork
- [ ] Filter candidates. Select by language or one service that can do all
- [ ] Engage to understand whether they are good fit
- [ ] Finalise or search for more

[2021-10-15 02:29] hboon opened #2127 "Add an app-enforced timeout for WalletConnect while waiting to make new connections"
One of the problems with WalletConnect is frequently encountered when making a new connection, the user might be stuck waiting after scanning a QR code. Empirically, successful connections only take 2-3 seconds. Other than fixing the problem at the root, we can improve the user experience by setting a 10 seconds timeout. Upon timing out, inform the user to get a fresh QR code (not to rescan the sa

[2021-10-15 06:48] JamesSmartCell commented on #2127
Yeah that's a good idea. Currently android just asks them to re-scan, but not to refresh and get a new connection.

[2021-10-16 04:46] #2088 closed

[2021-10-16 22:47] JamesSmartCell commented on #2124
@mpaschenko can you expand your mod to allow oneinch exchange function for these chains.

[2021-10-17 08:34] #2117 closed

[2021-10-17 08:36] JamesSmartCell commented on #2119
OK #2131 goes a long way to improve the flow. There is a refactor required, to rename SplashActivity, and reserve this only for onboarding when there are no wallets, and have the default activity being the HomeActivity (which sits underneath the main 4 operational fragments that form the wallet)

[2021-10-17 21:46] #1866 closed

[2021-10-17 21:53] #2120 closed

[2021-10-17 21:53] #2121 closed

[2021-10-17 23:50] #2125 closed

[2021-10-17 23:56] #2122 closed

[2021-10-18 01:57] JamesSmartCell commented on #2015
I like this flow much better.

FWIW, I think that activity page you currently get to when you click the activityview item was primarily intended for TokenScript enabled transactions that have the expanded activity text / graphics. I'll post an example when I can find one.

But, it doesn't need to be there for anything other than a TokenScript transaction that has an expanded view.

[2021-10-18 03:24] JamesSmartCell opened #2138 "Migrate all the Log.(x) instructions to use Timber.(x)"
Haha, Google! "Use Timber, not Log". So funny, much humour.

Timber is Log, but automatically switches off for release builds, so all the if (BuildConfig.DEBUG) can be removed.

It should also shrink the APK size a fraction too.

[2021-10-18 10:01] mpaschenko commented on #2106
@hboon @JamesSmartCell can you attach some sample qr codes to test?

[2021-10-18 10:21] JamesSmartCell commented on #2106
This one should trigger a WalletConnect open:

![image](https://user-images.githubusercontent.com/12689544/137712403-0602fb48-d815-4120-bc05-f3e523a599ce.png)

(or just go to https://example.walletconnect.org/)

This one should trigger an EIP681 open:

![eip681](https://user-images.githubusercontent.com/12689544/137712813-8c98f28d-84c3-4f32-a252-b574efbf45bb.jpg)

These links start with ```wc:```

[2021-10-18 10:25] JamesSmartCell commented on #2138
Also migrate all the ```System.out.println(...);``` and if ```(BuildConfig.DEBUG) e.printStackTrace();``` to use ```Timber.e(TAG, e.printMessage());``` as appropriate

[2021-10-18 10:37] JamesSmartCell commented on #2106
You can see it working if you open  https://example.walletconnect.org/ in a phone browser app like Brave etc, then click 'mobile' instead of QR code and it should give you AlphaWallet as an option to open it.

[2021-10-18 11:44] 0x1992 opened #2142 "Add NFTSCAN DAPP"
Title: NFTSCAN
Desc: NFTSCAN is a professional NFT asset browser and data analysis platform.
Website: https://nftscan.com/
Logo_url: https://twitter.com/nftscan_com/photo
Tags: NFTSCAN, infrastructure, NFT

[2021-10-18 15:56] hieronymus4826 opened #2143 "In-app Browser Bookmarks not working properly (with solution)"
Reported by Dev Partners

![Screenshot_20211018-185010_Gmail.jpg](https://user-images.githubusercontent.com/84448420/137766509-36cd8a49-651d-4de1-a16a-b0cf033d783e.jpg)

[2021-10-18 17:13] hieronymus4826 opened #2144 "App crashing when trying to add a token (from an address) on a different chain"
Reported on Discord, but tested it myself and its the same for me.

Scenario:

I copy a BSC chain token address in the "add/hide tokens" menu while Ethereum is the selected chain in the drop down. The wallet starts looking endlessly for the token address on Etherscan and eventually the app crashes. Easy to replicate.

[2021-10-18 21:37] JamesSmartCell commented on #2144
This is based on an old release, and has been fixed. When 3.40.2 is out later today can you check?

[2021-10-18 21:37] JamesSmartCell commented on #2143
Fixed in 3.40.2

[2021-10-19 02:41] hboon opened #2150 "Support SVGs for ENS avatar text records"
Test with Victor's ENS

[2021-10-19 02:55] hboon opened #2151 "Show the blockie or ENS avatar under address text fields (eg. Send screen)"
Like this: https://github.com/AlphaWallet/alpha-wallet-ios/issues/3212#issuecomment-932052700

[2021-10-19 03:13] hboon opened #2152 "Scanning a QR code with EIP681 link for xDai then choosing Open in Etherscan opens an invalid URL"
Goes to: https://blockscout.com/xdai/mainnet/token/0xbc8dAfeacA658Ae0857C80D8Aa6dE4D487577c63/token-transfers

Maybe want: https://blockscout.com/xdai/mainnet/address/0xbc8dAfeacA658Ae0857C80D8Aa6dE4D487577c63/transactions

Or not show that option at all since it's EIP681?

Also, does it always show "Open in Etherscan" (Maybe "Open in blockchain explorer" is better?)

<img width='200' src='https:/

[2021-10-19 03:18] hboon opened #2153 "Show Wallet Connect as a row at the top of Wallet tab if there are sessions"
There was an older issue about this. Might have assets there. Otherwise buzz Tomek.

<img width="200" alt="Screenshot 2021-10-19 at 11 17 19 AM" src="https://user-images.githubusercontent.com/56189/137838193-5bdbe4e6-1ffe-46ef-b1b4-add8711511ee.png">

[2021-10-19 03:26] hboon opened #2154 "Switching to Arbitrum One in chainlist.org doesn't work"
1. Make sure Arbitrum One is not enabled
2. https://chainlist.org in dapp browser
3. Search for Arbitrum One
4. Tap Connect Wallet
5. Proceed when prompted

Observations:

* Page appears to be reloaded
* The overlay with the balance disappears
* More shows "Network: AETH"
* Tapping on More > "Network: AETH" doesn't show AETH or Arbitrum One in the list
* Settings > Select Active Networks does show

[2021-10-19 23:55] hboon commented on #2152
That’s just the QR code to scan :)

[2021-10-20 02:26] JamesSmartCell opened #2156 "Refactor QRCodeActionsView"
Gradle has deprecated using R.id.xxxxx in switch tables because the resource IDs will be non-final.

This is regrettable as the switch () case ... pattern is much better than a string of if/else, but this is how it is.

```Class QRCodeActionsView```

and anywhere else you can find.

[2021-10-20 02:58] #2150 closed, assigned to JamesSmartCell

[2021-10-20 02:58] #2151 closed, assigned to JamesSmartCell

[2021-10-20 03:31] JamesSmartCell commented on #2116
Hi @mpaschenko can you check this in Samoa and fix if required.

[2021-10-20 03:36] #2152 closed

[2021-10-20 03:38] JamesSmartCell commented on #2105
Ok, I'll triple check it. Yeah I know what you mean, they appear too fast sometimes.

[2021-10-20 05:44] #2154 closed, assigned to JamesSmartCell

[2021-10-20 06:25] #2144 closed, assigned to nobody

[2021-10-20 06:29] hieronymus4826 opened #2161 "Add a remove option for custom (or default) RPC networks"
At the moment if a person adds a copy of an existing network with another RPC provider it doubles the entries and currencies in the wallet.

![GitHub_unable_to_compile_13 10](https://user-images.githubusercontent.com/84448420/138039609-d9773263-e028-41ba-af9b-b2990408d2f7.jpeg)

![Screenshot_20211017-194718264](https://user-images.githubusercontent.com/84448420/138039612-14ff16a7-4c73-4e5f-870b-88

[2021-10-20 07:04] JamesSmartCell commented on #2161
Hi @mpaschenko can you resolve this one?

[2021-10-20 09:08] hboon opened #2164 "Add support for Palm mainnet and testnet chains"
Notes
---
* Missing an token image
* Not able to test making transfers, transactions, and bridging yet. Wanting for funds
* Waiting for our Infura accounts to be enabled for the chains so we can switch back to using ours (the Infura URLs below includes a working key):

Etherscan-type compatibility (for transaction lists etc): "blockscout"

Testnet
---
name: "PALM"
symbol: "PALM"
decimals: 18
chain

[2021-10-21 02:29] hboon opened #2166 "Transaction confirmation actionsheet in landscape mode should (almost?) fill the screen upon appearing"
<img width='200' src='https://user-images.githubusercontent.com/56189/138200735-d54d3275-5982-4c58-a88d-5d6bb0e34995.png'>

Rather than just showing a little bit and expecting the user to pull it up

[2021-10-21 02:31] hboon opened #2167 "Transaction confirmation actionsheet in landscape mode should scrollable to reveal all the content"
<img width='200' src='https://user-images.githubusercontent.com/56189/138201016-17d1cc9f-c8a7-4cf6-b821-5d522d5c7951.png'>

In the screenshot, the `amount` at the bottom can't be scrolled into the viewport

[2021-10-21 02:36] hboon opened #2168 "Popups appearing in portrait mode like Transaction confirmation or the prompt shown after scanning a QR code with camera shouldn't disappear after switching to landscape mode and vice versa"
1. Portrait
2. Wallet > Scanner button
3. Scan a QR
4. Prompt appears
5. Tilt device to landscape

Expected
---
Prompt adjusts accordingly

Observed
---
Prompt disappears

Similarly if we go from landscape to portrait

[2021-10-21 02:48] hboon opened #2169 "Spinner for resolving ENS text avatar/address overlaps briefly with avatar"
In the send screen

1. Type or paste ENS name which has an avatar text record configured
2. Little spinner appears
3. Wait

Observed
---
4. ENS avatar appear
5. Spinner still around, but doesn't look nice because it is overlapping the ENS avatar
6. Spinner disappears and address appears

Expected
---
Probably similar to observed, but reposition the spinner maybe?

<img width='200' src='https://use

[2021-10-21 02:51] hboon opened #2170 "Wallet > Ethereum token > Exchange with 1inch crashes"
Can't reproduce

RC4
v3.40.2 (171)

[2021-10-21 03:09] hboon opened #2171 "Looping behaviour prompting EIP3085 to add/switch changes with Oneinch upon switching active change"
1. Wallet
2. Ethereum token
3. ... button
4. Swap
5. Wait for Oneinch to load with Ethereum chain selected in the dapp
6. With the app native UI, switch chain to Optimistic

Expected
---
7. Page reloads with Optimistic selected in the dapp

Observed
---
7. Page reloads with Optimistic selected in the dapp
8. EIP3085 prompt appears to switch to Ethereum (the previous chain in the dapp)
9. Cancel th

[2021-10-21 03:10] hboon opened #2172 "Make "Exchange with 1inch" button be "Swap" instead"
eg. in Wallet > Ethereum token > `...`

[2021-10-21 04:10] JamesSmartCell commented on #2169
Thanks for spotting this.

[2021-10-21 06:35] #2171 closed

[2021-10-22 02:16] JamesSmartCell opened #2176 "Add DAS name tool to Wallet Web page"
Please add the DAS name tool app to our Wallet browser page:

![DAS Logo](https://user-images.githubusercontent.com/12689544/138381863-11f4e6e7-72d9-4e4b-ab84-9eef2b81ba27.png)

Website: https://da.systems/
Description: Future-proof, cross-chain decentralized account system
Section: Tools/Utilities

We now support DAS names in both iOS and Android. It's like ENS but you can set records for the maj

[2021-10-22 04:29] JamesSmartCell commented on #2073
Should be working correctly now.

[2021-10-22 04:29] #2073 closed

[2021-10-22 05:31] hieronymus4826 opened #2177 "Error with assigning nonce to simultaneous transactions."
While I was testing the issue with the gas prices I started two separate transactions on the Ethereum network:

1. Send an NFT
2. Send ETH

After they were both pending for 15 minutes, due to the wrong gas calculation, I sped up the Ethereum transaction first and it got through. Now I cannot interact with the NFT transaction at all as it has the same nonce (number 8) assigned, which has already be

[2021-10-22 10:31] #2177 closed, assigned to nobody

[2021-10-23 01:16] JamesSmartCell opened #2180 "Migrate from legacy 'SplashActivity' -> 'HomeActivity' pattern"
Point Application Launcher in both Manifest files at HomeActivity.

This resolves the paging back into the wallet issue.

The following points have to be observed:

- [x] On starting the HomeActivity, need to check if any Wallets are present from the DB, if not, go to SplashActivity (no further mod needed).
- [x] On starting HomeActivity, need to check if selected wallet is set, if not set then pi

[2021-10-24 08:00] JamesSmartCell opened #2181 "Integrate Glide RecyclerView preload"
See the docs here: http://bumptech.github.io/glide/int/recyclerview.html

Integrate this in the WalletFragment Tokens RecyclerView to smooth the list viewing a little.

[2021-10-25 04:57] #2180 closed, assigned to JamesSmartCell

[2021-10-27 05:00] hboon opened #2185 "Can't switch chain with dapp in Oneinch"
Maybe related to #2171

1. Wallet
2. Ethereum token
3. ... button
4. Swap
5. Wait for Oneinch to load with Ethereum chain selected in the dapp
6. With the app native UI, switch chain to Optimistic
7. Page reloads with Optimistic selected in the dapp
8. In the dapp, change the chain to Ethereum

Expected
---
9. EIP3085 appears

Observed
---
9. Dapp select goes back to Optimistic

v3.40.5 (174)

[2021-10-27 05:07] hboon opened #2186 "Switch chain with chainlist.org from mainnet -> testnet or vice versa doesn't work correctly"
Maybe related to #2154

1. Make sure Arbitrum One is not enabled
2. https://chainlist.org in dapp browser
3. Search for Arbitrum One
4. Tap Connect Wallet
5. Proceed when prompted

Observations:

* Page appears to be reloaded
* The overlay with the balance disappears
* More shows "Network: AETH"

It seems like this also causes a mix of testnet and  mainnets to be enabled (verify in the Wallet tab

[2021-10-28 07:36] hboon opened #2188 "Adding chain via chainlist.org don't make it enabled in Settings > Select Active Networks"
1. Make sure Expanse not in list of chains
2. Switch to Ethereum mainnet
3. Visit chainlist.org
4. Add Expanse (chainID = 2)
5. Observed Expanse is now the active chain in the browser
6. Settings > Select Active Networks

Expected
---
7. Expanse is selected

Observed
---
7. Expanse is not selected

Repeating step 1-4 might crash too. Haven't tried reproducing

[2021-10-28 07:44] hboon opened #2189 "Enabling Ethereum Ropsten via chainlist.org while mainnets are active crashes"
1. Switch to Ethereum mainnet
2. Visit chainlist.org
3. Add Ropsten
4. Prompt to enable testnets appear
5. Proceed
6. Crashes

[2021-10-28 07:48] hboon opened #2190 "Chain enabled and switched to by dapp (Oninch) isn't activated in Settings"
1. Make sure Ethereum is activated, but Optimistic is not
2. Wallet
3. Ethereum token
4. ... button
5. Swap
6. Wait for Oneinch to load with Ethereum chain selected in the dapp
7. Switch to Optimistic with the dapp UI

At some point, we'll get prompted to enable Optimistic to be enabled, but Settings > Select Active Networks wouldn't show it is enabled

[2021-10-28 09:16] hboon opened #2191 "Site titles are missing in history"
<img width='200' src='https://user-images.githubusercontent.com/56189/139226214-be81d7e3-30b5-4de0-a8db-730396471d38.jpg'>

[2021-10-28 09:22] #2176 closed, assigned to colourfreak

[2021-10-28 09:29] colourfreak opened #2192 "Bottom navigation does not have a selected item after the import"
It supposes to be a "Wallet". Nothing is highlighted in an Azure color.
![2021-10-28 10 58 42](https://user-images.githubusercontent.com/51817359/139228530-0ee71d12-30ba-483e-ab28-dc524c093c87.jpg)

[2021-10-29 02:41] hboon opened #2195 "Update the top Dapp icon in Active WalletConnect session screen"
Refer to: https://github.com/AlphaWallet/alpha-wallet-ios/issues/3384#issue-1037359162

Ignore the "Switch Network" button for now (unless we know it's possible then feedback here)

[2021-10-29 03:24] JamesSmartCell opened #2196 "Fold the Ethereum Custom Chain structure into networkMap"
Currently there's a lot of extra handling for the custom chains, which leads to some duplicated code and a few 'gotchas', both now and in the future.

Can you add a 'isCustom' boolean flag to NetworkInfo, and then, on initialisation add the custom chains in - no danger of adding them multiple times because it's a SparseArray.

Then, simplify the rest of the handling in EthereumNetworkBase accordin

[2021-10-29 04:04] #2192 closed, assigned to mpaschenko

[2021-10-29 21:38] JamesSmartCell commented on #2195
Ok understood it now, thanks

[2021-10-31 03:04] #2185 closed

[2021-10-31 03:04] #2186 closed

[2021-10-31 03:04] #2188 closed

[2021-10-31 03:04] #2189 closed

[2021-10-31 03:04] #2190 closed

[2021-10-31 04:30] #2195 closed

[2021-10-31 11:25] #2191 closed

[2021-10-31 11:27] JamesSmartCell commented on #2081
This may have been fixed by #2201

[2021-10-31 11:28] #2156 closed

[2021-10-31 13:21] colourfreak commented on #1573
@hboon Any progress on this one? Kind reminder.

[2021-10-31 13:21] colourfreak commented on #1215
@hboon Any progress on this one? Kind reminder.

[2021-10-31 13:22] colourfreak opened #2203 "Add AlphaWallet to apkure"
https://apkpure.com/

[2021-10-31 13:24] colourfreak opened #2204 "Allow users to import a wallet with 24 seed phrase"

[2021-10-31 21:17] JamesSmartCell commented on #2204
@colourfreak should we also allow users to create a seed phrase with 24 words? When users are entering the 24 word seed phrase, would we just allow them to keep entering the words in the import screen, or display some sort of dialog?

[2021-11-01 03:36] hboon opened #2205 "Support switching chains in active WalletConnect session"
Refer to https://github.com/AlphaWallet/alpha-wallet-ios/issues/3383 for button. This is for sessions which already active (connected).

Look for `wc_sessionUpdate` in the SDK.

[2021-11-01 03:36] hboon commented on #2195
Update. Yes, switching chains for active sessions is possible: #2205

[2021-11-01 06:12] hieronymus4826 commented on #2081
I have tried many times over the month and could never reproduce

[2021-11-01 22:42] andrewmckenzie123 opened #2206 "After back up my testnet wallet my erc20 token all disappeared"
I am requesting help in getting back my missing testnet funds. I only deposit fund before backing up my wallet. After back up and confirm the account. My funds missing.
The funds showing on testnet explorer but not in the account. Very frastrating

[2021-11-01 23:26] JamesSmartCell commented on #2206
Hi @andrewmckenzie123 can you provide more details; can you say what is your address and which testnet you're using.

The wallet usually picks up all erc20 automatically on the main testnets (Kovan, Ropsten, Rinkeby, Goerli, Mumbai), but it struggles with some testnets like Avalanche Fuji as we haven't yet added token discovery heuristics for this chain.

The testnet tokens are still there, can yo

[2021-11-01 23:28] JamesSmartCell commented on #2205
@hboon This is the 'switch network' button? So you can issue a wc_sessionUpdate on an active session to change chains and it works correctly?

That's a really handy feature if it works I'll get it in for the next release.

[2021-11-01 23:33] andrewmckenzie123 commented on #2206
I got it resolved by email assistance. I rate your platform 5 star. Thanks for the readily support ..... keep adding more function to the platform like Venus XVS testnet, then it perfect

[2021-11-01 23:33] #2206 closed

[2021-11-01 23:37] JamesSmartCell commented on #2119
Hi @hboon *I think* this is also expected behaviour. On the restart signal (clicking the icon), it's up to the developer to provide stack rebuild/restore (the usual terminology for Android is to call this an 'icicle'). Without that restart signal, if it's just paging back in then the OS will attempt to restore the app where it was previously, unless the process memory has been reclaimed in which c

[2021-11-01 23:50] andrewmckenzie123 commented on #2206
I got your response and it help 100% thanks but i need Venus XVS testnet wallet! Have any info on Venus XVS testnet?

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Brown ***@***.***>
Sent: Monday, November 1, 2021 6:26:56 PM
To: AlphaWallet/alpha-wallet-android ***@***.***>
Cc: andrewmckenzie123 ***@***.***>; Mention ***@***.***>
Subject: Re: [AlphaWa

[2021-11-02 00:56] hboon commented on #2205
Correct.

[2021-11-02 03:04] hboon commented on #2119
Ok. Thanks for clarifying.

[2021-11-02 15:14] hboon commented on #2204
We can allow users to import, but for creation, can we keep the UI as simple as when it was only 12-word seeds phrases?

[2021-11-02 22:11] clehner opened #2207 "Crash on personalSign"
Hi,
Thanks for making AlphaWallet!
I get a crash when confirming some signing requests.
Stack trace from log follows.
Here is the relevant line: https://github.com/AlphaWallet/alpha-wallet-android/blob/9ce511ee04d2522fd33c35e34092534e379c31de/app/src/main/java/com/alphawallet/app/viewmodel/DappBrowserViewModel.java#L139
[code]

[2021-11-03 00:12] JamesSmartCell commented on #2207
Thanks for reporting this! I have made a fix that will go into the next release

[2021-11-03 00:16] JamesSmartCell commented on #2204
Yes, but I'm wondering if there should be a visual que that we now support 24 word phrases, if the user goes past 12 words. The current behaviour is to disable the import button unless there's 12 words. We can now disable the button unless there's 12 or 24 words, but user may not know we support 24 word phrases unless they try.

Maybe something like a counter that would trip to 11 words remaining

[2021-11-03 02:09] JamesSmartCell commented on #2170
Is this now resolved? I also couldn't reproduce but suspect it was fixed in the refactor.

[2021-11-03 02:32] hboon commented on #2170
Can't reproduce it too. Closing.

[2021-11-03 02:32] #2170 closed

[2021-11-03 04:15] #2207 closed

[2021-11-03 05:56] JamesSmartCell commented on #2081
I could reproduce something like it by using Alchemy, Twitter tipper, 1Inch and Uniswap then going into the dappbrowser and with an empty URL scroll down the list for a bit ... it locks up sometimes. This is now fixed.

[2021-11-03 06:00] JamesSmartCell commented on #2042
- [ ] Import a wallet (just create a new wallet and store the seed phrase, or create a new wallet in MetaMask and export the raw key).
- [ ] Check the address of the wallet

Move some testnet balance onto this wallet (any testnet is find, Ropsten is easy to get, as is Mumbai and Goerli).

- [ ] create a new wallet
- [ ] get the address of the new wallet
- [ ] send balance from the first wallet to

[2021-11-04 01:06] AW-STJ commented on #1979
@SavalakhDev - here is your first task. Feel free to ask questions here if you need more information.

Submit a PR for this issue once you are done, then we will take it forward with other tasks.

[2021-11-04 02:07] JamesSmartCell opened #2210 "Refactor WalletConnect OKHttp client usage"
Refactor WalletConnectActivity, WCClient and WalletConnectService to remove the OKHttp client from WCClient and move ownership of all WC comms into WalletConnectService.

Currently, because the OKHttp client is created in WalletConnectActivity, and kept within each WCClient object, and each OKHttp client connect contains a link to the WalletConnectActivity context, the context is leaked when Walle

[2021-11-05 05:46] hboon opened #2213 "Indicate which chain for each WalletConnect session more prominently by showing an icon for the chain for each session"
Refer https://github.com/AlphaWallet/alpha-wallet-ios/issues/3403

[2021-11-09 07:24] colourfreak opened #2214 "Improve the font under "Change / Add Wallet""
https://zpl.io/VY7JKYk
https://zpl.io/2pqPx1y
<img width="821" alt="Screenshot 2021-11-09 at 08 19 57" src="https://user-images.githubusercontent.com/51817359/140879818-523f151f-473c-471c-850b-d88ca5e40936.png">

SourceSansPro Regular 12, Dove #727272

[2021-11-09 08:52] guangxingmao opened #2215 "can't connect wallet with uniswap"
Dapp : http://app.uniswap.org,
The first time I use it, I can connect my wallet normally, but I can't connect my wallet after I exit it several times and open it again

[2021-11-09 14:54] colourfreak commented on #2215
Do you use Uniswap on Ethereum Mainnet or other networks? @guangxingmao

[2021-11-10 13:06] mpaschenko commented on #2116
@hboon @JamesSmartCell it's a stock TabLayout control behavior, the only solution I can suggest is to make all the columns the same size, to avoid shifts, like on the image attached
![viber_image_2021-11-10_15-03-07-216](https://user-images.githubusercontent.com/2472117/141118092-66ed75f6-e8fb-42cf-ba8e-b7708d2edebf.jpg)

[2021-11-10 13:28] hboon commented on #2116
@mpaschenko not a showstopper for me. Just found it strange. If it’s difficult to fix and is standard behaviour, you don’t have to unless James thinks otherwise.

[2021-11-11 03:04] guangxingmao commented on #2215
yes, I use uniswap on Ethereum Mainnet

[2021-11-12 09:19] colourfreak commented on #2215
Can you share a screenshot or screen record?

[2021-11-13 07:06] #2196 closed

[2021-11-13 07:25] AW-STJ commented on #1979
Hey @SavalakhDev - did you get a chance to look at this issue?

[2021-11-13 07:26] AW-STJ commented on #2042
Hey @seabornlee - did you get a chance to look at this issue?

[2021-11-15 01:28] JamesSmartCell opened #2218 "Migrate Paging to ViewPager2"
Migrate main page adapter (Wallet, Activities, DappBrowser, Settings) in HomeActivity to use ViewPager2, as ViewPager has been deprecated.

See the examples here:

https://developer.android.com/training/animation/screen-slide-2
https://www.geeksforgeeks.org/viewpager2-in-android-with-example/

[2021-11-15 04:04] JamesSmartCell opened #2220 "Show Import wallet syncing"
During first sync, wallet should indicate it is looking for assets and not allow refresh until the first sync is complete.

This is a precursor issue that needs doing before the app can produce the full multi-wallet summary in Samoa.

[2021-11-15 04:04] JamesSmartCell commented on #2215
Can you update from PlayStore and see if the issue is resolved?

[2021-11-15 04:06] JamesSmartCell commented on #2116
It's standard behaviour, and yes I'd agree with @mpaschenko that you can make the tabs all the same width. Let's go with that, and see if there are any issues with it.

[2021-11-15 05:42] JamesSmartCell commented on #2203
@colourfreak do you have any info about this site? I tried to upload AW Android on to it, it uploaded, but when I added it to the developer console it said 'This application has existed on Google Play". I have contacted their developer support, see what they say.

[2021-11-15 06:19] guangxingmao commented on #2215
https://user-images.githubusercontent.com/19208420/141732145-b77bfa0e-9719-4406-a55d-67c190e4f031.mp4

[2021-11-15 06:20] guangxingmao commented on #2215
![1201636957057_ pic](https://user-images.githubusercontent.com/19208420/141732182-2376ecb5-4f19-427a-8e6e-9951462b0819.jpg)

[2021-11-15 06:21] guangxingmao commented on #2215
yes,but the problem persists.

[2021-11-15 08:22] colourfreak commented on #2203
<img width="1049" alt="Screenshot 2021-11-15 at 08 25 38" src="https://user-images.githubusercontent.com/51817359/141746888-4bc25510-5e70-4864-9f39-c3b0a657ec69.png">

[2021-11-15 15:47] hboon commented on #2203
Does that mean someone else uploaded this in our name? Can we take over it?

[2021-11-15 21:33] JamesSmartCell commented on #2215
Thanks for checking; I will investigate further

[2021-11-15 21:55] JamesSmartCell commented on #2203
I don't think it works like that ... there is no 'ownership' it's kind of weird. I was able to upload the latest APK just by supplying the binary. However I don't know how we can update the page, their support was very fast to contact me back though. I'll ask.

[2021-11-15 21:57] JamesSmartCell commented on #1573
There was some outstanding preparation work we needed to do to get it listed, which is now complete. I have re-submitted the inclusion issue here:

https://gitlab.com/fdroid/rfp/-/issues/1916

[2021-11-16 05:24] colourfreak commented on #1573
Nice, can we try here as well? https://github.com/AlphaWallet/alpha-wallet-android/issues/1215

[2021-11-16 05:58] JamesSmartCell commented on #2215
@guangxingmao can you try using the option 'Clear Browser Cache' in the hamburger menu, then call Reload once it's finished.

I managed to reproduce the issue, and fixed it this way. I couldn't find how to detect it from the code side.

[2021-11-16 22:29] #2213 closed

[2021-11-17 01:15] JamesSmartCell opened #2227 "Upgrade Web3j to v4.8.4"
- [ ] Remove the Web3j folder and re-wire the project to use the StructuredData and StructuredDataEncoder from Web3j which should now be working.
- [x] Test EIP712v4 (Arrayed version of EIP712) using https://danfinlay.github.io/js-eth-personal-sign-examples/
- [x] Test EIP712v4 using Gnosis transaction.
- [x] Merge into the EIP1559 branch and remove the extra handling for EIP1559, pulled from v4.8

[2021-11-17 01:58] JamesSmartCell commented on #2215
We have has another person report this issue, it was fixed via 'clear browser cache'. Now we know the solution we'll work on an automatic fix.

[2021-11-17 06:49] guangxingmao commented on #2215
ok,tks

[2021-11-17 07:56] JamesSmartCell commented on #2215
Did doing 'clear browser cache' then reload work?

[2021-11-17 07:59] #1886 closed

[2021-11-17 08:01] #1795 closed

[2021-11-17 08:02] colourfreak commented on #2215
Reveal the menu in the top right corner, then select this item. @guangxingmao

![2021-11-17 08 59 38](https://user-images.githubusercontent.com/51817359/142159682-951ff1b0-d0db-4d8c-91cd-4918e4fca5ff.jpg)

[2021-11-17 08:13] mpaschenko commented on #2006
@JamesSmartCell we can close it as it's merged already

[2021-11-17 08:14] mpaschenko commented on #1639
@JamesSmartCell we can close it as it's merged already

[2021-11-17 21:42] #2006 closed

[2021-11-17 21:47] JamesSmartCell commented on #1924
@hboon re-looking at this, I provided all this info in a separate issue in the iOS repo.

Good to close? Or do you need more info on the heuristic? It won't catch 100% percent of groups, but it won't put the wrong NFTs together into groups, as it's quite conservative. It does help reduce the clutter a lot. I can provide a few more test collections I tested against.

[2021-11-18 03:08] hboon commented on #1924
Good to close, but could you like link to that iOS issue you mentioned? We aren't implementing the heuristics for now, but might check back later.

[2021-11-18 06:02] hboon opened #2228 "Make WalletConnect signature request be clearer about where it's coming from #3289"
Refer https://github.com/AlphaWallet/alpha-wallet-ios/issues/3289#issuecomment-953465632

[2021-11-18 10:14] colourfreak opened #2229 "List AlphaWallet app on Foss Droid"
https://fossdroid.com/

[2021-11-18 11:14] colourfreak opened #2230 "Move the search bar down, move Add/Hide Tokens"
**Changes:**

- Replace "My Wallet Address" with the additional menu icon
- When revealed additional menu, show three options "Copy Address" "My Wallet Address" and "Add/Hide Tokens"
- Add search bar where "Add/Hide Tokens" was before

https://zpl.io/VqMqYol
https://zpl.io/aXOMol8

![Wallet_Menu](https://user-images.githubusercontent.com/51817359/142405323-96169a59-5f68-4553-bd68-67cdee31f7bf.jpg)

[2021-11-18 11:23] colourfreak commented on #2204
When you enter 12 words it works the same way (changes to import button from suggestions).
When you keep writing another word  (13th), then it comes back to suggestions + the counter changes from .../12 to .../24

https://zpl.io/29pk04e
https://zpl.io/bP6zjqM
https://zpl.io/V1LK9ZX
https://zpl.io/VQ3jQW4

<img width="1672" alt="Screenshot 2021-11-18 at 12 19 33" src="https://user-images.githubuser

[2021-11-18 12:13] colourfreak opened #2231 "Replace Select button in assets with additional menu [ERC1155]"
@JamesSmartCell

A small change here. Where you have **Assets** tab, you can find the "Select" link in the top right corner
<img width="750" alt="Screenshot 2021-11-18 at 13 08 02" src="https://user-images.githubusercontent.com/51817359/142412643-7aedbeef-a095-416a-8ac8-8db1326e225e.png">

So we need to change it to a native Android icon for an additional menu. When you reveal this menu, you will

[2021-11-18 12:45] colourfreak opened #2232 "Add Search box under the segmented control inside Assets tab [ERC1155]"
It should work natively. When you tap on it, the search box appears at the very top.
https://zpl.io/bW3ogpk
https://zpl.io/b6Wzjkm
https://zpl.io/293QEpe

![ERC-1155-Project-Assets-Grid](https://user-images.githubusercontent.com/51817359/142417098-a93977f3-7bd4-4084-8609-1f936bc602c6.jpg)

![ERC-1155-Project-Assets-List](https://user-images.githubusercontent.com/51817359/142417100-4f065cb1-5e18-43

[2021-11-18 13:38] hboon commented on #2204
Yeah, let's do it.

[2021-11-18 13:40] hboon commented on #2204
- [ ] Also need to check for references to "12 words seed phrases" or similar in the app
- [ ] Also need to check if export functionality needs to be changed
* Let's just not allow user to create them at the moment

[2021-11-18 13:44] colourfreak opened #2233 "Redesign ERC721 to be align with recent ERC1155 update we made [ERC721]"
The good news is, that we already made the layout for ERC1155, which now can be applied to the ERC721 redesign. Note, that unlike ERC1155, in the Assets tab you will not find the menu icon in the top right. Since there no way for multiple selection, I skipped it.

**Zeplin:**
https://zpl.io/bzzgow7

![ERC721-android](https://user-images.githubusercontent.com/51817359/142425180-b31b52ef-30eb-4708-8

[2021-11-19 13:12] #1437 closed

[2021-11-20 05:57] seabornlee opened #2236 "Add wallet button content description shows "Add Token", it could be "Add Wallet""
<img width="320" alt="image" src="https://user-images.githubusercontent.com/735708/142716224-87c6e3c7-291a-4596-9e90-4e6960e47222.png">

<img width="286" alt="image" src="https://user-images.githubusercontent.com/735708/142716214-f8765c05-310b-4560-be19-928ec2e47b0f.png">

[2021-11-20 09:43] seabornlee opened #2237 "Wallet address not all in upper case"
It show all upper case in most pages.
<img width="265" alt="image" src="https://user-images.githubusercontent.com/735708/142721696-1451005d-7e89-4175-940f-34957c78e594.png">
<img width="264" alt="image" src="https://user-images.githubusercontent.com/735708/142721699-87e4b3ec-38aa-433e-b76b-c28341f75f6d.png">

But in lower case on the "Change / Add Wallet" page.
<img width="269" alt="image" src="ht

[2021-11-21 05:03] JamesSmartCell commented on #2236
Hi @seabornlee I see; thanks for the heads up, the 'add token' is indeed incorrect when viewing the full text.

[2021-11-21 05:04] JamesSmartCell commented on #2237
This is an ethereum standard - it should be consistent as you say - it should show the cheksummed wallet address on the wallet screen. Just wrap the text with ```Keys.toChecksumAddress( ... )```

[2021-11-21 08:02] seabornlee opened #2238 "Send token crash in emulator"
[code]

[2021-11-21 09:07] seabornlee commented on #2237
Exactly, it's not just all uppercased.

[2021-11-21 11:49] seabornlee opened #2241 "Settings -> Change / Add Wallet page not show correct balance"
![image](https://user-images.githubusercontent.com/735708/142760567-4f0a299c-46dd-4da8-9807-90d87dd13fd0.png)
![image](https://user-images.githubusercontent.com/735708/142760575-676c43f2-a250-49fe-b09c-23ddb01f2801.png)

[2021-11-21 22:02] JamesSmartCell commented on #2241
This is expected behaviour - the wallet page shows only main net balance.

[2021-11-21 22:04] #2238 closed

[2021-11-21 22:54] #2237 closed

[2021-11-21 23:15] JamesSmartCell commented on #2233
Nice, this would be a great task for @justindg .

Just one clarification point, when you say 'Since there no way for multiple selection, I skipped it.' you're referring to ERC721 explicitly?

![screen1](https://user-images.githubusercontent.com/12689544/142782732-6ddba4b1-80a6-4f42-80ec-234252ce77d1.jpg)
![screen2](https://user-images.githubusercontent.com/12689544/142782739-9eec4a82-3c28-4072-a01

[2021-11-22 01:52] seabornlee commented on #2241
Got it. Thanks for sharing this!

[2021-11-22 01:52] #2241 closed

[2021-11-22 02:06] guangxingmao commented on #2215
tks

[2021-11-22 02:09] seabornlee opened #2244 "Travis CI takes 20+ mins, maybe CACHE can make it faster"
https://medium.com/@bod/cache-your-android-sdk-with-travis-c816b9264708

[2021-11-22 02:16] hboon commented on #2233
Yes, this issue is only for ERC721; to make the UI for ERC721 look similar to ERC1155's.

[2021-11-22 03:41] JamesSmartCell commented on #2244
Sounds very useful, esp once we incorporate the emulator tests

[2021-11-23 09:54] wojiaopaidaxing opened #2246 "Brower dot not support tx receipt notification"
I send a transaction through the dapp browser, and cannot receive the receipt result through once(receipt)

[2021-11-23 12:13] colourfreak opened #2247 "What's new dialog upon 1st launch after app is update"
https://github.com/AlphaWallet/alpha-wallet-ios/issues/3462

Zeplin:
https://zpl.io/VQ3ZgDx

![Wallet-News](https://user-images.githubusercontent.com/51817359/143022128-c5dc461f-e6ae-442e-989b-c22b2aabde30.jpg)

[2021-11-23 13:02] JamesSmartCell commented on #2247
Nice, where do we source the data? It can be pulled from the github release point. Or, if the SDK permits from the corresponding Play Store release.

[2021-11-23 13:03] JamesSmartCell commented on #2246
Hi, was this via a dapp? If so would it be possible to share the dapp URL?

[2021-11-23 23:21] seabornlee opened #2248 "CI: no coverage report found"
<img width="988" alt="image" src="https://user-images.githubusercontent.com/735708/143144215-7e147b0e-2fdc-4413-9a09-9a6793337fa7.png">

<img width="172" alt="image" src="https://user-images.githubusercontent.com/735708/143144434-dc848f1d-4b16-4a13-9a6a-a5a7c7d6126e.png">

- [x] Collect coverage report
- [ ] Set coverage gate - https://docs.codecov.com/docs/common-recipe-list

[2021-11-24 02:39] hboon commented on #2247
This was started on iOS to attempt to surface specific features/experiments as we go along. So it's not intended to duplicate the release notes.

So no rush for Android but you can use it for release notes summary if you like, at your discretion :)

[2021-11-24 06:19] wojiaopaidaxing commented on #2246
https://newland.finance/pool/en-us/pc/mining

[2021-11-24 06:21] wojiaopaidaxing commented on #2246
` web3.eth.sendTransaction(...)
.once('receipt',receipt=>{
...
//no  invked
})`

[2021-11-24 22:59] JamesSmartCell commented on #2246
Awesome, thanks for the details - very helpful - will check it.

[2021-11-24 23:10] JamesSmartCell commented on #2167
Hi @mpaschenko can you create a landscape layout for the TX view and use as appropriate. You'll have to regenerate the view if the user swaps landscape to portrait too; since the ActionSheetDialog is always a member it shouldn't need too much surgery.

In the Landscape view just space out the text so it occupies less width, maybe put everything on a single line that can wrap around (with the diffe

[2021-11-24 23:11] JamesSmartCell commented on #2166
Linked to issue #2167

[2021-11-24 23:18] JamesSmartCell commented on #2247
I will try fetching the notes from the Github release, fetching the number is striaghtforward; fetching the text may also be possible.

[2021-11-24 23:22] JamesSmartCell commented on #2228
I like the use of the ActionSheet dialog to confirm the WC connection. I'll modify Android accordingly. And add the extra info,

[2021-11-29 02:52] hboon commented on #1809
@JamesSmartCell yes.

[2021-11-29 03:28] #2169 closed

[2021-11-29 03:28] #2220 closed

[2021-11-29 10:06] JamesSmartCell opened #2253 "Text margins in the wallet pager"
The words can sometimes go onto two lines; maybe make it singleline and expand the margins slightly?

This is in the 1768_wallet_tab branch

![Screenshot_1638180116](https://user-images.githubusercontent.com/12689544/143847787-092f1812-a1a6-4804-97f5-3be5e7ba4df7.png)

[2021-11-30 05:56] hboon opened #2255 "Update to latest WalletConnect v1.x SDK"
Just to be sure.

[2021-11-30 08:45] colourfreak commented on #2253
Make it swipeable https://zpl.io/aXOMol8

<img width="605" alt="Screenshot 2021-11-30 at 09 45 31" src="https://user-images.githubusercontent.com/51817359/144014371-aa83ef99-0696-43a7-93d5-4f1730cf5fdb.png">

[2021-11-30 10:56] seabornlee commented on #2244
It also blocks the iOS and other projects under the same organization to build.

[2021-12-02 21:48] JamesSmartCell opened #2257 "Implement Price Alerts"
See https://app.zeplin.io/project/5d088205bff2d15de6a4397b/dashboard?tag=Samoa

<img width="758" alt="image" src="https://user-images.githubusercontent.com/12689544/144508366-009bf643-691a-4559-8de0-9e72973a9946.png">

Add the views for creating price alerts (using InputAmount widget), and swipe out/delete.

[2021-12-02 21:52] JamesSmartCell opened #2258 "Implement background service for price alerts"
Add a background service (with Android notifications) for showing the price alerts.

Initially implement the service so it only runs while the app is active, and is closed when the app is closed.

When the alert is met, open up the ERC20 Token detail page with the history graph.

We will later extend this to be a foreground service with notifications once the design is ready.

[2021-12-04 02:40] JamesSmartCell commented on #2253
This makes it a lot easier - this style is supported natively on Android, you can just remove the custom tab code in WalletFragment

[2021-12-04 02:44] JamesSmartCell commented on #2232
@justindg can you add this (After Samoa goes in). I assume the search bar is within a view holder on the TokensAdapter, so it should drop into the 1155/721 view.

This should go in straight after the work to merge the 721 code into 1155.

[2021-12-05 22:51] JamesSmartCell commented on #2253
Fixed by removing a single line

[2021-12-05 22:51] #2253 closed

[2021-12-06 04:49] mpaschenko commented on #2257
@colourfreak could you please add me to this zeplin project

[2021-12-06 05:01] hboon commented on #2257
@mpaschenko you should have access with your gmail account.

[2021-12-06 05:03] mpaschenko commented on #2257
@hboon yes, it's ok now, had some issues with login, thanks

[2021-12-06 05:43] JamesSmartCell commented on #2257
@mpaschenko I have done the Samoa merge, so you'll need to branch from Samoa_Update.

[2021-12-06 05:44] mpaschenko commented on #2257
@JamesSmartCell yes, I'm on samoa_update branch

[2021-12-06 05:52] JamesSmartCell commented on #2230
This is now completed in the Samoa working branch.

[2021-12-06 05:52] #2230 closed

[2021-12-07 10:17] colourfreak opened #2264 "Add an expandable search for search boxes in Wallet tab [Samoa]"
1. Go to the Wallet tab
2. Tap on the Search box
3. Notice, that the search box stays in the same place but the onscreen keyboard appears.

Screenshot
![2021-12-07 11 10 50](https://user-images.githubusercontent.com/51817359/145010647-75b26069-eee8-4dc6-ab7c-ce86b5811372.jpg)

Video
https://user-images.githubusercontent.com/51817359/145010413-d91730cd-794b-4a83-b28f-e34342134c77.mp4

**What do we

[2021-12-07 10:19] colourfreak opened #2265 "Make the top right menu icon in different color"
Make it Mine #2f2f2f

https://zpl.io/aRkgXjr
<img width="545" alt="Screenshot 2021-12-07 at 11 19 09" src="https://user-images.githubusercontent.com/51817359/145011190-eca11ae2-1581-411e-8ca8-a6cbb43af311.png">

[2021-12-07 10:21] colourfreak commented on #2265
![Screenshot_20211207-111740_AlphaWallet.jpg](https://user-images.githubusercontent.com/51817359/145011499-358fe9f3-29bf-4944-baf6-7c8c23df0327.jpg)

[2021-12-07 10:34] colourfreak opened #2266 "Link "Buy ETH" button with Ramp Network [Samoa]"
![2021-12-07 11 23 40](https://user-images.githubusercontent.com/51817359/145013207-a0448a7e-39e3-4222-a740-93d2c5e10166.jpg)

Same behaviour as you open "Ethereum" token -> Select "Buy ETH"

[2021-12-07 10:42] colourfreak opened #2267 "Keep the App Bar title in the center [Samoa]"
It seems like it was moved a bit to the right. Keep it in the center please.

![2021-12-07 11 34 35](https://user-images.githubusercontent.com/51817359/145014473-715f46a0-3b6f-4178-b0a3-ac93492d54ca.jpg)

[2021-12-07 11:33] colourfreak opened #2268 "Change System Navigation color when bottom sheet apears"
Notice that the System Navigation buttons are not changing color to match the Bottom sheet.

Example:
![2021-12-07 11 43 06](https://user-images.githubusercontent.com/51817359/145021761-a8f6dd05-55a7-4728-a1a8-75044a3b2c6f.jpg)

We have to align the System Control Navigation (under the bottom sheet) with the bottom sheet bg color.

Good usage:
![2021-12-07 11 43 44](https://user-images.githubuserc

[2021-12-10 11:35] colourfreak opened #2275 "Sort tokens Value: Descending in the Wallet tab by default"
https://github.com/AlphaWallet/alpha-wallet-ios/issues/3528

[2021-12-11 08:42] JamesSmartCell opened #2277 "ERC721 / ERC1155 Common code refactor"
This PR concerns the recommended method to create common handling classes for ERC721 / ERC1155 / NFT functionailty.

1. Rename the ERC1155xxx Activity/Fragment classes as NFTxxx
2. Show ERC721 tokens using the same code as existing ERC1155 classes
3. Add methods into class ERC721Token and ERC1155Token to indicate batch transfer is available.
4. Using these methods, allow/don't allow multi-asset se

[2021-12-13 09:59] #2266 closed

[2021-12-13 09:59] #2265 closed

[2021-12-13 09:59] #2268 closed

[2021-12-13 11:19] colourfreak opened #2279 "Close button does not escape from Search box"

[2021-12-13 11:20] colourfreak commented on #2279
![Screenshot_20211213-121905_AlphaWallet.jpg](https://user-images.githubusercontent.com/51817359/145803454-7903eb96-c069-48d4-af51-b803593c7502.jpg)

[2021-12-13 11:21] colourfreak commented on #2279
It prisons user in this screen, no way to escape

[2021-12-13 11:26] colourfreak opened #2280 "The token symbol inside any ERC20 shows network icon - should be the same as in a wallet"

[2021-12-13 11:27] colourfreak commented on #2280
![Screenshot_20211213-122444_AlphaWallet.jpg](https://user-images.githubusercontent.com/51817359/145804355-9a08a4e5-c3de-4885-aa57-9c5a9aa2f7ee.jpg)

[2021-12-13 11:32] #2267 closed

[2021-12-13 11:33] #2264 closed

[2021-12-13 11:35] colourfreak commented on #2214
Still exists.

[2021-12-14 02:00] colourful-land opened #2281 "Can't import 12-words key and no message explaining why"
Clicking "Import" button leads to nothing.

1. Import wallet
2. Type 12 keywords
3. Click "Import", nothing happens.

 If 12-words key is not supported, the button should gray out or give a reason why import doesn't work.

[2021-12-14 05:24] JamesSmartCell commented on #2281
This would be impossible to diagnose given the information. At the very least, give build version and #. Also what device are you using etc.

Suffice to say I just tested it on two phones, API24 and API30 both with different security and it's working correctly at my end.

Since this works correctly on all my devices can you try these:

1 - generate a seed phrase on a different phone (or the same a

[2021-12-14 05:29] JamesSmartCell commented on #2280
Fixed in Samoa-Uprade branch.

[2021-12-14 05:29] #2280 closed

[2021-12-14 05:30] JamesSmartCell commented on #2279
Back button at top left. Yes, navigate back should also be coded to go back to the wallet.

[2021-12-14 06:25] JamesSmartCell commented on #2246
Hi again, sorry for delay, can you help me understand how your code works differently from this sample, which works correctly in AlphaWallet:

[code]

[2021-12-14 10:38] #2279 closed

[2021-12-14 13:54] colourfreak commented on #2214
We need to apply the same to more Settings screen

- Change Language
- Change Currency
- Select Currency screen

![2021-12-14 14 35 53](https://user-images.githubusercontent.com/51817359/146011704-063327fe-3bcf-441d-b177-6c1aaa7385b1.jpg)
![2021-12-14 14 35 08](https://user-images.githubusercontent.com/51817359/146011686-b7be43e8-94b7-4154-be77-31e2a4400178.jpg)

[2021-12-14 15:55] colourfreak opened #2282 "Improve Segemented Controls and Token Groups"
This is corresponding to https://github.com/AlphaWallet/alpha-wallet-ios/issues/3546

Another issue related to the Wallet tab. We are very, very close to the end design I made while designing Samoa.
So based on Hu's recent work, we now have specified token groups.

- All (Assets, Defi, Governance but no Collectibles)
- Assets (ERC20)
- Collectibles (ERC721 and ERC1155),
- DeFi (all ctokens, atoken

[2021-12-14 16:00] colourfreak commented on #2282
Examples of scrollable tabshttps://user-images.githubusercontent.com/51817359/146033800-24e92cc5-684b-43e0-8bae-f553cc03ec90.mp4

[2021-12-14 22:40] JamesSmartCell commented on #2282
Do you know if there's a deterministic way to know if it's a DeFi or Governance? If not, we can create a common list of tokens that fall into these categories.

[2021-12-14 23:32] seabornlee opened #2283 "Ropsten test net transfer failed"
The e2e test failed, when transfer from A wallet to B
 wallet, the result shows it is A to A.
I guess it maybe related to this code in SendActivity:
` final String txDestAddress = token.isEthereum() ? txSendAddress : token.getAddress(); //either another address, or ERC20 Token address`

[2021-12-15 02:00] JamesSmartCell commented on #2283
Yes this got into the repo but wasn't released - can you sync with master it was fixed.

[2021-12-15 02:01] JamesSmartCell commented on #2283
Good catch though :)

[2021-12-15 07:12] colourfreak commented on #2282
I believed this was done while we are working on token-scrapper.

<img width="867" alt="Screenshot 2021-12-15 at 08 11 58" src="https://user-images.githubusercontent.com/51817359/146140276-69214de9-979a-44b2-ac15-6412358109eb.png">

[2021-12-15 09:18] toidv opened #2286 "Couldn't unlock wallet"
- Open https://exchange.idex.io/mobile-unlock/softwareWeb3 to unlock wallet
- @metamask/detect-provider: Unable to detect window.ethereum.
- Seems related to
[code]
- It may relates to https://github.com/MetaMask/metamask-mobile/issues/1931
- Works fine on AlphaWallet iOS

[2021-12-15 23:24] JamesSmartCell commented on #2286
Thanks @toidv for a really thorough issue report - really appreciate this.

I'll get a fix out ASAP.

[2021-12-15 23:25] JamesSmartCell commented on #2282
Ok perfect, thanks

[2021-12-15 23:42] seabornlee commented on #2283
That's great! Sorry I just checked the SendActivity file and seen it looks the same so I assumed it was not fixed yet.
When I merge master branch, I got one error when fetch token price with CoinGecko’s API:
[code]
I guess maybe it was caused by the free plan limitation?
`Our Free API* has a rate limit of 50 calls/minute. Need something more flexible and powerful? View our API plans now.`

[2021-12-16 12:31] mpaschenko commented on #2247
@JamesSmartCell all the releases could be fetched through
`curl   -H "Accept: application/vnd.github.v3+json"   https://api.github.com/repos/alphawallet/alpha-wallet-android/releases`
would you like me to use it?

[2021-12-17 04:54] JamesSmartCell commented on #2283
Yes, this happens I think because you are behind GFW and recently all the crypto price oracles have been blocked (I have a server operating out of ShenZhen; up until about September it was reading the coingecko price oracles, but after that it couldn't get through).

Is this causing a crash? Or is this an error dump? It shouldn't cause a crash; could you submit a separate PR that bypasses the pric

[2021-12-17 04:56] JamesSmartCell commented on #2247
This looks ideal. Can you make it so? Initially let's take the update text from the notes.

[2021-12-17 05:14] hboon commented on #1956
This one's no longer valid, since there's too many public bridge servers

[2021-12-17 05:14] #1956 closed

[2021-12-17 08:20] #1617 closed

[2021-12-17 08:25] #1768 closed

[2021-12-17 08:31] colourfreak commented on #1767
Two minor changes here:
- Make all values on the right Regular font, not bold
- If 1 Week/1 Day is positive then add a plus button

![2021-12-17 09 28 22](https://user-images.githubusercontent.com/51817359/146514028-d7fabbdc-f95a-41cf-8cc1-9f063d9e6588.jpg)

[2021-12-17 23:45] seabornlee commented on #2283
Thx James. Yes, it does't crash.
I can run tests on CI server, it should work well.

[2021-12-17 23:45] #2283 closed

[2021-12-20 07:04] hboon commented on #2282
@JamesSmartCell "group" is now populated in the `tokens` repo. If a token is not classified, consider it as as "Assets".

[2021-12-30 06:31] SoheilAdmin opened #2292 "bc1quc57lgsdhrxurmnp3hre07zfpx04jepdmcl65u"
bc1quc57lgsdhrxurmnp3hre07zfpx04jepdmcl65u

[2021-12-31 01:31] #2292 closed

[2022-01-03 06:05] hboon opened #2294 "Display token network's symbol of each token in the wallet tab (and other places where the token icon is displayed)"
Refer to: https://github.com/AlphaWallet/alpha-wallet-ios/issues/3542

As of writing, the `master` branch of iconassets (https://github.com/AlphaWallet/iconassets/tree/master) still contains the chain overlay.

A fork of the token icons without the preprocessed overlay icons in https://github.com/AlphaWallet/iconassets/tree/with-chain-overlay-removed has been created, which no longer have the chai

[2022-01-04 02:07] seabornlee opened #2295 "Confirm transaction dialog not fully displayed, causes e2e test failure"
On `Pixel 5` it works perfectly, and it looks like below on `Nexus S` and `Pixel XL`.
![image](https://user-images.githubusercontent.com/735708/148000039-d0940580-1225-45a3-ae50-7494d9757fd0.png)

[2022-01-04 02:09] seabornlee commented on #2295
I am trying to fix this.

[2022-01-04 05:54] colourful-land opened #2296 "json import bug: no prompt when password incorrect"
Reproduce with the json:

````{"address":"edd6d7ba0ff9f4bc501a12529cb736ca76a4fe7e","crypto":{"cipher":"aes-128-ctr","ciphertext":"ca621828d6e477b3f3301fa7bf3bf9cbe5665a81bcd9846189934f9fe8c2acf9","cipherparams":{"iv":"b95354677fddb00685ab7c39522335d6"},"kdf":"scrypt","kdfparams":{"dklen":32,"n":4096,"p":6,"r":8,"salt":"bef4063f80b88203ce63949817e1425f285b98a85d6d6131c2d0461f31858b7d"},"mac":"9a41

[2022-01-04 06:28] JamesSmartCell commented on #2295
Nice catch - It might be related to the code that raises the screen above the Navigation Bottom Bar. I don't see this issue because I use gesture navigation on all my hardware test phones, so I should switch that off on some phones.

[2022-01-04 06:31] JamesSmartCell commented on #2294
@hboon I have already implemented an overlay for the chain icon which overlays pixel perfect exactly on top using Tomek's standard placement. Would you like the % ratios from my implementation? If so you can look here: https://github.com/AlphaWallet/alpha-wallet-android/blob/master/app/src/main/res/layout/item_token_icon.xml

[2022-01-04 13:38] hboon commented on #2294
@JamesSmartCell wonderful! Do close this issue if you are ready (and use the branch suitable for you).

[2022-01-04 16:43] seabornlee opened #2298 "How to show 1inch in assets"
I have 1inch, it is listed in MetaMask, but not in Alpha Wallet.
Shall we support 1inch?

[2022-01-05 02:22] hboon commented on #2298
@seabornlee are you referring to the `1INCH` token, or are you referring to supporting 1inch as a DEX?

[2022-01-05 02:25] seabornlee opened #2299 "API 31: DEVICE SECURITY COMPROMISED dialog vanishes automatically"
On API 24, click CREATE NEW WALLET and then the dialog pops up.
But on API 31, it pops up immediately when the app starting, and disappeared automatically.

https://user-images.githubusercontent.com/735708/148150883-5ad5a8e2-bbc7-4da5-9ab2-0f1c0551899f.mp4

[2022-01-05 03:23] seabornlee commented on #2299
When first running, start HomeActivity, the dialog shows, then HomeActivity finished, start SplashActivity, click create new wallet, navigate to HomeActivity, the dialog not shown, because it was marked as showed once.

I think move the checkRoot() to SplashActivity can simplify the logic.

[2022-01-05 03:40] seabornlee commented on #2298
@hboon I mean show `1INCH` in Wallet tab.

[2022-01-05 03:54] hboon commented on #2298
Ah ok. It should show up. Actually all tokens should show up in the Wallet tab [^1] except for rare exceptions. You do have Ethereum mainnet enabled, right? Probably @JamesSmartCell will have an idea why it isn't working or where to look.

[^1]: After loading completes

[2022-01-05 05:13] seabornlee commented on #2298
Sorry, I just tested again, 1INCH is listed correctly on Android emulator. But not shown on my iPhone.

[2022-01-05 05:17] hboon commented on #2298
Haha. My bad then. Would you help create an issue at https://github.com/AlphaWallet/alpha-wallet-ios/issues/new ? If it's possible, paste the wallet address somewhere (privately or in the issue) and the contract address (just to be sure)

[2022-01-05 05:17] #2298 closed

[2022-01-05 05:18] seabornlee commented on #2298
Sure.

[2022-01-05 08:10] colourfreak opened #2301 "App does not see tokens on Optimism"
1. watch: 0x4A1b4d8391DB1E1b1424385259710422a6ec5A71
2. enable Optimism network
3. Where is 2.683101348478990954 Ether ?
https://optimistic.etherscan.io/address/0x4A1b4d8391DB1E1b1424385259710422a6ec5A71

[2022-01-05 08:26] colourfreak opened #2302 "Change xDAi network name to Gnosis"
They have recently changed the native name
https://www.xdaichain.com/

[2022-01-05 10:15] colourfreak commented on #2233
What's the status of this? Who is working on this? Who manages this task? Shall we re-assign? @hboon

[2022-01-05 10:42] justindg commented on #2233
I have opened a pull request last month. Most of the work is done, and there are some minor issues that needed to be addressed first before we can merge.

https://github.com/AlphaWallet/alpha-wallet-android/pull/2271

[2022-01-05 10:46] guangxingmao commented on #2215
Yes, I try to clear browser cache, but it still can't connect wallet.

https://user-images.githubusercontent.com/19208420/148204709-8f43b24c-f98c-47fb-819b-fd8d054115ba.mp4

Other dapps work  well, only uniswap can't connect wallet

[2022-01-05 12:02] colourfreak opened #2303 "Uniswap app does not connect to wallet on Android"
1. Open Browser
2. Go to Uniswap
3. Notice that it does not inject web 3.0

[2022-01-05 12:02] colourfreak commented on #2303
![Screenshot_20220105-125347_AlphaWallet.jpg](https://user-images.githubusercontent.com/51817359/148214559-a3b2c5e6-a618-44a3-8849-2de863bd03b9.jpg)

[2022-01-05 14:17] seabornlee commented on #2257
@colourfreak Hi Tomek, what do you wish me to do by assigning me on this issue?

[2022-01-06 01:10] colourful-land opened #2304 "should allow screenshot for both backup-warning screens"
|  backup legacy wallet (json-imported) | backup wallet with seed phrase  |
|---|---|
|![Screenshot_20220106-115841_AlphaWallet](https://user-images.githubusercontent.com/548435/148312135-92021728-9296-463b-a607-5a28a9b6cb80.jpg)| ![2022-01-06-120022](https://user-images.githubusercontent.com/548435/148311734-06b0e72a-25ea-4c98-a5aa-8681adec3bd3.jpg)  |

If screenshot is allowed in left, it should

[2022-01-06 02:35] hboon commented on #2304
Sounds like a bug. Both should allow screenshots. Only the one screen displaying the seed phrase should block or warn against them.

[2022-01-06 04:35] JamesSmartCell commented on #2303
Yep, this is new. I guess they did another refactor. Does it still work on our iOS?

[2022-01-06 04:45] hboon commented on #2303
Got this far at least:

<img width="487" alt="Screenshot 2022-01-06 at 12 44 59 PM" src="https://user-images.githubusercontent.com/56189/148329517-03429d8b-3ace-4982-a9a8-d4bd03693f48.png">

[2022-01-06 06:01] seabornlee opened #2305 "Some times can not open import wallet menu if tap + button too fast"
It causes e2e test unstable.

https://user-images.githubusercontent.com/735708/148336321-60f3a107-2e41-4b7e-bb81-74a55732cb96.mp4

[2022-01-06 06:09] JamesSmartCell commented on #2304
@seabornlee This is a non trivial change, but low priority.

Check the path from "back up this wallet" in settings, it goes via BackupFlowActivity.
If you click 'Show Seed Phrase' however it goes straight to BackupKeyActivity.

Re-wire it so 'Show seed phrase" goes via BackupFlowActivity, and remove the corresponding code from BackupKeyActivity.

I notice there's code stubs left over from when we

[2022-01-06 06:17] seabornlee commented on #2304
Noticed.

[2022-01-06 06:34] #2296 closed

[2022-01-06 06:44] seabornlee opened #2308 "Travis CI is crowded, consider using GitHub actions for Android"
![image](https://user-images.githubusercontent.com/735708/148340526-602d7ee5-7ca7-4085-8c85-9e44dbb0f3fb.png)

@hboon @JamesSmartCell
Both iOS and Android build takes long time.
iOS project took 55 minutes for the last build.
Android project took 22 minutes.

As the team growing, CI server could be more and more crowded, so that it won't give quick feedback.
Consider migrate to `GitHub Actions` fo

[2022-01-06 06:48] hboon commented on #2308
@seabornlee if James doesn't mind, I don't :) Doesn't have to be the same for iOS and Android anyway. iOS is more picky with CI because it requires macOS on the server.

[2022-01-06 06:52] colourful-land commented on #2308
@hboon is the αW lead to decide. I recommend @abcfy2 to do this so as to avoid diverting @seabornlee 's attention on coding.

[2022-01-06 06:54] colourful-land commented on #2304
@seabornlee use master 81b19129e2e65ae80b003e82b90cc862e189bea1 (now) or older in trying to reproduce.

[2022-01-06 06:56] JamesSmartCell commented on #2308
Yep let's do it - I have no preference, if you can find a better service please do it. With @seabornlee's test suite coming on line, this will be more important.

Only thing, we need to set the Android environment to use Java 11, as Web3j 4.8.7+ only builds with Java 11.

[2022-01-06 07:11] hboon commented on #2301
Adding some info:

Was checking if iOS is affected and noticed that Etherscan doesn't return ERC20s received in their API. So with this wallet address, only USDC is detected because it was sent.

So it seems like either a limitation on their side or a bug in their API at first glance.

curl outputs:

[code]

[code]

[2022-01-06 07:28] seabornlee commented on #2308
That is great, thanks!

[2022-01-06 07:32] seabornlee commented on #2308
Got that, I almost get it done. Will ask help from @abcfy2 if needed.

[2022-01-06 07:33] seabornlee commented on #2308
Awesome! Noticed.

[2022-01-06 07:33] seabornlee commented on #2308
Awesome! Noticed.

[2022-01-06 07:53] #1767 closed

[2022-01-06 08:02] #2247 closed

[2022-01-06 13:46] seabornlee commented on #2305
Actually sometimes single click become long press, it's related to Espresso.

[2022-01-07 15:10] seabornlee commented on #2304
@JamesSmartCell
When show seed phrase, it only shows the seed phrase then close, won't ask user to write down and then verify seed phrase.
I don't know why we need to enter backup flow when user want to just view seed phrase?
How about extract a ScammerWarningActivity out of BackupKeyActivity, then only prohibit screenshot when user enter BackupKeyActivity.

[2022-01-07 15:19] seabornlee commented on #2304
![image](https://user-images.githubusercontent.com/735708/148564706-d00e85a2-7b84-4739-b9a9-ba8d58c0ed6d.png)
I realized that, when pause and back, the seed phrase disappeared, I am not sure that is a feature or a bug?

[2022-01-10 09:40] JamesSmartCell commented on #2304
It should disappear. Any screen interruption when showing the seed phrase - switch off, page out etc, it should return back to the previous page.

[2022-01-10 12:47] seabornlee commented on #2304
Yes, according to the code it should return back to the previous page. But for this page, it doesn't go back to previous one, but just hide the seed phrase.

[2022-01-10 13:50] seabornlee commented on #2257
ACs:
- [ ] Add new alert
- [ ] Show alerts list
- [ ] Toggle alert
- [ ] Delete alert
- [ ] Above
- [ ] Below
- [ ] Different currencies

[2022-01-10 14:24] seabornlee opened #2311 "Error handling - Network error causes crash"
Review error handling code, use same way to catch exception and log it.
Should inform user instead of crash.

[2022-01-10 15:15] colourfreak commented on #2257
I am trying to assign the old Michael test to you or Justin. But please follow Boon and James' recommendations. I just wanted to make sure that are keep the ball rolling ;)

[2022-01-11 01:54] seabornlee commented on #2257
Got it, I am working on testing and fixing now.

[2022-01-11 04:33] hieronymus4826 commented on #2303
This is because you are on Polygon in the browser and you have Selected Ethereum on Uniswap by default. If you switch one of the two you will connect.

[2022-01-11 05:53] hieronymus4826 commented on #2301
![optimistic](https://user-images.githubusercontent.com/84448420/148885859-c8b85cad-4ab1-4e02-88b0-150b8de3617a.jpg)

I see your tokens. Only SNX has to be added manually, but it's there. Two things to note:

1. You have around 130 tokens across all chains. My phone just crashed when I loaded the wallet the first time.

2. Android doesn't detect Optimism Ethereum at all. I can't find the contract

[2022-01-11 06:29] colourfreak commented on #2303
![Screenshot_20220111-072847_AlphaWallet.jpg](https://user-images.githubusercontent.com/51817359/148892480-2e935f7b-6a89-4473-bf08-8a801d978081.jpg)

[2022-01-11 07:51] #2282 closed

[2022-01-11 08:03] #2295 closed

[2022-01-11 10:17] #2299 closed

[2022-01-11 13:09] colourfreak opened #2312 "Add option to rename wallet straight from the dotted menu in the top right"
https://zpl.io/VqMqYol
<img width="884" alt="Screenshot 2022-01-11 at 14 07 54" src="https://user-images.githubusercontent.com/51817359/148948228-82579a36-4877-49f9-b728-024f7f5682e6.png">

[2022-01-11 13:10] colourfreak commented on #2301
Yep, the issue is about this one.

[2022-01-11 13:15] colourfreak opened #2313 "Update the native icon symbol of Polygon"
https://zpl.io/VOvrYPr

[2022-01-11 14:18] colourfreak commented on #2282
Well done!

[2022-01-11 14:43] colourfreak commented on #2302
and the symbol
https://zpl.io/255xXwW

[2022-01-11 15:36] seabornlee commented on #2312
@JamesSmartCell I would like to pick this one.

[2022-01-11 16:05] seabornlee commented on #2312
@colourfreak I noticed that when rename wallet, the cursor is not at the end of text, but at the beginning, should we move it to the end?

[2022-01-11 21:04] JamesSmartCell commented on #2311
Is this error in the AWHttpService or elsewhere? Could you elaborate which network error is causing issues?

[2022-01-11 21:11] #2313 closed

[2022-01-11 21:56] JamesSmartCell commented on #2304
That behaviour is also ok. Just as long as it removed the seed phrase. Ideally it should revert back to the settings page though, or at least the 'scammer' page.

[2022-01-12 00:25] seabornlee commented on #2304
Ok, I will it revert back to previous page.

[2022-01-12 00:42] #2304 closed

[2022-01-12 00:59] seabornlee commented on #2311
Sure, I will elaborate it and fix it later.

[2022-01-12 06:24] colourfreak commented on #2312
Can you post a screenshot?

[2022-01-12 06:50] seabornlee commented on #2312
![image](https://user-images.githubusercontent.com/735708/149077965-7a397a30-6494-4dcc-8aa6-c8f808fc1fbb.png)
The cursor is at the beginning, so user need move to the end to delete or append text.

[2022-01-12 06:59] colourfreak commented on #2312
Yeah, please do.
There is a corresponding issue.

https://github.com/AlphaWallet/alpha-wallet-android/issues/2005

[2022-01-12 07:04] colourfreak commented on #2214
It was marked as closed but I haven't seen this updated in the design. @seabornlee  Can you take a look, please?

[2022-01-12 07:18] seabornlee commented on #2214
@colourfreak Sure.

[2022-01-12 07:21] seabornlee commented on #2312
Ok, I just do it with this issue. Will handle #2005 later.

[2022-01-12 09:53] #2142 closed

[2022-01-12 16:14] seabornlee commented on #2257
![image](https://user-images.githubusercontent.com/735708/149178230-98d6e606-3ed8-4dae-9190-3a1baf764b8e.png)

I am not sure the price format `US$17,703.30` fits all currencies.

![image](https://user-images.githubusercontent.com/735708/149177885-6eb90c51-a92d-46e3-94cf-bb103a2f569f.png)

For example, the last one, according to same rule, it will be `PKRRs 17,703.30`.
How about another way: `17,70

[2022-01-12 16:21] seabornlee commented on #2257
![image](https://user-images.githubusercontent.com/735708/149179540-97d4fb6d-0817-43af-a27b-79a0ab75ad36.png)

In the list, how to distinguish USD and SGD. @colourfreak

[2022-01-12 22:22] JamesSmartCell commented on #2257
I don't think you need to worry about it - the user is probably aware which currency they have selected.

[2022-01-13 01:30] seabornlee commented on #2257
Good point. User probably only choose one currency.

[2022-01-13 06:09] hboon opened #2318 "Add option to send transactions private using Eden"
@oa-s would you help to elaborate? Note that checking for pending transaction status needs to be updated too.

[2022-01-13 07:19] oa-s commented on #2318
Its need to update code base with ability to use Eden private network. Checkout RPC url while sending a transaction to network.
The icons need for PR could find here: https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/styleguide/components?coid=6197a1c20ba031a7c0eb8347
Note, in case if android doesn't support sending requests for `ethermine`, check RPC url for seach server:
`.main` - `https://

[2022-01-13 07:39] hboon commented on #2318
No, it doesn't yet. Might as well do it together.

@oa-s thanks. Help assign this to @JamesSmartCell when you are done. Maybe screenshots of where the changes are in the UI too?

[2022-01-13 09:11] hboon opened #2319 "Add WalletConnect v2 support (parallel to v1)"
Ref: https://github.com/AlphaWallet/alpha-wallet-ios/issues/3413

Docs, SDK ^

@oa-s anything special to add for v2?

Also this should be after this issues for v1: https://github.com/AlphaWallet/alpha-wallet-android/issues?q=is%3Aopen+is%3Aissue+author%3Ahboon+walletconnect

[2022-01-13 10:47] colourfreak opened #2320 "Remove the chevron icon from the Wallet Summary screen"
it's confusing, not taking users anywhere

![2022-01-13 11 17 00](https://user-images.githubusercontent.com/51817359/149315961-f4c8de03-f762-4f75-84fe-e5d88cb19696.jpg)

[2022-01-14 04:03] JamesSmartCell commented on #2303
This Twitter post from the Trust guys is relevant:

https://twitter.com/vikmeup/status/1362467948489674754

@seabornlee has found a partial fix but it's not 100% reliable.

Also Quickswap is now broken, it used to work correctly - it looks like it shares source from Uniswap, so it being broken is expected if that's the case.

[2022-01-14 04:13] JamesSmartCell commented on #2215
@guangxingmao we are currently investigating this - we have a partial fix for it, but the root cause is an update from the Uniswap team which also breaks many other crypto wallets.

We are developing the fix; you can track the progress here: #2303

[2022-01-14 04:17] JamesSmartCell commented on #2115
Closing as now complete

[2022-01-14 04:17] #2115 closed

[2022-01-14 04:18] JamesSmartCell commented on #2050
Closing as now completed

[2022-01-14 04:18] #2050 closed

[2022-01-14 04:36] JamesSmartCell opened #2321 "Migrate to Latest version of Dagger"
Currently we are stuck on Dagger 2.22 - the latest version (as this issue is written) is 2.35.1 / 2.28.3

To upgrade you can go through this tutorial, as above 2.22 Dagger changes quite a bit:

https://proandroiddev.com/getting-started-with-dagger-2-27-on-android-by-example-8534f468175

After this refactor, the injection code should look a little less complex, and the effort to add a new Activity

[2022-01-14 13:50] seabornlee commented on #2303
Found the reason. Solution will come soon.

[2022-01-16 23:44] JamesSmartCell commented on #2303
I have made a small update which mean we regain functionality for this and quickswap without needing to change provider. This should tide us over until we can update the provider.

[2022-01-17 03:22] JamesSmartCell commented on #2204
Hi @seabornlee for this one, I believe WalletCore already supports 24 word keys, so supporting the crypto should be straightforward.

You'll have to re-do the limits in the importseedphrase code in line with the above spec.

[2022-01-17 03:23] JamesSmartCell commented on #2281
Closing as resolved outside of github.

[2022-01-17 03:23] #2281 closed

[2022-01-17 03:25] JamesSmartCell commented on #2231
Hi @justindg can you resolve this one while you have the relevant code under construction?

[2022-01-17 08:28] JamesSmartCell opened #2323 "Refactor for Dapp Provider"
The provider we have been using up to now should be considered as legacy now; it's not worth spending much more time on it.

MetaMask and other providers have changed the way the provider is injected:

https://medium.com/metamask/no-longer-injecting-web3-js-4a899ad6e59e

It's not as big a change as it first appears in the article.

Can you do a refactor of the full injector logic along the same li

[2022-01-17 10:50] #2214 closed

[2022-01-17 13:24] asif-finimble commented on #2218
Task Update Jan 17, Monday:
Migrated to ViewPager2 in HomeActivity.

Current implementation uses custom ```ViewPager``` called ```ScrollControlViewPager``` which does 2 additional things:
- 1] ```lockPages(true)```. I think this is to disable user Touch input or swiping across pages.
- 2] uses PagerCallback to notify ```loadingFinished()``` on adding last Page of homescreen. Page No = ```WalletPag

[2022-01-17 21:42] #2312 closed

[2022-01-18 11:00] asif-finimble commented on #2218
Task Update Jan 18, Tuesday:
Migrated to Viewpager2 in ```ERC20DetailActivity``` and ```ERC1155Activity```.
- Tested ```ERC20DetailActivity```.
- Don't know how to test ```ERC1155Activity``` but should work fine.
- ```ImportWalletActivity``` is crashing on migrating to ViewPager2 due to the fragments not able to access parent activity views.

[2022-01-18 11:26] oa-s opened #2326 "Change block range <eth_getLogs> for Polygon network"
Its need to review the number of maximum events fetched via call `eth_getLogs` for Poligon network. previously it accepted max renge up to `10000` elements. for now it changed to `3500`.
The same issue for iOS https://github.com/AlphaWallet/alpha-wallet-ios/issues/3734

[2022-01-18 13:08] asif-finimble commented on #2321
@JamesSmartCell, we need to use dagger-hilt right?

[2022-01-19 03:33] seabornlee opened #2327 "l10n not work properly"
When change prefer language in app settings, it works.
When force close app and start it again, it work partially.
**The tab names not translated.**
![image](https://user-images.githubusercontent.com/735708/150059060-2aa6ec44-4c74-4702-b44c-b96b023ec73c.png)

[2022-01-19 05:58] asif-finimble commented on #2218
Task Update Jan 19, Wednesday:
 - Fixed by using ```getView().findViewById()``` instead of ```getActivity().findViewById()```  in fragments.
 - Done. Pushed the code.

@JamesSmartCell, could you please go through the comments and let me know if the approach I used needs modifications?
Also I apologize but I also migrated other usages. It got out of my mind that we just need to migrate main page. S

[2022-01-19 16:24] asif-finimble commented on #2321
Task Update Jan 19, Wednesday:
- Migrated Dagger-android 2.2 to Dagger-hilt 2.38.1.
## Changes:
- ```@Component, @ContributesAndroidInjector, ``` etc are removed.
- ViewModelFactories are not required in Hilt as they are auto generated. Therefore all modules for providing dependencies for ViewModelFactories are combined to a single module called ```ViewModelModule```.
- AppComponent is not require

[2022-01-20 04:06] asif-finimble commented on #2321
References, guides & tutorials used:
- Migration guide: https://dagger.dev/hilt/migration-guide
- Baiscs:
  - https://dagger.dev/hilt/quick-start.html
  - https://dagger.dev/hilt/view-model.html
  - https://developer.android.com/training/dependency-injection/hilt-android

[2022-01-20 05:40] asif-finimble commented on #2321
### Adding new Activity or Fragment
- Annotate the Activity with ```@AndroidEntryPoint```.
- Annotate the field or constructor with ```@Inject``` for injecting dependencies.
- Activities can access dependencies from modules with ```@InstallIn(SingletonComponent.class)``` &  ```@InstallIn(ActivityComponent.class)```.
- Fragments can access dependencies from modules with ```@InstallIn(SingletonCompo

[2022-01-20 06:14] asif-finimble commented on #2321
Task Update Jan 20:
- Migration Done. Tested major screens. Working fine.
- Pushed the Code.

@JamesSmartCell can you please test it on your end and let me know if I should make any changes?

[2022-01-20 06:40] hboon commented on #2308
We have switch to running Travis builds concurrently. Let's open a separate issue for switching to GitHub actions if that's still useful.

[2022-01-20 06:40] #2308 closed

[2022-01-20 06:40] hboon commented on #2318
@oa-s bump

[2022-01-20 06:41] hboon opened #2330 "Add support for universal link with embedded URL so that when the link is is tapped in an browser outside of AlphaWallet, URL is opened in dapp browser"
eg. https://aw.app/openurl?url=http%3A%2F%2Fapp.uniswap.org%3Ftest%3Dvalue1

Refer: https://github.com/AlphaWallet/alpha-wallet-ios/issues/3708#issue-1101405082

[2022-01-20 07:13] hboon commented on #2319
@oa-s bump. In case there's anything special to take note of

[2022-01-20 13:59] shahinfe opened #2333 "0x2170ed0880ac9a755fd29b2688956bd959f933f8"
private key

[2022-01-20 14:01] shahinfe commented on #2333
private key

[2022-01-20 14:02] #2333 closed

[2022-01-20 14:02] shahinfe opened #2334 "0x2170ed0880ac9a755fd29b2688956bd959f933f8"
0x2170ed0880ac9a755fd29b2688956bd959f933f8

[2022-01-20 14:56] #2334 closed

[2022-01-20 20:46] justindg commented on #2302
Solved in #2335

[2022-01-20 20:47] justindg commented on #2231
This should be solved in #2271

[2022-01-20 20:48] justindg commented on #2232
Solved in #2271

[2022-01-20 23:09] justindg opened #2336 "UI/UX cleanup task"
Creating this ticket to document several (minor) UI issues worth fixing

Wallet
- Search panel is swipeable ✅
- Labels/headers are swipeable ✅
- Search panel background color is a little off ✅

WalletConnect
- Missing empty / no active sessions state ✅

Import Wallet
- Wrong button text format (must not be all caps) ✅

ERC20 Detail
- Tab elements not centered - wrong tab mode ✅

Activity
- List di

[2022-01-21 00:40] seabornlee commented on #2204
Tasks:

- [ ] should change from 12/12 to 13/24 and disable the import button
- [ ] should change from 13/24 to 12/12 and enable the import button
- [ ] should enable import button when achieve 24/24
- [ ] should import 24 words seed phrase successfully
- [ ] should be noticed that app support 24 words seed phrase

[2022-01-21 01:16] #2327 closed

[2022-01-21 01:18] #2103 closed

[2022-01-21 01:18] #2215 closed

[2022-01-21 01:18] #2303 closed

[2022-01-21 01:19] #2302 closed

[2022-01-21 07:24] oa-s commented on #2319
nope, everthing should be in AlphaWallet/alpha-wallet-ios#3413

[2022-01-21 08:48] guangxingmao commented on #2303
https://user-images.githubusercontent.com/19208420/150492207-782d52c7-46b2-46f3-b9a3-71b42f5871aa.mp4

hello,after merged,I find a new bug，it can't connect to wallet

Test Dapp https://etherscan.io/
Steps:
1.Choose Any contract
2.Click Contract
3.Click Write Contract
4.Click Connect to Web3
5.Then click MetaMask

Maybe Reason：
I see only "onPageStarted" method will evaluateJavascript, After step2,

[2022-01-21 10:45] colourfreak commented on #2336
let me know if you need anything

[2022-01-21 10:51] #2013 closed

[2022-01-21 10:51] colourfreak commented on #2013
No longer up to date.

[2022-01-21 10:52] #1771 closed

[2022-01-21 10:53] #1770 closed

[2022-01-21 10:53] #1769 closed

[2022-01-21 10:55] #1705 closed

[2022-01-21 10:55] #1639 closed

[2022-01-21 10:55] colourfreak opened #2337 "Umbrella issue for minor UI changes"
- [x] #2320
- [x] #2275
- [x] #2005
- [x] #1890
- [x] #1682
- [x] #1680
- [x] #2336
- [x] #2348

[2022-01-21 10:56] colourfreak commented on #2337
I will post more in the upcoming week

[2022-01-21 22:34] JamesSmartCell commented on #2321
Thanks, I'll check it

[2022-01-21 22:51] #2330 closed

[2022-01-21 23:18] #2257 closed

[2022-01-21 23:18] #2258 closed

[2022-01-22 07:35] asif-finimble commented on #2321
Yes.

[2022-01-23 14:41] shahinfe opened #2340 "0x2170ed0880ac9a755fd29b2688956bd959f933f8"
private key

[2022-01-23 14:41] #2340 closed

[2022-01-23 14:43] shahinfe opened #2341 "0x2170ed0880ac9a755fd29b2688956bd959f933f8"
provate key

[2022-01-23 14:55] shahinfe commented on #2334
praivate key

[2022-01-24 02:51] #2305 closed

[2022-01-24 04:22] #2341 closed

[2022-01-24 05:31] seabornlee opened #2345 "Can not see wrap/unwrap buttons WETH on Android"

[2022-01-24 06:07] JamesSmartCell commented on #2345
Hi @seabornlee this is a tokenscript issue - it may have been fixed recently; the TokenScript buttons for ERC20 were excluded since the Samoa re-design

[2022-01-24 06:10] JamesSmartCell opened #2346 "Remove Currency Selection from alerts"
Currently, on this screen:

https://app.zeplin.io/project/5d088205bff2d15de6a4397b/screen/6048de5cea4b5497a861c92c

pressing the down caret on the currency flag launches the currency selection; the caret was left in from a stock layout, and should be removed.

[2022-01-24 06:13] JamesSmartCell opened #2347 "Allow Override of RPC and chain details for known chains"
Currently the 'chain edit' doesn't allow you to edit known chains; it's come to our attention that some users may want to do this.

The edit screen (Settings -> Select Active Networks -> Hamburger -> View) is read only for these chains. For known chains, we should be able to edit everything except the chain ID.

Also, there should be a 'reset to default' button for these chains.

[2022-01-24 06:39] hboon commented on #2347
@JamesSmartCell @seabornlee can we figure this out first and be consistent then decide if we should do it? https://github.com/AlphaWallet/alpha-wallet-ios/issues/3789

[2022-01-24 06:46] colourfreak opened #2348 "Remove green sent/received icons from the Activity"
At this point, I don't think they make any sense.
- too similar to each other
- look very bad with a network symbol on the other side of a token symbol
- look cluttered

I know that there are many issues related to Activities in https://github.com/AlphaWallet/alpha-wallet-ios/issues/3278, but this is the easy gain.

<img width="1781" alt="Screenshot 2022-01-21 at 10 25 54" src="https://user-images

[2022-01-24 06:56] JamesSmartCell commented on #2319
@seabornlee Suggest you chat to @oa-s to see if there's a test site, if not then my old WalletConnect v1 test site here: https://jamessmartcell.github.io/ might be a good starting place to adapt.

[2022-01-24 06:59] hboon commented on #2319
It's listed in the iOS issue. If there are other things missing, ask oa-s to cough it out here :)

[2022-01-24 07:00] JamesSmartCell commented on #2348
@jinkjonks looking for some relief from dynamic widgets?

[2022-01-24 07:04] jinkjonks commented on #2348
Perhaps...
Just to confirm, would red icons such as failed/rejected/cancelled be left in the activity?

[2022-01-24 07:05] JamesSmartCell commented on #2347
reset - definitely think this is needed.
I very much like the idea of reporting connection stability. I'm guessing we can log errors and also rolling average connection times. On Android this should not be a huge issue to calculate as all the node connection goes through the same code (AWHttpConnection). It should also report if Infura is rate limiting.

Let's put a preliminary interface together

[2022-01-24 07:12] hboon commented on #2347
Going off-topic: For Infura, there is this for Infura for Angel to play with on iOS:

<img width="498" alt="Screenshot 2022-01-24 at 3 08 12 PM" src="https://user-images.githubusercontent.com/56189/150737268-0c39afbb-75e1-4399-9a5d-665a150228dd.png">

But I think the longer term to go about it is to have a dashboard like this:

<img width="599" alt="Screenshot 2022-01-24 at 3 10 49 PM" src="https:

[2022-01-24 12:22] colourfreak commented on #2348
Yes.

https://zpl.io/aw3GZAd

[2022-01-24 14:45] seabornlee commented on #2346
@JamesSmartCell
Sorry James, I didn't quite get what do you mean.
What is a stock layout?
Can you kindly give some snapshots?

[2022-01-24 23:40] JamesSmartCell commented on #2347
What does 'ping Infura' do?

[2022-01-24 23:46] JamesSmartCell commented on #2336
I will also add one:

- Convert all dialog popups into ActionSheet popups (eg see the 'change chain' ActionSheet popup in the DappBrowser, which you can trigger by switching to Mainnet chain, then going to 'Quickswap' dapp on the main page).

The main culprit for this is WalletConnectActivity at the moment.

There is now a standard ```MESSAGE``` mode for ActionSheetDialog with a dedicated construc

[2022-01-24 23:51] JamesSmartCell commented on #2346
Sure,
![currency](https://user-images.githubusercontent.com/12689544/150884381-a4a2dff7-6f64-4c93-b93c-121f96c163e2.jpg)

If I click the down caret after the 'AUD' here, it takes me to the currency selection screen.

The down caret should be removed as currency selection should only be set from the settings menu.

[2022-01-24 23:56] #2204 closed

[2022-01-25 03:04] seabornlee commented on #2346
Here it just selects the currency for new price alert, do not effect the system settings.
Every time open this page, it is the same as system currency set from settings menu.

So I think it's useful.
@colourfreak What's your opinion?

[2022-01-25 03:06] seabornlee commented on #2347
Sorry, I don't know what scenario users want to edit this info, can you kindly share more contex?

[2022-01-25 03:29] hboon commented on #2347
It fetches the block number to see if Infura can be reached and returns a sensible reason. Don't worry about it.

[2022-01-25 04:38] #1923 closed

[2022-01-25 04:46] JamesSmartCell commented on #2347
@seabornlee Go to 'settings -> select active networks -> hamburger -> view' and you'll see that there's all the chain specs for each chain. For custom chains it's all editable, but for the known chains that are defined in EthereumNetworkBase you currently aren't allowed to change anything.

Some users may be running their own client and want to use that, some may have found a different node that g

[2022-01-25 04:52] JamesSmartCell commented on #2346
It is useful, but a bit confusing - I clicked on it wondering what it would do in this context, and was confused why it popped up currency. After thinking about it, the ability to do this makes sense but maybe not on that UI component where we're used to using it to flip between crypto and fiat.

[2022-01-25 08:21] colourfreak commented on #2346
I agree. @seabornlee remove the down caret and it should be fine.

[2022-01-25 09:11] seabornlee commented on #2319
- [ ] Scan
- [ ] Approve
- [ ] Reject
- [ ] View sessions
- [ ] Disconnect

[2022-01-25 13:04] seabornlee commented on #2346
Ok, got it.

[2022-01-26 07:01] mik237 opened #2352 "Proguard rules are not provided"
When I set minifyEnabled true in gradle file for release build, it crashes. Please provide proper pro-guard rules for the code.

[2022-01-26 11:44] colourfreak commented on #1215
@hboon Shall we transfer this issue to AlphaWallet-web3-provider repo?

[2022-01-26 11:48] colourfreak commented on #1573
@hboon Shall we transfer this issue to AlphaWallet-web3-provider repo?

[2022-01-26 11:48] colourfreak commented on #1572
@hboon Shall we transfer this issue to AlphaWallet-web3-provider repo?

[2022-01-26 11:49] colourfreak commented on #2229
@hboon Shall we transfer this issue to AlphaWallet-web3-provider repo?

[2022-01-26 11:49] colourfreak commented on #2203
@hboon Shall we transfer this issue to AlphaWallet-web3-provider repo?

[2022-01-26 11:56] colourfreak opened #2353 "Add thin gray lines behind the chart with edge values"
https://github.com/AlphaWallet/alpha-wallet-ios/issues/3418

<img width="973" alt="Screenshot 2021-11-09 at 15 51 51" src="https://user-images.githubusercontent.com/51817359/140946713-1a870a17-8b10-4c8e-a5bc-5672e5bf5298.png">

https://zpl.io/2jN8Yrp

Note that this is already implemented on iOS

[2022-01-26 11:59] colourfreak opened #2354 "Remove the shadow below the chart line"
https://github.com/AlphaWallet/alpha-wallet-ios/issues/3387

[2022-01-26 11:59] colourfreak commented on #2354
![Screenshot_20220126-125844_AlphaWallet.jpg](https://user-images.githubusercontent.com/51817359/151159363-53c10ae5-7d3c-4b61-8368-fabe681d8f95.jpg)

[2022-01-26 12:01] colourfreak opened #2355 "When the price is down in last 24H, the chart should be in red color"
<img width="508" alt="Screenshot 2022-01-26 at 13 01 07" src="https://user-images.githubusercontent.com/51817359/151159556-dcb647f8-78c4-4440-bfa5-877eae31adce.png">

https://zpl.io/aNNpzGD

[2022-01-26 23:25] hieronymus4826 opened #2356 "Critical Display issue"
A user with a fresh install sends USDT to his account on a HUAWEI p30pro, but the wallet displays the '.' separator instead of the ',' and reads 1.5$ instead of 1,500$. Works properly as a watch wallet on my end (as seen on the screenshot), so I cannot replicate it. Etherscan shows the correct 1500+.

![IMG_20220127_011548_692](https://user-images.githubusercontent.com/84448420/151263605-ddc5132b-

[2022-01-26 23:44] hieronymus4826 commented on #2356
Wallet address: 0xf0f096F2Da9F7768B6F968fba970124fe18a89eE

[2022-01-27 03:35] JamesSmartCell commented on #2356
Got it, yes this should be standardised

[2022-01-27 03:38] hboon opened #2358 "Use , as thousands separator and . as decimal separator no matter the locale"
Refer https://github.com/AlphaWallet/alpha-wallet-ios/issues/3531

[2022-01-27 03:38] hboon commented on #2356
Created #2358. Sorry missed it earlier. Should be relevant.

[2022-01-27 03:42] hboon commented on #2203
@colourfreak no, it's good here. https://github.com/AlphaWallet/AlphaWallet-web3-provider is for the code that we inject into the dapp browser to support dapps.

[2022-01-27 03:43] hboon commented on #2229
@colourfreak no, it's good here. https://github.com/AlphaWallet/AlphaWallet-web3-provider is for the code that we inject into the dapp browser to support dapps.

[2022-01-27 03:45] hboon commented on #1572
This one's done. But there might be separate work needed because of https://medium.com/walletconnect/introducing-walletconnect-cloud-registry-c17ac580f33. Will follow up separately.

[2022-01-27 03:45] #1572 closed

[2022-01-27 03:50] #2181 closed

[2022-01-27 03:53] JamesSmartCell commented on #2116
Solved in Samoa

[2022-01-27 03:53] #2116 closed

[2022-01-27 03:54] JamesSmartCell commented on #2005
@justindg I think this has already been mentioned in the UI umbrella issue

[2022-01-27 03:56] JamesSmartCell commented on #1682
@justindg can you comment on this issue? I think you may have the best info on this for Android.

[2022-01-27 04:01] justindg commented on #1682
I could do a few improvements, will try to get it as close as possible. @JamesSmartCell @colourfreak

[2022-01-27 04:03] JamesSmartCell commented on #2358
Yes this makes it much easier.

How about for displaying values? Still show like this: €1.000.000,88 or like this €1,000,000.88

[2022-01-27 04:10] hboon commented on #2358
Always the latter.

But careful with user (and Etherscan) input parsing though.

[2022-01-27 05:05] justindg commented on #1682
Will be solved via #2336

[2022-01-27 05:39] JamesSmartCell commented on #2358
Yep, I'm going to regex it to ensure there's no misunderstandings

[2022-01-27 08:32] colourfreak opened #2359 "Umbrella issue for listing AlphaWallet"
- [ ] #2203
- [ ] #1573
- [ ] #1215
- [ ] #2229
- [ ] #3661

[2022-01-27 08:38] colourfreak commented on #2359
Related issue on Android https://github.com/AlphaWallet/alpha-wallet-ios/issues/3837

[2022-01-27 14:44] hboon commented on #2359
@JamesSmartCell would you help reassign as we discussed?

[2022-01-27 23:27] JamesSmartCell commented on #2319
Also show any WalletConnect session on the main wallet page.

It's also an Android native courtesy to have a foreground notification in the Android OS notifications while any WalletConnect session is active, maybe showing the session count and active duration. I have been intending to add this, but ... time. If you click on the notification it should take you to the WalletConnect session activity.

[2022-01-28 01:44] seabornlee commented on #2319
Thanks James! I will do it. I will create a PR and labeled WIP, so that you can review at anytime and give me feedback.

[2022-01-28 03:24] justindg opened #2361 "Convert (alert) dialog popups to ActionSheet popups"
I will also add one:

- Convert all dialog popups into ActionSheet popups (eg see the 'change chain' ActionSheet popup in the DappBrowser, which you can trigger by switching to Mainnet chain, then going to 'Quickswap' dapp on the main page).

The main culprit for this is WalletConnectActivity at the moment.

There is now a standard ```MESSAGE``` mode for ActionSheetDialog with a dedicated construc

[2022-01-28 07:49] oa-s opened #2364 "Unstoppable Domains name resolution deprecation/changes"
There are some changes to name resolution or deprecation.

This:

We wanted to share an update regarding changes we are making to our API integration (https://unstoppabledomains.com/api/v1/). We will be deprecating this API next year in favor of resolution services hosted by our partners: Alchemy and Polygon. We will share details of these resolution services soon.

and this:

Also, we are droppin

[2022-01-28 10:29] hboon commented on #2364
@oa-s can you help assign to James when you are done writing up?

[2022-01-28 10:52] hieronymus4826 opened #2365 "Wallet fails to detect NFTs with duplicating addresses on ETH and Polygon"
The user has imported a wallet with existing NFTs on Polygon using the Motorola g6 Android9, retail version of the wallet. It doesn't auto-detect his NFTs, but he sees them in OpenSea when connects with AW.

Public adress:
0x291252119f196fc9d876d6a6b2155a2520d1000f

Polychain Monsters Contract address Polygon ERC721:
0x85F0e02cb992aa1F9F47112F815F519EF1A59E2D
5 nfts total on this chain.

CryptoCub

[2022-01-28 15:09] colourfreak opened #2366 "Update BarButton's primary and secondary colors"
- [x] #2367
- [x] #2368

[2022-01-28 15:14] colourfreak opened #2367 "Replace the primary button color "green" to "cod""
Cod #141414

https://zpl.io/V1gGYrk
https://zpl.io/p1rxRoJ

<img width="1403" alt="Screenshot 2022-01-28 at 16 13 51" src="https://user-images.githubusercontent.com/51817359/151571883-3a867c40-5ca2-424b-937a-8126f8abfebf.png">

[2022-01-28 15:14] colourfreak commented on #2367
Dark Mode
https://zpl.io/bAPJY68
https://zpl.io/jZLkq8x

[2022-01-28 15:17] colourfreak opened #2368 "Replace the secondary button color"
We need to change the outline color of secondary buttons from "Azure" to "Cod" #141414

https://zpl.io/b6pdYeR
https://zpl.io/bemE75m
https://zpl.io/p1rxRoJ
<img width="557" alt="Screenshot 2022-01-28 at 16 16 41" src="https://user-images.githubusercontent.com/51817359/151572443-4897b722-4300-47e0-b558-6a47f62f0520.png">

[2022-01-28 15:18] colourfreak commented on #2368
Dark mode
https://zpl.io/VOrwzjP
https://zpl.io/aRAJQDv
https://zpl.io/jZLkq8x

[2022-01-28 15:32] colourfreak opened #2369 "Add Dark Mode"
There are several rules which we have to follow, for quicker implementation
I will try to describe it as much as I can.

Dove #727272 to Dusty #999999
Azure #007fed to Dodge #0c84ff
White #ffffff bg to Cod #141414
Green remains the same
Alabaster #fbfbfb to Venus #232323
Mercury #e9e9e9 to Venus #232323
Mine #2f2f2f to White #ffffff

Dark mode:
https://zpl.io/09kMrOm
![Activity-Send-Opened-ETH-Dar

[2022-01-29 14:39] aliveli186 opened #2370 "Uncaught SyntaxError: Identifier '__addressHex' has already been declared"
When I start my app from AlphaWallet browser for the first time  or reload it this error message appears in the console.

![image](https://user-images.githubusercontent.com/8914034/151665118-33f30570-3ab1-4c2c-b7ae-9a128aae1b8b.png)

[2022-01-29 15:02] aliveli186 opened #2371 "Uncaught (in promise) Error: Invalid request"
Trying to execute a contract method like a simple transfer fails with the following error. No dialog pops up for approval.
Similar behavior in iPhone AlphaWallet.
I guess this could be related to a custom network I added to test my app.
When I run the same app from desktop browser MetaMask works fine.

![image](https://user-images.githubusercontent.com/8914034/151665761-e88d18f5-26eb-4ccf-b500-fd5

[2022-01-29 15:49] colourfreak commented on #2369
I am going to post more comments, cues on Monday.

[2022-01-29 15:51] colourfreak commented on #2369
https://github.com/AlphaWallet/alpha-wallet-ios/issues/3483#issuecomment-980008604
I think you can follow cues from iOS. Apart from outdated buttons, they are all the same.

[2022-01-29 21:54] JamesSmartCell commented on #2356
Closing this issue as solved by #2358

[2022-01-29 21:54] #2356 closed

[2022-01-29 21:57] #2358 closed

[2022-01-29 22:14] #2346 closed

[2022-01-29 22:21] #2348 closed

[2022-01-29 22:40] JamesSmartCell commented on #2369
Nice!

@justindg We'll probably need to sift through and do a minor refactor for all instances where we've used colours directly instead of using theme colours (eg R.color.white instead of R.color.colorTheme for backgrounds etc), what do you think?

Once that's done it should be pretty easy to change this.

[2022-01-29 22:41] JamesSmartCell commented on #2365
Nice catch, I'll check it

[2022-01-29 23:47] #2336 closed

[2022-01-30 03:05] JamesSmartCell commented on #2365
I'll make the following solution which I think is consistent with our UI (@colourfreak what do you think?):

Add a tokens view the same as in the main wallet view, so when each token from each chain appears, you'll see it as it would appear in your wallet, with a chain icon so you can see which chain it is, together with any balance you have on that wallet in a familiar fashion.

These will be on

[2022-01-30 04:41] hboon commented on #2365
@JamesSmartCell  The UI you suggested is nice for other reasons (it's useful if we adopt the philosophy of not auto-detecting/adding tokens discovered in the user's wallet, which is not what we have now). But why is it necessary here?

[2022-01-30 04:44] hboon commented on #2371
@aliveli186 how can we reproduce this?

[2022-01-30 06:09] JamesSmartCell commented on #2365
Multiple tokens can be shown simultaneously on the screen ... it's a natural choice.

The tokens are normally auto-discovered but this is a backup I guess.

[2022-01-30 09:10] JamesSmartCell commented on #2365
Like this:

Except with a 'check' button prefixing each token, and a type marker.

![Screenshot_20220130-200757_AlphaWallet](https://user-images.githubusercontent.com/12689544/151693613-684f4905-9fae-4fa2-a001-f0c1d910fbea.jpg)

[2022-01-30 09:57] hboon commented on #2365
Oh. Are you referring to the UI when adding a token manually? The original issue is about the token (balance) not being detected automatically, isn’t it?

As for manually adding the token, our existing UI lets the user choose a chain so it can be addressed by the user too. Just being wary about adding features unnecessarily.

[2022-01-30 11:23] JamesSmartCell commented on #2365
Two issues in one, the first is (should be) solved - that is the token detection is improved.

The second is, yes you can switch chains however this functionality is not as obvious as it used to be.

This change simplifies the 'Add Token' code and improves functionality. I originally wrote the Token adapter to be almost 'drag and drop' so it was trivial to add now there's less places for code to b

[2022-01-30 11:35] JamesSmartCell commented on #2365
I didn't read it like that; the issue is that on Android at least, it runs through each chain and stops when it finds the first token on the chain. You _can_ set the preferred chain through the filter button, but this may not be obvious. If the available tokens are all shown, the users will always be able to get the token they want.

The address 0x85F0e02cb992aa1F9F47112F815F519EF1A59E2D has a tok

[2022-01-30 14:55] hboon commented on #2365
Ah, I see what you mean. We can read it as either problem.

But do you think that if we can fix the auto-detection issue, it'll be good enough? Anyway, they are separate issues. It seems like iOS has the same 2 issues.

[2022-01-30 22:33] JamesSmartCell commented on #2365
@colourfreak Here's my draft implementation:

![Screenshot_20220131-093146_AlphaWallet](https://user-images.githubusercontent.com/12689544/151720667-b5f1b313-8ee8-4b61-994e-ea8f2ed3f99a.jpg)

It shows progress, scanning all the chains while it's in action.

[2022-01-31 03:35] hboon opened #2376 "Fix background color in the bounding box of textbox's label"
Can't be sure and not captured accurately in the photo, but seems like the rectangular area (annotated with the red rectangle) has a slightly different color than the rest of the screen. Help verify first?

![IMG_9515 copy](https://user-images.githubusercontent.com/56189/151735653-e316e662-5fc2-4a5b-a991-3de30286620b.JPG)

[2022-01-31 03:41] hboon opened #2377 "Cursor in textbox should be at the end after pasting with the Paste button, not at the front"
Thought this was addressed recently, but just in case.

![IMG_9515 copy 2](https://user-images.githubusercontent.com/56189/151735747-1a1ad1f4-2819-4f1f-84a7-42d944944ea6.JPG)

This is with AlphaWallet v3.51 RC1

[2022-01-31 03:46] hboon opened #2378 "Show shortened address format under textboxes if ENS entered"
Should we be showing `0xbbce…a362` instead of the full address under address textboxes? (I thought we only display the full address in the Wallets/list of wallets screen)

![IMG_9515 copy 2](https://user-images.githubusercontent.com/56189/151735788-4143bed2-9c08-4ccf-b83d-116ac8df10e3.JPG)

[2022-01-31 03:55] hboon opened #2379 "Importing keys and watch wallet broken"
Tap "WATCH WALLET" to watch a wallet in a new install goes back to "Welcome to AlphaWallet" screen

Reproducible with ENS and EOA:

<img width='200' src='https://user-images.githubusercontent.com/56189/151736244-d4515502-9a1d-42fa-a9ed-27c40846e830.JPG'>

<img width='200' src='https://user-images.githubusercontent.com/56189/151736261-260d0718-49b8-4de4-9ba8-bd4a3691cbc7.jpg'>

Importing a private

[2022-01-31 03:56] justindg commented on #2376
I've checked the code and can confirm there is a color difference - will fix asap. Impressive attention to detail!

[2022-01-31 04:08] JamesSmartCell commented on #2378
if @colourfreak can confirm this, please assign to @justindg if a change is required.

[2022-01-31 05:04] justindg commented on #1890
Seems to be fixed already in the current build.

[2022-01-31 05:04] #1890 closed

[2022-01-31 05:05] justindg commented on #1682
Fixed via #2362

[2022-01-31 05:05] #1682 closed

[2022-01-31 06:37] colourful-land opened #2382 "wallet connect only work for the first transaction (if phone goes to lock screen)"
Repeatable on gnosis-safe.io.

1. wallet connect to gnosis-safe.io (on desktop)
2. do a transaction. -> success
3. wait for the mobile phone to timeout (black screen)
4. wake up the mobile phone
5. do another transaction. this time it will fail

We tried 5+ times. @zhangzhongnan928 was with me. this buggy behaviour result is 100% guaranteed. stable Internet.

[2022-01-31 07:33] colourfreak commented on #2369
@justindg Let me know if you need more info from me. I tried to describe every thing in [here](AlphaWallet/alpha-wallet-ios#3483 (comment))

[2022-01-31 10:50] JamesSmartCell commented on #2370
This is already fixed, but the fix has not yet been released.

[2022-01-31 10:51] JamesSmartCell commented on #2371
It may already have been fixed; there has been a big refactor / improvement with dapp browser.

[2022-01-31 11:06] JamesSmartCell commented on #2382
Thanks for the detailed report - I think the service gets terminated if the app goes to sleep - clearly this isn't how it should work.

[2022-01-31 18:20] justindg commented on #2369
Hey @colourfreak , thank you for the detailed overview. I will be in touch once I start the work on this feature

[2022-01-31 20:40] aliveli186 commented on #2371
When will be published?

[2022-01-31 21:09] #2320 closed

[2022-01-31 21:09] #1680 closed

[2022-01-31 21:09] #2005 closed

[2022-01-31 21:10] #2376 closed

[2022-01-31 21:10] #2377 closed

[2022-01-31 21:10] #2378 closed

[2022-02-01 01:04] #2365 closed

[2022-02-01 01:19] #2353 closed

[2022-02-01 01:19] #2354 closed

[2022-02-01 01:19] #2355 closed

[2022-02-01 01:20] JamesSmartCell commented on #2371
This week, we're wrapping up all the issues found in the first Release Candidate today

[2022-02-01 04:51] JamesSmartCell commented on #2382
So far unable to reproduce.

What model of phone is it, and what are your timeout settings? How long do you wait while timeout happens, before restoring the phone.

I will attempt to find where this could be happening 'blind'.

[2022-02-01 05:29] #2379 closed

[2022-02-01 05:30] JamesSmartCell commented on #2275
This was done in Samoa

[2022-02-01 05:30] #2275 closed

[2022-02-01 22:56] #2345 closed

[2022-02-01 22:58] JamesSmartCell commented on #2255
Android doesn't have a v1.x SDK, but will update to the latest spec and try to solve the issues that happen when you allow the phone to go into deep sleep mode.

[2022-02-02 02:32] seabornlee opened #2388 "Can show Kovan Test network balance"
This blocks #2360 , test methods call need balance.

[2022-02-02 05:50] JamesSmartCell commented on #2388
@seabornlee  Just tested Kovan here it's working correctly. What's your test address I'll send some to you.

[2022-02-02 05:58] asif-finimble commented on #2138
Task Update Feb 2,
- Replaced all ```Log.x```, ```System.out.println()``` and ```If (BuildConfig.Debug) e.printStacktrace()``` to use ```Timber.x```.

[2022-02-02 06:15] JamesSmartCell commented on #2294
@hboon If you can read Android's Constraint layout the file is here:

https://github.com/AlphaWallet/alpha-wallet-android/blob/master/app/src/main/res/layout/item_token_icon.xml

The key value is the `status_chain_icon`, which is a circle with the following percentage borders:

Top: 59%
RHS: 45%
LHS: 0%
Bottom: 96.5%

These are relative to the main (token) icon, although in our case that has a lay

[2022-02-02 08:12] colourfreak opened #2390 "Keep apps in alt app stores up to date"
**Galaxy Store**
version 3.31
Updated May 31, 2021

Does not work - crashes after you enter the seed phrase

**App Gallery Huawei**
not submitted
Issue created on 9 Mar 2020 (almost two years from now)
https://github.com/AlphaWallet/alpha-wallet-android/issues/1215

**Foss Droid**
not submitted
Issue created on 18 Nov 2021
https://github.com/AlphaWallet/alpha-wallet-android/issues/2229

**F-Droid*

[2022-02-02 11:11] JamesSmartCell commented on #2388
Can we close this now?

[2022-02-02 12:39] #2382 closed

[2022-02-02 12:39] #2127 closed

[2022-02-02 21:11] #2172 closed

[2022-02-02 22:06] #2138 closed

[2022-02-02 22:09] JamesSmartCell opened #2395 "Convert remaining Log.d to Timber.log"
eg in  `checkTokensBalance` in `TokensService`.

[2022-02-03 02:35] hboon commented on #2294
@JamesSmartCell thanks! If you are done with this (or don't need this anymore) in the Android code base, can you help to close this issue?

[2022-02-03 03:36] hboon opened #2396 "What's New says "17.12.21" and "v3.50" but Discord announcement says v3.51"
Also In Settings, Version says "3.51.0 (180)"

So:

* It's "3.50" in What's new, but "3.51.0" in Settings
* Should be the same number and same format i.e. "3.50.0" or "3.51.0"
* Is the "180" the build number? (then it shouldn't be "17.12.21"

[2022-02-03 03:38] hboon opened #2397 "Tapping universal link with /openurl doesn't switch to app and open embedded URL"
This functionality: #2330

With v3.51 RC2

[2022-02-03 04:49] #2397 closed

[2022-02-03 04:51] JamesSmartCell commented on #2396
The GitHub tag hasn't been created yet, once it's created the What's New will render correctly.

[2022-02-03 04:51] #2396 closed

[2022-02-03 22:17] JamesSmartCell commented on #2371
We have released the new build on the PlayStore, can you check if the issue has been fixed?

[2022-02-03 22:18] JamesSmartCell commented on #2370
This issue should now be resolved with the new release on the playStore

[2022-02-03 22:19] JamesSmartCell commented on #2294
Issue is complete on Android

[2022-02-03 22:19] #2294 closed

[2022-02-04 04:10] JamesSmartCell commented on #1672
@asif-finimble you'll have to check in Zeplin to see if the design has changed since the issue was created.

Do you have access to Zeplin?

[2022-02-04 04:31] asif-finimble commented on #1672
Yes, I do will check it out.

[2022-02-04 06:18] #2321 closed

[2022-02-04 07:40] JamesSmartCell commented on #2228
@asif-finimble can you route the approve session dialog through ActionSheetDialog instead of AlertDialog popup (see the AlertDialog in `onSessionRequest`).

Maybe you can create a 'WalletConnectInfoWidget' class similar to the other widgets which form the `ActionSheetDialog`, which holds all the info shown in the ios issue linked above. For reference see the basic `ActionSheetDialog` invocation fo

[2022-02-04 10:20] asif-finimble commented on #2228
Sure. Should I take this up after #1672 or before ?

[2022-02-04 10:27] asif-finimble commented on #1672
@JamesSmartCell I think the AddressBook is not implemented, is it? I cant find any branch for it. I remember implementing this in  Bartercard.

[2022-02-08 01:26] aliveli186 commented on #2371
iPhone version doesn't work.
Couldn't test the Android version (downloaded the APK directly from your site), since it crashes on launch inside emulator (Nox).
![image](https://user-images.githubusercontent.com/8914034/152900351-83b8b418-570f-477a-ac38-eb4031a1d9da.png)

[2022-02-08 03:32] lbk3530 opened #2401 "Add DODO to Wallet Web page"
Title: DODO

Desc: Trade any asset with the best liquidity on multiple chains

Website:  http://app.dodoex.io/?utm_source=AlphaWallet

Section: BSC/Ethereum/Exchanges/Polygon

Logo：
![Logo1-Y](https://user-images.githubusercontent.com/37101876/152912704-88a0d600-8021-457a-b79f-f4e01967b2cd.png)
n

[2022-02-08 15:15] oa-s opened #2402 "Remove supporting UnstoppableDomain v1"
Only after https://github.com/AlphaWallet/alpha-wallet-android/issues/2364

[2022-02-08 15:15] oa-s commented on #2402
ios https://github.com/AlphaWallet/alpha-wallet-ios/issues/3884

[2022-02-09 11:50] #2218 closed

[2022-02-10 03:42] hboon opened #2403 "Can't go back from Camera. Camera should have a X/cancel button"
<img width='200' src='https://user-images.githubusercontent.com/56189/153332633-39c74b8f-6601-44a4-8372-af19bd915902.jpg'>

Should have a top bar with a X/cancel button like this:

<img width="366" alt="Screenshot 2022-02-10 at 11 40 11 AM" src="https://user-images.githubusercontent.com/56189/153332848-aa74d693-97a1-4748-b88c-ffce282821ec.png">

https://app.zeplin.io/project/5d088205bff2d15de6a439

[2022-02-10 03:44] hboon commented on #2205
@JamesSmartCell bump

[2022-02-10 03:45] hboon commented on #2153
@seabornlee bump

[2022-02-10 03:45] hboon commented on #2228
@JamesSmartCell bump

[2022-02-10 07:49] hboon opened #2404 "Support both wallet_switchEthereumChainObject and wallet_addEthereumChain JSON-RPC methods in WalletConnect v1"
Context:

Pedro:

https://canary.discord.com/channels/492410046307631105/833628540456140821/905050546904399892

Reproduce:

https://github.com/AlphaWallet/alpha-wallet-ios/issues/3887#issuecomment-1034527245

[2022-02-11 02:43] #2388 closed

[2022-02-11 02:47] seabornlee opened #2405 "1inch logo changed"
https://alphawallet.com/browser/

The latest is:
https://avatars.githubusercontent.com/u/43341157?s=200&v=4

@colourfreak

[2022-02-11 02:49] seabornlee commented on #2153
Have this on my list of WalletConnect v2.

[2022-02-11 03:27] seabornlee commented on #2319
@colourfreak Do you want to change the notification tray icon? Right now it looks like
![image](https://user-images.githubusercontent.com/735708/153533277-c85ebb05-c6a7-44a1-b73f-f94ea360175a.png)

[2022-02-11 15:08] colourfreak opened #2406 "Add a screen where you can switch to Dark/Light/Auto mode"
We need one more item in the Settings (System section)
![Settings_Full](https://user-images.githubusercontent.com/51817359/153615084-9b294f18-f993-4f2f-80ba-d975d9e02f27.jpg)

Then you can change the mode to

- Light
- Dark
- Auto

![Change-Mode](https://user-images.githubusercontent.com/51817359/153615113-71ec5e1e-6b00-41a2-a4b6-5f7239eaa13f.jpg)

### Zeplin
https://zpl.io/VY7JKYk
https://zpl.io/

[2022-02-11 15:11] colourfreak opened #2407 "Move "Change Language" and "Change Currency" in the main Settings view"
Note that if you don't speak English, you will find it difficult to understand "Advanced". Therefore, you might not be able to locate where to change the language.

![Settings_Full](https://user-images.githubusercontent.com/51817359/153616646-d4506af8-8a00-428e-a9e4-b89853a34ad5.jpg)
![Settings_Advanced](https://user-images.githubusercontent.com/51817359/153616703-545ece38-a2a3-4f45-947b-157a9bad4

[2022-02-11 15:14] colourfreak opened #2408 "Add a toggle to switch on/off Touch ID security"
A friend of mine has not completed the full backup flow. So he wrote down the seed phrase, but he did not encrypt it with Touch ID. So he asked:
- Where is a good place to do this now?

Let's add an item in the Settings menu (system section), where you will be able to enable Touch ID.
<img width="750" alt="Screenshot 2022-02-11 at 16 13 26" src="https://user-images.githubusercontent.com/51817359/1

[2022-02-11 15:37] hboon commented on #2407
Is there not a way to detect the system setting and use it as the default, if that language is supported by the app?

[2022-02-12 02:05] JamesSmartCell commented on #2403
Do the Android navigation buttons not work? Like gesture or bottom bar button?

But, needs to go in.

[2022-02-12 02:10] JamesSmartCell commented on #2407
Yes, if you install the wallet in eg French locale, it should start in French.

[2022-02-12 06:32] colourfreak commented on #2408
What user can do with a wallet (what interaction) if his wallet is not locked with Touch ID?

I can think of two situations.

1) I just have created a new wallet, backed up, but have not completed the whole flow (I wrote down the seed phrase on paper) and went back without confirming or locking my wallet with Touch ID
2) I was riding a bike with my smartphone stuck to the front. It was frustrating

[2022-02-12 06:34] colourfreak commented on #2407
What if you are from a country where crypto is banned and you have to use VPN?

[2022-02-12 07:01] hboon commented on #2408
I don’t think it works like @colourfreak described in the issue. Can we plan this out properly before we make any changes? Write out and describe what is the flow first?

[2022-02-14 04:54] hboon commented on #2403
No, bottom bar, but swiping right works.

[2022-02-14 06:35] hboon opened #2411 "Universal link with embedded URL doesn't work"
-|-
-|-
<img width='200' src='https://user-images.githubusercontent.com/56189/153811698-9d5fc209-b916-4d2a-ba00-6fcad76297ab.jpg'>| <img width='200' src='https://user-images.githubusercontent.com/56189/153811692-d8651f96-bc0f-4b07-ab26-8edb8fcd0e35.jpg'>

[2022-02-14 06:53] asif-finimble opened #2412 "Update Clipboard handling to support Android 12."
Android 12 has put certain restrictions on clipboard access. Update the code accordingly to support Android 12.

[2022-02-15 04:35] asif-finimble commented on #1672
@JamesSmartCell , for EditAddress Screen, we should allow user to edit only name right? Because Address -> name is 1-1 relationship. Also address is primary key here.

[2022-02-17 03:01] hboon opened #2413 "Rewriting URLs for images hosted on Google to higher resolution versions"
@oa-s can you help to write up and assign to James?

Related: https://github.com/AlphaWallet/alpha-wallet-ios/pull/3909

[2022-02-17 14:59] gichiba opened #2415 "Burmese font clipping issue"
This is a common problem for Burmese-language app developers that I alluded to in the original PR #2339

![screenshot of Myanmar wallet](https://user-images.githubusercontent.com/9886144/154507965-e562bcab-e072-46bf-9490-c454bae1d082.png)

It can be solved by specifying the default font for Burmese language that is sized properly. "Pyidaungsu" is recommended.

[2022-02-18 02:38] hboon opened #2416 "Optimism showing 0 ETH for native token balance despite non-zero balance"
Refer to: #2301

Might be related to: https://github.com/AlphaWallet/alpha-wallet-ios/pull/3020

[2022-02-22 06:26] asif-finimble commented on #2412
Not needed. It was a problem with Android 12 emulator which didn't allow to copy to clipboard.

[2022-02-22 06:26] #2412 closed

[2022-02-22 12:10] asif-finimble commented on #2210
@JamesSmartCell , I'm a bit confused here. ```OkHttpClient``` doesn't need context to start so how can it leak activity. I think ```WalletConnectActivtiy``` is leaked because ```WCClient``` has a reference in activity and the instance is stored in ```clientMap``` in ```WalletConnectService``` using the ```putClient()``` method. Can you please guide me if I understood it wrong?

[2022-02-23 12:41] asif-finimble commented on #2415
I have used the regular and bold fonts from here: https://myanmar.gov.mm/en/-/pyidaungsu-fonts-and-keyboards.
Used this font for semibold : https://github.com/saturngod/myanmar-unicode-fonts/blob/master/other/Pyidaungsu.ttf
@JamesSmartCell can you recommend a font for light version.

[2022-02-24 04:18] justindg commented on #2369
Hi @colourfreak , what is the preferred color of these showcase/onboarding dialogs for dark mode?

https://app.zeplin.io/project/5d088205bff2d15de6a4397b/screen/5e21865083d02d7acbe394d9

My initial thought was that `cod`  lacked a bit of contrast with the background, but I'm no expert in this field. Let me know your thoughts.

This is the current iteration (will fix the corner radius soon):
![imag

[2022-02-24 04:38] #2415 closed

[2022-02-24 04:40] justindg commented on #2369
@colourfreak Also what is the preferred color for bottom sheets? Below is the default theme:

![image](https://user-images.githubusercontent.com/17334718/155459106-dac97371-00d3-4588-b9bd-7626a7bd6aed.png)

[2022-02-24 06:07] JamesSmartCell commented on #2408
Yep good idea @hboon let's figure out how this should work and what restrictions.

@colourfreak as a first step would you like the ability to unlock a wallet? So eg, I have backed up the wallet (maybe) and locked it but decide I no longer want to keep using touch ID (etc), I then unlock that wallet. This would probably be done from the Wallet Management screen (hamburger button in wallet selection

[2022-02-24 06:10] JamesSmartCell commented on #2407
Your phone would still be set up in the locale you like to use it in, wouldn't it? I don't really know how people would set up their phones. Do you have any idea if they would change their locale on their phone, and why?

[2022-02-24 06:46] hboon commented on #2407
@JamesSmartCell the edit is replying to me right?

[2022-02-24 14:55] colourfreak commented on #2369
Set the background color of a bubble to `Mine`

![Wallet-Intro](https://user-images.githubusercontent.com/51817359/155548448-6a5a0b09-3135-4ae5-a358-2bc03dee086a.jpg)

[2022-02-24 14:56] colourfreak commented on #2369
Mine

[2022-02-24 15:00] colourfreak commented on #2408
![image](https://user-images.githubusercontent.com/51817359/155549336-5df1edf3-7e43-45c9-80dc-186fa0f1285b.png)

[2022-02-24 19:43] hieronymus4826 opened #2420 "Wrong link for Sushi Swap on Browser homepage"
Links to https://sushiswap.fi/

Should be: https://app.sushi.com/swap

[2022-02-24 21:28] #2395 closed

[2022-02-25 03:44] hboon commented on #2408
I see now these are 2 separate things :)

A. The toggle in iOS Settings > Passcode / Touch ID is for controlling whether the app prompts for authentication when it's launched. It doesn't affect how the wallet is handled/accessed or backups.

B. As for backup status:

Not backed up | Key "not locked"
-|-
<img width="200" alt="Screenshot 2022-02-25 at 11 21 09 AM" src="https://user-images.githubuser

[2022-02-28 06:36] hboon opened #2422 "Close button for transaction confirmation actionsheet works but isn't visible"
There seems to be a button at the top left that closes the actionsheet (good), but it isn't visible.

<img width='200' src='https://user-images.githubusercontent.com/56189/155935678-f5241d66-6d92-4024-9793-4d6ea7b08374.jpg'>

[2022-02-28 06:48] justindg opened #2423 "NFT Detail view does not load image when you access the screen while wallet is syncing/fetching"
If you quickly click on a NFT to access NFT Detail Activity while wallet is syncing, the placeholder text does not update even after clicking the refresh button.

Expected output: if metadata is loaded and refresh is clicked, placeholder icon/text should update to the actual NFT image.

[2022-02-28 06:49] justindg opened #2424 "Searching in collectibles tab will display regular tokens rather than NFTs"
Expected: only filter collectible tokens when using this particular search bar.

[2022-02-28 06:50] hboon opened #2425 "Ethereum mainnet's native token icon is used as Rinkeby native token icon"
Seems to happen after switching back from mainnet. The balance looks correct (i.e. it *is* Rinekby's). Something like:

1. Enable testnet
2. Pull down in Wallet tab
3. Enable mainnet
4. Pull down in Wallet tab
5. Enable testnet
6. Pull down in Wallet tab

The Ethereum mainnet's native token's icon (sometimes?) is shown:

<img width='200' src='https://user-images.githubusercontent.com/56189/1559366

[2022-02-28 07:03] hboon opened #2426 "List of wallets screen should indicate which is the current wallet"
@colourfreak Is there a Zeplin for Android for this?

<img width='200' src='https://user-images.githubusercontent.com/56189/155938639-17fe5376-2443-4bb4-ba00-843dbfcc0498.png'>

Little blue dot on iOS:

<img width="200" alt="Screenshot 2022-02-28 at 3 02 23 PM" src="https://user-images.githubusercontent.com/56189/155938716-c826a626-de9d-4a03-8009-6bff18fe0955.png">

[2022-02-28 07:06] hboon opened #2427 "Showing wrong wallet in Settings tab after backing up legacy/private key wallet"
(Marking higher priority in case this breaks key management)

1. Make sure active wallet is a legacy (imported with private key) wallet
2. Verify wallet address is say, 0xb0b
3. Settings tab
4. Tap Upgrade key security (should say Not Locked)
5. Tap Upgrade key security
6. Says "Unable to upgrade key: Enable screenlock on phone"
7. Tap Continue
8. Enable screenlock (but not fingerprint/Face recogn

[2022-02-28 07:19] hboon commented on #2411
With v3.5.2 RC1:

1. Visit https://s.hboon.repl.co in a web browser (not in AlphaWallet app)
2. Tap on any of the links "Universal link to open dapp", "Foo1" or "Foo2"

Expected:

3. Switch to AlphaWallet app and automatically open the embedded URL in the browser (tap `https://aw.app/openurl?url=http%3A%2F%2Fapp.uniswap.org%3Ftest%3Dvalue1` should open `http://app.uniswap.org?test=value1`)

Observ

[2022-02-28 07:22] hboon commented on #2424
FYI. The version in iOS just have 1 way of searching, no matter which "tab" the user is in, once the user starts search, it is against "All" and doesn't have the tile/grid layout anymore. Simpler and harmless, if it's easier.

[2022-02-28 18:41] justindg commented on #2427
@hboon @JamesSmartCell - unfortunately I am unable to replicate this issue after testing with a couple of wallets

Here is how I tested:

1. From fresh install, create a new wallet and watch a random wallet e.g. `vitalik.eth` to ensure we have two kinds of wallets
2. Ensure your phone has no screen lock (`Device Settings` > `Lock Screen` > `Screen lock type` > `None`). This is so we get the `Upgra

[2022-02-28 21:42] JamesSmartCell commented on #2427
I also followed your guide exactly, I entered 1 watch wallet previously.

All steps exactly as you described but final works as per your 'expected'.

[2022-02-28 21:47] JamesSmartCell commented on #2425
@justindg looks like we're seeing the fallback/default icon here. It could due to either an old process loading the wrong tokenIcon, or tokenIcon aborting.

Also, is this 0x007 ?? - be careful with having this wallet on your phone, don't accidentally send any eth to it, it's got sweep bots watching the balance.

[2022-02-28 21:49] JamesSmartCell commented on #2425
Either way, I wasn't able to reproduce it, you might have more luck.

[2022-02-28 21:53] JamesSmartCell commented on #2422
Ah! We're trying to solve this one. It seems it's a theming issue and is solved in the darkmode theming. It always works for me (Emulator, Xiaomi and Samsung) but other Android phones it does not.

[2022-02-28 21:54] JamesSmartCell commented on #2422
I will add a universal fix for this release

[2022-03-01 06:16] #2403 closed

[2022-03-01 06:22] #2416 closed

[2022-03-01 06:23] JamesSmartCell commented on #2413
OpenSea supply better resolutions for the collection symbol? Nice.

[2022-03-01 06:43] JamesSmartCell commented on #2411
@hboon works for me:

https://user-images.githubusercontent.com/12689544/156117608-a123c84d-c067-45ca-8bf7-a22e2cdd8d31.mp4

Testest with Samsung, Chrome, Brave and Duck Duck Go. Brave shown. Seems to work correctly.

[2022-03-01 07:00] hboon commented on #2411
@JamesSmartCell I couldn't catch it, how does it go from:

<img width="200" alt="Screenshot 2022-03-01 at 2 59 38 PM" src="https://user-images.githubusercontent.com/56189/156120503-55b6a7d5-d162-460f-aeb9-fc13e12df899.png">

to:

<img width="200" alt="Screenshot 2022-03-01 at 2 59 34 PM" src="https://user-images.githubusercontent.com/56189/156120491-62896e5c-79f3-4468-9641-6222e67f9dc5.png">

is i

[2022-03-01 07:02] hboon commented on #2413
@JamesSmartCell not exactly, it's asking for a higher resolution version from Google for the images that host images. But looks like OpenSea has lots of them.

[2022-03-01 07:03] #2420 closed

[2022-03-01 07:20] hboon commented on #2427
Only difference I can tell is, you have:

and I have:

Can we try that if you haven't?

[2022-03-01 10:35] asif-finimble commented on #2318
@JamesSmartCell can you please guide me on this?
seems like edennetwork website is not accessible right now.  Also I dont have the access to the given zeplin project.

[2022-03-01 11:56] lbk3530 commented on #2401
Hi @colourfreak ，any update?

[2022-03-01 16:17] colourfreak commented on #2401
![Screenshot_20220301-171633_AlphaWallet.jpg](https://user-images.githubusercontent.com/51817359/156206371-874ee012-409f-42df-a062-2d87364e3576.jpg)

[2022-03-01 16:17] #2401 closed

[2022-03-01 17:09] JamesSmartCell commented on #2413
I think I get it. Yeah I've noticed that and wondered how to improve it. EG the ENS logo thumbnail looks awful when blown up to the new size.

[2022-03-01 17:19] JamesSmartCell commented on #2411
I had to push a fix through for when AW isn't already loaded (intents get processed before the 4 main screen fragments are initialised so you need a delayed load). But yes it works correctly for all cases. Can you try using the Samsung browser or Chrome? It actually worked in all 6 browsers I use (Samsung, Edge, Brave, Firefox, DuckDuckGo, Chrome), albeit with slightly different UI.

Here's a demo

[2022-03-01 17:26] JamesSmartCell commented on #2411
@hboon This is all done through intents in the Manifest - you register an intent with Android OS that you want this app to be a possible recipient of any URL beginning with "aw.app". If the user visits a URL like that, the OS will pick up that an app may handle it better than a browser and you see the AW icon in the intent popup. I'm not sure that's your question.

I don't know how intents work ac

[2022-03-01 17:46] JamesSmartCell commented on #2427
@hboon can you reproduce this following the steps above? If so can you post a video in case we're not doing some step that you have?

[2022-03-01 17:54] JamesSmartCell commented on #2408
It may be dependent on how Android uses the secure enclave - which is probably different from iOS. Once your keys are locked in the secure enclave (which is a separate processor to the main one) they are managed by the enclave and you negotiate with the enclave via the Android OS security system.

If you remove the lock from your phone, the OS will invalidate all the keys which were locked (that i

[2022-03-01 21:08] JamesSmartCell commented on #2407
Yes, primarily. Since you asked

[2022-03-01 21:34] JamesSmartCell commented on #2405
Or here:

https://github.com/1inch/gnosis.1inch.exchange/blob/master/src/assets/logo.svg

[2022-03-01 21:37] JamesSmartCell commented on #2370
Closing as appears to be fixed.

[2022-03-01 21:37] #2370 closed

[2022-03-01 21:40] JamesSmartCell commented on #2364
Can you resend this?

[2022-03-01 21:51] JamesSmartCell commented on #2318
@oa-s or @hboon can you show the current flow on iOS? Is there any special handling or is it just done as a new network as normal?

If it's a normal network, I see RPC calls but no transaction query API routes. Do these correspond to existing networks? Or a single existing network eg Mainnet?

So, eg would I send the transaction via eden, get a tx hash and then scan for that on mainnet?

"Note, in

[2022-03-01 21:54] JamesSmartCell commented on #2319
That's fine @seabornlee we'll tidy it up

[2022-03-01 22:08] JamesSmartCell commented on #2352
@justindg @asif-finimble do either of you have experience editing proguard rules? If so can either of you educate me/the rest of us who don't. I have noticed minifyEnabled crashes too. I'm guessing we have to protect essential areas of the app from being removed by minify. It's like we're doing the job of the compiler, and you know they say never send a man to do a machine's job.

[2022-03-01 22:12] JamesSmartCell commented on #2371
Have never tried to use NOX. Have you tried the emulator supplied by Android Google? It works correctly on that one.

Is Nox any good and why would ppl use it instead of the google default? Can you get root with Nox? If so I'm interested.

[2022-03-01 22:41] micwallace opened #2431 "Security warning when importing unsigned TokenScript definitions"
When importing unsigned TokenScript files, at least on Android, there is no confirmation step. It wouldn't be hard to imagine this being used in a phishing scam.

I recommend 1-2 things to mitigate this risk:

1. Implement a warning dialog when importing unsigned/unverified TokenScript definitions into AlphaWallet.
2. Restrict manual import to devices with developer mode enabled. I know this is at

[2022-03-02 03:19] hboon commented on #2318
Sure. This isn't the same as adding a chain that we normally do.

What Eden and Ethermine does is, they are miners and they offer an RPC endpoint for us to post transactions to. These transactions are only broadcast after they are mined, to prevent front-running (by others). Hence "private". They also offer some other functionality that involves staking, but we aren't using those.

So technically,

[2022-03-02 03:27] hboon opened #2432 "What's New Formatting"
1st item. Not sure if it's intentional or just formatting at the source?

![image](https://user-images.githubusercontent.com/56189/156289337-e9ad01c0-9d48-41e8-b94d-69a1da6cd362.png)

[2022-03-02 03:32] hboon opened #2433 "When there is no lockscreen password (and fingerprint/face recognition is not enabled), hitting enter in "Set Keystore Password" screen does nothing"
![IMG_9872](https://user-images.githubusercontent.com/56189/156289674-8cf83911-3320-4cca-88b3-25b1a461c228.JPG)

[2022-03-02 03:33] hboon opened #2434 ""Set Keystore Password" keeps looping through enter keystore password + lockscreen password"
Lockscreen password is set.

After tapping enter here and then entering the lock screen password, it loops back to this screen.

![IMG_9872](https://user-images.githubusercontent.com/56189/156289674-8cf83911-3320-4cca-88b3-25b1a461c228.JPG)

[2022-03-02 04:29] hboon commented on #2407
Yes, so if eg. the user speaks Chinese but not English, they should have their system setting set to Chinese and the app should have picked it up. And if they have configured it to a language that we have not localized for, say Hindi, then it falls back to English and that is probably the next best language besides Hindi.

So my point is, it sounds like the change isn't necessary? Or is there some

[2022-03-02 04:35] hboon commented on #2408
@JamesSmartCell > What I can do is add an individual unlock on the key management menu, that is move the passcode/face ID toggle you highlighted above to the menu you access from the hamburger menu on the wallets page. Unlocking all keys at once could be dangerous; but can be done.

Just to clarify:

i.e. it is just a simple check in iOS at launch to see if the user can use the app at all. It does

[2022-03-02 04:36] JamesSmartCell commented on #2433
Set keystore password is for export only. But there seems to be something odd happening here.

[2022-03-02 04:37] JamesSmartCell commented on #2432
It's my fault, presumably at the source (github text). Well spotted

[2022-03-02 04:43] JamesSmartCell commented on #2431
Yes. In theory importing TokenScript files via clicking on them is only done during development of the scripts,

But yes we should restrict that, maybe in the TokenScript Management page you are required to allow debug scripts, and there should be a warning if a debug script attempts to send a transaction (note TokenScript can't ask for user to do legacy/pure signing, so in theory this should be s

[2022-03-02 04:44] justindg commented on #2432
@JamesSmartCell I fixed this in the dark mode branch :)

[2022-03-02 04:45] JamesSmartCell commented on #2411
Yes, it works with Samsung browser on my S20.

[2022-03-02 04:46] JamesSmartCell commented on #2411
I don't have access to my Huawei but magic links used to work on it; and this uses the same set of manifests. I can test when I'm finally allowed to return home.

[2022-03-02 04:47] JamesSmartCell commented on #2432
yay. Could you patch the current master with the fix? Or is that not able to be done without a lot of framework change?

[2022-03-02 04:49] JamesSmartCell commented on #2408
Ah ok, so that toggle is just for app startup? Then it's easy to add.

[2022-03-02 04:54] hboon commented on #2408
Yeah, just for startup (and resumes).

It's just there in iOS because we inherited that functionality.

[2022-03-02 04:54] JamesSmartCell commented on #2407
Yes, correct.

If you don't speak English and have say Italian locale, but speak a little French you might want French as the language. AW would default to English in this case. This could be a reason to move it.

[2022-03-02 05:00] JamesSmartCell commented on #2432
Ok. Not possible to just force the first '-' to be a tick?

[2022-03-02 05:05] hboon commented on #2427
Sure:

https://user-images.githubusercontent.com/56189/156298669-2c9bbc72-de78-47eb-8837-82eace61b0a5.mp4

[2022-03-02 05:53] JamesSmartCell commented on #2427
Nope, I follow the exact same sequence with fresh install and it works correctly for me.

In order to see what's going on locally on your phone you're going to have to help me debug this. I can give you a debug build (or you can build AW from source) and give me a Logcat dump.

[2022-03-02 06:49] asif-finimble commented on #2352
Well proguard basically removes classes that are not used in code and most of the times I have faced problems & crashes when request/response DTOs are removed by proguard because we manually dont instantiate many DTOs - JSON parser does it. So proguard thinks that this class is not used. So we provide a rule to exclude the package that contains DTOs and proguard won't "minify" them and leave them

[2022-03-02 09:45] colourfreak commented on #2405
<img width="848" alt="Screenshot 2022-03-02 at 10 45 27" src="https://user-images.githubusercontent.com/51817359/156336776-6d302423-26e3-4abd-ac9d-aff9d22879a7.png">

what is wrong here?

[2022-03-02 10:26] asif-finimble commented on #2318
Thanks @hboon for the detailed explanation. I think I understand what needs to be done. How does the user select he wants to use Eden or ethermine?
Maybe its in zeplin spec. I can't access that yet.

[2022-03-02 11:17] asif-finimble commented on #2352
@JamesSmartCell should I take this up? I can try inspecting the crash and update proguard rules. Lets see what @justindg suggests.

[2022-03-02 11:43] seabornlee commented on #2405
<img width="535" alt="image" src="https://user-images.githubusercontent.com/735708/156355558-df31d713-e9bd-4fd1-9251-9e487362d378.png">
It's different.

[2022-03-02 14:12] hboon commented on #2318
@asif-finimble Sorry, missed this. Like this:

<img width="200" alt="Screenshot 2022-03-02 at 10 09 21 PM" src="https://user-images.githubusercontent.com/56189/156377719-41d8188d-544f-4b04-bf63-dcfdbfeb05fc.png">

⬇️

<img width="200" alt="Screenshot 2022-03-02 at 10 09 26 PM" src="https://user-images.githubusercontent.com/56189/156377745-f864a273-da87-4256-a856-ba6ae1e465fd.png">

⬇️

<img width=

[2022-03-03 06:58] asif-finimble commented on #2318
@hboon how can the user disable private transactions? Does the selection state toggles on clicking the selected item? @JamesSmartCell what view do you think we should use here?

[2022-03-03 07:12] hboon commented on #2318
@asif-finimble Yes, it should toggle to off if the user taps on a selected item.

I don't know how to present it though.

[2022-03-03 07:13] asif-finimble commented on #2318
OK. Thanks. Got it

[2022-03-03 09:27] HemangiVekaria opened #2436 "DApp cannot get Javascript methods in Andorid code"
I am crceating one app for DApp browser. I used code from this repo for Web3View and all classed related to that. But somehow when open https://app.uniswap.org/#/swap?chain=ropsten in Web3View it's not connecting to the wallet address which i set using web3.setWalletAddress("") method. Instead it's showing Connect wallet and once i click on that it will open Popup to select app from my android dev

[2022-03-03 09:31] colourfreak commented on #2319
![hdpi](https://user-images.githubusercontent.com/51817359/156536674-7055672e-a8f2-41a2-b5d9-22c765b500fc.png)
![mdpi](https://user-images.githubusercontent.com/51817359/156536680-66b8fbd9-3909-4824-abdc-f619d93f0634.png)
![play](https://user-images.githubusercontent.com/51817359/156536682-bb13676f-ff7b-4346-ba55-d2d3a8295e3a.png)
![xhdpi](https://user-images.githubusercontent.com/51817359/1565366

[2022-03-03 10:13] hboon opened #2437 "Show more collection-level data from OpenSea #3730"
@oa-s would you help write up details and then assign to James?

https://github.com/AlphaWallet/alpha-wallet-ios/issues/3730#issuecomment-1034803414