[2020-09-15 01:16] JamesSmartCell commented on #1588
I see, you're referring to the discovery process, now I understand how this is relevant - calling it loading screens is quite misleading - maybe loading token placeholders. Not quite as catchy but immediately understandable.

[2020-09-15 02:00] AW-STJ commented on #1588
Sorry James.. I see that I was not clear enough. Will try to be more specific.

[2020-09-15 02:31] #1588 closed

[2020-09-15 02:31] #1589 closed

[2020-09-15 05:30] hboon commented on #1594
Maybe related to work done in  #1593, SSL cert seems to be broken?

[code]

[2020-09-15 06:59] ChintanRathod commented on #1539
@JamesSmartCell We can close this issue as it is merged to Master branch already. No need to do any extra work on this.
Commit hash bcb37ee033952917a92e56edbb18a9d4dd4a05e9

[2020-09-15 07:39] #1584 closed

[2020-09-15 08:41] #1599 closed

[2020-09-15 10:27] #1549 closed

[2020-09-15 10:58] JamesSmartCell commented on #1570
@tomekalphawallet "You can remove the hide zero balance tokens" ? This is an important feature for removing wallet clutter. Would you say the default will be that all zero balance tokens are hidden?

[2020-09-15 23:13] #1591 closed

[2020-09-16 00:14] AW-STJ commented on #1570
I would think yes, atleast for any tokens that:
1.  has not had any transactions
2.  was not added manually by the users

Will differ to Tomek for the final decision.

[2020-09-16 07:20] JamesSmartCell commented on #1570
Thanks Sunil, I made a small modification to the algorithm to provide the best experience:

1. On startup, the Popular tokens are added to a watch list. They are all disabled unless they have a balance, in which case they are shown.
2. If the user changes the visibility of any token, this takes priority over anything else.

Bascially: if the wallet sees a token balance for a popular token, it will

[2020-09-16 08:32] tomekalphawallet commented on #1600
I think the QR code should not be there.

The top right corner should be a place where we have a question mark. It can trigger a modal window. And it does not necessarily have to be there. If a token issuer don't have any content, it can be hidden.

<img width="1989" alt="Screenshot 2020-09-16 at 10 16 24" src="https://user-images.githubusercontent.com/51817359/93312697-cf06a480-f807-11ea-955e-635

[2020-09-16 08:45] tomekalphawallet commented on #1600
You can combine Signature Details and Smart Contract Address in the same modal
<img width="476" alt="Screenshot 2020-09-16 at 10 45 03" src="https://user-images.githubusercontent.com/51817359/93314141-aed7e500-f809-11ea-81ca-4edf041e95f7.png">

[2020-09-16 08:48] AW-STJ commented on #1570
I am happy with this approach.

[2020-09-16 08:54] tomekalphawallet opened #1607 "Move Generate Payment Request feature"
You can move Generate Payment Request feature to the bottom menu. Right now it's very hard to find.

<img width="939" alt="Screenshot 2020-09-16 at 10 47 08" src="https://user-images.githubusercontent.com/51817359/93315157-fe6ae080-f80a-11ea-8538-3f9f7fd8a057.png">

[2020-09-16 10:25] colourful-land commented on #1594
Yes, this turns out to be a duplicate of #1593 as they share a root cause.

[2020-09-16 10:25] #1594 closed

[2020-09-16 10:28] colourful-land commented on #1593
Called up @James-Sangalli he explained that it shouldn't resolve to API Gateway or lambda because it is a Spring service.

I provided a lambda implementation and a demonstraction to call it from Android & assigned it to someone (don't remember Sangalli or Zaki) earlier to make mobile apps directly call lambda - wasn't aware this hasn't been implemented for about a year, so the service is still wit

[2020-09-16 10:28] #1593 closed

[2020-09-16 10:31] colourful-land commented on #1594
A plausible explanation of this is that the ELB balancer had 2 IP addresses, and they changed one. I (unaware of the root cause of the problem) removed it and leaving it with a working IP address, until they changed it too. As explained in #1593, the correct way to do it is to link the domain aw.app to the ELB balancer INSTEAD OF the IP addresses of the balancer.

[2020-09-17 05:59] #1570 closed

[2020-09-17 07:59] colourful-land opened #1609 "Transaction displayed as "rejected" when it wasn't (and later succeeded)"
Transaction:

https://etherscan.io/tx/0x8ec19f85102e66868af3b3e70a83248b3f14d91de3f9d54d890a5a23e2f7bf17

The transaction has 0.5ETH gas ($189.86). It was still pending in 52 minutes **(became successful @ 1hour)** but αW Android shows it as rejected.

![imagen](https://user-images.githubusercontent.com/548435/93436991-d6fd3c00-f90e-11ea-8005-011fe685421f.png)

| However, it is displayed as reject

[2020-09-17 12:18] JamesSmartCell commented on #1607
Which version of AW is this? Is the Moonpay version that was copied onto the testing forum? AFAIK the code hasn't been committed. If it's on the Moonpay branch then I'll re-assign it to Justin.

[2020-09-17 12:20] JamesSmartCell commented on #1600
FYI I think the contract diamond is only displayed on debug builds. It's an incredibly useful debugging tool.

If it's appearing in release build I'll remove it so it only appears on debug build. Are you seeing this on the play store version?

[2020-09-17 12:24] JamesSmartCell commented on #1564
@ChintanRathod this should be supported by an addition to the FunctionButtonBar class. You might have to make a helper class which handles detecting if it's needed, as we might need to re-use elsewhere (and don't want to make the FunctionButtonBar too much more complicated).

[2020-09-17 12:25] JamesSmartCell commented on #1551
complete

[2020-09-17 12:25] #1551 closed

[2020-09-17 12:27] JamesSmartCell commented on #1597
Should be simple to add it into the menu. It shouldn't do any harm there.

[2020-09-17 12:28] #1539 closed

[2020-09-17 12:28] #1513 closed

[2020-09-17 12:30] JamesSmartCell commented on #1515
@colourful-land Please test once more. It should be working now, close the issue if all good or bump it otherwise.

[2020-09-17 14:23] colourful-land commented on #1600
Yes it is in the playstore version, but even a user should have a way to find out the current contract information (like address) so that he can do things like comparing and finding out if the token he has is a fake one (happens so frequently these days) by comparing that with the official information.

[2020-09-17 14:33] colourful-land commented on #1600
Hi @ChintanRathod :

Don't let all the previous discussion distract you. What you need to do is the following:

-----

1. Make sure there is a question mark icon once the user clicks a token in the Wallet Tab and opens it. There are 2 scenarios to deal with: the situation that the user clicks a ERC20 token like DAI, where the user sees the Token Card; the situation that the user clicks a NFT token

[2020-09-18 00:34] AW-STJ commented on #1588
@JamesSmartCell really like how the tokens load for imported wallets. Good one.

[2020-09-18 01:08] AW-STJ opened #1611 "Set browser default page to http://alphawallet.com/browser/"
Let us use http://alphawallet.com/browser/  as the default page. No other changes to the browser functionality.

[2020-09-18 11:58] ChintanRathod commented on #1532
@JamesSmartCell we did this flavoring in #1591 issue. This issue can be closed.

[2020-09-18 13:33] tomekalphawallet commented on #1611
#1595

[2020-09-18 14:21] #1611 closed

[2020-09-19 00:59] #1597 closed

[2020-09-19 03:41] JamesSmartCell commented on #1607
@justindg is this from the payment request branch you're working on?

[2020-09-20 06:22] James-Sangalli commented on #1587
No, only enable.

[2020-09-22 06:51] #825 closed

[2020-09-22 06:52] #1086 closed

[2020-09-22 06:57] #972 closed

[2020-09-22 06:57] #971 closed

[2020-09-22 06:57] #830 closed

[2020-09-22 06:57] #1487 closed

[2020-09-22 08:22] #1521 closed

[2020-09-22 11:47] colourfreak opened #1614 "Actionsheet-style confirmation for "normal" transactions"
https://github.com/AlphaWallet/alpha-wallet-ios/issues/1689

Zeplin (Actionsheet):
https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/dashboard?seid=5e26177ed75ccd2bb83399a6

Zeplin (Send ETH flow):
https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/dashboard?seid=5e2ac0cdc4fc3356a32e1542

Zeplin (Send NFT flow):
https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/dashboard?seid=5e0efdf

[2020-09-22 12:17] tomekalphawallet commented on #1600
![Zrzut ekranu 2020-09-22 o 14 13 44](https://user-images.githubusercontent.com/51817359/93880496-dd5c3100-fcdd-11ea-9a2d-f909cd455475.png)

So we have a question mark and the lock icons - depending on the context described by Weiwu.

https://zpl.io/2GLGPEY
https://zpl.io/a3L1rv1

[2020-09-23 11:24] AW-STJ opened #1615 "[QW-126] b) Check forgot password functionality. No email is sent to user."
The issue was reported in iOS, but looks like Android is also having same issue.

Can you investigate whether the error is from our side or not. I would imagine that the emails should be sent through Bartercard's web service. Let me know how it is implemented.

https://github.com/AlphaWallet/bartercard-ios/issues/259

[2020-09-23 14:42] ChintanRathod commented on #1615
@AW-STJ I cross check with the current implementation. It is working perfectly in Android. Below is the mail I received.

![image](https://user-images.githubusercontent.com/4371780/94027957-0c0b0200-fdd9-11ea-8f9f-2e6515b89048.png)

[2020-09-24 01:43] JamesSmartCell commented on #1615
@AW-STJ  Wrong repo

[2020-09-24 01:46] JamesSmartCell opened #1616 "Crash in Key Unlock/BiometricPrompt"
[code]

Not sure what is causing this. Could be that the prompt is missing a setup param?

The above is all the data about the crash I have. Since it's an issue with key usage I'm bumping the priority.

[2020-09-25 07:27] ChintanRathod commented on #1616
@JamesSmartCell Let me check the issue.

[2020-09-25 09:53] colourfreak opened #1617 "Update Empty states"
Activity:
https://app.zeplin.io/project/5d088205bff2d15de6a4397b/screen/5f6dbc209ba74545a333e861/

WalletConnect:
https://app.zeplin.io/project/5d088205bff2d15de6a4397b/screen/5f6dbc21a0176d4d73227c76/

<img width="1493" alt="Screenshot 2020-09-25 at 11 42 53" src="https://user-images.githubusercontent.com/51817359/94253423-9a8c9a00-ff25-11ea-9958-2632e92af7e3.png">

[2020-09-27 13:07] jackorjorn opened #1618 "How to get Ethereum private key?"
I want to get the private key after the wallet is established, thank you!

[2020-09-28 02:41] AW-STJ opened #1619 "Address not fully populated in 'My Address' screen"
Last digit for the address is not populated. In the blow example, the last digit is '2' and that looks truncated. The QR code is populated accurately.

![image](https://user-images.githubusercontent.com/61957841/94385173-c5762880-0187-11eb-9caf-807325bb6208.png)

[2020-09-28 02:51] AW-STJ commented on #1618
Hey @jackorjorn, we don't expose private keys to users currently. We will work on this as a feature for one of our upcoming releases.

@colourfreak: one feature for our backlog.

[2020-09-28 13:06] seamon opened #1620 "please add for.tube into AlplaWallet"
thanks for your great product AlphaWallet !

would you please add `https://for.tube` to the DApp recommendations on AlphaWallet?

and here are the fTokens:

[code]

the decimal of every fToken is `18`

thank you so much !

[2020-09-29 00:26] AW-STJ opened #1621 "Browser becomes unresponsive"
This is a issue that is hard to replicate. But the browser gets a dark overlay and becomes unresponsive.

Normally happens when switching between multiple websites. Here is a screen recording of how it starts to happen.

Screen Recoding: https://drive.google.com/file/d/1-lfu6OVH4gggEYamKpACkk0xkidX-N9Q/view?usp=sharing

Build: 3.20.2(130)

[2020-10-01 01:43] AW-STJ opened #1622 "Facial ID not working for Samsung Devices"
From my chat with @colourful-land, looks like the facial ID for signing transactions does not work on Samsung devices.

@JamesSmartCell Would you be able to add any details relevant to the issue?

[2020-10-01 03:22] AW-STJ opened #1623 "Make sure that the app shows notification, when tokens are received"
Not sure whether this is a bug or a feature to be added.

However, seems like the notification is not working on Android. I get notifications from other apps when I receive tokens.

@JamesSmartCell - can you tell me whether this is a bug or a new feature?

[2020-10-03 23:56] James-Sangalli opened #1624 "Support wallet names"
like so https://github.com/AlphaWallet/alpha-wallet-ios/pull/2178

[2020-10-05 04:51] wolfenix opened #1625 "How to change the default link of Dapp Browser?"
Hi, I want to change the default url of the browser tab to my website, how should i do it, Which java file should i edit, I'm kinda noob :).

[2020-10-05 05:10] wolfenix opened #1626 "How to add my token in code?"
Hi, I need to add my own ERC20 token by default in the code so whenever somebody installs the app, the token will show below the ethereum already added.

plz tell me the way.

[2020-10-05 06:37] wolfenix opened #1627 "How do i Change the Links to support handles?"
Hi, I can't find any option to change the links of facebook, telegram etc in ..settings/support section, plz help.

[2020-10-05 07:27] wolfenix commented on #1627
Found It!

[2020-10-05 07:27] #1627 closed

[2020-10-06 02:43] AW-STJ opened #1628 "Activity in Android is not showing complete and accurate information"
I did a Uniswap transaction swapping UNI for ETH, which went through without a glitch in the browser.

But after the transaction, the activity tab shows 'Sent 0 ETH' which is wrong. Also found out that the previous 4 Uniswap transactions were also wrong in Android
![image](https://user-images.githubusercontent.com/61957841/95152798-9e4bd680-07d9-11eb-94da-fe0e53f5cf82.png)

After investigating the

[2020-10-06 05:17] JamesSmartCell commented on #1624
Could you clarify if this is or is not for main AlphaWallet?

This feature was implemented in Android but was explicitly removed by a UX update from @colourfreak in Zeplin , and also was consistently opposed by @hboon previously.

[2020-10-06 05:20] JamesSmartCell commented on #1622
I have entered a patch which should resolve this urgent issue.

[2020-10-07 06:40] colourfreak commented on #1614
https://drive.google.com/file/d/13IkzRDFKmAggE3HnNILOu-v_ar-iLPB_/view?usp=sharing

[2020-10-11 00:50] colourful-land commented on #1628
I have a share in this problem. In the meanwhile, please replace the mysterious transaction's icon. I would simply put a blank icon there (that is it look like there is no icon) or just a circle until @colourfreak has a correct design. Currently, these transactions with a cross look ike they are failed transactions (unless they actually are reverted / threw by the smart contract, in that case igno

[2020-10-11 02:46] AW-STJ commented on #1628
Mean while more users are reporting the issue. @colourful-land Does this issue need TokenScript work?

[2020-10-11 03:41] hboon commented on #1628
There 2 separate things the screenshots are illustrating here:

A. The swap and how it’s displayed (transaction on the 6th, aka “today”)
B. The 4 transactions on the 5th, 3 failed, 1 successful

B is a bug in iOS, it’s fixed in https://github.com/AlphaWallet/alpha-wallet-ios/issues/2201

Other than cosmetic preferences, it’s displayed correctly on Android.

This issue should be about A: Looks like

[2020-10-11 03:45] hboon commented on #1628
I have moved Sunil’s issue about this (I forgot from which repo) to https://github.com/AlphaWallet/TokenScript/issues/392 where we can focus on how we can support it with TokenScript.

Without that support, what we can do is at least to display 2 separate activities, sending Uni, and receiving ETH.

[2020-10-11 04:36] colourful-land opened #1636 "general dependency upgrade"
αW started 2 years ago, many libraries have since upgraded. Noticeably:

- com.android.tools.build:gradle is now 4.x.x
- gradle version is 5.x.x
- Android SDK Build Tools is now 30.x.x
- We used NDK 21.0.x - currently it's 21.3.x
- some of the build.gradle content isn't compatible with the upcoming gradle-7
- some build.gradle options, AndroidManifest might be deprecated.
- Amazon Mobile SDK is no

[2020-10-11 05:07] JamesSmartCell commented on #1636
Closing for now as this isn't the correct way to handle this.

Work is in progress to upgrade the wallet to the AndroidX libraries which this issue is in conflict with. Once this upgrade takes place we can re-consider this issue.

[2020-10-11 05:07] #1636 closed

[2020-10-11 05:12] JamesSmartCell commented on #1628
This can be solved in the short term by adding new functions into the transaction decoder as per ERC721 and ERC875 transactions. Refer to our Magiclink 'trade' decode which shows the transfer of ETH funds and also the relevant transfer of tokens, similar to the Zerion screen.

However the long term solution would be to expand the native layout we're designing in tokenscript, so @hboon's suggestion

[2020-10-11 05:14] JamesSmartCell commented on #1624
Requires clarification from @James-Sangalli . Could you link to the Zeplin page which shows how to implement this feature? It was previously in the design but was explicitly removed.

[2020-10-11 05:15] JamesSmartCell commented on #1623
Correct, notification has not been implemented yet.

[2020-10-11 12:30] JamesSmartCell commented on #1621
Thanks for reporting, got it fixed.

[2020-10-11 12:30] #1621 closed

[2020-10-11 12:31] #1619 closed

[2020-10-11 22:47] colourful-land commented on #1628
Just to let you know I'm on this issue.

[2020-10-12 01:23] James-Sangalli commented on #1624
Dropping as per Tomek's design

[2020-10-12 01:23] #1624 closed

[2020-10-12 09:41] colourfreak opened #1639 "Do not open url input field by default in the Browser"
When I am switching tabs (Wallet-Browser) then the URL input field is active by default (with the keyboard). It should not be active by default.

![browser-active-url-input](https://user-images.githubusercontent.com/51817359/95731419-cc209780-0c7f-11eb-8b5c-6862105162e6.gif)

[2020-10-12 09:54] colourful-land opened #1640 "TitanSwap takes forever to load"
1. Go to https://titanswap.org/#/
2. Click "Exchange Now"
3. There is a hourglas thing that goes on forever

expected:

3. You get to see a list of tokens for exchange, such as ETH, USDT

[2020-10-13 00:50] #1609 closed

[2020-10-13 03:33] hboon opened #1641 "Add CoFi token icon"
0x1a23a6BfBAdB59fa563008c0fB7cf96dfCF34Ea1

https://app.zeplin.io/styleguide/5e0b15e46049c216fb7ab4d5/components?coid=5f7f16cde4c19b1204906859

[2020-10-15 11:26] colourfreak opened #1642 "Update ETH Symbol"
https://zpl.io/bzrO0JM

[2020-10-16 03:56] AW-STJ opened #1643 "Receive transactions not listed for some ERC20 tokens on xDAI network"
Found the issue on Coin Wallet. The receive transactions are not being displayed for Ag, Bite, SOAP etc. The sent transactions are captured correctly.

Wallet: 0x11d89558a328ff0573c37ae58abdb57202439ccb

![image](https://user-images.githubusercontent.com/61957841/96211305-b385e980-0fbf-11eb-884a-ae625aa750b3.png)

[2020-10-16 04:40] mercuzzi commented on #1626
i am also interested in this, let me know if you make any progess

[2020-10-19 06:11] JamesSmartCell commented on #1616
Resolved by pulling the Biometric code out for now - mainly due to Samsung placing restrictions on how biometric unlock event works differently using fingerprint vs face-unlock.

[2020-10-19 06:11] #1616 closed

[2020-10-19 06:12] #1622 closed

[2020-10-19 06:15] JamesSmartCell commented on #1639
This should be fixed in the latest release on play store. Can you try it?

[2020-10-20 06:33] colourfreak opened #1645 "Update Xtoken and Cofi tokens"
Xtoken:
https://zpl.io/25Lk44e

Cofi:
https://zpl.io/anxl33Q

[2020-10-20 12:07] AW-STJ opened #1647 "Android X Upgrade Testing Results"
1.  FaceID available in Samsung and causes key import error
![image](https://user-images.githubusercontent.com/61957841/96582898-a7838a00-1327-11eb-94b5-e717424f4d7a.png)

2. 'Wallet Address QR Code' not working
![image](https://user-images.githubusercontent.com/61957841/96582969-c255fe80-1327-11eb-9ddd-12c77faf3ad2.png)

3. Wallet address font colour is white
![image](https://user-images.githubus

[2020-10-22 02:03] AW-STJ opened #1650 "Checklist for 30th October"
Can we list out our key focuses for this fortnight?

[2020-10-25 22:59] JamesSmartCell commented on #1647
Most of these are already fixed in the outstanding PR's. If they are still not approved I'll use supervisor push during the week, as we need them in the main branch for testing.

[2020-10-25 23:01] JamesSmartCell commented on #1650
- [ ] All cosmetic fix PRs from AndroidX upgrade merged.
- [ ] Token receive functionality for ERC20 and ERC721
- [ ] Full generic ERC20 activity support.

[2020-10-26 04:31] AW-STJ opened #1651 "MixPanel Integration - Add more events to track"
I have created a list of events that we should start monitoring.

As a start, James would you be able to review the events and share your thinking?
https://docs.google.com/spreadsheets/d/1CqhJYMidzEKqlgDCpGpRu5X6ke8h4qhvE3DG8ZjWCZc/edit#gid=0

[2020-10-28 09:12] colourfreak commented on #1620
Do you want me to add this? @JamesSmartCell

[2020-10-31 06:49] AW-STJ commented on #1647
Fixed in 3.21.0 (132)

Still open

Fixed in 3.21.0 (132)

Fixed in 3.21.0 (132)

Fixed in 3.21.0 (132)

Fixed in 3.21.0 (132)

Fixed in 3.21.0 (132)

[2020-10-31 08:57] AW-STJ opened #1659 "Show recent transactions, after first install"
Need to populate the recent transactions fields, after the wallet is imported. Right now only the transactions initiated after importing or creating the wallet is displayed there.

![Screenshot_20201031-195316_AlphaWallet.jpg](https://user-images.githubusercontent.com/61957841/97775232-38255a00-1bb3-11eb-8c23-1af40adc7954.jpg)

The wallet has transactions on this token.

[2020-10-31 20:56] AW-STJ commented on #1659
@colourfreak - need your guidance here. What should be shown under recent transactions? Once we confirm the thinking will align both Android and iOS to that.

[2020-11-01 06:29] colourfreak commented on #1659
https://github.com/AlphaWallet/alpha-wallet-ios/issues/2157

[2020-11-01 06:32] colourfreak commented on #1659
This can be a blank canvas even but we need to make this change first.

https://github.com/AlphaWallet/alpha-wallet-android/issues/1237

[2020-11-02 05:43] JamesSmartCell commented on #1659
Yes there is an issue here - I need to revisit the filter

[2020-11-02 23:05] JamesSmartCell commented on #1625
Hi @wolfenix sorry about not answering you!

I hope you already worked it out, but the default website is on the setting 'DEFAULT_HOMEPAGE' in class EthereumNetworkBase.

If you do a wallet build, the most important thing is to add your own Infura key in the build.gradle file, look for this string:

DEFAULT_INFURA_API_KEY

the API key we bundle in the repo is a 'throwaway' key that's used by anyon

[2020-11-02 23:12] JamesSmartCell commented on #1626
Hi @wolfenix and @mercuzzi . It's very easy to add your tokens. Look up this file:

known_contracts.json

In the app/assets directory.

Simply add your token following the convention in the file like this:

```{"address": "0x1234567879124565384752389aBcDeF000", "name": "MYTOK",   "isPopular": true, "network": 1},```

Note that if you want to have a funky icon for your token you should submit a PR

[2020-11-02 23:14] JamesSmartCell commented on #1641
@hboon I'll add it into our global icon repo so it can be picked up procedurally rather than needing to add it into the bundle.

https://github.com/AlphaWallet/iconassets

[2020-11-02 23:17] JamesSmartCell commented on #1651
I would abstract some of these (like eg an event for pressing a button), but agree that it's a good place to start some more detailed analysis.

We just need to ensure there's no way to match accounts or values to data we receive.

[2020-11-03 00:56] colourful-land opened #1661 "USDT is not in the popular token list?"
|  USDT is not in the popular token list | and takes a very long time to show up in the wallet. |
|---|---|
| ![imagen](https://user-images.githubusercontent.com/548435/97935062-9e84c500-1dcb-11eb-8817-78c46e6a705f.png)  |   |

[2020-11-03 03:58] AW-STJ commented on #1661
One for you when you have some time.

Add USDT to the tokenlist of popular tokens. Contract address: 0xdac17f958d2ee523a2206206994597c13d831ec7

For more information https://www.coingecko.com/en/coins/tether

[2020-11-03 05:58] AW-STJ commented on #1650
All issues tested and works in the 3.12.0(132)

[2020-11-03 05:58] #1650 closed

[2020-11-03 06:00] AW-STJ opened #1662 "Scope for 13 Nov 2020"
Can we create a checklist of items that would be developed for the next internal build?

[2020-11-03 18:31] mercuzzi commented on #1626
hi James, yes I figured it out thank you sir.

I've gotten my version of it released on the Google Play Store as Pureon Wallet. When a user exchanges for the PUR token it will add my custom ERC-20.

https://play.google.com/store/apps/details?id=com.pureon.pur_wallet
Note: Pictures are from old application

How would I implement the changes you guys are making since ive forked it?

Cheers!

[2020-11-04 03:58] #708 closed

[2020-11-04 03:58] James-Sangalli commented on #718
Tested with later builds on emu, problem is gone

[2020-11-04 03:58] #718 closed

[2020-11-04 03:59] James-Sangalli commented on #772
Dropped

[2020-11-04 03:59] #772 closed

[2020-11-04 03:59] James-Sangalli commented on #982
No longer relevant

[2020-11-04 03:59] #982 closed

[2020-11-04 04:00] James-Sangalli commented on #1070
this is no longer an issue

[2020-11-04 04:00] #1070 closed

[2020-11-04 04:01] #1079 closed

[2020-11-04 04:02] James-Sangalli commented on #639
Site is gone now

[2020-11-04 04:02] #639 closed

[2020-11-04 04:04] AW-STJ commented on #1662
A list of issues that can be considered:

- [ ] https://github.com/AlphaWallet/alpha-wallet-android/issues/1237

- [ ] https://github.com/AlphaWallet/alpha-wallet-android/issues/1659

- [ ] https://github.com/AlphaWallet/alpha-wallet-android/issues/1642

- [ ] https://github.com/AlphaWallet/alpha-wallet-android/issues/1617

[2020-11-04 06:43] AW-STJ opened #1665 "Allow to name wallets"
We have implemented the same functionality for Qoin. Let us get that into AlphaWallet as well.

[2020-11-04 23:42] abbluiz commented on #1573
+1 submit on F-Droid

@jecogeo

[2020-11-06 10:05] #1587 closed

[2020-11-09 01:19] AW-STJ opened #1667 "Calculate gas correctly for Dapps, when the specified gas is 0"
Discovered while using NestDapp.io.

The
![image](https://user-images.githubusercontent.com/61957841/98490508-cd94ae00-2285-11eb-9363-efa78992f70c.png)

[2020-11-10 06:52] JamesSmartCell commented on #1665
Note that most of the code is in place (as we used to support it) but the names showing were removed for the Fiji upgrade.

Check with @colourfreak the status of this before starting on it.

[2020-11-10 07:00] ChintanRathod commented on #1665
@JamesSmartCell OK. I will coordinate with him.

[2020-11-10 07:17] colourfreak commented on #1665
@AW-STJ I don't have access to Qoin. It requires login etc.

[2020-11-10 08:06] AW-STJ commented on #1665
Will connect over Telegram to share the builds and access

[2020-11-10 08:10] AW-STJ commented on #1662
Any updates @JamesSmartCell

[2020-11-10 08:33] colourfreak commented on #1665
<img width="1281" alt="Screenshot 2020-11-10 at 09 32 27" src="https://user-images.githubusercontent.com/51817359/98649232-a7c7e180-2337-11eb-88cb-175c994ec3e4.png">

https://zpl.io/b6qDOJy
https://zpl.io/aNrDdEe
https://zpl.io/awv69n1

[2020-11-10 11:23] ChintanRathod commented on #1665
@colourfreak 1 design is pending where list of Wallets are displayed. Could you also provide the same.

![image](https://user-images.githubusercontent.com/4371780/98667962-2d1db700-2375-11eb-9b39-30c554ad62a3.png)

[2020-11-10 12:21] ChintanRathod commented on #1665
@AW-STJ

What to priotarize like there is also a ENS name which is auto populated if found, so it will clash with Wallet name.

[2020-11-11 06:01] JamesSmartCell commented on #1665
Hi @colourfreak this is main AW not Qoin, which already has this ability.

With Fiji, we removed the ability to name wallets. I believe @AW-STJ has a requirement that people have contacted him wanting to re-add this ability.

I don't know which is best, just being able to edit the ENS name with a custom one, or a drop-down style selection menu or ENS taking priority. I am thinking this confusion i

[2020-11-11 06:12] JamesSmartCell commented on #1661
USDT is in the popular list:

{"address": "0xdAC17F958D2ee523a2206206994597C13D831ec7", "name": "USDT",   "isPopular": true, "network": 1},

Somehow it's been added twice which is a bug: line 12 and line 77.

This issue is actually in the filter and is baked in with the implementation method.

Currently the implementation is that we smoothly discover the tokens when the wallet is created, sequenti

[2020-11-11 06:20] zhangzhongnan928 opened #1669 "Change the “Exchange with Uniswap” button to 1inch"
https://github.com/AlphaWallet/alpha-wallet-ios/issues/2265

[2020-11-11 06:27] ChintanRathod commented on #1665
@JamesSmartCell Ok Got the point. As discussed, I am holding the work on this ticket as of now.

[2020-11-11 06:49] zhangzhongnan928 commented on #1669
https://github.com/AlphaWallet/alpha-wallet-ios/issues/2265#issuecomment-725226630

[2020-11-11 08:17] colourfreak commented on #1665
Update: Add an additional item in the Settings tab. This just a local name. You can choose your own, disregarding the ENS name set for this wallet.

<img width="924" alt="Screenshot 2020-11-11 at 09 04 02" src="https://user-images.githubusercontent.com/51817359/98786325-3d2da900-23fe-11eb-8dd2-7bcfd979ff0e.png">

[2020-11-11 08:21] colourfreak commented on #1665
https://zpl.io/VY7JKYk
https://zpl.io/V48oWBX
https://zpl.io/29rnWDd
https://zpl.io/V0Kp3QR

[2020-11-11 10:59] JamesSmartCell commented on #1665
Thanks for the update.

The other thing that would be good is to be able to swap ENS names for a wallet. Some ppl have multiple ENS names for the same wallet, would be good to be able to type a different one in and get that. However, it's very low priority. In fact you could achieve that with your mod although it's not technically checking the ENS.

I guess you could tie these wallet names to the

[2020-11-12 04:01] lucky1024 opened #1670 "Is there a plan to support BTC asset?"
Why this great wallet don't support BTC asset?

[2020-11-12 04:45] AW-STJ commented on #1670
Hey Lucky, we did not implement the support yet because we were focused on providing more support for Ethereum based networks.

We are considering implementing them soon.

If you are on Telegram, we would love to talk to you to understand your requirements. Please reach out to us at https://t.me/AlphaWalletSupport, as we don't dm first to prevent scamming under our name.

[2020-11-16 22:40] JamesSmartCell opened #1672 "Add AddressBook to InputAddress component"
The AddressBook enhancement needs to be added to the InputAddress component:

https://app.zeplin.io/project/5d088205bff2d15de6a4397b/screen/5e21a0f6af7b8d2e33cfad76

Here's the AddressBook screen detail:

https://app.zeplin.io/project/5d088205bff2d15de6a4397b/dashboard?q=address

Ideally the AddressBook Activity is hooked to the InputAddress component, so by dropping in the InputAddress component

[2020-11-16 23:27] JamesSmartCell commented on #1665
@ChintanRathod please resume work, but move to the Component Upgrade branch. I added details to the existing PR outlining how to cope with ENS names vs user wallet names, and only allowing names that don't appear to be valid ENS names.

[2020-11-17 00:00] JamesSmartCell commented on #1667
@AW-STJ unable to reproduce. With 0 gas limit the app correctly adjusts to calculate the exact gas limit.

Can you show exactly how to reproduce this or verify if the problem no longer exists/was seen in a very old build.

[2020-11-17 03:18] JamesSmartCell commented on #1665
@ChintanRathod One further point. After consideration for complexity - in the wallet class can you remove the 'name' member and rename 'ENSname' to 'name'. This way, it should make operation a bit more clear. Can you also clear the field from the relevant Realm entity and add the migration.

[2020-11-17 03:19] AW-STJ commented on #1662
No build for 13 Nov. Next will be for 27 Nov

[2020-11-17 03:19] #1662 closed

[2020-11-17 03:21] AW-STJ opened #1673 "Scope for 27 Nov"
Can we create a checklist of items that would be developed for the next internal build?

[2020-11-17 03:21] AW-STJ commented on #1673
A list of issues that can be considered are

 #1237

 #1659

 #1642

 #1617

[2020-11-17 04:56] hboon opened #1674 "Track events for Actionsheet for transaction confirmation"
Logged as this on iOS:

[code]

[2020-11-23 04:27] AW-STJ commented on #1673
@JamesSmartCell - any updates on which ones we are targeting for this week's release?

[2020-11-23 23:20] AW-STJ opened #1675 "Incorrect Balance for some tokens"
Seems like a caching issue, as the users are reporting incorrect balances after they have received tokens. Mainly on xDAI network but also have instances where it was reported for mainnet.

The other tokens reported are:
Aave on main-net
[HNY](https://blockscout.com/poa/xdai/tokens/0x71850b7E9Ee3f13Ab46d67167341E4bDc905Eef9/token-transfers) on xDAI network
[LINK](https://blockscout.com/poa/xdai/ad

[2020-11-25 10:15] JamesSmartCell commented on #1673
Here is the list of upgrades/fixes:

1. Improve UI for Send Eth / Send Token.
2. Overhaul all uses of Address input to new Zeplin spec.
3. Actionsheet integration for Send ETH and Tokens.

Potentially:

- improve filtering for recent transactions to show better results.
- fix for xdai update, or indicate stale balance if issue is on node side.

[2020-11-25 10:17] AW-STJ commented on #1673
Thanks James. The resolution for MixPanel should be a priority as well. Any chance of resolving it in this build?

[2020-11-26 05:49] colourful-land opened #1677 "[research] activity showed differently between metamask, αW and Etherscan"
| MetaMask  | αW  |
|---|---|
|  ![imagen](https://user-images.githubusercontent.com/548435/100312627-f0a1ba80-3006-11eb-845c-351fe08a8a4f.png) |
![Screenshot_20201126-164450](https://user-images.githubusercontent.com/548435/100312814-5f7f1380-3007-11eb-8e2d-6ed7d949687c.png)|

[2020-11-27 22:50] AW-STJ commented on #1675
More user complaints on this issue. Need to resolve it as soon as possible for our users who is patient with us.

The new token reported with the issue:
[BZRX](https://www.coingecko.com/en/coins/bzx-protocol)

[2020-11-27 22:57] AW-STJ commented on #1667
The issue still exists. Best way to see this is to claim the dividends from nestdapp.io.

The recording from today: https://drive.google.com/file/d/1cowQSZUP8B5ABlHA8028DKydW9i2QxZo/view?usp=sharing

[2020-11-30 04:38] AW-STJ opened #1678 "Scope for 11 December"
As usaual, @JamesSmartCell a list of issues that you will be focusing on would be great. Can you confirm the items for the next fortnight? Some items for consideration are below:

#1614: Actionsheet style confirmation (if anything pending)

#1237: Update ERC20/ETH Default token view

#1659: Show recent transactions for each tokens

#1642: Update ETH symbol

#1617: Update Empty States

[2020-11-30 04:40] AW-STJ commented on #1675
@James-Sangalli the steps to reproduce this will be to:
- Import a wallet with any of these tokens, the balances would be correct
- Send some additional tokens to the wallet. The new balance will not be reflected on the wallet

[2020-11-30 05:16] JamesSmartCell commented on #1677
@colourful-land it would be quicker if you just submit a PR with this fix. The strings are all in the resource file.

[2020-11-30 05:19] JamesSmartCell commented on #1667
Still unable to reproduce - all zero gas transactions have their gas calculated correctly. This may need some disgnostics to be added to the app, since there is no reproducible.

[2020-11-30 05:20] JamesSmartCell commented on #1647
@AW-STJ can this be closed now? All the above points are fixed, please check the latest build.

[2020-11-30 05:21] AW-STJ commented on #1667
Reproducible on NestDapp.io. But will have to wait till the next cycle to start on Friday.

Can do it with a debug build to get the logs if needed.

[2020-11-30 05:31] JamesSmartCell commented on #1645
Best to submit a PR to the repo that we draw these icons from:

https://github.com/trustwallet/assets/tree/master/blockchains/ethereum/assets

This will fix both iOS and Android in one go (assuming that iOS followed the same spec we laid down).

[2020-11-30 06:06] JamesSmartCell commented on #1643
Hey @James-Sangalli unless you're really keen on fixing this I can see the best solution is a small refactor in TokensService:

- Remove tokenUpdateList and replace with database listener.

1. Remove tokenUpdateList.
2. Add database token listener which picks up all tokens with positive balance.
3. Order list by last updated.
4. Re-order list based on priority.
5. Check token/eth.

This removes th

[2020-12-01 06:49] colourfreak opened #1680 "Backup warning in off the canvas"
![2020-12-01 07 40 20](https://user-images.githubusercontent.com/51817359/100706651-a7a48a00-33a9-11eb-8173-87a949bc86a6.jpg)

I suggest to kick it out.

[2020-12-01 08:36] colourfreak commented on #1639
No, this is not done. And this is causing another problem like a keyboard in the wallet tab if you switch tabs too fast.
![2020-12-01 08 57 59](https://user-images.githubusercontent.com/51817359/100716125-8e570a00-33b8-11eb-9afb-4e2db07347f8.jpg)

[2020-12-01 08:38] #1595 closed

[2020-12-01 08:39] #1290 closed

[2020-12-01 08:39] #970 closed

[2020-12-01 09:04] colourfreak opened #1681 "Improve Recipient input field"
The Recipient input should be lower. And the empty state looks different.
1) Move this down by eight points.
![2020-12-01 09 55 10](https://user-images.githubusercontent.com/51817359/100718205-57362800-33bb-11eb-8525-28f56c1e3bd9.jpg)

2) Improve how it works. As far I know this is a native android behavior.

So by default you have:
<img width="417" alt="Screenshot 2020-12-01 at 09 56 05" src="htt

[2020-12-01 09:16] colourfreak opened #1682 "Improve Amount input field"
You have all components here:
https://zpl.io/bJr5dgx
https://zpl.io/2pA7BKy

1) So make sure the spacing from the top to the token symbol is right.

<img width="998" alt="Screenshot 2020-12-01 at 10 08 48" src="https://user-images.githubusercontent.com/51817359/100719678-3d95e000-33bd-11eb-90bc-011056353713.png">

2) Please stick to the right spacing, sizes, colors, fonts. You have it all in the Z

[2020-12-01 09:20] colourfreak opened #1683 "Improve Activity design"
First, take a look at how great it looks on iOS. We need to align the design with Zeplin design:
https://zpl.io/VDevWP3

Component:
https://zpl.io/V0BRJMx
https://zpl.io/257YAmJ
https://zpl.io/2Gr4W59

<img width="1166" alt="Screenshot 2020-12-01 at 10 18 00" src="https://user-images.githubusercontent.com/51817359/100720590-8732fa80-33be-11eb-8dd0-fb5c9eff3676.png">

[2020-12-01 09:22] colourfreak opened #1684 "Remove USDC transactions from Ethereum coin"
![2020-12-01 10 21 36](https://user-images.githubusercontent.com/51817359/100720958-06c0c980-33bf-11eb-979f-16ace50ada61.jpg)

[2020-12-01 09:43] colourfreak opened #1685 "Improve Sending ETH ActionSheet"
1) Confirm Transaction top bar should be higher. Now this is 50, it should be 60 pt.
<img width="868" alt="Screenshot 2020-12-01 at 10 30 51" src="https://user-images.githubusercontent.com/51817359/100721936-4a680300-33c0-11eb-9a5f-5f4c22aec97e.png">

https://zpl.io/V0KlpXl

2) Make sure that if you want to expand Recipient, you can click anywhere in the cell, not only the arrow.

<img width="974"

[2020-12-01 10:00] JamesSmartCell commented on #1685
@colourfreak What do you think about the chain icon? I added it because sometimes I might have forgotten which chain I'm signing a transaction for. It's a final precaution to check before signing. Although a user could just slide the TX pane down, glimpse and slide it back up.

[2020-12-01 10:03] JamesSmartCell commented on #1683
OK I see, the elements are spaced further apart and appear the same as the TokenScript events.

[2020-12-01 10:05] JamesSmartCell commented on #1682
If I use the same spacing as Zeplin the control appears incorrect on different platforms; it doesn't look anything like in the zeplin picture.

Will update the click areas.

[2020-12-01 10:08] JamesSmartCell commented on #1681
We won't be able to do the '...' split in the input pane - I don't think that would be an acceptable practice for Android, in case the user wants to edit one of the digits that are hidden. I'll update the margins - we need to have dynamic margins on android though for different  screen dimensions.

[2020-12-01 10:09] JamesSmartCell commented on #1680
Looks like it needs to be re-done with dynamic sizing.

[2020-12-01 10:45] colourfreak opened #1686 "Improve the animation sequence after sending funds"
Currently, it stuck in the action sheet, when you can watch an animation of the spinner. It should collapse immediately after you this is sent. So

a. You enter numbers and recipient
b. You confirm in the action sheet
c. You authenticate
d. Then, the slow animation (spinner and tick/checkmark) is only to indicate that you successfully sent an order. It does not mean that the transaction succeeded.

[2020-12-01 10:48] colourfreak commented on #1681
https://material.io/components/text-fields

<img width="916" alt="Screenshot 2020-12-01 at 11 48 02" src="https://user-images.githubusercontent.com/51817359/100731015-2100a480-33cb-11eb-8b07-75e7e1a4b4fa.png">

[2020-12-01 10:53] colourfreak commented on #1682
What do you mean? I didn't get it.

[2020-12-01 10:56] colourfreak commented on #1685
Yeah, but when you are sending USDC it will be ETH symbol again. Then you might think that something is wrong. If you are sending an email, you don't care if this is TCP/IP or any other protocol.

[2020-12-01 10:57] colourfreak commented on #1685
We could inform users only if this is something else than Ethereum mainnet.

[2020-12-01 23:49] James-Sangalli opened #1687 "Phone says 'pending' on tx when it has already been confirmed"
as seen in https://github.com/AlphaWallet/alpha-wallet-android/pull/1679

[2020-12-02 00:11] #1675 closed

[2020-12-02 02:11] #1687 closed

[2020-12-03 02:07] #1274 closed

[2020-12-03 02:08] #1245 closed

[2020-12-03 02:08] #1515 closed

[2020-12-03 02:09] #1362 closed

[2020-12-03 02:09] #1507 closed

[2020-12-03 03:38] JamesSmartCell commented on #1682
I mean, if I use the actual 'dp8' it won't look anything like how it looks in the Zeplin spec. That is, unfortunately how Android works. Justin made a compatibility library that attempts to compensate for this; it's a lot better than before but still not perfect.

[2020-12-03 03:39] JamesSmartCell commented on #1682
I'll make a new build today and post it on the UI group, you can let me know if it's a lot closer to what you expect.

[2020-12-03 04:17] JamesSmartCell commented on #1685
I like this solution. Perhaps we use the colour coded text network name (eg Ropsten)  rather than symbol, as there's less chance to confuse.

[2020-12-03 06:11] JamesSmartCell commented on #1686
That mockup is really useful!

[2020-12-03 09:14] colourfreak opened #1691 "Add High/Low Fee Warnings"
1. High Fee Warning caused by a mistake

Zeplin: https://zpl.io/bLypApJ

<img width="2046" alt="Screenshot 2020-12-03 at 12 01 08" src="https://user-images.githubusercontent.com/51817359/101001691-bc2a8300-355f-11eb-8858-1633480ca7cf.png">

----

2. High Fee because the network is congested

Zeplin: https://zpl.io/VDeR0Me

<img width="1552" alt="Screenshot 2020-12-03 at 12 01 14" src="https://user

[2020-12-03 11:08] colourfreak commented on #1691
We added a gas price:

https://zpl.io/a8rBoeE

<img width="1004" alt="Screenshot 2020-12-03 at 12 08 30" src="https://user-images.githubusercontent.com/51817359/101002320-4377f680-3560-11eb-94a9-61e687267e87.png">

[2020-12-03 13:30] colourfreak commented on #1682
Zeplin is made for this. There must be a way to fully reflect what is in the design. All I need to know from you or Justin it to how to send it right to Zeplin. It has many features and options. And extensions.

https://extensions.zeplin.io/

[2020-12-06 23:58] wepobid opened #1692 "ERC20 tokens balance not Refresh after transaction"
ERC20 tokens balance not Refresh after receive transaction, first my token was 0 , add funds with metamask, transaction is ok and done in etherscan.io but in my app show 0.

[2020-12-08 19:24] wepobid commented on #1692
anyone?

[2020-12-14 21:32] JamesSmartCell commented on #1692
Hi @wepobid this should be fixed in release 3.21 which came out 7th December, same day as your issue. Can you have another look and see if it is now working?

[2020-12-14 21:34] JamesSmartCell commented on #1691
Hi @colourfreak, I'll change the layout to match this one. Previously I added it in brackets after the name

[2020-12-14 21:58] wepobid commented on #1692
thanks, I will run the new version and let you know!

[2020-12-15 07:47] colourfreak commented on #1691
cool

[2020-12-18 10:04] #1692 closed

[2020-12-18 10:04] wepobid commented on #1692
it's ok

[2020-12-19 14:00] colourfreak opened #1697 "Improve the Activity cell styles"
This is very, very close to the design. Few, minor changes need to be made and we are good.

Zeplin:
https://zpl.io/V0BRJMx

Right-Semibold-Black, #000000 17pt, Source Sans Pro
Right-Regular-Dove, #727272, 12pt, Source Sans Pro
Left-Regular-Dove, #727272, 12pt, Source Sans Pro

![2020-12-19 14 53 40](https://user-images.githubusercontent.com/51817359/102691179-ec824a80-420a-11eb-8b71-f5cbd0b20c61.

[2020-12-20 20:01] colourfreak commented on #1697
Much, much better. Just a quick alignment and we are ready.

a) The date "11:13" is in the same line as "to: 0x9F...967E". Both are Source Sans Pro, 12 pt, Dove #727272. I think this is 6sp for Android.

<img width="538" alt="Screenshot 2020-12-20 at 20 49 03" src="https://user-images.githubusercontent.com/51817359/102722976-26377c00-4305-11eb-800e-0bbd1bc480d7.png">
<img width="1038" alt="Screens

[2020-12-21 02:25] colourful-land opened #1698 "3.21.2: "Not enough balance" when there are plenty balance"
Reproduce:

1. Try to send transaction from αW Android 3.21.2 and got this error (balance insufficent)
![Screenshot_20201221-131947.png](https://user-images.githubusercontent.com/548435/102732993-35afd700-4390-11eb-80aa-375eef345270.png)

2. Sending to the same address same amount in MetaMask works perfectly:

`0xdd18e363782479803ba27e29521276e891764bd9118f98462e8b142eb91d8118`

[2020-12-26 09:53] kevinho opened #1702 "Supporting Heco"
Integration Docs Here:

https://docs.hecochain.com/#/en-us/wallet

Thanks a lot.

[Heco icon.zip](https://github.com/AlphaWallet/alpha-wallet-android/files/5742914/Heco.icon.zip)

[2021-01-13 10:06] colourfreak opened #1705 "Add all Aave V1 and V2 tokens"
Currently, we only display icons for tokens V1 (below you can see how it looks from my wallet perspective) https://etherscan.io/token/0xfC1E690f61EFd961294b3e1Ce3313fBD8aa4f85d?a=0x80cc263cb3fa1be2aec748b3811261c1e2a1ba8d

we need this for V2 too

https://etherscan.io/token/0x028171bca77440897b824ca71d1c56cac55b68a3?a=0x80cc263cb3fa1be2aec748b3811261c1e2a1ba8d

Zeplin: https://zpl.io/a7XDGKW

and

[2021-01-19 12:43] zhangzhongnan928 opened #1706 "WalletConnect issue, eth_signTypedData in https://example.walletconnect.org/ doesn't work"
eth_signTypedData in https://example.walletconnect.org/ doesn't work

[2021-01-19 12:44] zhangzhongnan928 commented on #1706
my mistake, I tested with a watch wallet

[2021-01-19 12:44] #1706 closed

[2021-01-21 03:39] hboon opened #1707 "Hardcode 'Convert xDAI' button to https://bridge.xdaichain.com/"
Refer to https://github.com/AlphaWallet/alpha-wallet-ios/issues/2473

Like what we do for swaps (https://1inch.exchange)

[2021-01-22 00:42] AW-STJ commented on #1667
The same issue happened on Gnosis safe app today, when connect to the Dapp on WalletConnect.

[2021-01-22 00:45] zhangzhongnan928 commented on #1667
I think the error msg is not clear, it is referring to the gas price 15 gwei is too low.

[2021-01-22 01:32] zhangzhongnan928 opened #1708 "Need to improve the error messages in App（both iOS and Andriod)"
Many error messages are confusing for users

For example👇
<img width="548" alt="Screen Shot 2021-01-22 at 12 29 40 pm" src="https://user-images.githubusercontent.com/33795543/105433327-824b4280-5cad-11eb-97c5-630a98d9fdf3.png">

This should be ETH instead of funds. I may have 1 million USD worth of tokens in my wallet, but with 0 ETH.

[2021-01-22 04:32] AW-STJ commented on #1667
Also the gas limit is 0 by default for these transactions

[2021-01-23 09:38] JamesSmartCell commented on #1667
Still unable to reproduce, as gas limit is always calculated correctly in every case I test when dapp specifies 0 limit.

If there is one example you can show which reproduces the issue please give clear instructions how to show it.

Assuming this issue is fixed with ActionSheet.

[2021-01-23 09:39] JamesSmartCell commented on #1708
The message is from the ethereum client. We can detect it and reinterpret.

[2021-01-23 09:41] JamesSmartCell commented on #1698
This issue looks like it's the outlandish European input spec.

[2021-01-23 10:18] JamesSmartCell commented on #1707
Got it, just use the bridge instead of the script.

[2021-01-23 11:43] hboon commented on #1707
Yeah. Remember to auto-switch to the xDai chain for the browser.

[2021-01-24 08:42] zhangzhongnan928 opened #1709 "Please add TaiChi Network"
https://github.com/Taichi-Network/docs/blob/master/sendPriveteTx_tutorial.md
Please use the RPC address in my private email <About TaiChi Network Fwd: 太极内测邀请邮件(AD)>.
and check out https://github.com/AlphaWallet/alpha-wallet-ios/issues/2489

[2021-01-28 04:04] hboon commented on #1709
Check https://github.com/AlphaWallet/alpha-wallet-ios/issues/2489 before implementing.

[2021-01-28 14:33] colourfreak opened #1711 "Improve WalletConnect flow"
WalletConnect

Invision prototype:
https://invis.io/VR1020SDDJCK#/443502490_01_WalletConnect_Wallet

----

1. Update the request to connect. It should look almost the same as Actionsheet for sending funds. So slide in from the bottom.
<img width="1816" alt="Screenshot 2021-01-28 at 14 48 33" src="https://user-images.githubusercontent.com/51817359/106152285-8f6ca380-617d-11eb-8ffe-8783100dda3b.png"

[2021-01-29 03:02] hboon commented on #1711
Not me, have to thank Vlad for that.

[2021-01-30 06:41] JamesSmartCell commented on #1698
@colourful-land  Can you check the latest build fixes this; if so please close the issue.

[2021-01-31 04:16] colourful-land commented on #1698
I'll close this first and reöpen if it happens again. Reason being I should chance upon one of such operations.

[2021-01-31 04:16] #1698 closed

[2021-01-31 23:00] JamesSmartCell commented on #1686
@colourfreak please check the latest version and close if complete.

[2021-01-31 23:01] JamesSmartCell commented on #1697
@colourfreak please check the latest version and close if complete.

[2021-01-31 23:04] JamesSmartCell commented on #1711
For Android we will have it as a notification tray foreground icon. This gives several advantages:
1. ensures the connection stays active.
2. provides Android native experience.
3. very convenient consistent place to click to provide access.
4. indicates to user that a process is active, and provides a quick way to close the connection if required.

[2021-01-31 23:05] JamesSmartCell commented on #1686
@colourfreak please check the latest version and close if complete.

[2021-01-31 23:05] JamesSmartCell commented on #1685
@colourfreak please check the latest version and close if complete.

[2021-01-31 23:05] JamesSmartCell commented on #1684
@colourfreak please check the latest version and close if complete.

[2021-01-31 23:06] JamesSmartCell commented on #1683
@colourfreak please check the latest version and close if complete.

[2021-01-31 23:06] JamesSmartCell commented on #1681
@colourfreak please check the latest version and close if complete.

[2021-02-01 09:26] colourfreak commented on #1686
a. Please update the illustration https://zpl.io/V4gOmAM
b. Can we change "Show Transaction Details" to "OK, great!" as a user, I would like to just continue "show transaction details" is not necessarily what I want. But we don't give a choice. So it will end up in the same screen, but the name on the button is more user-friendly.

[2021-02-01 09:31] colourfreak commented on #1697
"to colourfreak.eth" is not the right color - it should be #727272 and we are good.
![2021-02-01 10 27 43](https://user-images.githubusercontent.com/51817359/106439958-8e3abf80-6478-11eb-94c8-7c471d5866c9.jpg)

[2021-02-01 09:37] #1685 closed

[2021-02-01 09:38] colourfreak commented on #1711
Example of this? Can you share a screenshot, please?

[2021-02-01 09:39] colourfreak commented on #1683
Well done

[2021-02-01 09:39] #1683 closed

[2021-02-01 09:40] #1681 closed

[2021-02-01 14:23] easyKL commented on #1573
Request for packing done:
https://gitlab.com/fdroid/rfp/-/issues/1633
Please consider a build with Firebase striped (and others Non-Free dependencies)
https://f-droid.org/docs/Inclusion_Policy/

[2021-02-01 16:39] fossdd commented on #1573
Yes, you're right. We won't package a app based on properitary libraries, that we can't build self.
There is an option, for an version without Crashlytics and these stuff. But maybe switch to another Crash reporting library, like ACRA. F-Droid is also using ACRA.
If you still want have these propertiary dependencies, you can do a own repository for F-Droid. See here the docs: https://f-droid.org/e

[2021-02-02 16:03] IzzySoft commented on #1573
@colourful-land F-Droid maintainer here. I'm not an Android dev, so I do not fully understand your implementation. It seems you're already using build flavors, and even have a `noAnalytics` flavor – but then, Crashlytics is integrated using

[code]

where I'd have expected something like `analyticsImplementation`. See my [full comment here](https://gitlab.com/fdroid/rfp/-/issues/1633#note_49965124

[2021-02-03 02:14] AW-STJ opened #1713 "Speed-up transaction either crashes app or the flow goes into loop"
The speed-up transaction does not work as expected.

The app crashed the first time I tried to open up speed up transactions.

The flow is also weird now. The speed up transaction goes on like this:
1. Click pending transaction
2. Click details button on top right
3. Click 'Speedup Txn' button
4. Cick 'settings' button at top-right corner (Screen is has a dialogue box saying 'Submit replacement tx

[2021-02-03 02:15] AW-STJ commented on #1713
@colourfreak: Should'nt speed-up be more prominent for pending transactions?  Where do you think Speed-up transactions should be placed and what should be the flow?

[2021-02-03 06:18] AW-STJ commented on #1516
@JamesSmartCell : as discussed, it should be problem with the animation that hides the back button while exposing the complete web address. This does not go back to the original form, exposing back button, once the user clicks on address bar.

![image](https://user-images.githubusercontent.com/61957841/106706439-ccd0a580-6643-11eb-8948-0bd93a7b9d69.png)

[2021-02-04 20:22] zhangzhongnan928 opened #1714 "Support EIP1193 (and hence https://web3modal.com/)"
https://github.com/Web3Modal

[2021-02-04 20:40] #1488 closed

[2021-02-05 01:13] JamesSmartCell commented on #1713
Speedup should be using actionsheet ideally.

[2021-02-05 08:15] colourfreak commented on #1713
![Speedup_Android](https://user-images.githubusercontent.com/51817359/107007229-85a4fa80-6792-11eb-9f3f-863c7d5461f4.jpg)

Zeplin:
https://zpl.io/bP6n6AD

[2021-02-05 08:16] colourfreak commented on #1713
<img width="1012" alt="Screenshot 2021-02-05 at 09 16 18" src="https://user-images.githubusercontent.com/51817359/107007426-d0267700-6792-11eb-9390-e104fc719596.png">

[2021-02-05 09:00] colourfreak commented on #1516
1. Add a Home Button as I requested in #1596
2. To collapse the keyboard and escape from typing, you can click anywhere in the pink area.
3. Add "Set as Home Page" and "Change Network" to the menu

<img width="1812" alt="Screenshot 2021-02-05 at 09 58 02" src="https://user-images.githubusercontent.com/51817359/107011964-acfec600-6798-11eb-9e66-87258f124a66.png">

[2021-02-05 09:02] colourfreak commented on #1516
https://zpl.io/ad6wyr7
https://zpl.io/2pwjgno
https://zpl.io/aN6nYn4

[2021-02-05 09:02] colourfreak commented on #1596
Any update on this one? It will be very handy.

[2021-02-06 04:10] JamesSmartCell commented on #1713
@colourfreak I was envisaging exactly something like this. I'll add this part into the PR because as a new user I may not know I need to click on the 3 lines transaction breakdown page.

[2021-02-06 06:13] AW-STJ commented on #1566
Since we don't see any functionality for now, let us hide it.

cc: @colourfreak, for your information as well.

[2021-02-06 06:40] hboon commented on #1566
Hold first, till https://github.com/AlphaWallet/alpha-wallet-ios/issues/2500#issuecomment-774410629 is resolved.

[2021-02-06 07:08] JamesSmartCell commented on #1713
#1716 adds the cancel and speedup buttons to the Token Activity view as per the picture above

[2021-02-09 07:53] hboon commented on #1714
Working on EIP1193 support in our web3 provider which is needed here. Will post back when done.

[2021-02-09 23:29] AW-STJ opened #1717 "Cofix not working on Android"
The wallet cannot be connected to CoFix. Clicking on the connect button does not do anything.

[2021-02-10 03:16] zhangzhongnan928 opened #1718 "switch network button in the browser disappeared"
reproduce:
1. setting only the ethereum network enabled.
2. kill and restart the wallet
3. enable Ropsten
4. the switch network button in the browser won't show up.

[2021-02-10 03:46] huweihong commented on #1718
I have also encountered this problem. At the same time, after I selected Ropsten(Test), I accessed the page in Browser; later, after I removed Ropsten(Test) from the settings, I accessed the page in Browser and it was still connected to Ropsten(Test).

[2021-02-10 08:03] AW-STJ opened #1719 "Make scan QR code button in browser function as Universal scanner"
The current QR code really only works only to point the browser to other websites. The payment request and WalletConnect  QR codes are not supported.

[2021-02-11 12:28] AW-STJ opened #1720 "Fix wallet connection: https://bridge.xdaichain.com/"
The connect button does stays irresponsive and does not proceed after the screen below:
![image](https://user-images.githubusercontent.com/61957841/107636431-ba4c1100-6cc0-11eb-9ca6-f4dba2b6cb28.png)

The button works fine to prompt and connect to wallet in web3 browsers of other wallets.

[2021-02-11 12:34] colourfreak commented on #1720
@AW-STJ This is not about WalletConnect.

1. You go to Browser.
2. You launch https://bridge.xdaichain.com/
3. You hit "Connect Wallet" and nothing happens.

This is on our side, as I check with Trust and Huobi wallets and it worked fine.

[2021-02-11 12:53] AW-STJ opened #1721 "Implement deep links for xDAI Fiat-on-Ramp on Ramp.network"
We would like to show a Buy xDAI button and then direct the users to Ramp.network's xDAI purchasing option.

All the relevant technical documents would be on their site https://docs.ramp.network/. Let me know if you need more information.

The scope of this work would be to
1. Add the 'Buy xDAI' option to xDAI token's the kebab menu
2. Take users to xDAI purchase site on Ramp.Network, on clicking

[2021-02-11 12:56] colourfreak commented on #1721
From Paulina (Ramp.Network)

"If you want to set up deep linking, you have to integrate in hosted mode https://docs.ramp.network/quick-start-hosted and set parameter swapAsset=xDai"

[2021-02-11 12:59] AW-STJ commented on #1721
Also linking the iOS issue https://github.com/AlphaWallet/alpha-wallet-ios/issues/2507

[2021-02-12 00:27] AW-STJ opened #1722 "Fix wallet connection: https://app.honeyswap.org/#/"
The honeyswap website also does not show the WalletConnect link. May be due to the same issue as #1720.

![image](https://user-images.githubusercontent.com/61957841/107716336-4859e300-6d25-11eb-93bc-977cc985a759.png)

Is it because we don't support WalletConnect implementation in xDAI network?

[2021-02-12 00:29] AW-STJ commented on #1722
To add on, HoneySwap have WalletConnect implementation and I could successfully connect to it through the desktop browser.

[2021-02-12 10:22] ChintanRathod commented on #1665
@JamesSmartCell We have done with the integration after necessary changes. This issue could be closed.

[2021-02-12 10:56] #1713 closed

[2021-02-12 10:57] #1516 closed

[2021-02-14 23:43] AW-STJ opened #1724 "Dapp Issues: Uniswap"
The MAX button in Uniswap does not work on Android.

The same issue can be causing this scenario:
![image](https://user-images.githubusercontent.com/61957841/107892635-9fa4c100-6f7a-11eb-9ef2-1b4162689ea4.png)

[2021-02-14 23:48] AW-STJ opened #1725 "WalletConnect confirmation not available on Huawei"
User reported that WalletConnect does not work on Huawei device.

The exact issue is that:
1. WalletConnect connection successful
2. Initiating transaction leads to:  pending screen and no transaction confirmation screen in Wallet:

Device: Huawei, P20
Version: 3.21.1 (140)
![image](https://user-images.githubusercontent.com/61957841/107892723-23f74400-6f7b-11eb-9bc5-8d107a9e01b9.png)

![image](htt

[2021-02-14 23:53] AW-STJ commented on #1725
User got it working on un-install/re-install

[2021-02-14 23:53] #1725 closed

[2021-02-15 04:33] AW-STJ opened #1726 "Scope for 19 Feb"
Trying to get back to the rhythm of fortnightly releases:

- [x] https://github.com/AlphaWallet/alpha-wallet-android/pull/1716
- [x] https://github.com/AlphaWallet/alpha-wallet-android/pull/1715

Suggestions:
- [x] https://github.com/AlphaWallet/alpha-wallet-android/issues/1720
- [ ] https://github.com/AlphaWallet/alpha-wallet-android/issues/1722
- [x] https://github.com/AlphaWallet/alpha-wallet-a

[2021-02-15 10:01] hboon commented on #1714
Hi @JamesSmartCell

I have updated our web3 provider to support EIP1193: https://github.com/AlphaWallet/AlphaWallet-web3-provider/tree/master/dist

Most of the changes are already handled by the provider, but our apps needs to install an additional hook for `eth_call`.

These are the relevant code for iOS:

A. Use the updated provider https://github.com/AlphaWallet/alpha-wallet-ios/pull/2509/files

[2021-02-17 00:32] #712 closed

[2021-02-17 00:36] #844 closed

[2021-02-17 00:39] #1376 closed

[2021-02-18 03:16] AW-STJ opened #1727 "Allow users to set Nonce"
The current nonce in Custom Gas is not working.

![image](https://user-images.githubusercontent.com/61957841/108300124-df2a1200-71f3-11eb-8c69-cb0f0b152407.png)

[2021-02-18 05:55] colourful-land opened #1728 "Pending transactions not in the activity list"
1. Go to https://1inch.exchange/#/r/0x147615dceb7aac2e7389037300b65e99b3b94f96
2. Claim 1inch token, confirm and send the transaction
3. Observe [the claim transaction](https://etherscan.io/tx/0x0fb1e30fe375086f655fea8e845bafa0e1cd334eeb200d113048919c4216e93a) is correctly recorded in etherscan as pending
4. Go to wallet tab and not seeing it in the Activities

[2021-02-18 07:47] colourfreak commented on #1728
I have already claimed my 1inch tokens so I can't replay the same flow.

[2021-02-18 07:51] colourfreak commented on #1728
Do you have screenshots or anything that can help me here?

[2021-02-19 01:26] JamesSmartCell commented on #1714
thanks @hboon very useful :)

[2021-02-19 07:10] colourfreak opened #1729 "Update xDai token icon"
https://zpl.io/bJMLpZD

[2021-02-19 07:23] hboon commented on #1721
James, here's the URL:

[code]

[2021-02-20 01:08] #1714 closed

[2021-02-20 01:29] JamesSmartCell commented on #1724
Fixed by #1730

[2021-02-20 01:29] #1724 closed

[2021-02-20 01:33] JamesSmartCell commented on #1720
Fixed by #1730

[2021-02-20 01:33] #1720 closed

[2021-02-20 01:53] JamesSmartCell commented on #1722
I tested with Argent and Trust neither can connect.

From the desktop browser I get the option to use MetaMask if installed, if not then option to install MetaMask. The WalletConnect option only appears on a desktop browser, so I would suggest reaching out to HoneySwap to ask them to enable WalletConnect for mobile as well as desktop, as we can connect via OS intent, not just QR code.

If they nee

[2021-02-20 01:57] JamesSmartCell commented on #1718
Fixed in #1715

[2021-02-20 01:57] #1718 closed

[2021-02-20 02:00] JamesSmartCell commented on #1728
This requires a full node connection - since the transaction for the claim is not issued directly from AW it has no knowledge of the transaction until written.

With a full node connection we can scan the memory pool and see the transaction pending.

[2021-02-20 03:12] colourful-land commented on #1728
I renamed the issue to make it clear what I meant.

The problem is that there is no VISUAL hint on a pending transaction.

It helps little with a screenshot because on the screenshot I cannot show you what is missing.

I can make a design myself to point out what I think is missing though.

[2021-02-20 03:20] colourful-land commented on #1728
What you described is not this issue; I changed the issue title to add clarity.

[2021-02-20 03:30] JamesSmartCell commented on #1728
Ah I see, yes showing pending tx like that would be a good idea. How about 'new transactions' since the user last looked at the activity page?

[2021-02-20 06:00] JamesSmartCell commented on #1729
Closed by #1733

[2021-02-20 06:00] #1729 closed

[2021-02-20 11:15] JamesSmartCell commented on #1697
in latest version it's dove / #727272

[2021-02-20 11:15] #1697 closed

[2021-02-21 03:33] JamesSmartCell commented on #1721
@justindg can you let me know if you're starting on this? Next release will be in another 2 weeks, hopefully it can go into that.

[2021-02-21 03:35] JamesSmartCell commented on #1717
Fixed by #1730

[2021-02-21 03:35] #1717 closed

[2021-02-21 03:37] JamesSmartCell commented on #1726
@AW-STJ All the topics were covered in release 3.24.2 which went live on the day of this reply.

#1722 is not fixable by us, it requires Honeyswap to enable WalletConnect for mobile browsers. As a suggestion we could add a 'switch to desktop browser format' in the DappBrowser which would at least give us a workaround.

[2021-02-21 03:38] JamesSmartCell commented on #1719
@AW-STJ Please include this in the next release scope

[2021-02-22 00:16] AW-STJ commented on #1726
Closing the ticket.. Version 144 (3.24.3) submitted in PlayStore for review, with all items in the scope addressed, except for #1722.

#1722 is moved to scope for  5 March 2020's release.

[2021-02-22 00:16] #1726 closed

[2021-02-22 00:28] AW-STJ opened #1736 "Scope for 5 March 2020 Release"
In-scope:
- #1722
- #1720  (@justindg - Sunil will confirm whether Justin can take it up)
- #1707
- #1708

Recommendations:
-#1709
-

[2021-02-22 00:29] AW-STJ commented on #1708
Is there any way to get all the Error Messages we have? @JamesSmartCell

[2021-02-22 05:06] AW-STJ commented on #1707
Implemented in v3.24.3.

[2021-02-22 05:06] #1707 closed

[2021-02-22 05:08] colourful-land commented on #1728
Linking this issue to a related problem https://github.com/AlphaWallet/alpha-wallet-ios/issues/2545

[2021-02-22 05:13] colourful-land opened #1737 "a dapp asks users to connect to the wallet when it already is connected."
| Observe the balance on the upper-right corner, showing the wallet must have been connected   | But the connect button is there, and once clicked, there is no αW in the list  |
|---|---|
|  ![snapshot](https://user-images.githubusercontent.com/548435/108665195-7959c500-7528-11eb-94b2-f96188b0ca4b.png) | ![snapshot](https://user-images.githubusercontent.com/548435/108665300-baea7000-7528-11eb-9a16

[2021-02-22 11:06] justindg commented on #1721
@JamesSmartCell Working on it now 👍

cc @AW-STJ

[2021-02-22 14:58] colourfreak commented on #1708
I would need the full list of all error messages.

We can use the template below.
![Backup_Lock_Error](https://user-images.githubusercontent.com/51817359/108725563-ce94d700-7526-11eb-9990-16d2c5dab9a1.png)

[2021-02-23 00:51] #1727 closed

[2021-02-23 00:53] AW-STJ opened #1738 "Implement deep links for Fiat-on-Ramp on Ramp.network"
Let us extend the fiat-on-ramp functionality to all the tokens available on Ramp network.

[2021-02-23 00:54] AW-STJ commented on #1721
Let us extend the functionality to all the available tokens.

https://github.com/AlphaWallet/alpha-wallet-android/issues/1738

[2021-02-23 09:28] AW-STJ opened #1739 "Entering code screen does not work in stage.attestation.id"
@JamesSmartCell - check out the [attestation.id](stage.attestation.id) site that is nearing completion.

The enter code screen does not work in Android browser, eventhough it for iOS and on desktop.
![image](https://user-images.githubusercontent.com/61957841/108824288-a6d06c80-7615-11eb-80bf-038c3dca0781.png)

Can you diagnose and say whether the problem needs to be fixed on Android browser's side

[2021-02-24 07:46] colourfreak opened #1742 "Enable xDai network by default for all fresh imports, installs"
During user tests, I found that users who just installed AlphaWallet, they have xDai network disabled by default. What did they do? They went to 'Add/Hide Tokens' and searched for 'xDai'. The search results did not contain 'xDai'. So they gave up.

Only one guy found out, that he needs to enable xDai network. And he found this information looking at a tutorial with Metamask...

So, since we want t

[2021-02-24 09:05] colourfreak opened #1743 "Add 'Import Wallet' above the keyboard after you enter 12th phrase"
The problem I found during [user test](https://drive.google.com/file/d/12IointWFw3vauswvia-Fz8noViM2VzS7/view?usp=sharing) is that after entering the 12th phrase you have to hide the keyboard to reveal the "Import Wallet" button.

Therefore, I suggest displaying the "Import Wallet" button right after you enter the 12th phrase.

Zeplin:
11th phrase https://zpl.io/29pk04e
12th phrase https://zpl.io/

[2021-02-24 09:48] AW-STJ commented on #1738
The current implementation takes users to Buy ETH for DAI, USDT etc.

Let us make the Buy <token> button for:
- USDC
- USDT
- DAI

[2021-02-24 10:16] colourfreak opened #1744 "Add a custom graphic for empty Activities"
https://zpl.io/aX6D9yl

<img width="599" alt="Screenshot 2021-02-24 at 11 12 43" src="https://user-images.githubusercontent.com/51817359/108985738-ab3a6b00-7691-11eb-9264-ed1a3e0066f6.png">

[2021-02-25 00:59] JamesSmartCell commented on #1738
Hi @justindg If you implement this it should be done in a generic way - if you extend the current way it will lead to a mess.

Suggest you create an XML file with a list of contracts that are supported by Ramp eg
0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,USDC
0x6b175474e89094c44da98b954eedeac495271d0f,DAI
0xdac17f958d2ee523a2206206994597c13d831ec7,USDT

Then, add a feature (within FunctionButtonB

[2021-02-26 01:08] AW-STJ opened #1745 "Add Xion to Dapp Browser"
Add a https://xion.finance to our list of Dapps under Finance.

[2021-02-26 05:30] colourfreak commented on #1745
Only if I will find out how to add more than 9 items to the list. Still can't do this

[2021-02-26 07:06] colourfreak commented on #1745
I added to the list, but I had to remove other items (not remove, but it only can display 9 items and I don't know how to change them)

[2021-02-26 07:59] colourfreak commented on #1669
What's the status of this change? Why it takes so long?

[2021-02-28 23:09] AW-STJ opened #1747 "WalletConnect does not work in Gnosis Safe"
I started facing this issue on Android, starting only a couple of days ago.

On (Gnosis safe)[https://gnosis-safe.io/] the transactions signed by Android applications creates the error below, even though the transaction is signed successfully. The transactions signed on iOS go through without any problem.

Versions affected: 3.24.3(144)

Sceenshot: Error on Gnosis Safe:
![image](https://user-image

[2021-02-28 23:24] JamesSmartCell commented on #1747
@AW-STJ Unable to reproduce ... Sign tests work correctly.

Please create a reproducible sample.

[2021-03-01 00:50] zhangzhongnan928 commented on #1702
@JamesSmartCell how is this going?

[2021-03-02 09:38] colourfreak opened #1748 "Add "Show Seed Phrase" to Settings tab + Change "Backup Seed Phrase""
**Problem:**
Some users find it difficult to access their Seed Phrase. They have to go through "Back up my Wallet" flow, where we tried to warn users about not sharing seed phrases.

**Solution:**
We add one more item to the Settings Menu. We keep "Back up my Wallet". If you open "Back up my Wallet" it goes exactly as it is now, but please remove the addition line in red "Do not share your backup.

[2021-03-02 11:06] colourfreak opened #1749 "Deeplink FAQ in the Settings to alphawallet.com/faq"
https://github.com/AlphaWallet/alpha-wallet-ios/issues/2583

[2021-03-03 04:52] colourful-land opened #1751 "Unable to connect to registration server, please try again later"
The following happened by trying to login as a@colourful.land and using the corresponding password. The wallet is newly installed.

![signal-2021-03-03-120841](https://user-images.githubusercontent.com/548435/109754575-62a62300-7c38-11eb-8149-6386f5ae68a6.png)

[2021-03-05 07:01] colourfreak opened #1756 "Make a lighter Status Bar"
<img width="423" alt="Screenshot 2021-03-05 at 07 59 28" src="https://user-images.githubusercontent.com/51817359/110079034-d9523600-7d88-11eb-81c6-3177409d029f.png">

Take a look at the very top of this screenshot. Our Status bar is black. Can we change it to the lighter, classic version?
![2021-02-26 10 36 29](https://user-images.githubusercontent.com/51817359/110079070-ed963300-7d88-11eb-82f5-7a

[2021-03-06 05:18] #1691 closed

[2021-03-06 05:33] JamesSmartCell commented on #1756
Fixed by #1757

[2021-03-06 05:33] #1756 closed

[2021-03-06 05:34] JamesSmartCell commented on #1751
Wrong repo

[2021-03-06 05:34] #1751 closed

[2021-03-06 15:24] Affinity-Design opened #1759 "Rare Coin in Wrong Dapp Category"
Hey, guys when adding my xDai/Defi app to the Dapp list I was hoping to show up in the "xDai" category on the home page, so when I referenced another app in the xDai category, in this case, the xDaiBrdige and figured "tool" would have been the correct pair.

`{"name": "xDai Bridge", "description": "xDai/Ethereum bridge for self transfers of Dai to xDai", "url": "https://dai-bridge.poa.network/", "

[2021-03-06 23:48] JamesSmartCell commented on #1759
Hi, sorry about that, we weren't sure where to put your dapp, so we just took the Category: Tool to mean utility.

So we add your dapp to the 'xDai' category, right?

[2021-03-07 03:37] Affinity-Design commented on #1759
@JamesSmartCell Yes please! xDai category is correct. Thank you!

[2021-03-07 04:33] #1742 closed

[2021-03-07 09:12] colourfreak commented on #1759
Done.

[2021-03-07 21:43] zhangzhongnan928 opened #1762 "add 2 more EVM based network"
**Fantom**
Mainnet
Network Name: Fantom Opera
New RPC Url: https://rpcapi.fantom.network
ChainID: 250
Symbol: FTM
Block Explorer URL: https://ftmscan.com/
Testnet
Network Name: Fantom testnet
New RPC Url: https://rpc.testnet.fantom.network/
ChainID: 0xfa2
Symbol: FTM

**Avalanche**
Avalanche Mainnet Settings:
Network Name: Avalanche Mainnet C-Chain
New RPC URL: https://api.avax.network/ext/bc/C/rp

[2021-03-07 23:27] Affinity-Design commented on #1759
Thank you!!

[2021-03-07 23:27] #1759 closed

[2021-03-09 23:42] colourful-land commented on #1747
@AW-STJ said that the test build you shared yesterday already have this problem solved; given the PR was made 22 hours ago, I assume the build @AW-STJ tested does NOT contain this fix, therefore this fix #1763 has nothing to do with this bug.

To be really in the clear, I would 1) reproduce this bug with the playstore version and 2) build a version from #1763 and test it again confirm it's gone.

[2021-03-10 01:07] #1744 closed

[2021-03-10 01:31] JamesSmartCell commented on #1747
@colourful-land Please refer to this issue and related PR.

We follow git convention.

If PR says 'fixes' or 'closes' an issue it is related to that issue.

@AW-STJ has already confirmed the issue is fixed twice.

[2021-03-10 06:32] JamesSmartCell commented on #1747
https://github.com/web3j/web3j/pull/1382

This is the fix for the above issue, now pushed to web3j repo.

[2021-03-10 14:15] colourfreak opened #1767 "Add Portfolio, Performance, Stats to all ERC20 tokens & Ether [Samoa]"
**Portfolio**
* Balance
* 24H Return
* Portfolio Share
* Profit/Loss
* Average Cost
* Paid Fees

**Performance**
* 1D
* 1 Week
* 1 Month
* 3 Months
* 1 Year

**Stats:**
* Market Cap
* Total Supply
* Max Supply
* 1 Year High
* 1 Year Low

Zeplin:
https://zpl.io/bJoq3L3
https://zpl.io/aNN0AyZ
https://zpl.io/Vk458mv

<img width="1430" alt="Screenshot 2021-03-10 at 15 15 16" src="https://user-images.g

[2021-03-10 14:31] colourfreak opened #1768 "Update Wallet Tab [Samoa]"
<img width="1619" alt="Screenshot 2021-03-10 at 15 24 01" src="https://user-images.githubusercontent.com/51817359/110643685-a65ad880-81b4-11eb-975d-0baaf2310700.png">

https://zpl.io/2vRNpwP

-----

**Ether, ERC20, xDAI.. going up:**
https://zpl.io/addP0yR
<img width="452" alt="Screenshot 2021-03-08 at 10 52 41" src="https://user-images.githubusercontent.com/51817359/110304942-749f1180-7ffc-11eb-9

[2021-03-10 14:33] colourfreak opened #1769 "Add Wallet Summary [Samoa]"
<img width="1532" alt="Screenshot 2021-03-08 at 11 02 38" src="https://user-images.githubusercontent.com/51817359/110306254-e7f55300-7ffd-11eb-9d3b-169bfef628af.png">

-----
This screen will be a replacement for the current "Change/Add Wallet".

- It will be the first screen you see when launching AlphaWallet (already imported wallets).
- There are two ways to enter this screen
a) from the wallet

[2021-03-10 14:35] colourfreak opened #1770 "Add history chart to all ERC20 tokens & Ether [Samoa]"
Zeplin:
https://zpl.io/VKx0yA6

<img width="637" alt="Screenshot 2021-03-10 at 15 34 45" src="https://user-images.githubusercontent.com/51817359/110645311-26ce0900-81b6-11eb-9b74-c63e5352cc61.png">

My suggestions:
- Coingecko API
- Tradingview API

[2021-03-10 14:37] colourfreak opened #1771 "Move activities related to a token to separated tab [Samoa]"
<img width="435" alt="Screenshot 2021-03-10 at 15 37 17" src="https://user-images.githubusercontent.com/51817359/110645706-80cece80-81b6-11eb-9948-b3d166788119.png">

Zeplin:
https://zpl.io/aMEqzw7

[2021-03-10 14:59] colourfreak opened #1772 "Add Price Alerts tab [Samoa]"
https://zpl.io/VQP9jRR
<img width="1755" alt="Screenshot 2021-03-10 at 15 57 25" src="https://user-images.githubusercontent.com/51817359/110648944-77933100-81b9-11eb-84b9-d237b1007fff.png">

[2021-03-11 13:02] VliceZ opened #1773 "uniswap cannot work"

[2021-03-12 04:30] #1702 closed

[2021-03-14 02:39] AW-STJ opened #1774 "Add Ethereum icon to mainnet transactions on actionsheets from Dapp browser."
Make the network explicit to the user as in transaction from other networks:

![image](https://user-images.githubusercontent.com/61957841/111055516-a6b3e600-84ca-11eb-9e10-8e46f5b557e9.png)

[2021-03-14 02:52] hboon commented on #1774
Refer https://zpl.io/awNz3Z1

[2021-03-14 23:58] colourful-land commented on #1748
I suggest adding the word secret somewhere since the first timer would link the word 'safe' to availability (not lost) instead of confidentiality (not leaked). This happened in the bank, where the user think "safe" means "your money is safe in the bank" or "your investment is safe without fund manager" and went ahead telling other people their safe word thinking it's not confidential - we had to r

[2021-03-15 00:49] AW-STJ commented on #1773
Hey @VliceZ, thanks for raising the issue. However, when we tested, Uniswap works fine on the latest version of Android in PlayStore. Can you describe the issue in more detail. Screenshots, errors, etc would help a lot.

Also please let us know the version of AlphaWallet and the device (manufacturer, model number) details that you are using. We are on Telegram for quick 1-1 support. https://t.me/A

[2021-03-15 04:04] AW-STJ opened #1775 "Allow camera access for Ramp integration"
User reported issue. I could not reproduce this error, as Ramp does not prompt me to access the camera for KYC in Australia.

![image](https://user-images.githubusercontent.com/61957841/111102203-a0dc0480-859f-11eb-9722-da59ce3f0c1a.png)

Can this be fixed without having the steps to reproduce. I suspect the user is from Mali, based on Mixpanel insights.

[2021-03-15 10:11] colourfreak commented on #1774
https://zpl.io/VO4dq4j

[2021-03-15 10:39] JamesSmartCell commented on #1774
@colourfreak I like this design but there's not enough vertical space on many devices. I found even as things are there's still an issue with vertical space, let alone adding a new horizontal element.

Can we find somewhere else to put it, either next to balance or in the ActionSheet header?

[2021-03-15 10:43] JamesSmartCell commented on #1762
Please hold off implementing this yet. I have scheduled a refactor of this area; adding this in before the refactor is creating extra work.

[2021-03-15 10:47] JamesSmartCell commented on #1738
Close completed issue

[2021-03-15 10:47] #1738 closed

[2021-03-15 11:24] colourfreak commented on #1596
please remember about displaying Network name in the top left https://zpl.io/Vq7LmA5

[2021-03-15 12:44] JamesSmartCell commented on #1737
This will be fixed once we are added to blocknative 'onboard'. PR is pushed on their repo to fix this.

[2021-03-15 21:28] JamesSmartCell commented on #1748
@colourfreak can you check @colourful-land's comment above?

[2021-03-16 06:22] colourfreak commented on #1748
<img width="588" alt="Screenshot 2021-03-16 at 07 22 29" src="https://user-images.githubusercontent.com/51817359/111264744-610d2f80-8628-11eb-84c3-5e6a5566f234.png">

[2021-03-16 06:26] colourful-land commented on #1748
Will do for me. iOS and Android needs to be aligned @hboon

[2021-03-16 07:56] VliceZ commented on #1773
Thanks for your reply。I knew  why uniswap can't work anymore。The problem comes from the network，its works when i turned on VPN . but is cannot works when i shut down VPN，and i got this error on log console：
java.net.SocketTimeoutException: failed to connect to app.uniswap.org/157.240.12.36 (port 443) from /192.168.41.211 (port 49250) after 10000ms
        at libcore.io.IoBridge.connectErrno(IoBrid

[2021-03-16 08:50] colourfreak commented on #1728
@colourful-land

A Wallet tab view is not a place where you should look for a confirmation of your transactions. With the upcoming 'Samoa' update, it will be mostly to tell you how is your balance and how did it change in the last 24H. Without cluttering it with the content, that should go to Activities.

There are two places, where you can see a difference.

* Activities
* Token's activities

Fir

[2021-03-16 23:13] JamesSmartCell commented on #1748
@colourful-land can you double check the design above, the screen we get when clicking the 'show seed phrase' button is shown in the 1st entry on this issue, with the heading 'Beware of scammers ...'. It is NOT the original 'Back up your seed phrase' screen.

What I assume has happened is the context has switched to changing the original screen with the 'Backup my seed phrase' title which is acces

[2021-03-17 00:21] JamesSmartCell opened #1778 "EIP1155 support"
EIP1155 supports a collection of tokens, fungible, "semi-fungible" and non-fungible.

EG:

1 Ring to rule them all
3 Rings for Elves
7 Rings for Dwarfs
1,000,000 Gold coins
20,000,000,000 Sestertii

These would all be operating from the same contract. Each one can be associated with a graphic asset embedded within the contract.

How to support this in the wallet?

It could be similar to how we gro

[2021-03-17 01:29] JamesSmartCell commented on #1748
@colourful-land pushed update based on https://github.com/AlphaWallet/alpha-wallet-android/issues/1748#issuecomment-799988081, please check translations.

[2021-03-17 01:45] JamesSmartCell commented on #1743
The original reason this button was hidden is because it crunched up the screen too much when the keyboard is present on certain phones, this issue may have gone away now with those phones being phased out.

A more complete fix would be to:

1. Ensure IME button is working correctly (in your picture it's the CR symbol in the bottom right next to the '.' button: before having 12 words, IME should b

[2021-03-17 03:59] AW-STJ opened #1779 "Send address populated incorrectly for ERC20 tokens on xDAI"
I had this user complaint the other day, where she was claiming that her HNY transaction were failing. I tested and was not able to find the root cause.

But today I found out the issue, in the current Playstore version [3.24.4(145)].

Steps to replicate:
- Select a ERC20 token on xDAI network such as HNY, COIN etc.
- Copy/paste an address to send xDAI to and proceed
- In the confirmation screen,

[2021-03-17 05:12] JamesSmartCell commented on #1773
@VliceZ can you try an experiment for us? Can you open app.uinswap.org in a normal browser without VPN and see if it connects ok?

[2021-03-17 05:13] JamesSmartCell commented on #1779
This may also have been reported to me from the Artis crew. I'm going to see if it's the same issue.

[2021-03-17 05:57] VliceZ commented on #1773
Yes i tried，its works fine  in a normal browser without VPN .

[2021-03-17 06:02] JamesSmartCell commented on #1779
Luckily the bug is cosmetic only, if you actually did send the funds they'd go to the correct destination, so it's not urgent.

@ChintanRathod this is caused by taking the transaction destination rather than the destination set in the previous screen.

Recommend you add an extra param to the ActionSheetDialog constructor, and pass the destination address as specified by the AddressInput widget (in

[2021-03-17 06:11] hboon commented on #1748
@colourful-land @colourfreak is the change limited to copy in this screen? https://github.com/AlphaWallet/alpha-wallet-android/issues/1748#issuecomment-799988081

[2021-03-17 06:39] JamesSmartCell commented on #1779
I can fix this, requires a re-release.

[2021-03-17 07:29] colourfreak commented on #1748
No other changes.

[2021-03-17 07:31] colourfreak commented on #1778
Ideally, I would need to get some examples of those tokens. Where to look for and not get bankrupt at the same time? Open Sea?

[2021-03-17 10:22] JamesSmartCell commented on #1778
I don't know if they're on opensea. And, I don't know how to get any.

I can create a contract and mint some, but it won't help because we don't have any way to display until the code is written.

We are pioneers here. The only implementation would be in Engin, but I don't know how they display them.

The key facts are: Many tokens which are related, do we need to show a relationship between them?

[2021-03-17 22:34] JamesSmartCell opened #1782 "Renew test certificate"
Now seeing this error from the Fifa certificate test:

[code]

Notice the expiry date.

[2021-03-18 00:44] #1779 closed

[2021-03-18 02:37] #1743 closed

[2021-03-18 05:00] colourful-land commented on #1782
Waiting for Wen to update the cert. The current one expired a few hours ago.

[2021-03-18 05:49] #1747 closed

[2021-03-18 06:36] #1748 closed

[2021-03-18 11:04] colourfreak commented on #1743
Yes, you are right. I am aware of this. For this reason, I am designing for the smallest viewport size possible (360x640). All other phones have larger sizes and they are usually 2x or 3x. But even if you divide their viewport sizes by 2 or 3 you will find this the smallest.

https://yesviz.com/viewport/

[2021-03-19 03:17] jameswanliu opened #1785 "insufficient funds for gas * price + value"
I  add  a heco network  ，When I send Transation, I use heco network  it is fail finally   prompt me  insufficient funds for gas * price + value，My Banlance has 1.41 HT

[2021-03-19 03:54] #1785 closed

[2021-03-20 07:46] #1719 closed

[2021-03-20 14:55] VliceZ commented on #1773
@AW-STJ @JamesSmartCell I need your help.Thank you very much.

[2021-03-21 07:15] #1745 closed

[2021-03-22 08:52] colourful-land opened #1788 "Display recipient address with mixed cases"
Seeing:

This:

![Screenshot_20210322-194626](https://user-images.githubusercontent.com/548435/111963827-13bd2080-8b48-11eb-8dc5-3653f657f2ed.jpeg)

Expected:

The address be

0x9C307Dc87d962594017F5E5cFD93bc17A07b1769

[2021-03-22 08:55] colourful-land commented on #1788
@AW-STJ  is the behaviour on iOS already what I expected?

[2021-03-22 09:09] colourful-land opened #1789 "Ether balance not reduced by pending transaction"
## Currently

| wallet  | activities  |
|---|---|
| ![1](https://user-images.githubusercontent.com/548435/111965755-2fc1c180-8b4a-11eb-9e00-81906bda6d26.jpg)  | ![2](https://user-images.githubusercontent.com/548435/111965757-32241b80-8b4a-11eb-91a5-06455c07d889.jpg)  |

## Expected

In the "Wallet" Ether balance should be 37.413

Although the pending transaction is not yet confirmed, it's not poss

[2021-03-22 09:09] colourful-land commented on #1789
@AW-STJ check if iOS also have this problem

[2021-03-22 10:11] hboon commented on #1788
iOS always displays the mixed case version, i.e EIP55. It might be (or might not) a non-trivial change to support displaying the original because we don’t store the original version at the moment.

I have a sort of a counter proposal though, what if, when the user enters mixed case, we validate that it matches EIP55 exactly? Bypasses the issue and improves it?

[2021-03-22 10:26] hboon commented on #1789
It does

[2021-03-22 12:05] #1773 closed

[2021-03-22 12:12] VliceZ commented on #1773
I'm so sorry, it's all my fault. Uniswap cannot work in a normal browser without VPN ,This error has nothing to do with AlphaWallet.

[2021-03-23 22:15] JamesSmartCell commented on #1789
How exactly should we display it? Previously I added a small indication that a pending transaction would be reducing the balance (as a small eg -16.1134 above the balance), however in user tests it wasn't understood what this was.

Reducing the balance before it goes through is questionable, but I agree that we should represent that the available balance is reduced.

It's quite a big change from h

[2021-03-23 22:20] JamesSmartCell commented on #1788
it is trivial to remove the code that converts to EIP55 when you input and in the ActionSheetDialog - but then as Boon says the targets diverge.

[2021-03-23 22:33] AW-STJ commented on #1789
@colourfreak - what is your take on this?

[2021-03-26 06:57] #1514 closed

[2021-03-27 03:38] JamesSmartCell commented on #1789
Also ... technically the balance hasn't actually depleted until the transaction is actually written. Until it's written it can be cancelled at any time. So, I don't think we should reduce the balance until the block with the tx is written, but we should indicate a reduction in balance is coming.

[2021-03-27 06:00] JamesSmartCell opened #1793 "Show blockie on wallet page"
![blockie](https://user-images.githubusercontent.com/12689544/112711532-3f138700-8f1d-11eb-9321-fbe9325f2a13.jpg)

iOS shows a blockie on the wallet page.

Start in this layout:

```layout_simple_toolbar_no_divider.xml```

And you can show the blockie once the wallet is known in the method ```onDefaultWallet``` in ```class WalletFragment```.

The code that generates blockies is used elsewhere and

[2021-03-29 13:45] colourfreak opened #1795 "Add Wallet Naming feature in the Settings"
<img width="1712" alt="Screenshot 2021-03-29 at 15 44 14" src="https://user-images.githubusercontent.com/51817359/112845853-9e9c9e80-90a5-11eb-80c6-43a9d6e714b0.png">

https://zpl.io/b6nndAq

[2021-03-30 02:04] JamesSmartCell commented on #1795
@colourfreak What do you think of adding a 'Scan ENS' text at the bottom right (where 'Paste' would normally go) that allows user to use their ENS name here?

See the notes on this PR:

https://github.com/AlphaWallet/alpha-wallet-android/pull/1668

[2021-03-30 04:20] JamesSmartCell opened #1796 "Seed phrase ease of use update"
Make the following changes on seed phrase import:

- if space is pressed when there's only 1 seed word possibility, add the word to the input field and add a space
- if space is pressed when the character behind the cursor is a space don't update the input field (ie don't allow adding a lot of spaces between words).

Note that copy/paste into the seed phrase input is something a user would almost

[2021-03-30 05:33] JamesSmartCell opened #1797 "Refactor database token storage"
Currently there's a huge amount of duplication of database info when it comes to storing tokens.

The static data for each token is stored for each wallet.

In this refactor, separate the static data from the dynamic wallet specific data like this:

[code]

All the fields not marked static need to go into a new ```class RealmTokenWallet``` (obviously ```address``` needs to be duplicated for the pr

[2021-03-30 06:20] colourfreak commented on #1795
@JamesSmartCell
I thought about it. And I am fully aware of ENS names holders. But...

On one hand, it helps power users to use their ENS names, but on the other hand, it becomes complicated for beginners. If a random user will enter this screen, he will be concerned about the difference between ENS name and name. And since the majority of users don't have ENS names, I prefer to do not to overcomp

[2021-03-30 06:21] colourfreak commented on #1795
"Don't make me think" - and by adding an additional label with ENS name, we make the majority of our users think.

[2021-04-02 07:06] #1223 closed

[2021-04-02 07:08] JamesSmartCell commented on #1795
Ok. How about pre-populating the name with ENS if they have one? That way, it's hidden from users who don't know about it, and for those that have it, they can see it and change it.

[2021-04-02 07:46] #1793 closed

[2021-04-06 00:03] JamesSmartCell commented on #1788
@ChintanRathod can you implement this so the AddressDetailView always shows EIP55. You can use ```Keys.toChecksumAddress(addr)``` to convert it, if it's already in EIP55 then it won't change the text.

[2021-04-14 06:43] hboon opened #1803 "Oneinch API has changed"
Ref: https://github.com/AlphaWallet/alpha-wallet-ios/pull/2712

[2021-04-14 07:26] colourfreak opened #1804 "Make 'Testnet' more obvious and separated from 'Mainnet'"
Clickable prototype (iOS):
https://invis.io/GU10Q3YYSZB7

- You have a toggle to enable Testnets. This toggle disables Mainnet and enable Testnet. And other way around. Only one can be enabled at the time.
- After you hit the toggle, it warns you about what testnets are
- We say that they have no value at all time.
- When you are viewing a Wallet in a Testnet, all Mainnet tokens are hidden.
- You

[2021-04-14 11:59] colourfreak opened #1805 "add 3 more EVM based network"
https://github.com/AlphaWallet/alpha-wallet-ios/issues/2618

[2021-04-14 23:48] JamesSmartCell commented on #1805
It would be best to do this during the node refactor, which I plan to tackle next week after wrapping up the Alchemy work and urgent app fixes.

[2021-04-15 07:10] BFriedrichsen opened #1807 "Fuse network with chain id 122"
Hello, I'm developing a NFT solution on Fuse network. Fuse is a LAyer2 scaling solution to Ethereum. I would be happy if Fuse will be added to Alphawallet.

[2021-04-16 12:56] AW-STJ opened #1809 "Allow Private Key and JSON Keystore export for wallets created in AlphaWallet"
Metamask has removed the option to import wallet using seed phrase. Now only allows private key or JSON import.
https://metamask.zendesk.com/hc/en-us/articles/360015489331-How-to-import-an-Account

Private key export had been a feature requested several times by users, now without this feature, it is a massive loss of control for users, new and experienced users alike.

I was talking to a new user

[2021-04-16 13:53] hboon commented on #1809
Why do you say that? This sounds improbable.

How do they generate the raw private key in the first place?

[2021-04-17 12:23] justdvnsh commented on #1255
@colourful-land I am new to this Org. Can I take up this issue ??

[2021-04-17 23:06] AW-STJ opened #1811 "WalletConnect scanning QR code does not work"
Looks like this issue has surfaced up on both iOS and Android platforms.

After scanning the app (tried on OpenSea and UniSwap) the WalletConnect goes to the loading screen where remains stuck The approval does not happen. In one instance on Android, I got the approve screen but nothing happened after approving. The WalletConnect never got to 'Approve' screen after that.

![image](https://user-ima

[2021-04-18 06:35] JamesSmartCell commented on #1811
@AW-STJ works correctly for me on walletconnect example, Uniswap and Opensea.

Let's try to narrow down what circumstances it fails and how to refine: I have witnessed flaky connection behaviour previously which I fixed by disconnecting WC, reload the site and try again. We should try to do some of these things automatically if it could help.

Also - I have had issues while trying to use WC over V

[2021-04-18 06:37] JamesSmartCell commented on #1809
We can generate a JSON keystore export from a seed but not vice/versa. Doing this removes a lot of flexibility that seed phrase/HD account gives you.

It does seem very strange that MM would remove that feature.

[2021-04-18 06:59] JamesSmartCell commented on #1807
Hi @BFriedrichsen yes we will be supporting all networks listed [here](https://chainid.network/chains.json) in the near future. Fuse is there, so you'll be able to select it from a list.

[2021-04-18 14:21] colourfreak commented on #1809
That is not true.

<img width="1065" alt="Screenshot 2021-04-18 at 16 19 32" src="https://user-images.githubusercontent.com/51817359/115148952-ffdede80-a061-11eb-9f51-93089141cb3a.png">

[2021-04-18 21:19] AW-STJ commented on #1809
I can no longer see the option in my laptop or in my mobile apps

Browser extension allows JSON or Private key
![image](https://user-images.githubusercontent.com/61957841/115161021-a072e400-a0de-11eb-8e18-f45697665515.png)

App only asks for private key
![image](https://user-images.githubusercontent.com/61957841/115161115-24c56700-a0df-11eb-9a24-39dc9884577d.png)

Also Metamask official support bl

[2021-04-18 21:32] AW-STJ commented on #1809
Okay. I have found out the missing piece here. Metamask only allows you to import using seed phrase on set-up.

Once you have set-up, then it only allows JSON or Private key import. Maybe that is how MM has always worked. Sorry I jumped the gun that Metamask removed the feature as I was sure that I had imported using seedphrase.

This also means that an AlphaWallet user.
1. Can only have one walle

[2021-04-18 21:35] AW-STJ commented on #1809
@hboon

Metamask allows users to generate private keys directly:

![image](https://user-images.githubusercontent.com/61957841/115161547-bafa8c80-a0e1-11eb-9e1c-038df2b64fb0.png)

[2021-04-18 22:57] JamesSmartCell commented on #1809
We can allow export of JSON for seed phrase; but handle it carefully if you do as it is going to lead to confusion - if I export as JSON, I might expect to be able to get back to the seed phrase; this isn't the case. Once you export as JSON you're only exporting the single private key (in encrypted format).

[2021-04-18 23:03] JamesSmartCell commented on #1804
@colourfreak Would it be clearer if there was a single switch that throws between mainnets on one side and testnets on the other. Having two switches like this seems a bit odd. Also, if I'm coming back to the wallet after upgrade I'm going to wonder where the testnets are, I have to know to go digging in the settings.

Could we duplicate the switch or do a program-link in the 'add / hide tokens'?

[2021-04-19 01:06] AW-STJ commented on #1811
Works now. And I do not use VPN and my WiFi had not issues at the time. I discovered the issue when a user reported it.

So it could be an issue from WalletConnect's side that was fixed.

[2021-04-19 01:06] #1811 closed

[2021-04-19 03:02] hboon commented on #1809
Focusing on seeds and private keys here without referring to higher level wallets like smart contract wallets, especially those enabled by SSS etc.

Just so we are all on the same page:

T1. We currently support running with any number of seeds, one address per seed (it's a limitation). We only support any number of private keys.
T2. We support importing them: seeds, as well as private keys; with

[2021-04-19 05:42] colourfreak commented on #1809
Are you talking about Aydin, who was very rude? He just wanted to exit. Do we want to build a feature for him, that can decrease a security level for any others? If you export to a file, it has to be stored somewhere. And this is an invitation to further problems for users.

Apart from him, I saw Pauly wanted to have it. Because he wanted to exit to another service as well.

[2021-04-19 05:53] AW-STJ commented on #1809
Yes, Aydin was the new user whom I was mentioning about. In addition to Pauly, there is also Nick (James Sangalli's mate and dev, one of my first user interview) who also wanted a private key feature. His suggestion let us to add 'show seed phrase' change in 'Settings'. We had a brief chat about that on private key during James' farewell. The only other feature that he stressed during the interact

[2021-04-19 06:03] colourfreak commented on #1809
Seed phrase written on a piece of paper is 1000% more secure than any form of a backup stored online or offline. If you are on a different hemisphere, you have a 0% chance to get access to my funds unless I will share a seed phrase with you.

If you store a key phrase on your laptop and you want to enter it on your Android - what will you do? How many users will compromise on end-to-end encryption

[2021-04-19 06:04] AW-STJ commented on #1809
Can a user who has created the wallet in AlphaWallet or imported the key using seedphrase export keystore JSON? If we allow that, then that is great.

It very well could be, but having multiple wallet requires more than one keys. And importing wallet to AlphaWallet results in users loosing their other wallets in an HD accout. We will have to add this feature. But that is a separate discussion.

Tr

[2021-04-19 06:10] AW-STJ commented on #1809
We can make it harder for users to get their private keys, but I don't believe in making a decision on behalf of users - when we have validated that is a real need - to restrict users to access their private keys.

Giving users private keys from app, is much more secure than a user using the seedphrase on a online converter to get private keys so that they can use it in another app or application

[2021-04-19 06:18] AW-STJ commented on #1809
Also consider another case. A user created a wallet on AlphaWallet and want to use it on Metamask. The user also has a Metamask account which is already set-up. How would he or she go about doing that?

[2021-04-19 07:00] hboon commented on #1809
There seems to be some confusion. There is:

A. Seed phrase
B. Private keys (I sometimes refer to them as raw private keys)

We support both (A) and (B). We just don’t support creating (B), nor exporting (B) as a raw private key. Instead, we export them as keystore JSON files.

I understand, this issue was originally about adding support for exporting (B) as a raw private key. As I described above

[2021-04-19 11:01] AW-STJ commented on #1809
Hey Boon - sorry, definitely I caused the confusion as I referred to private keys as seedphrase. Apologies - I always do this when I multitask.

This request is about giving users the freedom to export their pri

[2021-04-19 22:22] lijiang2087 opened #1814 "Add Harmony ONE as a custom network - fully EVM compatible"
name: adding Harmony ONE as a custom network
about: https://docs.harmony.one/home/network/wallets/browser-extensions-wallets/metamask-wallet

Network Name
Harmony Mainnet

New RPC URL
https://api.harmony.one

Chain ID
(use number only)
Shard 0: 1666600000

Currency symbol (optional)
ONE

Block Explorer URL (optional)
https://explorer.harmony.one/#/

![image](https://user-images.githubusercontent.c

[2021-04-19 22:22] lijiang2087 commented on #1814
our logos in svg: https://drive.google.com/drive/u/0/folders/1Y0r5KvRygXNZvLBDTIJTCElEi_ellMsG?ths=true

[2021-04-20 06:15] ChintanRathod commented on #1566
@AW-STJ Should we close this ticket as mentioned ticket in iOS is closed without implementation?

[2021-04-20 06:21] AW-STJ commented on #1566
Yes.. closing the ticket as we now know that this is for displaying tokenscript errors. TokenScript would have more applications in the coming months, so let us keep it as it is.

[2021-04-20 06:21] #1566 closed

[2021-04-20 11:05] colourfreak commented on #1804
I thought about it, but there are few things to consider:
- I don't know any material design component that uses that kind of switch.
- We could have just one toggle with "Testnet", but how many users do know what is the opposite to testnet? I mean, what you need to know is between what you are switching (testnet/mainnet) and in which state you are in.

<img width="694" alt="Screenshot 2021-04-20

[2021-04-21 07:55] #1804 closed

[2021-04-21 09:05] Agilulfo1820 opened #1816 "Add SNAFU erc20 token on your token list"
Hello, we would like our users to be able to manage their $SNAFU token on your wallet.

Those are the specifics:

Network: xDai
Token Address: 0x27B9C2Bd4BaEa18ABdF49169054c1C1c12af9862
Ticker: SNAFU
Decimals: 18
Logo: https://gateway.pinata.cloud/ipfs/QmYFnC1RxAvNzWFmtR5CQYWBz8pgzDidqQKg8o1WVqppEq

More about SNAFU: https://nftsnafu.org

[2021-04-21 09:40] colourfreak commented on #1804
To improve:
**1. Instead of select buttons, we should always use a checkbox.**

<img width="882" alt="Screenshot 2021-04-21 at 11 28 06" src="https://user-images.githubusercontent.com/51817359/115531067-a6aac100-a294-11eb-97f3-fa7f75defa98.png">

![2021-04-21 11 25 22](https://user-images.githubusercontent.com/51817359/115531319-ebcef300-a294-11eb-8baa-1df541af6fed.jpg)
![2021-04-21 11 25 29](http

[2021-04-21 09:45] JamesSmartCell commented on #1814
@ChintanRathod you can push the logo into the iconassets repo. You shouldn't need to use a PR, just commit direct to master; let me know if it doesn't work.

[2021-04-21 09:49] ChintanRathod commented on #1814
@JamesSmartCell Ok.

[2021-04-21 09:58] JamesSmartCell commented on #1814
Actually, no you can't add it there --- it's a chain, as you pointed out!

[2021-04-21 10:04] colourfreak commented on #1804
https://web.tresorit.com/l/sUllm#gq9rFgjex17XeU4zMws4Lw

[2021-04-21 10:10] ChintanRathod commented on #1795
Do we need to auto populate the ENS name?

[2021-04-21 10:27] colourfreak opened #1817 "Update "Name this Wallet" icon"
https://zpl.io/Vq3l6yN

The old one was confusing, as it has .ens in it. Users might think this is where they should set on .ens, which is wrong.

<img width="156" alt="Screenshot 2021-04-21 at 12 27 07" src="https://user-images.githubusercontent.com/51817359/115539123-e4abe300-a29c-11eb-94a8-982a7c2ac46e.png">

[2021-04-21 10:56] colourfreak commented on #1596
https://zpl.io/Vq7LmA5

<img width="1748" alt="Screenshot 2021-04-21 at 12 55 15" src="https://user-images.githubusercontent.com/51817359/115542794-ee374a00-a2a0-11eb-986a-d3f27ed4a03f.png">
<img width="1722" alt="Screenshot 2021-04-21 at 12 55 48" src="https://user-images.githubusercontent.com/51817359/115542807-f1cad100-a2a0-11eb-93d1-36ffbe28bc64.png">

[2021-04-21 11:34] ChintanRathod commented on #1804
@JamesSmartCell There are 2 changes
1. For browser tab "home" button to add
2. Need to add "Network: Ethereum" option and in the next screen need to show a shortcut for "active network selection"

![image](https://user-images.githubusercontent.com/4371780/115547154-92ca8380-a2c3-11eb-832d-ca0336abe4d0.png)
![image](https://user-images.githubusercontent.com/4371780/115547167-98c06480-a2c3-11eb-9cea

[2021-04-21 12:11] JamesSmartCell commented on #1817
Where does this go?

[2021-04-21 12:12] ChintanRathod commented on #1817
It's icon for "Name the wallet"

On Wed, Apr 21, 2021, 17:41 James Brown ***@***.***> wrote:

[2021-04-21 12:14] JamesSmartCell commented on #1795
Yes, when the page starts, fetch the ENS name.

However, if the name input field has focus when the ENS name is ready then just abort - don't type over what the user is typing.

[2021-04-21 12:16] JamesSmartCell commented on #1817
Ok - is it part of an as-yet unimplemented design? I don't recall seeing it.

[2021-04-21 13:00] colourfreak commented on #1817
Yes. But already implemented in iOS.

[2021-04-21 13:38] colourfreak commented on #1804
@ChintanRathod Please disregard what I told you on the call. I spoke with James right after, and we agreed on:

**Browser**
https://zpl.io/Vq7LmA5

The current implementation in the Browser tab (how you switch between networks) is good. But we need to make two small adjustments:

<img width="1719" alt="Screenshot 2021-04-21 at 15 23 49" src="https://user-images.githubusercontent.com/51817359/11556

[2021-04-23 06:11] hboon opened #1820 "Switch search engine in dapp browser to duckduckgo"
https://github.com/AlphaWallet/alpha-wallet-ios/pull/2736

No ads — so fewer scams and more results shown top of the fold

[2021-04-26 06:29] AW-STJ opened #1821 "Improve Testnet selection userflow"
Need to remove the prompt to select the browser default network.

Rather, when the user toggles between main-net and testnet, the browser should reset and start from scratch. We can prompt the user to select network, when the browser tab is clicked.

[2021-04-28 01:05] AW-STJ commented on #1809
We got this query yesterday:
![image](https://user-images.githubusercontent.com/61957841/116330622-41fde200-a811-11eb-83a0-7bba139a2494.png)

This is one other request for this feature. The user need is validated through 1. user interviews, 2. support queries and 3. feature requests.

If we still deny the need to surface this features, we are ignoring data in favour of our personal opinions.

[2021-04-28 01:19] AW-STJ commented on #1821
@justindg - this is a continuation from the issue:
https://github.com/AlphaWallet/alpha-wallet-android/issues/1804

We need to make the user flow aligned to what @colourfreak had designed. See the comment on what was proposed.
https://github.com/AlphaWallet/alpha-wallet-android/issues/1804#issuecomment-824068805

Also need to align the current modal to the design.
https://zpl.io/VDg41kq

[2021-04-28 01:20] AW-STJ commented on #1821
@JamesSmartCell can you also provide the guidance required to Justin on how that should be done.

[2021-04-28 01:39] AW-STJ opened #1822 "Allow users to add networks through Custom RPC"
We have been getting a couple of feature requests from our users as well as during user interviews. Also, it makes sense to allow this, as the number of EVM networks out there is increasing day by day. We often add them to our growing list of supported networks. Why don't allow users to do it own their own?

@colourfreak - can we get the designs for this?

Here is how Metamask goes about it:
![ima

[2021-04-28 03:42] AW-STJ commented on #1809
More requests. Email today:

![image](https://user-images.githubusercontent.com/61957841/116343226-65cc2280-a827-11eb-9618-2c46e7ff561c.png)

[2021-04-28 05:19] hboon commented on #1822
Which networks are users asking for that aren't supported? Are those testnets, in particular? Because there is a list of chains out there [1] and we might do better to just let the user choose from the list or use the list for autocompletion. The list wouldn't include private testnet or un-launched mainnets of course. But it might make the feature a whole lot better.

We might still want to provid

[2021-04-28 05:56] hboon commented on #1809
With the current version of desktop MetaMask (9.40), you can:

* Import (or create) exactly 1 seed [1]
* Import 1 or more private keys, either raw or keystore JSON

So regarding Daniel's question https://github.com/AlphaWallet/alpha-wallet-android/issues/1809#issuecomment-828063781:

The answer is yes, there is (if this is not a wallet generated from a seed). AlphaWallet > Settings > Back up this

[2021-04-28 07:31] JamesSmartCell commented on #1822
Yes, I was planning to do this via https://github.com/ethereum-lists/chains, but also allow users to add data; eg if ethereum-lists doesn't have the Etherscan API, users can add that in, in the settings page. Either way, there should be a page that looks like the one that you added from MetaMask.

[2021-04-28 07:41] JamesSmartCell commented on #1821
Background: If user deselects the network that is currently active in the dapp browser, currently we immediately ask them which network they would like to reset the dappbrowser to. This can happen one of two ways: either user switched between mainnets and testnets, or the user deselected the network from the 'Network Selection' page.

However, this may be slightly confusing for some users who aren

[2021-04-28 11:36] JamesSmartCell commented on #1821
@justindg The 'defaultNetwork' only should have meaning now in the DappBrowser, since everywhere else the wallet operates across all networks. If any other fragment or activity use 'defaultNetwork' it should probably not be.

I had a quick look it appears other places read this value, and it's redundant. EG in the redeem activity (which is legacy anyway) the network should be picked up from the to

[2021-04-28 11:36] JamesSmartCell commented on #1820
I like duckduckgo :)

[2021-04-28 11:38] JamesSmartCell commented on #1816
@Agilulfo1820  If the wallet user has this token in their wallet, it should automatically be picked up. Can you re-check with the latest version and let us know if it's being picked up. If it is, and the logo isn't correct I can add it into our secondary repo.

[2021-04-28 11:42] JamesSmartCell commented on #1809
I'll just add this to @hboon's response - if it's a developer that wants to pull the key out from the seed, and they know what they're doing they could pull it out from a seed phrase or JSON within about 30 minutes. It's probably not worth adding this facility but we could offer a project that developers can use to achieve the same; the barrier is that they have to build something so they need to

[2021-04-28 11:49] Agilulfo1820 commented on #1816
Hi @JamesSmartCell, yes the token is picked up and the logo is displayed correctly.

Only thing I noticed is that if you tap on the token the logo inside is different (the standard green circle).

[2021-04-28 12:13] AW-STJ commented on #1809
Thanks James for adding to the response. I also had a chat with Boon and considered the points elaborated.

Going back to Boon's points, options that we were considering are B & C.

B. Export a raw private key (i.e. the 32-byte, 64-character string) from seeds, nor raw private keys or JSON keystores users import
C. Export JSON keystore file for that one address generated from seeds

Let us go with

[2021-04-28 22:13] JamesSmartCell commented on #1809
Agree with that, I know MM allows you to see the private key after typing your password - if anyone wants to get the raw private key they can export from AW as JSON, import to MM then expose the key. This way, there is a path we can tell people that takes them from seed phrase to private key, but it's full of warnings, isn't a single step and can't be done by accident.

[2021-04-29 12:15] colourfreak commented on #1778
![erc1155-large](https://user-images.githubusercontent.com/51817359/116548996-3e438b80-a8f5-11eb-9fb9-e949a496388a.jpg)

[2021-05-01 18:36] Codahuy opened #1823 "How to change default app token?"
-

[2021-05-01 19:26] Codahuy commented on #1626
Hey mercuzzi!
I saw your app in google play.
How did you removed some features from the original repo?
Thanks

[2021-05-01 20:30] Codahuy commented on #1625
DEFAULT_HOMEPAGE is not in the EthereumNetworkBase anymore?

[2021-05-01 20:32] Codahuy commented on #1823
I think i found it, now im struggling on how to change the images and removing some features like the webpage in the menu and some options in the settings as adding new tokens.

[2021-05-03 09:51] ajith9870 opened #1824 "Dapp not working"
Hi ,

[2021-05-03 10:48] #1824 closed

[2021-05-04 03:17] AW-STJ opened #1825 "Implement API changes needed to use Wyre widget in application"
Wyre implemented a change, whereby wallet would need to lock in order via API before allowing widget operation.

The changes are detailed in:

https://docs.sendwyre.com/docs/wallet-order-reservations

Without this change, our users are not able to complete the transaction in Wyre.

![image](https://user-images.githubusercontent.com/61957841/116957378-154b3e00-acdb-11eb-8801-1fc50965d81e.png)

The

[2021-05-04 20:34] #1823 closed

[2021-05-07 06:49] hboon opened #1829 "CoinGecko price history"
To get the historical data, just do (where "ethereum" is CoinGecko's token id for Ether):

[code]

You can substitute `days` for 1, 7, 30, 90, 360 which should match what we need

[2021-05-08 15:37] justindg commented on #1821
@JamesSmartCell @AW-STJ

Before I push the last batch of changes, I just need clarification for a specific scenario

Suppose Active Networks (Settings) are currently Ethereum and XDAI. Browser Network is Ethereum. User changes Browser Network to Binance.

What should be the desired outcome?
a. Binance will be added to the list of active networks
b. Binance completely replaces the list of active ne

[2021-05-08 16:35] hboon commented on #1821
The browser network switcher should not include Binance, only Ethereum and xDai.

[2021-05-10 00:02] JamesSmartCell commented on #1821
We can go back to this method. Currently it's broken because of the mainnet/testnet toggle being removed from the filters; I think I see it working but because that filter was removed you see all the testnets you previously selected on the single network select mode even when you specifically set the toggle to mainnet, and vice versa.

[2021-05-10 00:52] JamesSmartCell commented on #1770
Hi @colourfreak, how would you get to this screen with the top pager? Is it by clicking the token in the main wallet tab? If so; which one of these has the Send/Receive buttons, or do they all?

[2021-05-10 00:58] JamesSmartCell opened #1831 "Construct blank activities, update graphic assets and create widgets [Samoa]"
This issue is creating the graphic skeletons for the big Samoa update. I have tried to add in how to get the data, but the first priority is getting the skeletons of each view to appear; once they do we can then try to add the correct data.

Please create a 'Samoa Update' WIP PR branch to being with, and then have sub-PR's going into that main branch.

Some changes can take immediate effect (eg th

[2021-05-10 02:04] JamesSmartCell commented on #1829
That is epic. Works perfectly.

https://api.coingecko.com/api/v3/coins/dai/market_chart?days=1&vs_currency=USD

For ERC20 did you have to use a lookup table to match token address to api 'coins' name? Or does the symbol work?

[2021-05-10 03:28] hboon commented on #1829
We have this. The platform string mapping is generated emprically:

[code]

[2021-05-10 03:30] hboon commented on #1829
^ This can be used to build a token contract + server <-> CoinGecko token ID mapping.

[2021-05-10 05:30] JamesSmartCell commented on #1829
So you use that mapping to find a symbol match then use the corresponding 'id' in the api/v3/coins/ route?

EG {"id":"aave-dai","symbol":"adai","name":"Aave DAI"}

Do you need to disambiguate clashing symbols using the full name?

[2021-05-10 08:09] hboon commented on #1829
Do you mean `api/v3/coins/ethereum/market_chart`? Yes. But only if contract matching fails. Didn't check if name matching would give good matches.

[2021-05-11 00:55] hboon commented on #1829
It’s in the platforms dictionary. Oh. Maybe you need to set a query parameter to include it when fetching the list of supported tokens. See how it the pseudo code above we compare it.

[2021-05-11 01:37] JamesSmartCell commented on #1829
What's the actual route to get the addresses? I looked at the pseudo code but couldn't get where you form the route. I tried adding the platform name in but couldn't get any correct response. I can only ever get symbol/name for the tokens from the ```/api/v3/coins/list``` mapping.

[2021-05-11 03:06] hboon commented on #1829
There are 3 endpoints involved:

A. Fetch CoinGecko token IDs for supported tokens: `curl 'https://api.coingecko.com/api/v3/coins/list?include_platform=true'`

B. Fetch token prices given a list of token IDs: `curl 'https://api.coingecko.com/api/v3/coins/markets?ids=ethereum%2Cweth%2Csai%2Cuniswap%2Camber%2Ctether%2Ckickico%2Cusd-coin%2Cdai%2Cwaifu-token%2Chuobi-token%2Cscatter-cx%2Cnest%2Cntoken0

[2021-05-12 08:52] harold26kim opened #1832 "oasis.app Browser ethereum provider and URL network param do not match!"
Good day to all,

I got an issue with oasis.app site. Check the screenshot below. How I can fix this issue? Thank you all and have a great day ahead.

![image](https://user-images.githubusercontent.com/8415590/117946929-4f9f8580-b342-11eb-93b6-fbc99665bd25.png)

[2021-05-14 02:37] ErwinDecenternet commented on #1832
We need to get a feedback from Oasis.app developers themselves since we need to know what specifically they are asking to successfully integrate with a wallet.

[2021-05-16 00:41] JamesSmartCell commented on #1770
Thanks that's clear

[2021-05-16 00:44] JamesSmartCell commented on #1831
Hi @justindg. Please refer to the interactive prototype for flow:

https://invis.io/7TZHRQ8W265

In particular, how to move from the wallet summary to sub-wallets, and also see that the send/receive + extra (bottom sheet) is still at the bottom of the page that you get to (currently called ```class ERC20DetailActivity```) when you click on each token.

[2021-05-17 05:09] JamesSmartCell commented on #1821
Now fixed

[2021-05-17 05:09] #1821 closed

[2021-05-17 05:15] JamesSmartCell commented on #1782
@colourful-land do you know if this happened? Can I close this issue?

[2021-05-17 05:20] JamesSmartCell commented on #1814
It should be a lot easier to add chains now, much less needs to be changed

[2021-05-17 06:57] hboon commented on #1814
@JamesSmartCell note that I asked for some clarifications here: https://github.com/AlphaWallet/alpha-wallet-ios/issues/2722

[2021-05-17 08:30] #1805 closed

[2021-05-17 08:30] #1820 closed

[2021-05-18 00:18] zhangzhongnan928 opened #1838 "Shall we use this https://tokens.coingecko.com/uniswap/all.json to update our own default token list"
https://tokenlists.org/token-list?url=https://tokens.coingecko.com/uniswap/all.json
iOS https://github.com/AlphaWallet/alpha-wallet-ios/issues/2769

[2021-05-18 01:15] colourful-land commented on #1782
Not yet. ...

[2021-05-18 02:22] AW-STJ opened #1840 "AlchemyNFT Twitter verification error in AW Android browser"
The error only occurs in AlphaWallet Androrid browser during Twitter verification.

https://user-images.githubusercontent.com/61957841/118580579-78f16300-b7d3-11eb-9d57-222d5795a227.mp4

Expected result is to redirect back to autographnft website connected with Twitter.

[2021-05-18 09:42] colourfreak opened #1841 "Update Polygon Token Icons"
**Describe the bug**!
Tokens on Polygon does not show up automatically even with a positive balance.
Tokens are missing icons that will differentiate them from the Mainnet.

**Steps to reproduce (REQUIRED)**
Steps to reproduce the behavior

1. Enable Polygon Network
2. Swap Matic (on Polygon) to DAI (on Polygon)
3. DAI does not show up

**Expect**
6a. Auto-display tokens with positive balance on P

[2021-05-18 13:39] CodahUY opened #1842 "Tokens not appearing and BNB price is NULL"
Tokens are not appearing in the Manage tokens window and BNB price is empty

[2021-05-19 01:06] #1832 closed

[2021-05-19 10:08] zhangzhongnan928 opened #1846 "Add http://mibao.net to DApp list"
please add http://mibao.net to suggested DApp list

[2021-05-20 01:23] JamesSmartCell commented on #1841
Hi @colourfreak we can add these assets to our iconassets repo. That way, they'll be served automatically to both iOS, Android and any other apps which use our icon repo (it's kind of a duplicate of the Trust icon assets repo, but under our control. It's exactly for this kind of thing).

We haven't yet released polygon support on Android but it's in the release I'm preparing.

[2021-05-20 09:03] ssreelekhya opened #1848 "KNC Token Migration"
Hello Team,

KNC token is undergoing a migration and upgrade, KNC migration is an important step forward in our Kyber 3.0 journey.
It would be great if you could support this migration.
New KNC smart contract address: 0xdeFA4e8a7bcBA345F687a2f1456F5Edd9CE97202
For further information, please refer to the following: [KNC Token Migration Guide](https://blog.kyber.network/knc-token-migration-guide-fd

[2021-05-20 09:54] colourfreak commented on #1848
We added a new item to 'Utilities' where you can quickly jump to the Migration Page.

![photo_2021-05-20 11 53 37](https://user-images.githubusercontent.com/51817359/118958835-0f538f00-b962-11eb-8224-1686334ac7b2.jpeg)
![photo_2021-05-20 11 53 39](https://user-images.githubusercontent.com/51817359/118958844-1084bc00-b962-11eb-8a3b-f5191434517f.jpeg)

[2021-05-20 14:21] AW-STJ opened #1849 "Make it explict that Binance is BSC"
There is confusion happening as Binance have BSC and Binance chains. So best to list the chain as 'Binance (BSC)'. I have got a few queries on this already on support.

[2021-05-20 16:06] AW-STJ opened #1850 "WalletConnect not working during making offers flow"
Issue is related to AutographNFT.

Ths issue happens when making offfer at https://autographnft-foxgem.vercel.app/

The WalletConnect implementation works on iOS without any issues.

However, there is an issue with Android. The WalletConnect connection is made successfully, but the confirmation on the wallet does not result in any further step on the website which remains stuck at loading.

![imag

[2021-05-20 18:28] CodahUY opened #1851 "BNB Price takes a lot of time to load or doesnt load at all"
BNB Price takes a lot of time to load or doesnt load at all.

[2021-05-21 03:33] sharonsylu opened #1852 "Unable to connect wallet to Etherscan "revoke feature" to canx ETH Unlimited Contracts"
User reported bug via support:
Cannot connect to wallet to Etherscan, objective is to revoke Uniswap approval (Unlimited ERC20 allowances!)

Message:
Hi I have a problem to revoke UNI Swap access to my founds, please help me.
https://etherscan.io/tokenapprovalchecker?search=0x39063c32ebef4b026609ef841b8203e52de68630

Steps to reproduce the behaviour:

1. Tap Browser
2. Insert Etherscan Contract ur

[2021-05-21 03:33] sharonsylu commented on #1852
Note: this ticket is replicated in both iOS and Android pending user confirmation

[2021-05-21 03:56] sharonsylu opened #1853 "Unable to connect wallet to Etherscan "revoke feature" to canx ETH Unlimited Contracts"
User reported bug via support:
Cannot connect to wallet to Etherscan, objective is to revoke Uniswap approval (Unlimited ERC20 allowances!)

Message:
Hi I have a problem to revoke UNI Swap access to my founds, please help me.
https://etherscan.io/tokenapprovalchecker?search=0x39063c32ebef4b026609ef841b8203e52de68630

Steps to reproduce the behaviour:

1. Tap Browser
2. Insert Etherscan Contract ur

[2021-05-21 03:56] sharonsylu commented on #1853
Note: this ticket is replicated in both iOS and Android pending user confirmation of version

[2021-05-21 04:33] sharonsylu commented on #1853
Closing - duplicate ticket.

[2021-05-21 04:33] #1853 closed

[2021-05-23 00:13] JamesSmartCell commented on #1851
Hi @CodahUY thanks for the heads up I see it now. It should now be fixed. Can you confirm?

[2021-05-23 00:17] JamesSmartCell commented on #1842
Hi @CodahUY this should be improved now; tokens should automatically appear in the wallet when sent. If this isn't working correctly, could you send a watch wallet address that holds some BNB tokens, we will try to work out what's going on.

[2021-05-23 10:47] zhangzhongnan928 opened #1855 "add a new network support, Optimism"
https://community.optimism.io/docs/

[2021-05-24 01:06] AW-STJ opened #1856 "Prompt to rate and review app"
We need to prompt users to rate our application and leave reviews. It is best to select a moment in time where the app user may have had a positive experience.

We should implement these features uniformly across Android and iOS, so create an issue to capture the exact requirements.

I suggest prompting users after:
1. Third successful transaction
2. Returning on consecutive dates for the first ti

[2021-05-24 04:40] hboon commented on #1856
Commented at #2793. Likely no design work needed from Tomek for iOS.

[2021-05-24 05:51] sharonsylu opened #1858 "Walletconnect issues to Gnosis Safe + Android ends the active session with WalletConnect, due to gas-limit settings."
[hat tip to bsh666]

**Situation:**

Trying to connect alphawallet mobile app with Gnosis Safe via walletconnect as a signer wallet.

**Issue #1: WalletConnect issues to Gnosis Safe**

Not able to scan gnosis walletconnect code though is the camera would not focus in portrait mode. It does focus in landscape mode, but then it still does not scan, the bar code cannot fit in the scan rectangle in th

[2021-05-24 08:31] JamesSmartCell commented on #1858
Thanks for writing these out @sharonsylu, I'll get these updated

[2021-05-24 08:32] JamesSmartCell commented on #1855
Should be much easier to add new networks now ...

[2021-05-24 08:53] hboon commented on #1855
In case there's anything to take note of from: https://github.com/AlphaWallet/alpha-wallet-ios/issues/2792

[2021-05-24 08:55] hboon commented on #1853
Duplicate of #1852

[2021-05-24 09:29] hboon commented on #1852
Refer to https://github.com/AlphaWallet/alpha-wallet-ios/issues/2782#issuecomment-846913708

[2021-05-25 12:11] AW-STJ opened #1864 "[AutographNFT] Twitter authentication not working"
While using AutographNFT in our dapp browser, the 'Log-in with Twitter' option does not work. The browser throws this error, while redirecting back to autographNFT website after Twitter verification.

![image](https://user-images.githubusercontent.com/61957841/119495317-a3c85200-bda5-11eb-899d-5df00b10f4af.png)

Staging site: https://autographnft-foxgem.vercel.app

Steps:
1. Go to profile
2. Selec

[2021-05-25 20:34] CodahUY commented on #1842
Thanks a lot James! I didnt answer because i losed my github account, sorry. It works now! :)

[2021-05-25 20:34] #1842 closed

[2021-05-25 20:35] CodahUY commented on #1851
Its solved! Thanks!

[2021-05-25 20:35] #1851 closed

[2021-05-25 20:36] CodahUY opened #1865 "How to add a token as a "main token" that appears when opening the wallet."
Hello!
Sorry for opening another ticket.
I wanted to know how can we add an specific token (Doge for example in BSC) to appear in the main screen like the active chain tokens that always appear in the wallet.
Thanks!

[2021-05-26 00:05] JamesSmartCell commented on #1865
Hi @CodahUY do you mean; encode this into the wallet in source, or always display it for a user?

The latter is quite easy, go to 'add / hide tokens' on the main page, find the token in the list and switch it on. It'll always appear.

If the former; we haven't added this in yet, but it's a good idea. We can add an XML list similar to 'known_contract.json' which forces tokens in the list to always

[2021-05-26 00:33] AW-STJ commented on #1864
Assigning to James as this is time sensitive

[2021-05-26 00:34] AW-STJ commented on #1850
Assigning to James as this is time sensitive

[2021-05-26 01:21] AW-STJ opened #1866 "Prompt and collect user emails"
We should collect and maintain a list of users' email. This will help us immensely in announcing new features, doing usability testing etc.

@colourfreak - can you design how we can do that. Need to consider #1856 as this is another prompt to the users.

[2021-05-26 07:44] colourfreak opened #1868 "Add Custom Linking to Quickswap for tokens on Polygon"
#2103 - since Quickswap is a for of Uniswap, we can add custom linking for all tokens on Polygon.

![Quickswap_AlphaWallet](https://user-images.githubusercontent.com/51817359/119621863-e79f7380-be06-11eb-8a17-7dd34c0ff951.jpg)

[2021-05-26 17:20] CodahUY commented on #1865
In code, so if a new user opens the wallet that token will appear by default. That would be good if the wallet has its own token maybe.

[2021-05-26 23:54] CodahUY opened #1870 "BNB price not syncing again and ethereum contracts not appearing..."
BNB price is the same than ethereum or dxdai, also ethereum contracts are suddenly not appearing, even in new clean projects, now...

[2021-05-27 00:00] CodahUY commented on #1870
Suddenly appeared again! Wtf

[2021-05-27 00:00] #1870 closed

[2021-05-27 05:44] #1848 closed

[2021-05-27 09:41] colourfreak opened #1872 "Set different Home in the Browser after connecting to Polygon"
When you are in a Browser connected to Mainnet and you switch to Polygon, it resets the browser and starts with a blank page. What we want to do is to loads in https://alphawallet.com/browser-item-category/polygon/ instead.

<img width="1628" alt="Screenshot 2021-05-27 at 11 40 22" src="https://user-images.githubusercontent.com/51817359/119804102-54d30780-bee0-11eb-98d2-bb82945649a3.png">

[2021-05-27 10:40] hboon commented on #1872
That means we are displaying an index of dapps, which got us rejected multiple times. They even scanned for words like "crypto kitties" and their URL even when we disabled the functionality but kept the list in the app. Whether the list is loaded from a website by automatically loading the page or whether the list is built into the app shouldn't matter.

Don't think we can do this.

[2021-05-27 10:48] hboon commented on #1872
(replied to wrong issue, deleted comment)

[2021-05-27 16:46] santiagodipaolo opened #1874 "Add RSK network"
Hello!
I work at RSK (the safest smart contract Blockchain that is secured by the Bitcoin Network) and I am looking forward to create agreements with wallets to support the network.

More information about RSK: rsk.co
Telegram: @santidipaolo
Twitter: @santidipaolo

Thanks!

[2021-05-28 03:25] AW-STJ opened #1875 "[Error Message Improvement] Insufficient Funds #2812"
Mainthread: https://github.com/AlphaWallet/alpha-wallet-ios/issues/2812

Summary:  'Insufficient funds' has been confusing to new users. Proposal to change the dialogue to 'Insufficient ETH', so that it would make it more sense to users.

[2021-05-28 03:30] jinkjonks commented on #1875
Shall I fix this one? I implemented this under @JamesSmartCell

[2021-05-28 03:34] AW-STJ commented on #1875
Yes! That would be fantastic.

[2021-05-28 03:40] jinkjonks commented on #1875
Hey Sunil, just to confirm, this is the warning that pops up when setting the gas settings correct?

[2021-05-28 05:30] hboon commented on #1875
It's supposed to do this instead [1]:

<img width="200" alt="Screenshot 2021-05-28 at 1 29 23 PM" src="https://user-images.githubusercontent.com/56189/119934746-dbf3ae80-bfb8-11eb-8774-5661b5de2817.png">

[1] https://zpl.io/29RZ0nd

[2021-05-28 10:56] AW-STJ commented on #1875
This scenario works for ETH, but for other tokens 'Availabe ETH' would not make sense.

[2021-05-28 12:03] hboon commented on #1875
Yes. Replace the symbol accordingly.

[2021-05-28 18:58] CodahUY opened #1877 "Why is this happening? Ethereum Contracts dissapear and Binance price is null depending the day"
It continues happening.
![HAPPENMING](https://user-images.githubusercontent.com/83675142/120030196-88d82680-bfcd-11eb-9166-275eb2a426ff.PNG)

[2021-05-28 19:05] CodahUY commented on #1877
Also adding contracts doesnt work.

[2021-05-28 20:07] ghost opened #1878 "The project is 3.31 is not synchronized to the apk. The apk works and project dont."

[2021-05-29 22:11] #1877 closed

[2021-05-30 10:45] #1855 closed

[2021-05-31 23:00] bonevays opened #1883 "A whole lotta undownloadable artifacts"
Hi folks, this might be somehow well-known to Android devs but it's my first time trying to debug it. I run Android Studio Canary and tried to build the project, I got errors quite early in the process:

`Could not find com.google.code.gson:gson:2.8.5.
     Searched in the following locations:
       - https://dl.google.com/dl/android/maven2/com/google/code/gson/gson/2.8.5/gson-2.8.5.pom
     If t

[2021-06-01 02:00] #1864 closed

[2021-06-01 02:13] #1875 closed

[2021-06-01 10:29] colourfreak opened #1885 "Update BSC network token icons"
BUSD
0xe9e7cea3dedca5984780bafc599bd69add087d56
https://zpl.io/a7gZX4E
![BUSD](https://user-images.githubusercontent.com/51817359/120307754-a3fbac80-c2d3-11eb-9ebc-6c2880144312.png)

---

BUSD-T
0x55d398326f99059ff775485246999027b3197955
https://zpl.io/V0rZ80Q
![BUSD-T](https://user-images.githubusercontent.com/51817359/120307764-a6f69d00-c2d3-11eb-9e1d-c0e3b880da54.png)

---

vBUSD
0x95c78222b3d6

[2021-06-01 10:51] colourfreak commented on #1885
BETH
0x250632378e573c6be1ac2f97fcdf00515d0aa91b
https://zpl.io/VK7Nz37
![BETH](https://user-images.githubusercontent.com/51817359/120309136-2e90db80-c2d5-11eb-9325-a23c74d7b64b.png)

---

WBNB
0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c
https://zpl.io/a3rzB7N
![WBNB](https://user-images.githubusercontent.com/51817359/120309213-45cfc900-c2d5-11eb-9c1a-09d8afbbace3.png)

---

CAKE
0x0e09fabb73bd3ade0

[2021-06-01 11:41] colourfreak commented on #1885
LINK
0xf8a0bf9cf54bb92f17374d9e9a321e6a111a51bd
https://zpl.io/bPB4ZwL
![Link](https://user-images.githubusercontent.com/51817359/120316669-f5a93480-c2dd-11eb-9d9b-320ac0f939df.png)

---

vADA
0x9a0af7fdb2065ce470d72664de73cae409da28ec7
https://zpl.io/bAxGrKo
![vADA](https://user-images.githubusercontent.com/51817359/120316927-46b92880-c2de-11eb-9b0e-7ef17be785b7.png)

---

vDOT
0x1610bc33319e9398

[2021-06-01 12:15] colourfreak opened #1886 "Do not reset the Browser when you hit on "Browser icon""
**What to do:**
Do not reset the browser when you hit on "browser" icon again.

[2021-06-01 12:36] colourfreak opened #1887 "Let users add a custom RPC"
**Describe the issue**
Let users add a custom RPC, similar to MetaMask

**Steps to reproduce (REQUIRED)**
Steps to reproduce the behavior

1. Open Settings
2. Go to Select Active Networks
3. Click + button
4. Enter Data

Zeplin:
https://zpl.io/bPB4E6D

<img width="1769" alt="Screenshot 2021-06-01 at 14 36 34" src="https://user-images.githubusercontent.com/51817359/120324305-c519c880-c2e6-11eb-92ce

[2021-06-01 12:40] colourfreak opened #1888 "Enable Polygon Network by default"
Along with XDAI, ETH.

[2021-06-02 09:50] colourfreak opened #1889 "App crashes when connecting to Ethereum/Matic bridge"
Android 3.31 (154)

![2021-06-02-110321](https://user-images.githubusercontent.com/51817359/120459562-93f9d080-c398-11eb-90d8-176c1395ff32.gif)

[2021-06-03 00:06] AW-STJ commented on #1889
For me, the app is not crashing but cannot connect to the bridge as WalletConnect appears to be broken

![image](https://user-images.githubusercontent.com/61957841/120566774-54dc8580-c453-11eb-9c14-f2822d10db28.png)

https://wallet.matic.network/bridge/

[2021-06-03 07:07] colourfreak opened #1890 "Only display symbol in Wallet tab, i.e. "<symbol>" and no longer "<name> (<symbol>)"
https://github.com/AlphaWallet/alpha-wallet-ios/issues/2830

[2021-06-03 07:12] colourfreak commented on #1889
I requested on their Discord. They said we should integrate matic.js SDK.

[2021-06-03 07:14] hboon commented on #1890
Oh. I forgot to add an issue here. Thanks Tomek.

[2021-06-03 09:11] hboon commented on #1885
Refer https://github.com/AlphaWallet/alpha-wallet-ios/issues/2835#issuecomment-853717366

[2021-06-04 07:59] hboon commented on #1829
Updated mapping for platforms at https://github.com/AlphaWallet/alpha-wallet-ios/blob/02a2541c41b705b79c5c8b889de9f1a91bf9a9f3/AlphaWallet/Core/CoinTicker/CoinTickersFetcher.swift#L318

Notably, Fantom is supported and there was a typo in "avalanche" earlier (it was uppercase).

[2021-06-04 12:41] #1816 closed

[2021-06-07 07:43] JamesSmartCell commented on #1886
Ok, we can remove it - it goes against the design standard but since most people don't seem to know this is how apps with tab bar should work; it should be ok.

Needs to be done together with adding the 'home' button at the top.

[2021-06-07 07:50] JamesSmartCell commented on #1889
Good news; this is fixed in the forthcoming release.

[2021-06-09 05:37] hboon commented on #1778
@justindg @JamesSmartCell Have we figured out how to get ERC1155 token transactions via Etherscan or Blockscout?

I couldn't find the transaction https://ropsten.etherscan.io/tx/0xfc924192fb068a6326bc28a2f5762be3a4b1fb6a1ef801bf6bf02c06af929d53 [1] in Etherscan API output:

[code]

[1] https://github.com/ethereum/EIPs/issues/1155#issuecomment-399800676

[2021-06-15 09:47] splitice opened #1897 "Fiat details missing"
Great app. I have a wallet which has been running on my android device for many months. It's running on my android device as a watch only wallet  (public key).

Recently it lost fiat value information. Not a big issue but rather annoying.

I tested changing from AUD to USD to see if it was an issue specific to AUD. It's not.

I suspect it is due to the wallet being watch only as I have noticed oth

[2021-06-22 00:53] AW-STJ opened #1900 "Last digit of wallet address truncated in 'My Wallet Address Screen'"
Version 3.33 (158)

The full wallet address is: 0xfCABe3451aC8EDfB8FB6b9274C2E095D9cCC8082

![image](https://user-images.githubusercontent.com/61957841/122845859-f286ee80-d347-11eb-9b86-2080befca027.png)

[2021-06-23 03:52] hboon opened #1901 "Implement EIP3085 wallet_addEthereumChain"
This is the iOS PR for reference: https://github.com/AlphaWallet/alpha-wallet-ios/pull/2907

A good site for Heco to test against: https://opennft.io. Tap on the hamburger in the top right of the site and tap CONNECT to trigger `wallet_addEthereumChain`.

There are a few cases to handle:

A. Prompted for a chain that is already enabled, but not the current chain in the browser
B. Prompted for a ch

[2021-06-28 07:06] roguetr commented on #1889
Hi, this issue still seems to be occurring on 3.33. All other dapps for the most part work but matic bridge and wallet get stuck at either "metamask not installed" or walletconnect no passing through.

[2021-06-28 07:15] roguetr opened #1903 "Biometrics interferes with wallet import"
On two separate Android devices, both with version 3.33, importing the wallet using fingerprint on one and facial recognition on the other has failed. I've been required to select "Use Pin" and enter the pattern manually.

[2021-06-30 07:50] hboon opened #1904 "Make chain ID in `engine.chainId` be hex encoded"
Refer to https://github.com/AlphaWallet/alpha-wallet-ios/pull/2923/files for implementation.

So it's consistent with:

[code]

Note that the value returned by `web3.version.getNetwork()` should still be decimal (empirically determined)

[2021-07-01 15:42] AW-STJ opened #1906 "Enable accessing photos on mobile through Dapp browser"
Unable to upload photos, because of the error on screenshot.

Expected behaviour: the user should able prompted to open the File chooser to choose the NFT image.

![Screenshot_20210701-173530_AlphaWallet.jpg](https://user-images.githubusercontent.com/61957841/124152137-9b66e380-dad6-11eb-8d6d-6a90874b44f6.jpg)

[2021-07-05 05:13] hboon opened #1909 "Update Blockscout API endpoint for xDai"
So transactions aren't fetched anymore and we can't detect any tokens — ERC20, ERC721.

Refer to https://github.com/AlphaWallet/alpha-wallet-ios/issues/2941

[2021-07-05 07:19] JamesSmartCell commented on #1903
Hi @roguetr , yes we had to pull facial recognition unlock support for now as it's not considered a fully secure unlock on some phones, and wouldn't provide the required unlock event that the keystore needed to unlock the private key.

Perhaps we can support it like this: support a software lock of the key if using facial unlock. The PIN/Fingerprint lock can use the full secure enclave locking.

[2021-07-05 07:22] JamesSmartCell commented on #1897
Hi @splitice Thanks for reporting! Can you say for which chain you're seeing the activity page is missing transactions? We're aware of an update for xDai API routes which prevented some xDai transactions showing. Also Polygon/Mumbai had similar issues.

These issues should be fixed in the release that's coming this week.

[2021-07-05 07:25] JamesSmartCell commented on #1897
Could you give some more info about Fiat info loss? We haven't seen this reported from anywhere else and it appears to be correctly on all our builds. Eg do you use VPN, if so which one; our method of fetching API call may be failing over some of these. Did the fiat info come back?

[2021-07-05 07:32] splitice commented on #1897
No VPN. Just a regular old (IPv4) internet connection. I do not beleive it to be related to connectivity as another device with a full wallet was not affected on the same network.

I ended up resolving the issue (or it resolved itself). I did reinstall the application. So either the API service you run had a period of unavailability or some cache was corrupt.

An Ethereum wallet is my only datapoi

[2021-07-05 07:40] roguetr commented on #1903
Hi James,

I'd be happy to use pin only but it seems to attempt facial recognition
with no option to disable it (I use pattern for system unlock but have face
data stored), so currently I just go through the process of clicking "use
pin", which prompts for facial recognition and then clicking "use pattern"
and entering the pattern.

This only seems to be an issue for wallet import. I've been able

[2021-07-05 07:44] JamesSmartCell commented on #1889
I finally managed to reproduce this issue --- thanks for your patience.

[2021-07-05 07:53] JamesSmartCell commented on #1903
Dark mode request @colourfreak is our UX designer. I'm a fan of app skins too.
Activity Search: I believe it's in iOS, so it should be coming. Good idea anyway, that would be useful.

Yes, the key biometrics handling needs updating - we switched to the newer Android API a while back but it just didn't work correctly. By now hopefully they have ironed out the issues.

[2021-07-05 07:56] roguetr commented on #1903
Awesome, thanks! Looking forward to future updates. This app has by far has
been the most convenient and useful as a daily driver over any others that
I've ... persisted with :D

On Mon, 5 Jul 2021 at 17:53, James Brown ***@***.***> wrote:

[2021-07-05 07:58] JamesSmartCell commented on #1897
Yes, that could well be. We get our price info for ERC20 tokens from coingekko, and our chain price data from CoinMarketCap. Did you notice if there were still prices for tokens, and no chains or vice-versa? Or just no prices for any tokens?

[2021-07-05 08:00] JamesSmartCell commented on #1897
It could either be something in the app that caused it to lose sync (most likely) to service error (least likely). I can def take a look at how the tickers are stored and see if there's a way for sync to be lost.

[2021-07-05 08:44] JamesSmartCell commented on #1888
Now on by default

[2021-07-05 08:45] #1888 closed

[2021-07-05 08:47] JamesSmartCell commented on #1883
Maybe try Invalidate caches and restart ? We've never seen any issues like this.

Let us know if you manage to get past this stage, or not.

[2021-07-05 16:26] Teodor-Iancu opened #1910 "Documentation links are geting 404 Not Found Error"
Documentation links are geting  404 Not Found Error

[2021-07-05 16:38] hboon commented on #1910
Could you point us to which doc/file you found the broken link in so we can fix it?

[2021-07-05 17:12] Teodor-Iancu commented on #1910
--> "Find more information in our available documentation."
--> https://github.com/AlphaWallet/alpha-wallet-android/blob/master/docs/desktop/README.md
--> https://github.com/AlphaWallet/alpha-wallet-android/blob/master/docs/lib/README.md
--> https://github.com/AlphaWallet/alpha-wallet-android/blob/master/docs/dmz/README.md

[2021-07-06 07:42] hboon commented on #1910
Thanks @Teodor-Iancu!

[2021-07-07 04:18] #1910 closed

[2021-07-07 05:11] #1909 closed

[2021-07-07 05:11] #1889 closed

[2021-07-07 05:11] #1906 closed

[2021-07-07 05:28] hboon opened #1913 "Update Polygon mainnet and testnet to use Infura for RPC. More stable (hopefully)"
Refer https://github.com/AlphaWallet/alpha-wallet-ios/pull/2948

[2021-07-07 05:31] hboon commented on #1913
Apparently done in #1912 already.

[2021-07-07 05:31] #1913 closed

[2021-07-07 06:32] ChintanRathod commented on #1849
@AW-STJ Do we need to just show name as "Binance (BSC)"?

[2021-07-07 06:41] ChintanRathod commented on #1814
@JamesSmartCell What should we do with this ticket? Is it needed to work on or we can close?

[2021-07-07 07:18] hboon commented on #1814
If you can help figure out https://github.com/AlphaWallet/alpha-wallet-ios/issues/2722#issuecomment-841615037, we can proceed :)

[2021-07-07 11:35] AW-STJ commented on #1849
Yes that is all that is needed.

[2021-07-08 05:36] hboon opened #1914 "Set `ethereum.chainId` in injected JavaScript for dapp browser"
Fixes https://github.com/AlphaWallet/alpha-wallet-ios/issues/2758

Just need to point the commit for https://github.com/AlphaWallet/AlphaWallet-web3-provider to `459edbeef09cbd6e2f2e7960c8e9d4c18fb94bdb` to get this change: https://github.com/AlphaWallet/AlphaWallet-web3-provider/pull/19/files#diff-8faf344a3c86d9911d657d70735d1afffc3f910a0c50982f64bd3497e4af2624

[2021-07-08 11:26] #1849 closed

[2021-07-08 11:31] hieronymus4826 opened #1918 "QUICKSWAP liquidity pairs display as UNISWAP v2 in the wallet"
Also the value of the pair displayed is 0, both in the overview and when you click the pair.

NOTE! I am using the latest, yet unpublished version, as of 08.07.2021!

[Screenshot_20210708-111417_AlphaWallet~2.jpg](https://user-images.githubusercontent.com/84448420/124914525-1f4e2d80-dff9-11eb-86b7-43629625c21e.jpg)

[2021-07-09 05:48] hboon opened #1920 "Add native token icons for Optimistic mainnet and testnet"
https://github.com/AlphaWallet/alpha-wallet-ios/issues/2844#issuecomment-876307870

[2021-07-09 09:14] colourfreak commented on #1809
<img width="1479" alt="Screenshot 2021-07-09 at 11 14 08" src="https://user-images.githubusercontent.com/51817359/125054703-c9d05a00-e0a6-11eb-8b82-c6939732a6ac.png">

What if we add this item to the Settings -> Advanced -> Export JSON Keystore ?

Still unfinished, just a concept on where to place it.

[2021-07-09 12:46] hboon commented on #1809
We could tuck it there first and see how many ultimately users need it (by discovering it themselves or asking us) and tweak it?

[2021-07-10 07:10] hboon opened #1923 "Use OpenSea API key"
Doesn't appear to be used. It's optional, but presumably will be more severely rate-limited without it.

Key is available in the file `Constants+Credentials.swift` under `openseaKey`, starting with `3940` in Google Drive

Set it with the HTTP header `X-API-KEY`

[2021-07-13 01:36] JamesSmartCell commented on #1904
@hboon I couldn't get this to work, when I changed it nearly all dapps stopped working; they work correctly when value was reverted to decimals. Will revisit when we get more information on it.

Are there any dapps which require the network info to be in hex?

[2021-07-13 01:38] hboon commented on #1904
Not sure. Let’s just keep it that way first. I’ll take a quick look if I have the chance. But let’s not waste much time on this for now.

[2021-07-13 02:08] JamesSmartCell opened #1924 "ERC1155 Info"
@hboon Some notes on ERC1155 specifically for tracking balances and URI I made:

Check the Ethereum standard [https://eips.ethereum.org/EIPS/eip-1155](https://eips.ethereum.org/EIPS/eip-1155)

Token name and symbol are usually the same as ERC20/ERC721:

[code]

However the ERC1155 spec in openzeppelin doesn't indicate these are required. Name is also supplied in the contractURI:

Here is an exampl

[2021-07-13 04:45] hboon commented on #1924
contractURI()
---

[code]

Ok, but note that this is at the contract level so name and image are for the contract, not for the individual token types or token instances. (ie. we can use this to show that single row in the Wallet tab only), so if decimals is included here, we can't use it since there would be more than 1 token type (with 0 or more `decimals` value) in this same ERC1155 token-holdin

[2021-07-14 05:44] colourful-land commented on #1532
@ChintanRathod next time, just close the issue and if you want to be polite you can say "reöpen it if I was wrong". seeking permission took too much of our resources

[2021-07-14 05:44] #1532 closed

[2021-07-14 05:47] colourful-land opened #1925 "gradle build issue in dmz project"
observe in which directory is the following command executed:
[code]

[2021-07-14 05:47] colourful-land commented on #1925
Maybe it has something to do with my gradle version?
[code]

[2021-07-14 19:41] hieronymus4826 opened #1926 "Key Error: Unable to upgrade key"
A user who just installed the wallet is getting this issue on Android while trying to secure via a seed phrase (unable to start the process).

Initially when using only finger print he gets:
![IMG_20210714_222815_541.jpg](https://user-images.githubusercontent.com/84448420/125681630-35887b4e-88e3-409a-9af9-438c562555ac.jpg)

Once he sets up screenlock he gets:
![IMG_20210714_222556_615.jpg](https:/

[2021-07-15 06:25] hboon commented on #1924
Some notes for prosperity:

---

As for the collection name and `contractURI()`:

So for GenSys.X, `contractURI()` returns `https://api-mainnet.rarible.com/contractMetadata/{address}`, sub in the contract and we get `https://api-mainnet.rarible.com/contractMetadata/0x3ec057be60db3a2d416e14a6e3ab7f37ffccd7b8` which mentions "GenSys.X". So yes, this ERC1155 contract does indeed only hold 1 collectio

[2021-07-15 06:28] hboon commented on #1924
Added sections:

* "Effect on UI"
* "Variables in URLs"

[2021-07-15 06:29] mpaschenko commented on #1925
AW doesn't support gradle 7.x yet, please downgrade to 6.9 or so
cc:@JamesSmartCell

[2021-07-15 06:44] colourful-land commented on #1925
Can you make it work with gradle 7? I'm interested to see how you find out the underlying problem between gradle 7 and αW.

[2021-07-15 06:56] mpaschenko commented on #1925
I saw comment in the code about APK ballooning issue, what is it?

[2021-07-15 07:11] hboon opened #1927 "Verify ENS resolution (ENS name -> address) checks for all dot-separated names, not just `.eth`"

[2021-07-15 08:27] mpaschenko commented on #1925
@colourful-land please check my commit, basically, I can't see any issues with build & gradle 7, app runs well as I see. Please let me know if you will encounter any further problems

[2021-07-15 14:03] colourful-land commented on #1925
Can you check it yourself? Build it and check the resulting apk file size before and after

[2021-07-16 03:42] hboon commented on #1924
Summarize the way ERC1155 transfers/tokens can be fetched:

OpenSea
---
mainnet + Rinkeby only

Blockscout
---
Presumably all chains that are available on Blockscout, but verified with xDai so far

Event log
---
All

[2021-07-16 06:18] mpaschenko commented on #1925
@colourful-land pushed fixes, now apk file size remains the same. Actually, it's not the issue, but a new way to keep native libs uncompressed in the apk, so the OS shouldn't uncompress them before run.

[2021-07-16 09:20] colourfreak commented on #1809
Zeplin:
https://zpl.io/2yo7BKy

![export_to_json](https://user-images.githubusercontent.com/51817359/125924828-95e4a2ec-c21c-4661-a31d-b74a4b1df3a6.jpg)

[2021-07-19 02:20] hboon commented on #1809
@colourfreak one minor correction, the 3rd screen ("Export JSON Keystore") can't be shown (not correctly anyway) before setting the password, so we'll either have to move it to the end and change the button to "Export JSON Keystore", or remove it entirely.

[2021-07-19 05:39] hboon opened #1929 "Use API key for Binance Smart Chain explorer API"
Binance Smart Chain explorer API now requires an API key otherwise it will be severely rate limited. The API key on a free plan (ours) allows up to 5 calls/sec/IP. You can find it in `Constants+Credentials.swift` on Google Drive. Look for "binanceSmartChainExplorerApiKey"

[2021-07-19 07:28] colourfreak commented on #1903
We haven't thought about the dark mode yet. But we can put this in our backlog. But for the activity search is definitely a good suggestion. We already have it in iOS version of the app, the Android part is in progress.

@roguetr How do you usually search for activity? Would you rather search for an address, amount... ?

[2021-07-19 08:07] hieronymus4826 commented on #1926
Resolved in 3.35.1 by james.

[2021-07-19 08:07] #1926 closed

[2021-07-19 21:34] hieronymus4826 opened #1930 "Optimistic Ethereum not working"
After checking the new version of UniSwap on Optimistic Ethereum using the in-app browser, AlphaWallet latest version (19/07/21) on Galaxy S10+ here are the findings. We can split it to different issues after.

1) Unable to connect to Optimistic via WalletConnect in Chrome. Once the QR code is scanned, we are automatically connected to mainnet Ethereum, even though is disabled in active networks i

[2021-07-20 03:52] JamesSmartCell commented on #1925
@mpaschenko this fixes the APK ballooning issue? If so, nice work - we haven't had a chance to try to diagnose this issue.

[2021-07-20 04:17] JamesSmartCell commented on #1930
thanks @hieronymus4826. Do you have a watch address that has optimistic assets on it we can use for validation? I tried to get Optimistic Kovan tokens but couldn't get anywhere with the conversion dapp.

[2021-07-20 04:43] mpaschenko commented on #1925
@JamesSmartCell yes, the size remains the same as before

[2021-07-20 05:42] #1929 closed

[2021-07-20 05:44] #1927 closed

[2021-07-20 05:45] JamesSmartCell commented on #1925
Really good. Finally can update the gradle version.

[2021-07-20 06:28] hieronymus4826 commented on #1930
@JamesSmartCell I've tested it in all four wallets, all have assets on OE mainchain.

AlphaWallet iOS:  0x327FAE26ac2bA0a1C1e9b79663B72Ac139100Bc2 - has ETH

AlphaWallet Android: 0x4091c56F4636e3f4065a060c6765F4AB2890a8ce - has ETH

Metamask: 0xef12a286ab1398D2802401aC9dfCfb1Bd175d371 - Has ETH-xDai LP from UniSwap v3

CoinBaseWallet: 0x857D0Cc397867275110D1bA00bd01f61FE8C9ba0 - Has ETH-xDai LP fr

[2021-07-20 06:38] hieronymus4826 commented on #1930
I can also transfer you some, the fees are $0.30 to $0.50. Ping me on Discord when you need it.

[2021-07-21 01:50] zhangzhongnan928 opened #1934 "Please add Cronos testnet in next release"
https://cronos.crypto.org/docs/getting-started/metamask.html#using-metamask
Explore: https://cronos-explorer.crypto.org/
TCRO Faucet: https://cronos.crypto.org/faucet

Once done, they will list us in their dev document and website

[2021-07-21 07:40] colourfreak opened #1935 "Design: Add email contact as a support channel back"
Zeplin:
https://zpl.io/aR7N1M0

![Settings_Support_Android](https://user-images.githubusercontent.com/51817359/126450509-0d52665b-a7f5-461d-9c65-1a85ea250fa7.png)

1. I replaced 'Telegram (Public Channel)' with 'Discord'
2. I added 'Email'

[2021-07-21 13:55] #1925 closed

[2021-07-22 03:42] jinkjonks commented on #1934
I'll take care of this one today!

[2021-07-22 09:17] #1934 closed

[2021-07-22 10:38] #1920 closed

[2021-07-22 10:38] #1930 closed

[2021-07-24 03:25] roguetr commented on #1903
@colourfreak hmmm ... date or date range comes to mind first as I have had to scroll back _a lot_ to find transactions I'm looking for. Token/coin second. Address would certainly be useful but more when scrutinising contract interactions. Amounts above or below a filtered threshold would also be useful.

[2021-07-26 04:21] hboon opened #1941 "Verify `CRONOS_TEST_URL` is correct"
From #1938

Verify `CRONOS_TEST_URL` is correct at https://github.com/AlphaWallet/alpha-wallet-android/blob/01dee23cd51871efbba5da45f0be703101222b52/lib/src/main/java/com/alphawallet/ethereum/EthereumNetworkBase.java#L60

There seems to be 2 `EthereumNetworkBase.java` files. The other one seems correct (and different): https://github.com/AlphaWallet/alpha-wallet-android/blob/01dee23cd51871efbba5da

[2021-07-26 05:08] jinkjonks commented on #1941
Oops this was my bad! Thanks for pointing it out. I've made a new PR to fix this.

[2021-07-26 05:41] hboon commented on #1941
@jinkjonks thanks for checking it out

[2021-07-26 06:13] #1941 closed

[2021-07-26 07:12] colourful-land opened #1943 "With Java 16: Unable to make field private final java.lang.String java.io.File.path accessible"
[code]

[2021-07-26 07:57] colourful-land commented on #1943
This didn't help:

    $ _JAVA_OPTIONS='--add-opens=java.base/java.io=ALL-UNNAMED' gradle clean build

[2021-07-26 14:18] hieronymus4826 opened #1944 "SushiSwap doesnt detect Polygon on Android"
Displays and interacts with Ethereum, even though the only Active Network in the wallet is Polygon.

This is in-app browser:

![Screenshot_20210726-160720_AlphaWallet.jpg](https://user-images.githubusercontent.com/84448420/127003209-a1d66b6e-81ea-455f-9d5b-372dbabf0579.jpg)

Same happens when you connect in Chrome. Display Ethereum with only active network Polygon

![Screenshot_20210726-170721_Alp

[2021-07-26 17:49] hieronymus4826 opened #1945 "Beefy Finance doesn't detect Polygon"
Probably related to https://github.com/AlphaWallet/alpha-wallet-android/issues/1944

![Screenshot_20210726-204031_AlphaWallet.jpg](https://user-images.githubusercontent.com/84448420/127034339-907cb809-1405-460e-ba35-9d473bbde36f.jpg)

Does not connect at all using WalletConnect in Chrome on both Android and iOS.

Works properly on iOS (in the wallet browser).

[2021-07-26 21:51] hieronymus4826 opened #1946 "Augury Finance transaction java error"
Connected via WalletConnect, on Android.

This is what we get upon trying to interact with the platform.

![Screenshot_20210727-003650_AlphaWallet.jpg](https://user-images.githubusercontent.com/84448420/127063622-b6b1d57b-f818-4786-b8f7-a249b5720ca4.jpg)

Note, the active network session displays "Ethereum", the only active network is Polygon.

[2021-07-27 00:41] toddrandy79 opened #1947 "Money"
What's the problem

[2021-07-27 08:42] JamesSmartCell commented on #1947
Hi @toddrandy79 could you elaborate?

[2021-07-27 08:47] JamesSmartCell commented on #1945
@hboon seems we do need that upgrade you made; although despite trying for a while, I couldn't get anywhere with it. Could you give me a dump of a page with the provider code filled in; that way by comparing what AW Android is doing I can see exactly what's going wrong with the integration.

[2021-07-27 09:06] hboon commented on #1945
Maybe you are referring to this injected code?

[code]

For context, refer to #1901. It's mentioned under "The app-injected JavaScript hook needs to be updated to install a native hook:".

The error in the screenshot suggests the web provider library isn't updated. You can verify it by looking for "Our web3 provider (dist/AlphaWallet.js and dist/AlphaWallet-min.js) has been updated in" in #1901

[2021-07-27 10:53] JamesSmartCell commented on #1945
Following the steps exactly it still doesn't work on Android and I have no idea how to proceed to debug why it doesn't work. Can you do a web debug on chrome and copy paste exactly what iOS is giving to the browser? I think I can quickly work out what's going wrong based on this. Thanks.

[2021-07-27 11:22] hboon commented on #1945
For posterity. Try in the browser:

[code]

[2021-07-28 08:07] #1944 closed

[2021-07-28 08:07] #1945 closed

[2021-07-28 08:35] hboon opened #1950 "Implement designed Prompts for EIP3085 wallet_addEthereumChain support"
Refer to https://github.com/AlphaWallet/alpha-wallet-ios/issues/2908

[2021-07-28 14:02] JamesSmartCell commented on #1950
Actions for this PR:

1. Implement UX as per spec linked above (note use BottomSheetDialog but 'Androidise' the appearance as appropriate ie no bottom bar).
2. Allow custom chains with provided RPC, chain name, decimals etc. (Note that the block explorer part should be done in a different PR - only implement enough to get the chain working, the balance of the display working and name displaying).

[2021-07-28 14:06] JamesSmartCell commented on #1943
Find and use the default build options from AndroidStudio maybe?

[2021-07-28 14:07] JamesSmartCell commented on #1901
Note this Issue is partly closed now, it remains to implement the improved UI and custom chains.

[2021-07-28 14:13] JamesSmartCell commented on #1865
Hi, @CodahUy I have added instructions on how to do this in the readme on the Android AlphaWallet repo front page.

[2021-08-02 02:55] JamesSmartCell commented on #1947
Closing as not

[2021-08-02 02:55] #1947 closed

[2021-08-02 12:50] colourfreak commented on #1795
@AW-STJ Here is a great task for @mpaschenko

[2021-08-02 12:51] colourfreak commented on #1749
Second task for @mpaschenko @AW-STJ

[2021-08-02 12:52] #1841 closed

[2021-08-02 12:52] colourfreak commented on #1868
Third and last task @mpaschenko @AW-STJ

[2021-08-02 12:53] #1885 closed

[2021-08-02 12:54] #1665 closed

[2021-08-02 15:56] mpaschenko commented on #1795
@JamesSmartCell
Ok, so to summarize:
- if there is ENS name for the wallet, make the edit field read-only
- if there is no ENS, update field **name** from **Wallet** class
right?

[2021-08-03 10:38] mpaschenko commented on #1749
@colourfreak @JamesSmartCell should I use internal browser like for dapps or external would be fine?

[2021-08-03 11:58] JamesSmartCell commented on #1795
User may still want to rename even if they have ENS. Because, user may have many ENS names and the one that the wallet code picks is usually determined by whichever order the event scanner finds them in.

Instead, do a fetch when the activity/fragment starts, then, once the ENS name is ready, populate the field, but only if it doesn't have focus - that is, the user may already be typing in there.

[2021-08-03 12:10] mpaschenko commented on #1795
@JamesSmartCell talked with Vlad, and made as it's implemented on iOS, show ENS name as edit text hint if any.

[2021-08-03 21:57] JamesSmartCell commented on #1795
Ok that should also work. So, if I overrode the name previously and want to revert to the ENS name, I just delete the hint and it'll revert?

[2021-08-04 01:13] JamesSmartCell commented on #1903
@colourfreak this looks like it's a good issue on its own. An Activity sort by date, token name (any interaction with) and possibly token address is something I'd find very useful too. Sort by interaction with token does need extra support as currently we don't store eg the destination address of a token send; we decode this from the transaction input. This would have to be added to the activity d

[2021-08-04 04:45] hboon opened #1956 "Ping WalletConnect bridge server's /hello if WalletConnect connection fails"
Have to ping the correct bridge server

[2021-08-04 06:11] mpaschenko commented on #1795
@JamesSmartCell basically yes:
- if there is ENS name for the wallet - it's shown as a hint, which will disappear in the edit box, once you start to type anything (which let the user think that the typed name will be used as the name for the wallet)
- if you will clear the previous typed name - ENS hint will appear, which means this name will be used as well (like default or so).
- if there is no

[2021-08-04 08:38] mpaschenko commented on #1868
@JamesSmartCell @colourfreak just checked the code, but can't find any implementation for that (I mean for the other tokens). But it exists on ios, should I make it from scratch? Or did I miss something?
Also for the iOS for the LINK tokens it redirects to **https://1inch.exchange/#/r/0x98f21584006c79871F176F8D474958a69e04595B/LINK/ETH** should I use quickswap or 1inch as on iOS?

[2021-08-04 11:04] hboon opened #1959 "Users should not be allowed to change the gas price and limit on Optimistic chains"
Refer to https://github.com/AlphaWallet/alpha-wallet-ios/pull/3023

[2021-08-04 11:42] JamesSmartCell commented on #1878
Resolved, although you may have to do invalidate caches and rebuild.

[2021-08-04 11:42] #1878 closed

[2021-08-04 11:48] colourfreak commented on #1749
Please check out how this is implemented on iOS. @hboon

![2021-08-04 06 44 59](https://user-images.githubusercontent.com/51817359/128175605-74c2fafd-ef18-4f16-aa6d-542b5cf25ff5.gif)

[2021-08-04 11:50] colourfreak commented on #1903
Yeah. Very nice. I am adding this to my to-do list.

[2021-08-04 11:51] colourfreak commented on #1903
Banking apps should be a reference for us. They have to deal with the same issue. They allow users to search for payments from the past.

[2021-08-04 11:57] JamesSmartCell commented on #1868
We have previously added custom functions like this. It should be fairly trivial to extend this, for reference check ```openDapp(C.XDAI_BRIDGE_DAPP);``` in Erc20DetailActivity.

maybe 1inch on Mainnet, quickswap on Polygon?

[2021-08-04 11:58] JamesSmartCell commented on #1795
Ok nice, that sounds like a good way to do it.

[2021-08-04 12:08] hboon commented on #1868
1inch also supports Polygon now. So if it’s good enough, we can avoid QuickSwap entirely (less code to add an maintain). @colourfreak do you know?

[2021-08-04 14:56] colourfreak commented on #1868
Polygon users use Quickswap a lot. Much more than 1inch.

[2021-08-04 15:02] mpaschenko commented on #1795
Think you already added it’s ***@***.*** ***@***.***>

[2021-08-09 06:29] JamesSmartCell opened #1963 "Implement ticker widgets"
This is adding in a small app I wrote some time ago to enable ticker widgets on Android.

Initially, implement 'as-is'; which displays the tickers for various cryptos such as Bitcoin, Litecoin etc.

Once this is working, add in Tokens from Ethereum and other chains.

In completing this you'll have to use:

- Foreground service
- Background service
- Service update of widgets on home page

Initiall

[2021-08-09 17:24] colourfreak commented on #1769
@AW-STJ Assigned the task

[2021-08-09 17:24] colourfreak commented on #1768
@AW-STJ Assigned the task

[2021-08-09 17:27] colourfreak commented on #1887
@AW-STJ Assigned to @mpaschenko

[2021-08-11 06:59] JamesSmartCell opened #1966 "Add 'Rate Me"

[2021-08-11 07:05] JamesSmartCell opened #1967 "Add 'Rate Me' dialog + button"
Need to add the 'Rate Me' button as per just about every other app.

Recommend waiting until 5 app opens, and/or completing a successful action like sending a transaction or receiving some funds.

Therefore add a trigger in WalletFragment, and also in SendActivity.

Check with iOS team under what conditions the dialog appears.

Ensure the dialog looks correct, similar to ones used by apps like Twi

[2021-08-11 07:07] mpaschenko commented on #1967
@JamesSmartCell in a side project I did similar, and logic was:
- 1-3 stars - redirect user to mail form or somekind of the report (which is internal)
- 4-5 start - redirect user to google play,
to avoid bad reviews...
just FYI.

[2021-08-12 00:32] kboyero opened #1968 "Didnt you see that the app is not working? (Crashing when opening sending transaction panels and almost everything)"
Guys? Did you even check the app before launching the new update to google play store?
It is not working!
Neither in Android Studio.

[2021-08-12 02:46] sharonsylu commented on #1968
Hi @kboyero, could you please share a bit about your environment, so we can investigate please?

1) Your Device type
2) Android version: could you reconfirm v3.36.1 from google play store or SDK?
3) If you've done anything different since new update -- eg. import a wallet address with a huge number of tx

Screenshots of what you observed would be helpful, if possible.

[2021-08-12 03:00] hboon commented on #1968
Buzzing @hieronymus4826

[2021-08-12 14:03] hieronymus4826 opened #1970 "Not detecting balances and transfer history on Ethereum Mainnet"
Two separate users reporting they cannot see their ETH balances (or other tokens on the Ethereum Chain) on Android in the wallet. The balaces are properly read in the Browser and Detected by third party Defi Dapps. Working properly on iOS.

Case 1:
Android:
![Zero_balance_2](https://user-images.githubusercontent.com/84448420/129209885-ede05062-8917-48ed-95b7-ddebeaedccef.jpg)
Same Wallet on iOS:
!

[2021-08-12 14:11] hieronymus4826 commented on #1968
This is the only issue we've had with Android since the latest version (actually since the Eth update, before that it was working perf): https://github.com/AlphaWallet/alpha-wallet-android/issues/1970.

We need some screenshots or video examples. I have tested all interactions with the wallet and it has worked fine on my end today.

[2021-08-12 15:40] kboyero commented on #1968
I don't use the wallet for personal use, I just collaborate with it and make things in Android Studio with the project, but some friends of mine that really use it for saving crypto this update is not working. Also what should i sent you screenshot of? The crash screen of the mobile phone...

[2021-08-12 15:47] kboyero commented on #1970
![Uploading aa.PNG…]()

[2021-08-12 15:47] kboyero commented on #1968
![aa](https://user-images.githubusercontent.com/88807887/129227376-e33a984e-ad3e-443a-8da8-a46bb37ae613.PNG)

[2021-08-12 17:17] hieronymus4826 commented on #1968
This is an example of sequence of events that would help us understand where the problem is coming from. As you can see on my end everything is working well. Please include the models and makes of the phones, as well as the OS versions you are running. Thank you! @kboyero

https://user-images.githubusercontent.com/84448420/129239780-fa208c6d-9012-43ed-a11c-bae42e8e2559.mp4

[2021-08-12 17:19] kboyero commented on #1968
Can you check in Android Studio? I sent the screenshot of the error. Also, what apk are you using?

[2021-08-12 17:21] kboyero commented on #1968
The mobile phones are: Galaxy A51 Android 11, Xiaomi Mi A2 Android 11, ALL the Android Studio Device Emulators (Pixel 4, Pixel 2, Pixel XL, Nexus, Nexus 1, Pixel 4a tested with API 30, 29, and 28 and in none of them the app is working)

[2021-08-12 17:22] kboyero commented on #1968
As I am saying from the beggining, please, test it by yourself in Android Studio, with the latest release of this git or download the app in google play, also, i saw a review of another person saying the same.

[2021-08-12 17:27] kboyero commented on #1968
https://user-images.githubusercontent.com/88807887/129241440-ee71cf98-94fb-48ae-8afb-5fd3defc3de0.mp4
I suppose this is the video you wanted to see...

[2021-08-12 17:28] kboyero commented on #1968
https://user-images.githubusercontent.com/88807887/129241547-f5a6daa0-0d91-4e4b-90e8-7e5cdde4ab39.mp4

[2021-08-12 17:35] kboyero commented on #1968
This one is whit the emulator in Android Studio, same crash, I already sent you the crash log, it has something to be related with RealmToken

https://user-images.githubusercontent.com/88807887/129242438-6370348a-0f09-4651-ae4d-ffe0ad9ea506.mp4

[2021-08-13 00:35] JamesSmartCell commented on #1968
Thanks for reporting @kboyero!

We haven't seen this, and it doesn't happen for us when testing from AndroidStudio or testing the version on the PlayStore. We have tried it on Samsung, Huawei, Xiaomi and Pixel devices at least, plus the devices which other people in the company have.

It could potentially be an upgrade issue, as yes it's associated with RealmToken. Which version did you have insta

[2021-08-13 00:40] JamesSmartCell commented on #1967
Thanks, I was hoping you had previous experience with this! Looks good.

[2021-08-13 01:01] JamesSmartCell commented on #1968
@kboyero while I can't reproduce this issue, there does seem to be an issue with balances updating on the playstore build, which doesn't happen on a local build from AS. Perhaps this is related? Regardless we do need to produce a new build. Once it's out I'll let you know and hopefully this solves the issue.

If you do build from AndroidStudio, note that the Infura API key in the build.gradle file

[2021-08-13 01:25] #1935 closed

[2021-08-13 04:04] #1872 closed

[2021-08-13 04:18] JamesSmartCell commented on #1970
@hieronymus4826  I have managed to reproduce this on the released build, but not on a local build. Really confusing and really bad! I will re-release after I find out what the reported crash issue is about.

[2021-08-13 04:18] #1966 closed

[2021-08-13 06:53] #1900 closed

[2021-08-13 17:35] yokabo2 opened #1971 "App is crashing when tapping any Send button"
Hello. I'm the same guy from the other Issue, i dont know why but my account was flagged.
I tested the app again from another phone of another country ( J7 Prime and from a Samsung A31 ) and it is also not working downloading it from Play Store.
I request thay you please upload a new version to the PlayStore that works because we use the app for everything and also the Git repository because it is

[2021-08-13 17:45] yokabo2 commented on #1971
Also, I just tested the 3.35.1 version and it works perfectly, so the error is only in the new update, hope it helps you.

[2021-08-13 23:19] JamesSmartCell commented on #1971
Thanks for reporting it again, I am looking into this now.

Can you check the version you have installed is 3.36.1? There was an issue with sending with 3.36, which was replaced within a few minutes.

[2021-08-14 01:13] yokabo2 commented on #1971
Yes, the same version everywhere :)

[2021-08-15 07:32] JamesSmartCell commented on #1950
@mpaschenko can you check how much of this is complete based on your PR #1964 ?

[2021-08-15 07:37] JamesSmartCell commented on #1950
I do not have a good example to test on. It might be straightforward to produce a 'fake' event by using one of the Polygon dapps which produce this network switch, and just change the chainId to an unknown chain.

[2021-08-15 12:16] gosgos11 opened #1973 "Will ApphaWallet support L2 zkSync?"
Will ApphaWallet support ETH second-layer networks such as zkSync?

[2021-08-15 23:41] JamesSmartCell commented on #1973
We so far only support Optimism L2.

I just took a look at the zkSync explorer, it looks like this is a very popular network. Yes, we'll definitely look into supporting it.

Thanks for bringing this up.

[2021-08-16 06:25] JamesSmartCell opened #1974 "Update Dialog"
Implement a 'A new version of AlphaWallet has been released. Please upgrade in order to ensure issues are fixed' Dialog.

I think the best way to do this is to check github releases which we maintain alongside each PlayStore release:

```https://api.github.com/repos/AlphaWallet/alpha-wallet-android/releases/latest```

You can pull the latest version ID here:

[code]

Compare this with the version

[2021-08-16 06:36] JamesSmartCell commented on #1970
@hieronymus4826 This should have been fixed in v3.36.2. Once it has been released on PlayStore please update and close the issue if this is the case.

[2021-08-16 06:45] JamesSmartCell commented on #1974
If you can get the version directly from the PlayStore this is better, but I'm not sure if this is API is available.

[2021-08-16 06:47] mpaschenko commented on #1974
@JamesSmartCell there is In-App Updates api
https://developer.android.com/guide/playcore/in-app-updates
which can even initiate the update...

[2021-08-16 07:09] JamesSmartCell commented on #1974
^ can you implement it?

[2021-08-16 07:10] mpaschenko commented on #1974
Yes, I had a chance to work with it

[2021-08-16 08:39] trustwalletvn opened #1975 "Error while Launching activity"
Hello
I'm build wallet it show error
By the way how to translate and add new language add Fiat currency  ?
Thank you!

adb shell am start -n "com.alphawallet.app/com.alphawallet.app.ui.SplashActivity" -a android.intent.action.MAIN -c android.intent.category.LAUNCHER
Error while executing: am start -n "com.alphawallet.app/com.alphawallet.app.ui.SplashActivity" -a android.intent.action.MAIN -c andro

[2021-08-17 06:03] JamesSmartCell commented on #1975
Hi @trustwalletvn, can you try building and running with AndroidStudio? I suspect you have an error in your starting line; adb probably doesn't work in this way as the .apk file knows the entry point.

To add a new language and currency:

Currency:
- Add the SVG flag to drawable (so that it's called eg ic_flags_vietnam.xml).
- Add the currency eg like this: ```new CurrencyItem("VND", "Vietnamese đ

[2021-08-17 07:00] gosgos11 commented on #1973
Thank you.

[2021-08-17 07:00] #1973 closed

[2021-08-17 17:16] trustwalletvn commented on #1975
I can translate to Vietnamese
Copy this file from
https://github.com/AlphaWallet/alpha-wallet-android/blob/master/app/src/main/res/values/strings.xml
and create new folder "values-vi" put file strings.xml
translate it and submit commits?
is it true?

[2021-08-18 00:24] JamesSmartCell commented on #1975
Yes, that's it. The Android SDK will do the rest (including fetching the localised names for each language in the ```class SelectLocaleActivity```). Don't forget to add 'vi' to the LOCALES list in ```LocaleRepository```.

[2021-08-19 01:11] JamesSmartCell opened #1976 "Don't show quickswap on NFT transfer"
![dogenft](https://user-images.githubusercontent.com/12689544/129991675-5d416491-1a53-4d0e-8954-20215472301b.jpg)

The 'Swap with Quickswap' shouldn't appear when the token is an NFT (there's a ```token.isNonFungible()``` method).

Here's a watch account with NFT's present: jsbrown.eth

[2021-08-19 10:09] EvnLi opened #1977 ""Uncaught (in promise) Error: invalid contract address or ENS name (argument="addressOrName", value=undefined, code=INVALID_ARGUMENT, version=contracts/5.4.1)", source:"
"Uncaught (in promise) Error: invalid contract address or ENS name (argument="addressOrName", value=undefined, code=INVALID_ARGUMENT, version=contracts/5.4.1)", source:

[2021-08-22 12:56] mpaschenko commented on #1950
@JamesSmartCell added the basic implementation of the adding the chain from dapp.
please check commit https://github.com/mpaschenko/alpha-wallet-android/commit/fa42575d8f3f66f295d69e6817423ef7cfffee19
WalletAddEthereumChainObject is missing a few fields:
- blockExlorerUrl
- explorerApiUrl
- if it's testnet...

[2021-08-23 06:14] JamesSmartCell commented on #1977
Hi @EvnLi could you provide a bit more context to this error? It appears to be a Web3 JavaScript error, but without any context we don't know what's happening.

[2021-08-23 06:28] EvnLi commented on #1977
E/InputMethodManager( 8769): b/117267690: Failed to get fallback IMM with expected displayId=1144 actual IMM#displayId=0 view=com.origin.wallet.web3.Web3View{e8b3cca VFED..C.. .F...... 0,0-1080,2122}
E/InputMethodManager( 8769): b/117267690: Failed to get fallback IMM with expected displayId=1144 actual IMM#displayId=0 view=com.origin.wallet.web3.Web3View{e8b3cca VFED..C.. .F....ID 0,0-1080,2122}

[2021-08-23 06:29] EvnLi commented on #1977
alpha-wallet-iOS ，There is no problem

[2021-08-23 06:35] JamesSmartCell commented on #1943
Can this be closed now?

[2021-08-23 06:40] colourful-land commented on #1943
I don't think AndroidStudio uses Java 16.

[2021-08-23 06:42] colourful-land commented on #1943
Yes, but README has to be updated to reflect that Java 16 is not supported.

[2021-08-23 06:49] colourful-land commented on #1943
Closed with https://github.com/AlphaWallet/alpha-wallet-android/commit/cd677cac5c2b0952cb8bbcbfcee7da30b088eb5a

[2021-08-23 06:49] #1943 closed

[2021-08-23 09:41] FestplattenSchnitzel commented on #1573
Hello,

currently we cannot get https://gitlab.com/fdroid/rfp/-/issues/1633 done, as this issue here isn't done yet.

If there is no activity here or in the F-Droid issue in the next 4 weeks, we will close our issue to reduce the number of open issues.
In our [wiki](https://gitlab.com/fdroid/wiki/-/wikis/Internal/Issue-Cleanup-Policy) you can see more details about this process.

Please contact us

[2021-08-24 07:09] hboon opened #1979 "Fix: URL shown in dapp browser not tracking changes if the site uses History API to change location"
https://autographnft.io is a good example

[2021-08-24 10:13] trustwalletvn commented on #1975
Thank you.
Take a few day to completed translate

[2021-08-24 17:30] Donnardu opened #1981 "Why tokens take so much time to load on the list?"
Hello, im facing a problem with the android build and project.
Coins and tokens take a lot of time to load in the token manager and sometimes ethereum tokens doesn't load at all for some periods of time. Why is this happening? Thanks.

[2021-08-25 01:08] JamesSmartCell commented on #1981
The Infura key in gradle.build is provided only as a curtesy to help getting the source built. That key is completely rate limited as it's used by a lot of people making builds. If you create a free Infura account, a new project and take the 'PROJECT ID' from the settings page of your project you'll find the wallet works correctly.

[2021-08-25 01:14] JamesSmartCell commented on #1977
Do you have a dapp that triggers this issue? Can you link to where you built the dapp?

[2021-08-25 01:15] JamesSmartCell commented on #1975
Looking good so far - just need to add a flag, the currency entry for VND and the LOCALE entry.

[2021-08-25 02:42] EvnLi commented on #1977
Let's test the environment now, see if we have time to get an extranet

[2021-08-25 13:56] mpaschenko commented on #1768
<img width="377" alt="Screenshot 2021-08-25 at 4 52 00 PM" src="https://user-images.githubusercontent.com/2472117/130803333-e1d1c0c0-d009-44f2-a700-7e8269450c7a.png">
Hi @colourfreak seems like icons for the price go up/down are not marked for export or so - the side properties menu doesn't contain export buttons...

[2021-08-27 03:41] sharonsylu opened #1984 "After Wallet Import, cannot display token balance"
2 x independent reports within 90 minute window of one another:

Observed issue:
-  Import Wallet + seed phrase
- ETH and HECO, not custom tokens
- no tokens displaying balance, shows 0

Checks:
- Has enabled display token
- Has enabled the correct active networks
- no other possible ux issues
- imported watch wallet, was able to replicate issue for both

Suspect:
- Infura down.
- Next steps - esc

[2021-08-27 09:26] itxiaoshuai opened #1985 "Dapp"
Dapp(https://p.td/)   Can't link

[2021-08-27 17:10] colourfreak opened #1986 "Updated icons to iconssets do not update after 3 months"
How much longer do we have to wait until someone will start to care about this product?

[2021-08-28 02:11] AW-STJ commented on #1986
Are you referring to a specific open issue?

Or if its a rhetorical question, I completely agree that Android has not had the love that it deserves for a while. As you know we are definitely under the pump with AutographNFT, Devcon, and other projects that is going on but we will get AlphaWallet Android app attended to and well groomed very soon.

[2021-08-28 02:39] JamesSmartCell commented on #1981
Project key, not secret.

[2021-08-28 03:46] #1642 closed

[2021-08-29 01:55] roguetr opened #1987 "App unresponsive when switching to wallet with high activity"
Sorry if this related to another problem report but it appears to be separate.

When launching the app to my main wallet that has a lot of activity and has had many tokens associated with it (or when switching to that wallet), the app can become unresponsive for up to a minute and sometimes longer.

I love that Alphawallet automatically enumerates all tokens that I use or have had associated with

[2021-08-29 02:16] JamesSmartCell commented on #1986
Firstly - I take umbrage over the assertion that this project hasn't had any care or love it deserves even lately. A lot of time and care have been taken over the past months on ERC1155 alone to get it working correctly with full attention to detail.

@colourfreak check the work on the repo, it speaks for itself. Some refactors were required in order to correctly support ERC1155, the draft of whic

[2021-08-29 02:20] JamesSmartCell commented on #1975
Hi @trustwalletvn I collected your PR's into one big PR and merged it. The Vietnamese support will be in the next release. Can you do a pull on your wallet fork to get the latest work?

[2021-08-29 02:25] JamesSmartCell commented on #1987
@roguetr Yes I've seen this lately too; esp for wallets with NFT's. Does your wallet have a lot of NFT's or just a lot of ERC20 tokens?

[2021-08-29 02:54] roguetr commented on #1987
Only two (Polygon) NFTs, primarily just a lot of tokens on Polygon.

On Sun, 29 Aug 2021, 12:25 pm James Brown, ***@***.***> wrote:

[2021-08-29 04:16] JamesSmartCell commented on #1987
OK thanks for reporting; previously the wallet handled very large token lists perfectly fine, but we've since added better handling for NFT and new tokens so I suspect we need to add some extra rate limiting in the new handling code.

[2021-08-29 05:37] roguetr commented on #1987
Brilliant, thanks for such quick responses and updating me.

On Sun, 29 Aug 2021, 2:16 pm James Brown, ***@***.***> wrote:

[2021-08-29 14:06] colourfreak commented on #1986
How about iconssets not updating?

[2021-08-30 00:58] zhangzhongnan928 commented on #1986
moved to internal discussion

[2021-08-30 00:58] #1986 closed

[2021-08-30 01:33] JamesSmartCell opened #1990 "Network page should use 'hamburger' for edit"
Network Selection page should use 'hamburger' (the three vertical dots) for edit, rather than long press.

Can you add the hamburger at the start on the left hand side and disable long press - I realised that was probably not obvious for someone looking to edit the networks.

[2021-08-30 01:41] JamesSmartCell opened #1991 "Include suggestions for explorer"
This one is a lower priority issue that will expand a bit further.

Check this JSON feed:

https://chainid.network/chains.json

It's a bit list of current chains together with RPCs and Explorer links.

When we are editing a network, load this file and when complete add a suggestion drop-down to the RPC (filter out WSS) and block explorer.

Note that to get the block explorer link, just add /tx to

[2021-08-30 01:43] JamesSmartCell commented on #1985
Thanks for reporting this; it appears to be an issue with our web3 provider code, we're investigating.

[2021-08-30 01:46] JamesSmartCell commented on #1976
Completed in #1989

[2021-08-30 01:46] #1976 closed

[2021-08-30 10:13] mpaschenko commented on #1768
![viber_image_2021-08-28_11-40-53-207](https://user-images.githubusercontent.com/2472117/131321411-0ad7334d-e851-4a37-8d08-166787fb0214.jpg)
Hi @colourfreak
1 should I remove elements marked on picture attached, since there are no such on the new design
2 should split tokens list for sections for savings / nft's ?
3 @JamesSmartCell how can I check if token is: Savings, Loans, Debt Obligation, LP t

[2021-08-30 15:29] #1684 closed

[2021-08-30 15:53] colourfreak commented on #1768
1. Yes and no. Take a look at this first.
https://github.com/AlphaWallet/alpha-wallet-android/issues/1890

Ideally, I would like to cut the names of tokens and display only what is in the bracket. So **BNB** should stay in this example. Kick-off **ERC20**, **Network name**, **Issuer**

2. **Attestations** for now, till we come up with something better
3. Since we are no longer aiming for wallets f

[2021-08-31 05:06] #1990 closed

[2021-08-31 11:11] mpaschenko commented on #1768
@JamesSmartCell can you tell me what is attestations, by which criteria can I filter them?

[2021-09-02 16:29] colourfreak commented on #1768
a) Attestations - you asked me "2 should split tokens list for sections for savings / nft's ?", so my answer is: **Attestations**.

b) Defi

[2021-09-05 23:08] colourfreak opened #1996 "Make the touch target area larger in ERC1155"
Right now you have to click on a text to go inside. Please extend the area to the whole cell.

![photo_2021-09-05 17 05 28](https://user-images.githubusercontent.com/51817359/132143823-74b35e05-4197-42d0-9871-784b98deabb6.jpeg)

[2021-09-06 02:14] #1996 closed

[2021-09-06 05:22] mpaschenko commented on #1768
@JamesSmartCell do you have thoughts on the best way to implements the groups in the **TokenAdapter** class (**TokenCardMeta** has a pretty tricky way to calculate weight - don't want to change there anything),
I think - basically split **TokenAdapter.items** into the groups, which order will be controlled by some condition.

[2021-09-06 07:31] mpaschenko commented on #1768
@JamesSmartCell @colourfreak fond exact list of the
aTokens - https://docs.aave.com/developers/deployed-contracts/deployed-contracts
iTokens - https://bzx.network/itokens
for p / s tokens seems there is no exact contacts list (or I'm unable to find it).

should I add that to known tokens list and then group by that contracts?

[2021-09-06 07:35] hboon commented on #1768
@mpaschenko You can also see if https://github.com/AlphaWallet/alpha-wallet-ios/blob/master/AlphaWallet/UI/AlphaWalletAddress+UI.swift helps for now. There's also https://tokenlists.org. Long term of course we'll want a single list.

[2021-09-06 18:07] colourfreak opened #1998 "Icons uploaded to iconssets are not up-to-date in the app"
Maybe caching?

It's seems that there is a conflict between an external library and the one we have in iconssets.

https://github.com/AlphaWallet/iconassets

[2021-09-06 18:08] colourfreak commented on #1998
ENJ could be a good example here.

[2021-09-07 08:13] mpaschenko commented on #1998
@colourfreak  trust wallet asset repo has ENJ token, so first it loads from there:
https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/ethereum/assets/0xF629cBd94d3791C9250152BD8dfBDF380E2a3B9c/logo.png

[2021-09-07 08:25] JamesSmartCell commented on #1998
@colourfreak we check the trust repo first (because the initial implementation was only a few testnet tokens, since then we've added a huge number of assets).

Do you prefer now to check our icon repo first? If so, @mpaschenko can you re-order the check in class TokenIcon

[2021-09-07 08:26] JamesSmartCell commented on #1987
Hi @roguetr sorry for the delay, can you update from the play store and let us know if this version fixes the issue?

[2021-09-07 11:02] roguetr commented on #1987
Straight up I was able to scroll the token list without delay, brilliant!
So my first impression is yes. If that changes I'll let you know.

Well done and thank you!

On Tue, 7 Sept 2021 at 18:26, James Brown ***@***.***> wrote:

[2021-09-07 17:02] colourfreak commented on #1998
@hboon

Goal: Load up icons provided by us first, if not exist, load up an external library. I manually created and uploaded 140 HQ icons.

[2021-09-07 17:31] colourfreak commented on #1998
Yep. The EJN is a good example of how ugly the external graphic can be.

Since we are all here, let's discuss how to optimize these images. I usually upload a 512x512 px png graphics. That sounds a bit heavy though. Maybe we can think of webp or avif? We can think of lazy loading as well. So let's get image placeholders first (just a gray circle) + name + prices, then load up asynchronously those

[2021-09-07 17:45] hboon commented on #1998
@colourfreak yes. Should be our repo first then fallback to Trust’s then programmatically generated as fallback.

[2021-09-07 17:50] hboon commented on #1998
I don’t think size is a major issue though. If we want, we can reduce it so it is the largest possible dimension we use it for, eg on iOS is is 3x of maybe 44px (can’t remember offhand the size).

We shouldn’t use other formats because iOS doesn’t do webp and PNG is very performant.

We also don’t need to worry too much about size actually, since the icons ought to be cached locally for a while.

[2021-09-07 23:28] JamesSmartCell commented on #1987
Thanks for replying :) much appreciated

[2021-09-07 23:31] JamesSmartCell commented on #1998
I agree too. The icon repo was added initially just for odd uses but it's moved way beyond that now. It's a simple mod to reverse the load order.

[2021-09-07 23:45] roguetr commented on #1987
Tbh, everything seems quicker, there's obviously been some improvement
under the hood. I can now connect to ethermine with wallet connect which is
awesome.

Had a strange glitch after previous update I believe where DApp icons went
to generic images but just edited one and all came back.

So far very impressed with this update.

On Wed, 8 Sep 2021, 9:28 am James Brown, ***@***.***> wrote:

[2021-09-08 01:11] JamesSmartCell opened #2000 "Name / Symbol"
Hi @colourfreak, the new 'using the symbol for the token name' is definitely a step in the right direction, it looks less cluttered.

I would like to propose a slight modification.

Currently the format of the left hand side of the Token cards is like this:

[Icon] [Symbol (*1)]
[Icon] [Balance] [Symbol (*2)]

There's a few edge conditions that don't work like this:

- Ethereum base tokens. Some o

[2021-09-08 01:28] JamesSmartCell commented on #1987
Thanks, yes a lot of work went into this update, especially the ERC1155 support. We checked against all the NFT and DeFi whale wallets we could find too.

There's more coming too - we have a big UX update that provides a lot more data for DeFi usage.

[2021-09-08 02:03] JamesSmartCell opened #2001 "Filter IME in the #1768 branch"
Can you check the IME action in the Token filter (SearchTokensHolder)? When I click it there's an app crash with undeliverable focus. Looks like you just need to hook up the IME to bypass the 750 ms delay.

[2021-09-08 04:01] #1970 closed

[2021-09-08 04:01] #1984 closed

[2021-09-08 12:20] colourfreak commented on #2000
I love that @JamesSmartCell Very, very good suggestion.

[2021-09-08 12:22] colourfreak commented on #2000
@hboon Can you make sure that this applies to iOS as well?

[2021-09-08 13:25] mpaschenko commented on #2001
@JamesSmartCell not sure I understand what you mean, have never got that, can you send crash log please?

[2021-09-08 15:44] #1486 closed

[2021-09-08 15:44] colourfreak commented on #1283
Hold your horses here. We are going to update this tab anyway.

[2021-09-08 15:44] #1283 closed

[2021-09-09 01:17] JamesSmartCell commented on #2001
Go to the search dialog and let the softkeyboard open. Click the -> IME button on the keyboard. Crash. The crash log isn't very useful as it's just a generic 'undeliverable focus' error without saying where it came from.

[2021-09-09 02:34] roguetr commented on #1987
That's awesome. I'm really happy that I've been able to switch back to
Alphawallet.

Out of curiosity, what's the best way to report interaction issues,
assuming you want them. Right now I'm not seeing many but for instance,
this morning hitting the approve button for breaking LP tokens on Wault
swap (Polygon) would prompt for signing but not proceed (tried multiple
times, restarted app etc). On T

[2021-09-09 02:49] roguetr commented on #1987
Regarding the example of Wault swap, maybe I should be choosing Wallet
Connect instead Metamask now that that is working ...

What is the recommended option (Wallet Connect/Metamask) to choose when
given the choice? Does it matter?

Sorry for all the questions!

On Thu, 9 Sept 2021 at 12:34, roguetr ***@***.***> wrote:

[2021-09-09 07:56] mpaschenko commented on #2001
Thanks, just have to change imeOptions to actionSearch, fixed